openapi: 3.2.0
info:
  contact:
    email: developer@rhombussystems.com
  description: 'This API is for use by Rhombus customers and partners.


    ## Authentication


    All requests require two headers:

    - `x-auth-scheme` — The authentication scheme identifier. Use `api-token` for standard API key auth, or `partner-api-token` for partner API auth.

    - `x-auth-apikey` — Your Rhombus API key.


    Example:

    ```

    POST /api/camera/getMinimalCameraStateList

    x-auth-scheme: api-token

    x-auth-apikey: YOUR_API_KEY

    Content-Type: application/json

    ```'
  title: Rhombus Search Webservice API
  version: '1.0'
servers:
- description: Production Server
  url: https://api2.rhombussystems.com
security:
- ApiKeyAuth: []
tags:
- name: Search Webservice
paths:
  /api/search/searchLicensePlates:
    post:
      deprecated: true
      description: Fuzzy search for license plate sightings based on a partial or full plate number. Use /vehicle/getVehicleEvents instead.
      operationId: searchLicensePlates
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Search_SearchLicensePlatesWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Search_SearchLicensePlatesWSResponse'
          description: OK
      summary: Search license plates
      tags:
      - Search Webservice
  /api/search/searchObjectsByColor:
    post:
      description: Search for objects by color
      operationId: searchObjectsByColor
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Search_SearchObjectsByColorWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Search_SearchObjectsByColorWSResponse'
          description: OK
      summary: Search objects by color
      tags:
      - Search Webservice
  /api/search/searchSimilarObjectEmbeddings:
    post:
      description: Search for similar objects by embedding
      operationId: searchSimilarObjectEmbeddings
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Search_SearchSimilarObjectEmbeddingsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Search_SearchSimilarObjectEmbeddingsWSResponse'
          description: OK
      summary: Search similar object embeddings
      tags:
      - Search Webservice
  /api/search/searchSimilarObjectEmbeddingsByText:
    post:
      description: Search for similar objects by text
      operationId: searchSimilarObjectEmbeddingsByText
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Search_SearchSimilarObjectEmbeddingsByTextWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Search_SearchSimilarObjectEmbeddingsWSResponse'
          description: OK
      summary: Search similar object embeddings by text
      tags:
      - Search Webservice
components:
  schemas:
    ColorEnum:
      type: string
      description: Set of colors to filter by
      enum:
      - BLACK
      - BLUE
      - BROWN
      - GRAYWHITE
      - GREEN
      - ORANGE
      - PINK
      - PURPLE
      - RED
      - YELLOW
      - UNKNOWN
    Search_SearchSimilarObjectEmbeddingsByTextWSRequest:
      type: object
      description: Request object for searching similar object embeddings by text.
      properties:
        includeVector:
          type:
          - boolean
          - 'null'
          default: false
          description: Whether to include the embedding vector in the response.
        maxNumResults:
          type:
          - integer
          - 'null'
          format: int32
          description: Optional number of results to return. Setting to larger numbers will increase latency.
        model:
          $ref: '#/components/schemas/ObjectSearchModelEnum'
        objectTypeFilter:
          type:
          - array
          - 'null'
          description: Optional object type filter. Provide explicit type values to narrow results, or omit to search all object types. Pass the single value "AUTO" to have the server infer the object type (humans or vehicles) from the search text.
          items:
            type:
            - string
            - 'null'
            enum:
            - MOTION_HUMAN
            - MOTION_CAR
            - AUTO
        onlyMatches:
          type:
          - boolean
          - 'null'
          description: 'Only applies to models that classify results as matches: when true (default) return only actual matches; when false return all results within the similarity threshold.'
        queryDeviceUuids:
          type:
          - array
          - 'null'
          description: Optional list of device uuids to filter result set on.
          items:
            type:
            - string
            - 'null'
            format: DeviceFacetUuid
            description: RUUID with optional appended facet information
            example: AAAAAAAAAAAAAAAAAAAAAA.v0
        queryEndTimeMs:
          type:
          - integer
          - 'null'
          format: int64
          description: End time in epoch milliseconds. Results returned will have occurred before this time.
        queryStartTimeMs:
          type:
          - integer
          - 'null'
          format: int64
          description: Start time in epoch milliseconds. Results returned will have occurred after this time.
        regionFilter:
          type:
          - array
          - 'null'
          description: Optional region filter to return results only if they overlap with the supplied region. This is a list of perymyriad points defining a polygon. The first and last elements must be the same to make a connected polygon. For example, a triangle should have 4 points defined in this list.
          items:
            type:
            - array
            - 'null'
            description: Permyriad point [x, y]
            items:
              type:
              - integer
              - 'null'
              format: int32
              description: Permyriad point [x, y]
        searchText:
          type:
          - string
          - 'null'
          description: The search text to find similar objects to. Phrases like "red sedan", "person in yellow shirt", etc.
        similarityThreshold:
          type:
          - number
          - 'null'
          format: float
          description: Optional threshold applied to filter returned results, set as a float in [0.0, 1.0].
      required:
      - model
      - queryEndTimeMs
      - queryStartTimeMs
      - searchText
    PointType:
      type: object
      properties:
        x:
          type:
          - integer
          - 'null'
          format: int32
        y:
          type:
          - integer
          - 'null'
          format: int32
    Search_SearchSimilarObjectEmbeddingsWSRequest:
      type: object
      description: Request object for searching similar object embeddings.
      properties:
        includeVector:
          type:
          - boolean
          - 'null'
          default: false
          description: Whether to include the embedding vector in the response.
        maxNumResults:
          type:
          - integer
          - 'null'
          format: int32
          description: Optional number of results to return. Setting to larger numbers will increase latency.
        model:
          $ref: '#/components/schemas/ObjectSearchModelEnum'
        objectTypeFilter:
          type:
          - array
          - 'null'
          description: Optional object type filter to narrow results to only vehicles or only humans.
          items:
            type:
            - string
            - 'null'
            enum:
            - MOTION_HUMAN
            - MOTION_CAR
        queryDeviceUuids:
          type:
          - array
          - 'null'
          description: Optional list of device uuids to filter result set on.
          items:
            type:
            - string
            - 'null'
            format: DeviceFacetUuid
            description: RUUID with optional appended facet information
            example: AAAAAAAAAAAAAAAAAAAAAA.v0
        queryEndTimeMs:
          type:
          - integer
          - 'null'
          format: int64
          description: End time in epoch milliseconds. Results returned will have occurred before this time.
        queryStartTimeMs:
          type:
          - integer
          - 'null'
          format: int64
          description: Start time in epoch milliseconds. Results returned will have occurred after this time.
        regionFilter:
          type:
          - array
          - 'null'
          description: Optional region filter to return results only if they overlap with the supplied region. This is a list of perymyriad points defining a polygon. The first and last elements must be the same to make a connected polygon. For example, a triangle should have 4 points defined in this list.
          items:
            type:
            - array
            - 'null'
            description: Permyriad point [x, y]
            items:
              type:
              - integer
              - 'null'
              format: int32
              description: Permyriad point [x, y]
        searchEmbeddingId:
          type:
          - string
          - 'null'
          description: The id of the embedding event you want to find similar objects to. Typically this is obtained from a previous text search result.
        similarityThreshold:
          type:
          - number
          - 'null'
          format: float
          description: Optional threshold applied to filter returned results, set as a float in [0.0, 1.0].
      required:
      - model
      - queryEndTimeMs
      - queryStartTimeMs
      - searchEmbeddingId
    VehicleEventSearchHitType:
      type: object
      description: List of vehicle events matching the search criteria
      properties:
        deviceUuid:
          type:
          - string
          - 'null'
          format: DeviceFacetUuid
          description: RUUID with optional appended facet information
          example: AAAAAAAAAAAAAAAAAAAAAA.v0
        eventTimestamp:
          type:
          - integer
          - 'null'
          format: int64
        imageS3Key:
          type:
          - string
          - 'null'
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        matchingLicensePlates:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
          uniqueItems: true
        name:
          type:
          - string
          - 'null'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        partialLicensePlates:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
          uniqueItems: true
        searchMatchedTerm:
          type:
          - string
          - 'null'
        searchMatchedType:
          type:
          - string
          - 'null'
        subLocationsHierarchyKey:
          type:
          - string
          - 'null'
          format: SubLocationsHierarchyKey
          description: 'A sequence of one or more base 64 (url-safe) uuid substrings.

            These substrings are separated by dots (.).

            '
          example: AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA
          pattern: ^([A-Za-z0-9\-_]{22})([.][A-Za-z0-9\-_]{22})*$
        thumbnailS3Key:
          type:
          - string
          - 'null'
        uuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        vehicleLicensePlate:
          type:
          - string
          - 'null'
    Search_SearchLicensePlatesWSResponse:
      type: object
      description: Response object for searching license plates.
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        vehicleEvents:
          type:
          - array
          - 'null'
          description: List of vehicle events matching the search criteria
          items:
            $ref: '#/components/schemas/VehicleEventSearchHitType'
        warningMsg:
          type:
          - string
          - 'null'
    ObjectSearchModelEnum:
      type: string
      description: Model used for embeddings. The streaming variant of this search accepts only "CHARON".
      enum:
      - CLIP_512
      - CHARON
    Search_SearchLicensePlatesWSRequest:
      type: object
      description: Request object for searching license plates.
      properties:
        deviceUuids:
          type:
          - array
          - 'null'
          description: List of device facet UUIDs to search in
          items:
            type:
            - string
            - 'null'
            format: DeviceFacetUuid
            description: RUUID with optional appended facet information
            example: AAAAAAAAAAAAAAAAAAAAAA.v0
        endTime:
          type:
          - integer
          - 'null'
          format: int64
          description: End time in milliseconds for the search period
          example: 1640998800000
        forcedFuzziness:
          type:
          - integer
          - 'null'
          format: int32
          description: Forced fuzziness level for the search (deprecated)
          example: 2
        fuzzy:
          type:
          - boolean
          - 'null'
          description: Whether to use fuzzy search
          example: true
        licensePlate:
          type:
          - string
          - 'null'
          description: License plate number to search for
          example: ABC123
        startTime:
          type:
          - integer
          - 'null'
          format: int64
          description: Start time in milliseconds for the search period
          example: 1640995200000
    FootageBoundingBoxType:
      type: object
      description: List of shared footage bounding boxes
      properties:
        a:
          $ref: '#/components/schemas/ActivityEnum'
        al:
          type:
          - boolean
          - 'null'
          description: alerted on this?
        b:
          type:
          - integer
          - 'null'
          format: int32
          description: bounding box - bottom permyriad
        c:
          type:
          - number
          - 'null'
          format: float
          description: confidence
        cd:
          type:
          - string
          - 'null'
          description: Custom activity display description, maximum 100 characters
        cdn:
          type:
          - string
          - 'null'
          description: custom activity display name
        croppedImageLocator:
          type:
          - string
          - 'null'
        customActivityColor:
          $ref: '#/components/schemas/FootageSeekPointColorEnum'
        dw:
          type:
          - boolean
          - 'null'
          description: bounding box is in a loiter state
        fn:
          type:
          - string
          - 'null'
          description: face names
        kp:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/PointType'
          description: pose keypoints
        l:
          type:
          - integer
          - 'null'
          format: int32
          description: bounding box - left permyriad
        loudness:
          type:
          - integer
          - 'null'
          format: int32
        lp:
          type:
          - string
          - 'null'
          description: license plate
        m:
          type:
          - boolean
          - 'null'
          description: object in motion?
        objectId:
          type:
          - integer
          - 'null'
          format: int32
        p:
          type:
          - string
          - 'null'
          description: pose
        r:
          type:
          - integer
          - 'null'
          format: int32
          description: bounding box - right permyriad
        reid:
          type:
          - integer
          - 'null'
          format: int32
          description: Stable track ID for re-identification across track segments
        ro:
          type:
          - array
          - 'null'
          description: recognized objects
          items:
            type:
            - string
            - 'null'
            description: recognized objects
        sensorValType:
          $ref: '#/components/schemas/SensorValType'
        t:
          type:
          - integer
          - 'null'
          format: int32
          description: bounding box - top permyriad
        toastOrderIdInfo:
          $ref: '#/components/schemas/ToastOrderIdType'
        ts:
          type:
          - integer
          - 'null'
          format: int64
          description: timestamp in milliseconds since epoch
        uf:
          type:
          - string
          - 'null'
          description: FaceId for an unidentified face
        vn:
          type:
          - string
          - 'null'
          description: vehicle name
      required:
      - a
      - b
      - l
      - r
      - t
      - ts
    Search_SearchObjectsByColorWSRequest:
      type: object
      description: Request object for searching objects by color.
      properties:
        colorFilter:
          type:
          - array
          - 'null'
          description: Set of colors to filter by
          items:
            $ref: '#/components/schemas/ColorEnum'
          uniqueItems: true
        deviceFilter:
          type:
          - array
          - 'null'
          description: List of device facet UUIDs to filter by
          items:
            type:
            - string
            - 'null'
            format: DeviceFacetUuid
            description: RUUID with optional appended facet information
            example: AAAAAAAAAAAAAAAAAAAAAA.v0
        endTimeMs:
          type:
          - integer
          - 'null'
          format: int64
          description: End time in milliseconds for the search period
          example: 1640998800000
        objectTypeFilter:
          type:
          - array
          - 'null'
          description: Set of activity types to filter by
          items:
            $ref: '#/components/schemas/ActivityEnum'
          uniqueItems: true
        startTimeMs:
          type:
          - integer
          - 'null'
          format: int64
          description: Start time in milliseconds for the search period
          example: 1640995200000
    SensorValType:
      type: object
      properties:
        sensorBoolean:
          type:
          - boolean
          - 'null'
        sensorDouble:
          type:
          - number
          - 'null'
          format: double
        sensorLong:
          type:
          - integer
          - 'null'
          format: int64
    ActivityEnum:
      type: string
      enum:
      - SOUND_LOUD
      - SOUND_GUN_SHOT
      - TAMPER
      - VISUAL_TAMPER
      - MOTION_TAMPER
      - MOTION
      - MOTION_HUMAN
      - MOTION_CAR
      - MOTION_ANIMAL
      - FACE
      - FACE_IDENTIFIED
      - FACE_UNIDENTIFIED
      - FACE_BLACKLISTED
      - FACE_ALERT
      - POSE_ANOMALOUS
      - POSE_FALL
      - LICENSEPLATE
      - LICENSEPLATE_IDENTIFIED
      - LICENSEPLATE_UNIDENTIFIED
      - LICENSEPLATE_ALERT
      - LICENSEPLATE_BLACKLISTED
      - LICENSEPLATE_TRUSTED
      - PEOPLECOUNT_HIGH
      - PEOPLECOUNT_HIGH_RESET
      - PEOPLECOUNT_LOW
      - PEOPLECOUNT_LOW_RESET
      - HUMAN_ENTER
      - HUMAN_EXIT
      - CAR_ENTER
      - CAR_EXIT
      - TEMPERATURE_EXCEEDED_HIGH
      - TEMPERATURE_EXCEEDED_LOW
      - HUMIDITY_EXCEEDED_HIGH
      - HUMIDITY_EXCEEDED_LOW
      - PM25_EXCEEDED_HIGH
      - TVOC_EXCEEDED_HIGH
      - ETOH_EXCEEDED_HIGH
      - IAQ_EXCEEDED_HIGH
      - CO2_EXCEEDED_HIGH
      - CO2_EXCEEDED_LOW
      - PROBE_TEMPERATURE_EXCEEDED_HIGH
      - PROBE_TEMPERATURE_EXCEEDED_LOW
      - PROBE_DISCONNECTED
      - PROBE_CONNECTED
      - HEAT_INDEX_EXCEEDED_HIGH
      - PRESSURE_EXCEEDED_HIGH
      - PRESSURE_EXCEEDED_LOW
      - PM10_EXCEEDED_HIGH
      - PM40_EXCEEDED_HIGH
      - PM100_EXCEEDED_HIGH
      - VOC_IDX_EXCEEDED_HIGH
      - NOX_IDX_EXCEEDED_HIGH
      - FORMALDEHYDE_EXCEEDED_HIGH
      - CARBON_MONOXIDE_EXCEEDED_HIGH
      - AQI_EXCEEDED_HIGH
      - DOOR_AJAR
      - DOOR_OPENED
      - DOOR_CLOSED
      - BUTTON_SINGLE_PRESSED
      - BUTTON_DOUBLE_PRESSED
      - BUTTON_LONG_PRESSED
      - TAG_ARRIVED
      - TAG_DEPARTED
      - TAG_MOVED
      - TAG_POSITIONING_CHANGED
      - TAG_BOUNDARY_INGRESS
      - TAG_BOUNDARY_EGRESS
      - TAG_PANIC
      - BADGE_AUTHORIZED
      - BADGE_UNAUTHORIZED
      - BADGE_UNAUTHORIZED_V2
      - BADGE_AJAR
      - BADGE_MANUAL
      - BADGE_FORCED_OPEN
      - BADGE_LOCKDOWN
      - BADGE_REQUEST_TO_EXIT
      - BADGE_DURESS
      - BADGE_SECURITY_BREACH
      - BADGE_TAMPER
      - BADGE_FACE_MISMATCH
      - POS_ORDER
      - GUN_DETECT_EVENT
      - IOT_SOUND_AGGRESSION
      - IOT_SOUND_HELP
      - IOT_AIR_CO
      - IOT_AIR_CO2
      - IOT_AIR_MASKING
      - IOT_AIR_THC
      - IOT_AIR_VAPE
      - IOT_AIR_VOC
      - IOT_AIR_TEMP
      - IOT_TAMPER
      - IOT_GUNSHOT
      - IOT_BUTTON_SINGLE_CLICK
      - IOT_BUTTON_DOUBLE_CLICK
      - IOT_BUTTON_HOLD
      - IOT_PANIC_BUTTON_TRIGGERED
      - AUDIO_SOUND_SIGNIFICANT
      - AUDIO_SOUND_LOUD
      - AUDIO_SOUND_ABUSIVE
      - AUDIO_SOUND_GREETING
      - AUDIO_SOUND_HELP
      - AUDIO_SOUND_GUN
      - AUDIO_SOUND_GLASS_BREAK
      - AUDIO_SOUND_ALARM_SMOKE_FIRE
      - AUDIO_SOUND_ALARM_CARBON_MONOXIDE
      - AUDIO_SOUND_SIREN
      - CLIMATE_VOC
      - CLIMATE_VAPE
      - CLIMATE_SMOKE
      - CLIMATE_THC
      - CLIMATE_CO2
      - CLIMATE_ETOH
      - CLIMATE_PM25
      - CLIMATE_IAQ
      - CLIMATE_LEAK
      - SOUND_AGGRESSION
      - SOUND_HELP
      - AIR_CO
      - AIR_CO2
      - AIR_MASKING
      - AIR_THC
      - AIR_VAPE
      - AIR_VOC
      - MASK_MISSING
      - HELMET_MISSING
      - GLOVES_MISSING
      - PIR_OCCUPIED
      - PIR_MOVEMENT
      - PIR_VACANT
      - CUSTOM
      - VISITOR_ARRIVED
      - VISITOR_DEPARTED
      - AC_DR_CONNECTED
      - AC_DR_DISCONNECTED
      - AC_DPI_DOOR_OPEN
      - AC_DPI_DOOR_CLOSED
      - AC_DPI_DOOR_AJAR
      - AC_DPI_DOOR_FORCED_OPEN
      - AC_DSR_UNLOCKED
      - AC_DSR_LOCKED
      - AC_DB_TRIGGERED
      - AC_PANIC_BUTTON_TRIGGERED
      - AC_REMOTE_UNLOCK
      - AC_BADGE_AUTHORIZED
      - AC_BADGE_UNAUTHORIZED
      - AC_BADGE_FACE_MISMATCH
      - AC_LOCKDOWN_ACTIVATED
      - AC_LOCKDOWN_DEACTIVATED
      - AC_TAMPER_PROX
      - AC_TAMPER_ACCEL
      - AC_TAMPER_SWITCH
      - AC_GR_ACTIVE
      - AC_GR_INACTIVE
      - AC_GI_ACTIVE
      - AC_GI_INACTIVE
      - AC_REX_ACTIVE
      - AC_REX_INACTIVE
      - AC_APERIO_DEVICE_DISCONNECTED
      - AC_APERIO_DEVICE_CONNECTED
      - AC_APERIO_DEVICE_REBOOT
      - AC_APERIO_DEVICE_TAMPER
      - AC_APERIO_LOW_BATTERY
      - AC_APERIO_FLAT_BATTERY
      - AC_APERIO_OK_BATTERY
      - POWER_SWITCH_BATTERY
      - POWER_SWITCH_PRIMARY
      - AI_SEARCH_MATCH
      - CUSTOM_LLM_BOOLEAN_TRUE
      - CUSTOM_LLM_BOOLEAN_FALSE
      - CUSTOM_LLM_THRESHOLD_EXCEEDED_LOW
      - CUSTOM_LLM_THRESHOLD_EXCEEDED_HIGH
      - ALM_AUTHORITIES_CONTACTED
      - ALM_MONITORING_ENABLED
      - ALM_MONITORING_DISABLED
      - ALM_MONITORING_SETTINGS_CHANGE
      - ALM_THREAT_CASE_CLOSED
      - ALM_THREAT_DETECTED
      - ALM_MONITORING_EVENT_DETECTED
      - ROBOT_DOG_DETECTED
      - ROBOT_ARRIVED_AT_WAYPOINT
      - ROBOT_ARRIVED_AT_POSE
      - ROBOT_WAITING_AT_POSE
      - ROBOT_MANUAL_CMD_VEL
      - ROBOT_MANUAL_ACTION
      - ROBOT_MANUAL_POSTURE
      - ROBOT_NAVIGATE_TO_POSE_START
      - ROBOT_NAVIGATE_TO_POSE_END
      - ROBOT_NAVIGATE_TO_HOME_START
      - ROBOT_NAVIGATE_TO_HOME_END
      - ROBOT_NAVIGATE_TO_WAYPOINT_START
      - ROBOT_NAVIGATE_TO_WAYPOINT_END
      - ROBOT_ROUTE_RUN_START
      - ROBOT_ROUTE_RUN_END
      - ROBOT_LOW_BATTERY_DOCKING
      - ROBOT_IDLE_DOCKING
      - ROBOT_EMERGENCY
      - LOITER_HUMAN
      - REID_HUMAN
      - INACTIVITY_HUMAN
      - INACTIVITY_CAR
      - ONGUARD_BADGE_AUTHORIZED
      - ONGUARD_BADGE_ANOMALY
      - ONGUARD_NO_ENTRY_MADE
      - ELEMENTS_BADGE_AUTHORIZED
      - ELEMENTS_BADGE_ANOMALY
      - ELEMENTS_NO_ENTRY_MADE
      - NETBOX_BADGE_AUTHORIZED
      - NETBOX_BADGE_ANOMALY
      - NETBOX_NO_ENTRY_MADE
      - THERMAL_TEMPERATURE_ALARM
      - THERMAL_TEMPERATURE_WARNING
      - THERMAL_FIRE_DETECTED
      - THERMAL_SMOKING_DETECTED
      - THERMAL_FIRE_VERIFIED
      - THERMAL_HEAT_NO_THREAT
      - THERMAL_VISUAL_HOTSPOT
      - THERMAL_VISUAL_HEAT_RISE
      - THERMAL_VISUAL_WARM_BODY
      - UNKNOWN
    ToastOrderIdType:
      type: object
      properties:
        employeeName:
          type:
          - string
          - 'null'
        guid:
          type:
          - string
          - 'null'
        locationName:
          type:
          - string
          - 'null'
        restaurantName:
          type:
          - string
          - 'null'
        toastCheckInfo:
          $ref: '#/components/schemas/ToastCheckInfo'
    FootageSeekPointColorEnum:
      type: string
      enum:
      - BLUE
      - RED
      - PURPLE
      - TAN
      - ORANGE
      - TEAL
      - GRAY
      - BLACK
    GenericObjectEmbeddingMatch:
      type: object
      description: List of similar object embedding matches
      properties:
        distance:
          type:
          - number
          - 'null'
          format: float
        embedding:
          $ref: '#/components/schemas/GenericObjectEmbedding'
        matchedEmbeddingId:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    ToastCheckInfo:
      type: object
      properties:
        totalAmount:
          type:
          - number
          - 'null'
          format: double
    Search_SearchSimilarObjectEmbeddingsWSResponse:
      type: object
      description: Response object for searching similar object embeddings.
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        moderationReason:
          type:
          - string
          - 'null'
          description: Reason for moderation if query is not allowed
        queryAllowed:
          type:
          - boolean
          - 'null'
          description: Whether the query is allowed
        similarEmbeddings:
          type:
          - array
          - 'null'
          description: List of similar object embedding matches
          items:
            $ref: '#/components/schemas/GenericObjectEmbeddingMatch'
        warningMsg:
          type:
          - string
          - 'null'
    GenericObjectEmbedding:
      type: object
      properties:
        b:
          type:
          - integer
          - 'null'
          format: int32
          description: bounding box - bottom permyriad
        clipEndMs:
          type:
          - integer
          - 'null'
          format: int64
        deviceUuid:
          type:
          - string
          - 'null'
          format: DeviceFacetUuid
          description: RUUID with optional appended facet information
          example: AAAAAAAAAAAAAAAAAAAAAA.v0
        embedding:
          type:
          - array
          - 'null'
          items:
            type:
            - number
            - 'null'
            format: float
        embeddingId:
          type:
          - string
          - 'null'
        isMatch:
          type:
          - string
          - 'null'
          description: 'Match confidence for the query: "YES", "MAYBE", or "NO". Set on CHARON model results; null for CLIP.'
        l:
          type:
          - integer
          - 'null'
          format: int32
          description: bounding box - left permyriad
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        model:
          $ref: '#/components/schemas/ObjectSearchModelEnum'
        objectId:
          type:
          - integer
          - 'null'
          format: int32
        objectType:
          type:
          - string
          - 'null'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        r:
          type:
          - integer
          - 'null'
          format: int32
          description: bounding box - right permyriad
        stableTrackId:
          type:
          - integer
          - 'null'
          format: int32
        t:
          type:
          - integer
          - 'null'
          format: int32
          description: bounding box - top permyriad
        thumbnailLocation:
          type:
          - string
          - 'null'
        thumbnailUri:
          type:
          - string
          - 'null'
        timestamp:
          type:
          - integer
          - 'null'
          format: int64
    Search_SearchObjectsByColorWSResponse:
      type: object
      description: Response object for searching objects by color.
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        objects:
          type:
          - array
          - 'null'
          description: List of objects matching the color search criteria
          items:
            $ref: '#/components/schemas/FootageBoundingBoxType'
        warningMsg:
          type:
          - string
          - 'null'
  securitySchemes:
    ApiKeyAuth:
      description: Your Rhombus API key. Must be accompanied by the `x-auth-scheme` header set to `api-token` (or `partner-api-token` for partner endpoints).
      in: header
      name: x-auth-apikey
      type: apiKey
x-samples-languages:
- curl
- node
- python
- java
