openapi: 3.2.0
info:
  contact:
    email: developer@rhombussystems.com
  description: 'This API is for use by Rhombus customers and partners.


    ## Authentication


    All requests require two headers:

    - `x-auth-scheme` — The authentication scheme identifier. Use `api-token` for standard API key auth, or `partner-api-token` for partner API auth.

    - `x-auth-apikey` — Your Rhombus API key.


    Example:

    ```

    POST /api/camera/getMinimalCameraStateList

    x-auth-scheme: api-token

    x-auth-apikey: YOUR_API_KEY

    Content-Type: application/json

    ```'
  title: Rhombus Lockdown Plan Webservice API
  version: '1.0'
servers:
- description: Production Server
  url: https://api2.rhombussystems.com
security:
- ApiKeyAuth: []
tags:
- name: Lockdown Plan Webservice
paths:
  /api/accesscontrol/lockdownPlan/activateLockdownForLocation:
    post:
      description: Activate lockdown for the specified location
      operationId: activateLockdownForLocation
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_lockdownplan_ActivateLockdownForLocationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_lockdownplan_ActivateLockdownForLocationWSResponse'
          description: OK
      summary: Activate lockdown for the specified location
      tags:
      - Lockdown Plan Webservice
  /api/accesscontrol/lockdownPlan/createLocationLockdownPlan:
    post:
      description: Create location lockdown plan
      operationId: createLocationLockdownPlan
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_lockdownplan_CreateLocationLockdownPlanWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_lockdownplan_CreateLocationLockdownPlanWSResponse'
          description: OK
      summary: Create location lockdown plan
      tags:
      - Lockdown Plan Webservice
  /api/accesscontrol/lockdownPlan/createLockdownRuleForLocation:
    post:
      description: Create (or update if ruleUuid is provided) a lockdown rule for the specified location
      operationId: createLockdownRuleForLocation
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_lockdownplan_CreateLockdownRuleForLocationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_lockdownplan_CreateLockdownRuleForLocationWSResponse'
          description: OK
      summary: Create lockdown rule for location
      tags:
      - Lockdown Plan Webservice
  /api/accesscontrol/lockdownPlan/deactivateLockdownForLocation:
    post:
      description: Deactivate lockdown for the specified location
      operationId: deactivateLockdownForLocation
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_lockdownplan_DeactivateLockdownForLocationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_lockdownplan_DeactivateLockdownForLocationWSResponse'
          description: OK
      summary: Deactivate lockdown for the specified location
      tags:
      - Lockdown Plan Webservice
  /api/accesscontrol/lockdownPlan/deleteLocationLockdownState:
    post:
      description: Disables tracking lockdown state for the specified location
      operationId: deleteLocationLockdownState
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_lockdownplan_DeleteLocationLockdownStateWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_lockdownplan_DeleteLocationLockdownStateWSResponse'
          description: OK
      summary: Delete location lockdown state
      tags:
      - Lockdown Plan Webservice
  /api/accesscontrol/lockdownPlan/deleteLockdownPlan:
    post:
      description: Delete lockdown plan
      operationId: deleteLockdownPlan
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_lockdownplan_DeleteLockdownPlanWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_lockdownplan_DeleteLockdownPlanWSResponse'
          description: OK
      summary: Delete lockdown plan
      tags:
      - Lockdown Plan Webservice
  /api/accesscontrol/lockdownPlan/deleteLockdownRuleForLocation:
    post:
      description: Delete a lockdown rule for the specified location
      operationId: deleteLockdownRuleForLocation
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_lockdownplan_DeleteLockdownRuleForLocationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_lockdownplan_DeleteLockdownRuleForLocationWSResponse'
          description: OK
      summary: Delete lockdown rule for location
      tags:
      - Lockdown Plan Webservice
  /api/accesscontrol/lockdownPlan/disableLockdownTestModeForLocation:
    post:
      description: Disable test mode of lockdown for the specified location
      operationId: disableLockdownTestModeForLocation
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_lockdownplan_DisableLockdownTestModeForLocationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_lockdownplan_DisableLockdownTestModeForLocationWSResponse'
          description: OK
      summary: Disable test mode of lockdown for the specified location
      tags:
      - Lockdown Plan Webservice
  /api/accesscontrol/lockdownPlan/enableLockdownTestModeForLocation:
    post:
      description: Enable test mode of lockdown for the specified location
      operationId: enableLockdownTestModeForLocation
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_lockdownplan_EnableLockdownTestModeForLocationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_lockdownplan_EnableLockdownTestModeForLocationWSResponse'
          description: OK
      summary: Enable test mode of lockdown for the specified location
      tags:
      - Lockdown Plan Webservice
  /api/accesscontrol/lockdownPlan/findLocationLockdownEvents:
    post:
      description: Retrieve a list of lockdown events for the specified location
      operationId: findLocationLockdownEvents
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_lockdownplan_FindLocationLockdownEventsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_lockdownplan_FindLocationLockdownEventsWSResponse'
          description: OK
      summary: Find location lockdown events
      tags:
      - Lockdown Plan Webservice
  /api/accesscontrol/lockdownPlan/findLocationLockdownStates:
    post:
      description: Finds the state of all lockdowns for the org
      operationId: findLocationLockdownStates
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_lockdownplan_FindLocationLockdownStatesWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_lockdownplan_FindLocationLockdownStatesWSResponse'
          description: OK
      summary: Find location lockdown states
      tags:
      - Lockdown Plan Webservice
  /api/accesscontrol/lockdownPlan/findLockdownPlans:
    post:
      description: Find lockdown plans in the org
      operationId: findLockdownPlans
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_lockdownplan_FindLockdownPlansWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_lockdownplan_FindLockdownPlansWSResponse'
          description: OK
      summary: Find lockdown plans in the org
      tags:
      - Lockdown Plan Webservice
  /api/accesscontrol/lockdownPlan/findLockdownPlansByLocation:
    post:
      description: Find lockdown plans for the specified location
      operationId: findLockdownPlansByLocation
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_lockdownplan_FindLockdownPlansByLocationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_lockdownplan_FindLockdownPlansByLocationWSResponse'
          description: OK
      summary: Find lockdown plans for the specified location
      tags:
      - Lockdown Plan Webservice
  /api/accesscontrol/lockdownPlan/getLockdownPlan:
    post:
      description: Get lockdown plan
      operationId: getLockdownPlan
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_lockdownplan_GetLockdownPlanWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_lockdownplan_GetLockdownPlanWSResponse'
          description: OK
      summary: Get lockdown plan
      tags:
      - Lockdown Plan Webservice
  /api/accesscontrol/lockdownPlan/getLockdownRulesForLocation:
    post:
      description: Get lockdown activation / deactivation rules for a location
      operationId: getLockdownRulesForLocation
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_lockdownplan_GetLockdownRulesForLocationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_lockdownplan_GetLockdownRulesForLocationWSResponse'
          description: OK
      summary: Get lockdown rules for location
      tags:
      - Lockdown Plan Webservice
  /api/accesscontrol/lockdownPlan/getOrCreateLocationLockdownState:
    post:
      description: Retrieves an existing lockdown state or creates one for the specified location
      operationId: getOrCreateLocationLockdownState
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_lockdownplan_GetOrCreateLocationLockdownStateWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_lockdownplan_GetOrCreateLocationLockdownStateWSResponse'
          description: OK
      summary: Get or create location lockdown state
      tags:
      - Lockdown Plan Webservice
  /api/accesscontrol/lockdownPlan/updateLocationLockdownPlan:
    post:
      description: Update location lockdown plan
      operationId: updateLocationLockdownPlan
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_lockdownplan_UpdateLocationLockdownPlanWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_lockdownplan_UpdateLocationLockdownPlanWSResponse'
          description: OK
      summary: Update location lockdown plan
      tags:
      - Lockdown Plan Webservice
components:
  schemas:
    ConnectAudioDeviceToMobileAppActionType:
      type: object
      properties:
        audioDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        deviceType:
          $ref: '#/components/schemas/DeviceTypeEnum'
        doorUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        targetUserUuids:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
    PointType:
      type: object
      properties:
        x:
          type:
          - integer
          - 'null'
          format: int32
        y:
          type:
          - integer
          - 'null'
          format: int32
    AccessStateOverrideExpirationStrategyEnum:
      type: string
      enum:
      - TIME_DELAY
      - TIME_OF_DAY_LOCAL
      - NONE
    ChangeComponentCompositeAccessStateActionType:
      type: object
      properties:
        accessState:
          $ref: '#/components/schemas/AccessControlledDoorStateEnumType'
        alwaysCreateOverrideIfNoFirstIn:
          type:
          - boolean
          - 'null'
        componentCompositeUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        expirationStrategy:
          $ref: '#/components/schemas/AccessStateOverrideExpirationStrategyEnum'
        expireTimeDelaySeconds:
          type:
          - integer
          - 'null'
          format: int64
        expireTimeOfDayLocalSeconds:
          type:
          - integer
          - 'null'
          format: int64
        useFirstInRulesIfPossible:
          type:
          - boolean
          - 'null'
        version:
          type:
          - integer
          - 'null'
          format: int32
          readOnly: true
    BaseLocationLockdownEventOriginator:
      type: object
      discriminator:
        propertyName: type
      properties:
        type:
          $ref: '#/components/schemas/LockdownEventOriginatorEnumType'
    LocationLockdownStateEnumType:
      type: string
      enum:
      - STANDARD_SECURITY
      - LOCKED_DOWN
    Accesscontrol_lockdownplan_GetLockdownRulesForLocationWSRequest:
      type: object
      description: Request to retrieve all lockdown rules for a specific location.
      properties:
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    ReportLookbackTypeEnum:
      type: string
      enum:
      - ROLLING
      - PREVIOUS_DAY
      - PREVIOUS_WEEK
      - PREVIOUS_MONTH
    EnableDisableAudioRecordActionType:
      type: object
      properties:
        audioDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        enable:
          type:
          - boolean
          - 'null'
    IntegrationNotificationActionType:
      type: object
      properties:
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        notificationEntity:
          type:
          - string
          - 'null'
        notificationTarget:
          type:
          - string
          - 'null'
    NoOpAction:
      type:
      - object
      - 'null'
      allOf: []
      properties:
        deviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        type:
          $ref: '#/components/schemas/RobotActionTypeEnum'
    Accesscontrol_lockdownplan_GetLockdownPlanWSResponse:
      type: object
      description: Response containing the requested lockdown plan.
      properties:
        lockdownPlan:
          $ref: '#/components/schemas/BaseLockdownPlanType'
    SensorValType:
      type: object
      properties:
        sensorBoolean:
          type:
          - boolean
          - 'null'
        sensorDouble:
          type:
          - number
          - 'null'
          format: double
        sensorLong:
          type:
          - integer
          - 'null'
          format: int64
    Accesscontrol_lockdownplan_CreateLockdownRuleForLocationWSResponse:
      type: object
      description: Response containing the UUID of the created lockdown rule.
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        ruleUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        warningMsg:
          type:
          - string
          - 'null'
    CreateAlarmTriggerTypeEnum:
      type: string
      enum:
      - PANIC_BUTTON
      - ALARM_INTEGRATION
    ComponentRelayOutputTypeEnum:
      type: string
      enum:
      - TRANSIENT
      - STEADY
    ActivityEnum:
      type: string
      enum:
      - SOUND_LOUD
      - SOUND_GUN_SHOT
      - TAMPER
      - VISUAL_TAMPER
      - MOTION_TAMPER
      - MOTION
      - MOTION_HUMAN
      - MOTION_CAR
      - MOTION_ANIMAL
      - FACE
      - FACE_IDENTIFIED
      - FACE_UNIDENTIFIED
      - FACE_BLACKLISTED
      - FACE_ALERT
      - POSE_ANOMALOUS
      - POSE_FALL
      - LICENSEPLATE
      - LICENSEPLATE_IDENTIFIED
      - LICENSEPLATE_UNIDENTIFIED
      - LICENSEPLATE_ALERT
      - LICENSEPLATE_BLACKLISTED
      - LICENSEPLATE_TRUSTED
      - PEOPLECOUNT_HIGH
      - PEOPLECOUNT_HIGH_RESET
      - PEOPLECOUNT_LOW
      - PEOPLECOUNT_LOW_RESET
      - HUMAN_ENTER
      - HUMAN_EXIT
      - CAR_ENTER
      - CAR_EXIT
      - TEMPERATURE_EXCEEDED_HIGH
      - TEMPERATURE_EXCEEDED_LOW
      - HUMIDITY_EXCEEDED_HIGH
      - HUMIDITY_EXCEEDED_LOW
      - PM25_EXCEEDED_HIGH
      - TVOC_EXCEEDED_HIGH
      - ETOH_EXCEEDED_HIGH
      - IAQ_EXCEEDED_HIGH
      - CO2_EXCEEDED_HIGH
      - CO2_EXCEEDED_LOW
      - PROBE_TEMPERATURE_EXCEEDED_HIGH
      - PROBE_TEMPERATURE_EXCEEDED_LOW
      - PROBE_DISCONNECTED
      - PROBE_CONNECTED
      - HEAT_INDEX_EXCEEDED_HIGH
      - PRESSURE_EXCEEDED_HIGH
      - PRESSURE_EXCEEDED_LOW
      - PM10_EXCEEDED_HIGH
      - PM40_EXCEEDED_HIGH
      - PM100_EXCEEDED_HIGH
      - VOC_IDX_EXCEEDED_HIGH
      - NOX_IDX_EXCEEDED_HIGH
      - FORMALDEHYDE_EXCEEDED_HIGH
      - CARBON_MONOXIDE_EXCEEDED_HIGH
      - AQI_EXCEEDED_HIGH
      - DOOR_AJAR
      - DOOR_OPENED
      - DOOR_CLOSED
      - BUTTON_SINGLE_PRESSED
      - BUTTON_DOUBLE_PRESSED
      - BUTTON_LONG_PRESSED
      - TAG_ARRIVED
      - TAG_DEPARTED
      - TAG_MOVED
      - TAG_POSITIONING_CHANGED
      - TAG_BOUNDARY_INGRESS
      - TAG_BOUNDARY_EGRESS
      - TAG_PANIC
      - BADGE_AUTHORIZED
      - BADGE_UNAUTHORIZED
      - BADGE_UNAUTHORIZED_V2
      - BADGE_AJAR
      - BADGE_MANUAL
      - BADGE_FORCED_OPEN
      - BADGE_LOCKDOWN
      - BADGE_REQUEST_TO_EXIT
      - BADGE_DURESS
      - BADGE_SECURITY_BREACH
      - BADGE_TAMPER
      - BADGE_FACE_MISMATCH
      - POS_ORDER
      - GUN_DETECT_EVENT
      - IOT_SOUND_AGGRESSION
      - IOT_SOUND_HELP
      - IOT_AIR_CO
      - IOT_AIR_CO2
      - IOT_AIR_MASKING
      - IOT_AIR_THC
      - IOT_AIR_VAPE
      - IOT_AIR_VOC
      - IOT_AIR_TEMP
      - IOT_TAMPER
      - IOT_GUNSHOT
      - IOT_BUTTON_SINGLE_CLICK
      - IOT_BUTTON_DOUBLE_CLICK
      - IOT_BUTTON_HOLD
      - IOT_PANIC_BUTTON_TRIGGERED
      - AUDIO_SOUND_SIGNIFICANT
      - AUDIO_SOUND_LOUD
      - AUDIO_SOUND_ABUSIVE
      - AUDIO_SOUND_GREETING
      - AUDIO_SOUND_HELP
      - AUDIO_SOUND_GUN
      - AUDIO_SOUND_GLASS_BREAK
      - AUDIO_SOUND_ALARM_SMOKE_FIRE
      - AUDIO_SOUND_ALARM_CARBON_MONOXIDE
      - AUDIO_SOUND_SIREN
      - CLIMATE_VOC
      - CLIMATE_VAPE
      - CLIMATE_SMOKE
      - CLIMATE_THC
      - CLIMATE_CO2
      - CLIMATE_ETOH
      - CLIMATE_PM25
      - CLIMATE_IAQ
      - CLIMATE_LEAK
      - SOUND_AGGRESSION
      - SOUND_HELP
      - AIR_CO
      - AIR_CO2
      - AIR_MASKING
      - AIR_THC
      - AIR_VAPE
      - AIR_VOC
      - MASK_MISSING
      - HELMET_MISSING
      - GLOVES_MISSING
      - PIR_OCCUPIED
      - PIR_MOVEMENT
      - PIR_VACANT
      - CUSTOM
      - VISITOR_ARRIVED
      - VISITOR_DEPARTED
      - AC_DR_CONNECTED
      - AC_DR_DISCONNECTED
      - AC_DPI_DOOR_OPEN
      - AC_DPI_DOOR_CLOSED
      - AC_DPI_DOOR_AJAR
      - AC_DPI_DOOR_FORCED_OPEN
      - AC_DSR_UNLOCKED
      - AC_DSR_LOCKED
      - AC_DB_TRIGGERED
      - AC_PANIC_BUTTON_TRIGGERED
      - AC_REMOTE_UNLOCK
      - AC_BADGE_AUTHORIZED
      - AC_BADGE_UNAUTHORIZED
      - AC_BADGE_FACE_MISMATCH
      - AC_LOCKDOWN_ACTIVATED
      - AC_LOCKDOWN_DEACTIVATED
      - AC_TAMPER_PROX
      - AC_TAMPER_ACCEL
      - AC_TAMPER_SWITCH
      - AC_GR_ACTIVE
      - AC_GR_INACTIVE
      - AC_GI_ACTIVE
      - AC_GI_INACTIVE
      - AC_REX_ACTIVE
      - AC_REX_INACTIVE
      - AC_APERIO_DEVICE_DISCONNECTED
      - AC_APERIO_DEVICE_CONNECTED
      - AC_APERIO_DEVICE_REBOOT
      - AC_APERIO_DEVICE_TAMPER
      - AC_APERIO_LOW_BATTERY
      - AC_APERIO_FLAT_BATTERY
      - AC_APERIO_OK_BATTERY
      - POWER_SWITCH_BATTERY
      - POWER_SWITCH_PRIMARY
      - AI_SEARCH_MATCH
      - CUSTOM_LLM_BOOLEAN_TRUE
      - CUSTOM_LLM_BOOLEAN_FALSE
      - CUSTOM_LLM_THRESHOLD_EXCEEDED_LOW
      - CUSTOM_LLM_THRESHOLD_EXCEEDED_HIGH
      - ALM_AUTHORITIES_CONTACTED
      - ALM_MONITORING_ENABLED
      - ALM_MONITORING_DISABLED
      - ALM_MONITORING_SETTINGS_CHANGE
      - ALM_THREAT_CASE_CLOSED
      - ALM_THREAT_DETECTED
      - ALM_MONITORING_EVENT_DETECTED
      - ROBOT_DOG_DETECTED
      - ROBOT_ARRIVED_AT_WAYPOINT
      - ROBOT_ARRIVED_AT_POSE
      - ROBOT_WAITING_AT_POSE
      - ROBOT_MANUAL_CMD_VEL
      - ROBOT_MANUAL_ACTION
      - ROBOT_MANUAL_POSTURE
      - ROBOT_NAVIGATE_TO_POSE_START
      - ROBOT_NAVIGATE_TO_POSE_END
      - ROBOT_NAVIGATE_TO_HOME_START
      - ROBOT_NAVIGATE_TO_HOME_END
      - ROBOT_NAVIGATE_TO_WAYPOINT_START
      - ROBOT_NAVIGATE_TO_WAYPOINT_END
      - ROBOT_ROUTE_RUN_START
      - ROBOT_ROUTE_RUN_END
      - ROBOT_LOW_BATTERY_DOCKING
      - ROBOT_IDLE_DOCKING
      - ROBOT_EMERGENCY
      - LOITER_HUMAN
      - REID_HUMAN
      - INACTIVITY_HUMAN
      - INACTIVITY_CAR
      - ONGUARD_BADGE_AUTHORIZED
      - ONGUARD_BADGE_ANOMALY
      - ONGUARD_NO_ENTRY_MADE
      - ELEMENTS_BADGE_AUTHORIZED
      - ELEMENTS_BADGE_ANOMALY
      - ELEMENTS_NO_ENTRY_MADE
      - NETBOX_BADGE_AUTHORIZED
      - NETBOX_BADGE_ANOMALY
      - NETBOX_NO_ENTRY_MADE
      - THERMAL_TEMPERATURE_ALARM
      - THERMAL_TEMPERATURE_WARNING
      - THERMAL_FIRE_DETECTED
      - THERMAL_SMOKING_DETECTED
      - THERMAL_FIRE_VERIFIED
      - THERMAL_HEAT_NO_THREAT
      - THERMAL_VISUAL_HOTSPOT
      - THERMAL_VISUAL_HEAT_RISE
      - THERMAL_VISUAL_WARM_BODY
      - UNKNOWN
    CancelLoopingAudioPlaybackActionType:
      type: object
      properties:
        _audioDevices:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: DeviceFacetUuid
            description: RUUID with optional appended facet information
            example: AAAAAAAAAAAAAAAAAAAAAA.v0
        audioDevices:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: DeviceFacetUuid
            description: RUUID with optional appended facet information
            example: AAAAAAAAAAAAAAAAAAAAAA.v0
    ToastOrderIdType:
      type: object
      properties:
        employeeName:
          type:
          - string
          - 'null'
        guid:
          type:
          - string
          - 'null'
        locationName:
          type:
          - string
          - 'null'
        restaurantName:
          type:
          - string
          - 'null'
        toastCheckInfo:
          $ref: '#/components/schemas/ToastCheckInfo'
    RuleActionType:
      type: object
      description: The action to take when this lockdown rule is triggered.
      properties:
        activateLocationLockdown:
          $ref: '#/components/schemas/ActivateLocationLockdownActionType'
        alertAction:
          type:
          - boolean
          - 'null'
        audioPlaybackActions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AudioPlaybackActionType'
        cancelLoopingAudioPlaybackAction:
          $ref: '#/components/schemas/CancelLoopingAudioPlaybackActionType'
        changeComponentCompositeAccessStateActions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ChangeComponentCompositeAccessStateActionType'
        connectAudioDeviceToMobileAppAction:
          $ref: '#/components/schemas/ConnectAudioDeviceToMobileAppActionType'
        connectAudioDeviceToPhoneNumberAction:
          $ref: '#/components/schemas/ConnectAudioDeviceToPhoneNumberActionType'
        createAlarmAction:
          $ref: '#/components/schemas/CreateAlarmActionType'
        customActions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomRuleAction'
        customLLMActions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomLLMActionType'
        emailAuditLogExportActions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EmailAuditLogExportActionType'
        enableDisableAudioRecordActions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EnableDisableAudioRecordActionType'
        integrationCommandActions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/IntegrationCommandActionType'
        integrationNotificationActions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/IntegrationNotificationActionType'
        liveNotificationAction:
          type:
          - boolean
          - 'null'
        remoteDoorUnlockActions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RemoteDoorUnlockActionType'
        robotActions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RobotAction'
        thirdPartyAudioPlaybackAction:
          $ref: '#/components/schemas/ThirdPartyAudioPlaybackActionType'
        thirdPartyStrobeSirenAction:
          $ref: '#/components/schemas/ThirdPartyStrobeSirenActionType'
        triggerComponentRelayActions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TriggerComponentRelayActionType'
        webhookActions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/WebhookActionType'
    Accesscontrol_lockdownplan_CreateLocationLockdownPlanWSResponse:
      type: object
      description: Response containing the created location lockdown plan.
      properties:
        lockdownPlan:
          $ref: '#/components/schemas/LocationLockdownPlanType'
    ActivateLocationLockdownActionType:
      type: object
      properties:
        locationLockdownPlanUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    Accesscontrol_lockdownplan_FindLocationLockdownEventsWSRequest:
      type: object
      description: Request to find lockdown events for a specific location with optional time filtering.
      properties:
        createdAfterMs:
          type:
          - integer
          - 'null'
          format: int64
          description: Returns events created after (exclusive) the specified millisecond epoch timestamp
        createdBeforeMs:
          type:
          - integer
          - 'null'
          format: int64
          description: Returns events created before (exclusive) the specified millisecond epoch timestamp
        limit:
          type:
          - integer
          - 'null'
          format: int32
          description: Limits the number of returned events to the latest LIMIT events
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
      required:
      - locationUuid
    CustomRuleAction:
      type: object
      properties:
        headers:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
        path:
          type:
          - string
          - 'null'
    Accesscontrol_lockdownplan_EnableLockdownTestModeForLocationWSResponse:
      type: object
      description: Response containing the updated lockdown state after enabling test mode.
      properties:
        state:
          $ref: '#/components/schemas/LocationLockdownStateType'
    BaseLockdownStateEventType:
      type: object
      description: List of lockdown events found for the specified location.
      discriminator:
        propertyName: type
      properties:
        createdAtMillis:
          type:
          - integer
          - 'null'
          format: int64
        followingTestPlan:
          type:
          - boolean
          - 'null'
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        originator:
          $ref: '#/components/schemas/BaseLocationLockdownEventOriginator'
        stateChangedAtMillis:
          type:
          - integer
          - 'null'
          format: int64
        type:
          $ref: '#/components/schemas/LockdownStateEventEnumType'
    GenericRelayStateEnumType:
      type: string
      enum:
      - ACTIVE
      - INACTIVE
      - UNKNOWN
    AudioPlaybackActionType:
      type: object
      properties:
        audioClipUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        audioGateways:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
        loopDurationSec:
          type:
          - integer
          - 'null'
          format: int32
        playCount:
          type:
          - integer
          - 'null'
          format: int32
    Accesscontrol_lockdownplan_EnableLockdownTestModeForLocationWSRequest:
      type: object
      description: Request to enable test mode for lockdown at a specific location.
      properties:
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    LocationLockdownPlanType:
      type: object
      description: The updated location lockdown plan.
      properties:
        activationPlan:
          $ref: '#/components/schemas/LockdownActivationPlanType'
        createdAtMillis:
          type:
          - integer
          - 'null'
          format: int64
        deactivationPlan:
          $ref: '#/components/schemas/LockdownDeactivationPlanType'
        defaultLockdownState:
          $ref: '#/components/schemas/DoorLockdownStateEnumType'
        doorLockdownStateMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/DoorLockdownStateEnumType'
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        name:
          type:
          - string
          - 'null'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        physicalAccess:
          $ref: '#/components/schemas/LockdownPhysicalAccessType'
        scopeUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        testPlan:
          $ref: '#/components/schemas/LockdownTestPlanType'
        type:
          $ref: '#/components/schemas/LockdownPlanScopeEnumType'
        updatedAtMillis:
          type:
          - integer
          - 'null'
          format: int64
        uuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    Accesscontrol_lockdownplan_DisableLockdownTestModeForLocationWSRequest:
      type: object
      description: Request to disable test mode for lockdown at a specific location.
      properties:
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    Accesscontrol_lockdownplan_CreateLockdownRuleForLocationWSRequest:
      type: object
      description: Request to create a new lockdown rule for a specific location.
      properties:
        rule:
          $ref: '#/components/schemas/Accesscontrol_lockdownplan_ExternalLockdownPlanRuleType'
    ReportLookbackUnitEnum:
      type: string
      enum:
      - HOURS
      - DAYS
      - WEEKS
    ActivityEventData:
      type: object
      properties:
        activities:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ActivityEnum'
        boundingBoxes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ClipBoundingBoxType'
        durationSec:
          type:
          - integer
          - 'null'
          format: int32
        timestampMs:
          type:
          - integer
          - 'null'
          format: int64
    Accesscontrol_lockdownplan_ActivateLockdownForLocationWSResponse:
      type: object
      description: Response containing the result of activating lockdown for a location.
      properties:
        result:
          $ref: '#/components/schemas/LockdownActivationResultEnumType'
        state:
          $ref: '#/components/schemas/LocationLockdownStateType'
    Accesscontrol_lockdownplan_FindLockdownPlansWSRequest:
      type: object
      description: Request to search for lockdown plans across the organization.
    TriggerComponentRelayActionType:
      type: object
      properties:
        componentUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        outputType:
          $ref: '#/components/schemas/ComponentRelayOutputTypeEnum'
        overrideRelayDurationMs:
          type:
          - integer
          - 'null'
          format: int32
        overrideRelayDurationSec:
          type:
          - integer
          - 'null'
          format: int32
        ownerDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        state:
          $ref: '#/components/schemas/GenericRelayStateEnumType'
        version:
          type:
          - integer
          - 'null'
          format: int32
          readOnly: true
    DeviceTypeEnum:
      type: string
      enum:
      - BLE_TRACKER
      - CAMERA
      - DOOR_SENSOR
      - ENVIRONMENTAL_SENSOR
      - OCCUPANCY_SENSOR
      - AUDIO_GATEWAY
      - EXECUTABLE
      - BADGE_READER
      - DOOR_CONTROLLER
      - BLE_BUTTON
      - IO_BOARD
      - ENVIRONMENTAL_GATEWAY
      - NVR
      - ROBOT
      - UNKNOWN
    Accesscontrol_lockdownplan_FindLocationLockdownStatesWSRequest:
      type: object
      description: Request to find location lockdown states with optional filtering.
      properties:
        stateFilter:
          type:
          - array
          - 'null'
          description: Optional filter to limit results to specific lockdown states.
          items:
            $ref: '#/components/schemas/LocationLockdownStateEnumType'
    Accesscontrol_lockdownplan_GetOrCreateLocationLockdownStateWSRequest:
      type: object
      description: Request to retrieve an existing lockdown state or create one for a specific location.
      properties:
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    Accesscontrol_lockdownplan_DeleteLocationLockdownStateWSResponse:
      type: object
      description: Response indicating successful deletion of location lockdown state.
    LockdownTestPlanType:
      type: object
      properties:
        doorStateOverrideEnabled:
          type:
          - boolean
          - 'null'
        userAccessOverrideEnabled:
          type:
          - boolean
          - 'null'
    Accesscontrol_lockdownplan_DeleteLockdownPlanWSResponse:
      type: object
      description: Response confirming the deletion of a lockdown plan.
      properties:
        lockdownPlanUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    NavigationTypeEnum:
      type: string
      enum:
      - ROUTE
      - PATROL
      - WAYPOINT
      - POSE
    LockdownPlanScopeEnumType:
      type: string
      enum:
      - ORG_LOCKDOWN
      - LOCATION_LOCKDOWN
    EmailAuditLogExportActionType:
      type: object
      properties:
        includeActions:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
        includeApiInvocation:
          type:
          - boolean
          - 'null'
        lookbackCount:
          type:
          - integer
          - 'null'
          format: int32
        lookbackType:
          $ref: '#/components/schemas/ReportLookbackTypeEnum'
        lookbackUnit:
          $ref: '#/components/schemas/ReportLookbackUnitEnum'
        recipientEmails:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
        timezoneId:
          type:
          - string
          - 'null'
    ConnectAudioDeviceToPhoneNumberActionType:
      type: object
      properties:
        audioDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        deviceType:
          $ref: '#/components/schemas/DeviceTypeEnum'
        doorUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        optionalGreeting:
          type:
          - string
          - 'null'
        phoneNumber:
          type:
          - string
          - 'null'
    Accesscontrol_lockdownplan_GetLockdownRulesForLocationWSResponse:
      type: object
      description: Response containing a list of lockdown rules for a specific location.
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        rules:
          type:
          - array
          - 'null'
          description: List of lockdown rules configured for the specified location.
          items:
            $ref: '#/components/schemas/Accesscontrol_lockdownplan_ExternalLockdownPlanRuleType'
        warningMsg:
          type:
          - string
          - 'null'
    ThirdPartyAudioPlaybackActionType:
      type: object
      properties:
        audioFileName:
          type:
          - string
          - 'null'
        ipAddress:
          type:
          - string
          - 'null'
        loopDurationSec:
          type:
          - integer
          - 'null'
          format: int32
        password:
          type:
          - string
          - 'null'
        playCount:
          type:
          - integer
          - 'null'
          format: int32
        proxyDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        username:
          type:
          - string
          - 'null'
    LockdownActivationPlanType:
      type: object
      properties:
        groupUuids:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          uniqueItems: true
        rhombusKeyNotificationMessage:
          type:
          - string
          - 'null'
        userUuids:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          uniqueItems: true
    RobotActionTypeEnum:
      type: string
      enum:
      - DEPLOY
      - UNKNOWN
    RobotAction:
      type: object
      discriminator:
        mapping:
          DEPLOY: '#/components/schemas/DeployRobotAction'
          UNKNOWN: '#/components/schemas/NoOpAction'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/DeployRobotAction'
      - $ref: '#/components/schemas/NoOpAction'
      properties:
        deviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        type:
          $ref: '#/components/schemas/RobotActionTypeEnum'
    Accesscontrol_lockdownplan_DeleteLockdownPlanWSRequest:
      type: object
      description: Request to delete a specific lockdown plan by UUID.
      properties:
        lockdownPlanUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    Accesscontrol_lockdownplan_DeleteLockdownRuleForLocationWSResponse:
      type: object
      description: Response indicating successful deletion of a lockdown rule.
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        warningMsg:
          type:
          - string
          - 'null'
    IntegrationCommandActionType:
      type: object
      properties:
        commandPayload:
          type:
          - string
          - 'null'
        delaySecs:
          type:
          - integer
          - 'null'
          format: int32
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
    LockdownDeactivationPlanType:
      type: object
      properties:
        groupUuids:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          uniqueItems: true
        rhombusKeyNotificationMessage:
          type:
          - string
          - 'null'
        userUuids:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          uniqueItems: true
    Accesscontrol_lockdownplan_FindLocationLockdownStatesWSResponse:
      type: object
      description: Response containing a list of location lockdown states.
      properties:
        states:
          type:
          - array
          - 'null'
          description: List of location lockdown states found for the organization.
          items:
            $ref: '#/components/schemas/LocationLockdownStateType'
    EmergencyContact:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          description: The name of the emergency contact.
        phoneNumber:
          type:
          - string
          - 'null'
          description: The phone number for this emergency contact.
      required:
      - name
      - phoneNumber
    Accesscontrol_lockdownplan_DisableLockdownTestModeForLocationWSResponse:
      type: object
      description: Response containing the updated lockdown state after disabling test mode.
      properties:
        state:
          $ref: '#/components/schemas/LocationLockdownStateType'
    Accesscontrol_lockdownplan_DeleteLockdownRuleForLocationWSRequest:
      type: object
      description: Request to delete a specific lockdown rule for a location.
      properties:
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        ruleUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    LockdownEventOriginatorEnumType:
      type: string
      enum:
      - USER
      - SUPPORT_AUTHORITY
      - API_TOKEN
      - RULE
      - UNKNOWN
    Accesscontrol_lockdownplan_CreateLocationLockdownPlanWSRequest:
      type: object
      description: Request to create a new location lockdown plan.
      properties:
        lockdownPlan:
          $ref: '#/components/schemas/LocationLockdownPlanType'
    LockdownPlanReference:
      type: object
      properties:
        lockdownPlanUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        scope:
          $ref: '#/components/schemas/LockdownPlanScopeEnumType'
        scopeUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    ClipBoundingBoxType:
      type: object
      properties:
        activity:
          $ref: '#/components/schemas/ActivityEnum'
        alert:
          type:
          - boolean
          - 'null'
        bottom:
          type:
          - integer
          - 'null'
          format: int32
        confidence:
          type:
          - number
          - 'null'
          format: float
        croppedImageLocator:
          type:
          - string
          - 'null'
        customActivityColor:
          $ref: '#/components/schemas/FootageSeekPointColorEnum'
        customActivityDescription:
          type:
          - string
          - 'null'
        customActivityDisplayName:
          type:
          - string
          - 'null'
        dwelling:
          type:
          - boolean
          - 'null'
        faceName:
          type:
          - string
          - 'null'
        inMotion:
          type:
          - boolean
          - 'null'
        keypointsV2:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/PointType'
        left:
          type:
          - integer
          - 'null'
          format: int32
        licensePlate:
          type:
          - string
          - 'null'
        loudness:
          type:
          - integer
          - 'null'
          format: int32
        objectId:
          type:
          - integer
          - 'null'
          format: int32
        pose:
          type:
          - string
          - 'null'
        relativeSecond:
          type:
          - number
          - 'null'
          format: float
        right:
          type:
          - integer
          - 'null'
          format: int32
        sensorValType:
          $ref: '#/components/schemas/SensorValType'
        stableTrackId:
          type:
          - integer
          - 'null'
          format: int32
        toastOrderIdInfo:
          $ref: '#/components/schemas/ToastOrderIdType'
        top:
          type:
          - integer
          - 'null'
          format: int32
        unidentifiedFaceId:
          type:
          - string
          - 'null'
        vehicleName:
          type:
          - string
          - 'null'
    LockdownPhysicalAccessType:
      type: object
      properties:
        groupUuids:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          uniqueItems: true
        userUuids:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          uniqueItems: true
    FootageSeekPointColorEnum:
      type: string
      enum:
      - BLUE
      - RED
      - PURPLE
      - TAN
      - ORANGE
      - TEAL
      - GRAY
      - BLACK
    DoorLockdownStateEnumType:
      type: string
      enum:
      - LOCKED_DOWN
      - ACCESS_CONTROLLED
      - UNLOCKED
      - UNKNOWN
    Accesscontrol_lockdownplan_DeactivateLockdownForLocationWSRequest:
      type: object
      description: Request to deactivate lockdown for a specific location with optional optimistic locking.
      properties:
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        stateUpdatedAtMillis:
          type:
          - integer
          - 'null'
          format: int64
          description: Optional timestamp for optimistic locking to ensure the user is updating the latest record.
    Accesscontrol_lockdownplan_GetOrCreateLocationLockdownStateWSResponse:
      type: object
      description: Response containing the lockdown state for the specified location.
      properties:
        state:
          $ref: '#/components/schemas/LocationLockdownStateType'
    ToastCheckInfo:
      type: object
      properties:
        totalAmount:
          type:
          - number
          - 'null'
          format: double
    Accesscontrol_lockdownplan_GetLockdownPlanWSRequest:
      type: object
      description: Request to retrieve a specific lockdown plan by UUID.
      properties:
        lockdownPlanUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    BaseLockdownPlanType:
      type: object
      description: The requested lockdown plan.
      discriminator:
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/LocationLockdownPlanType'
      properties:
        activationPlan:
          $ref: '#/components/schemas/LockdownActivationPlanType'
        createdAtMillis:
          type:
          - integer
          - 'null'
          format: int64
        deactivationPlan:
          $ref: '#/components/schemas/LockdownDeactivationPlanType'
        defaultLockdownState:
          $ref: '#/components/schemas/DoorLockdownStateEnumType'
        doorLockdownStateMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/DoorLockdownStateEnumType'
        name:
          type:
          - string
          - 'null'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        physicalAccess:
          $ref: '#/components/schemas/LockdownPhysicalAccessType'
        scopeUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        testPlan:
          $ref: '#/components/schemas/LockdownTestPlanType'
        type:
          $ref: '#/components/schemas/LockdownPlanScopeEnumType'
        updatedAtMillis:
          type:
          - integer
          - 'null'
          format: int64
        uuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    Accesscontrol_lockdownplan_ExternalLockdownPlanRuleType:
      type: object
      description: External representation of a lockdown plan rule configuration.
      properties:
        action:
          $ref: '#/components/schemas/RuleActionType'
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        ruleFilters:
          $ref: '#/components/schemas/RuleFilterType'
        ruleName:
          type:
          - string
          - 'null'
          description: The name of the lockdown rule.
        ruleUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        triggerActivity:
          $ref: '#/components/schemas/ActivityEnum'
    ThirdPartyStrobeSirenActionType:
      type: object
      properties:
        durationSec:
          type:
          - integer
          - 'null'
          format: int32
        ipAddress:
          type:
          - string
          - 'null'
        lightColors:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
        lightIntensity:
          type:
          - integer
          - 'null'
          format: int32
        lightPattern:
          type:
          - string
          - 'null'
        lightSpeed:
          type:
          - integer
          - 'null'
          format: int32
        password:
          type:
          - string
          - 'null'
        profileName:
          type:
          - string
          - 'null'
        proxyDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        sirenIntensity:
          type:
          - integer
          - 'null'
          format: int32
        sirenPattern:
          type:
          - string
          - 'null'
        username:
          type:
          - string
          - 'null'
    WebhookActionType:
      type: object
      properties:
        headers:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
        oauthClientId:
          type:
          - string
          - 'null'
        oauthClientSecret:
          type:
          - string
          - 'null'
        oauthGrantType:
          type:
          - string
          - 'null'
        oauthScope:
          type:
          - string
          - 'null'
        oauthUrl:
          type:
          - string
          - 'null'
        webhookSecret:
          type:
          - string
          - 'null'
        webhookUrl:
          type:
          - string
          - 'null'
    RemoteDoorUnlockSystemEnum:
      type: string
      enum:
      - BRIVO
      - OPENPATH
      - KISI
      - PLACEOS
      - GENEA
      - PDK
      - INNER_RANGE
      - RHOMBUS
      - HONEYWELL_ELEMENTS
      - UNKNOWN
    Accesscontrol_lockdownplan_FindLocationLockdownEventsWSResponse:
      type: object
      description: Response containing a list of lockdown events for a specific location.
      properties:
        events:
          type:
          - array
          - 'null'
          description: List of lockdown events found for the specified location.
          items:
            $ref: '#/components/schemas/BaseLockdownStateEventType'
    Accesscontrol_lockdownplan_FindLockdownPlansByLocationWSRequest:
      type: object
      description: Request to search for lockdown plans for a specific location.
      properties:
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    DeployRobotAction:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          mapUuid:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          navType:
            $ref: '#/components/schemas/NavigationTypeEnum'
          pose:
            $ref: '#/components/schemas/Pose'
          routeUuid:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          waypointUuid:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
      properties:
        deviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        type:
          $ref: '#/components/schemas/RobotActionTypeEnum'
    Accesscontrol_lockdownplan_UpdateLocationLockdownPlanWSRequest:
      type: object
      description: Request to update an existing location lockdown plan with selective field updates.
      properties:
        activationPlan:
          $ref: '#/components/schemas/LockdownActivationPlanType'
        deactivationPlan:
          $ref: '#/components/schemas/LockdownDeactivationPlanType'
        defaultLockdownState:
          $ref: '#/components/schemas/DoorLockdownStateEnumType'
        doorLockdownStateMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/DoorLockdownStateEnumType'
        lockdownPlanUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        name:
          type:
          - string
          - 'null'
        physicalAccess:
          $ref: '#/components/schemas/LockdownPhysicalAccessType'
        testPlan:
          $ref: '#/components/schemas/LockdownTestPlanType'
    Accesscontrol_lockdownplan_UpdateLocationLockdownPlanWSResponse:
      type: object
      description: Response containing the updated location lockdown plan.
      properties:
        lockdownPlan:
          $ref: '#/components/schemas/LocationLockdownPlanType'
    IntegrationEnum:
      type: string
      enum:
      - AVIGILON_ALTA
      - BOULEVARD
      - BRIVO
      - BUTTERFLY_MX
      - DEVICE_INTEGRATION
      - DICE
      - ENVOY
      - FLIC
      - GENEA
      - GOOGLE
      - HONEYWELL_ELEMENTS
      - GUEST_MANAGEMENT
      - INFORMACAST
      - INNER_RANGE
      - KISI
      - LUMEO
      - MICROSOFT_TEAMS
      - OMNIALERT
      - OPENAI
      - OPENTECH_ALLIANCE
      - PIMLOC
      - PLACE_OS
      - PRODATAKEY
      - SHELLY
      - TOAST
      - WEBHOOKS
      - ZAPIER
      - RAPTOR
      - NINEONEONE_CELLULAR
      - SLACK
      - APERIO
      - PAR_POS
      - HONEYWELL_ONGUARD
      - HONEYWELL_NETBOX
      - SIGNATURE_API
      - UNKNOWN
    Accesscontrol_lockdownplan_ActivateLockdownForLocationWSRequest:
      type: object
      description: Request to activate lockdown for a specific location with optional optimistic locking.
      properties:
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        lockdownPlanUuids:
          type:
          - array
          - 'null'
          description: Set of lockdown plan UUIDs to activate for the location.
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          uniqueItems: true
        stateUpdatedAtMillis:
          type:
          - integer
          - 'null'
          format: int64
          description: Optional timestamp for optimistic locking to ensure the user is updating the latest record.
    LocationLockdownStateType:
      type: object
      description: The lockdown state for the location.
      properties:
        activeLockdownPlans:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/LockdownPlanReference'
          uniqueItems: true
        createdAtMillis:
          type:
          - integer
          - 'null'
          format: int64
        followingTestPlan:
          type:
          - boolean
          - 'null'
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        state:
          $ref: '#/components/schemas/LocationLockdownStateEnumType'
        stateChangedAtMillis:
          type:
          - integer
          - 'null'
          format: int64
        updatedAtMillis:
          type:
          - integer
          - 'null'
          format: int64
    RuleFilterType:
      type: object
      description: Optional filters to apply to this lockdown rule.
      properties:
        scheduleUuids:
          type:
          - array
          - 'null'
          description: List of schedules that apply to the rule. at least one schedule must be met to trigger this rule. If null, then this rule is enabled all the time.
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
        triggerBackoffSecs:
          type:
          - integer
          - 'null'
          format: int32
          description: Number of seconds to back off after rule is triggered before triggering again. I.e. this rule will only trigger once every X seconds regardless of how many triggering events occur within that window
    LockdownActivationResultEnumType:
      type: string
      description: The result of the lockdown activation operation.
      enum:
      - SUCCESS
      - INVALID_LOCKDOWN_PLANS
      - OPTIMISTIC_CONCURRENCY
    Pose:
      type: object
      properties:
        orientation:
          type:
          - array
          - 'null'
          items:
            type: number
            format: double
            description: Serialized as [x, y, z, w]
          maxItems: 4
          minItems: 4
        position:
          type:
          - array
          - 'null'
          items:
            type: number
            format: double
            description: Serialized as [x, y, z]
          maxItems: 3
          minItems: 3
    Accesscontrol_lockdownplan_DeactivateLockdownForLocationWSResponse:
      type: object
      description: Response containing the result of deactivating lockdown for a location.
      properties:
        result:
          $ref: '#/components/schemas/LockdownDeactivationResultEnumType'
        state:
          $ref: '#/components/schemas/LocationLockdownStateType'
    AMSirenSettingsType:
      type: object
      properties:
        audioGateways:
          type:
          - array
          - 'null'
          description: UUIDs of audio gateways used to play this siren.
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          uniqueItems: true
        clipUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        durationSeconds:
          type:
          - integer
          - 'null'
          format: int32
          description: The duration (in seconds) to loop the clip audio for the siren.
        playCount:
          type:
          - integer
          - 'null'
          format: int32
          description: The number of times to play the clip audio for the siren.
      required:
      - audioGateways
      - clipUuid
    Accesscontrol_lockdownplan_FindLockdownPlansWSResponse:
      type: object
      description: Response containing a list of lockdown plans found in the organization.
      properties:
        lockdownPlans:
          type:
          - array
          - 'null'
          description: List of lockdown plans found in the organization.
          items:
            $ref: '#/components/schemas/BaseLockdownPlanType'
    LockdownDeactivationResultEnumType:
      type: string
      description: The result of the lockdown deactivation operation.
      enum:
      - SUCCESS
      - OPTIMISTIC_CONCURRENCY
    AccessControlledDoorStateEnumType:
      type: string
      enum:
      - UNLOCKED
      - ACCESS_CONTROLLED
    CustomLLMActionType:
      type: object
      properties:
        deviceActivityEvents:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/ActivityEventData'
        deviceFacetUuids:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: DeviceFacetUuid
            description: RUUID with optional appended facet information
            example: AAAAAAAAAAAAAAAAAAAAAA.v0
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        promptUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        timestampMs:
          type:
          - integer
          - 'null'
          format: int64
    CreateAlarmActionType:
      type: object
      properties:
        attachMediaToActiveAlarm:
          type:
          - boolean
          - 'null'
        entryInstructions:
          type:
          - string
          - 'null'
        exclusiveEmergencyContact:
          type:
          - boolean
          - 'null'
        exclusiveEntryInstructions:
          type:
          - boolean
          - 'null'
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        mediaDeviceUuids:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: DeviceFacetUuid
            description: RUUID with optional appended facet information
            example: AAAAAAAAAAAAAAAAAAAAAA.v0
        onsiteEmergencyContact:
          $ref: '#/components/schemas/EmergencyContact'
        reason:
          type:
          - string
          - 'null'
        sirenSettings:
          $ref: '#/components/schemas/AMSirenSettingsType'
        subLocationsHierarchyKey:
          type:
          - string
          - 'null'
          format: SubLocationsHierarchyKey
          description: 'A sequence of one or more base 64 (url-safe) uuid substrings.

            These substrings are separated by dots (.).

            '
          example: AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA
          pattern: ^([A-Za-z0-9\-_]{22})([.][A-Za-z0-9\-_]{22})*$
        triggerType:
          $ref: '#/components/schemas/CreateAlarmTriggerTypeEnum'
    RemoteDoorUnlockActionType:
      type: object
      properties:
        doorId:
          type:
          - string
          - 'null'
        placeId:
          type:
          - string
          - 'null'
        system:
          $ref: '#/components/schemas/RemoteDoorUnlockSystemEnum'
    Accesscontrol_lockdownplan_DeleteLocationLockdownStateWSRequest:
      type: object
      description: Request to delete the lockdown state tracking for a specific location.
      properties:
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    LockdownStateEventEnumType:
      type: string
      enum:
      - LOCKDOWN_ACTIVATED
      - LOCKDOWN_DEACTIVATED
    Accesscontrol_lockdownplan_FindLockdownPlansByLocationWSResponse:
      type: object
      description: Response containing a list of lockdown plans found for the specified location.
      properties:
        lockdownPlans:
          type:
          - array
          - 'null'
          description: List of lockdown plans found for the specified location.
          items:
            $ref: '#/components/schemas/BaseLockdownPlanType'
  securitySchemes:
    ApiKeyAuth:
      description: Your Rhombus API key. Must be accompanied by the `x-auth-scheme` header set to `api-token` (or `partner-api-token` for partner endpoints).
      in: header
      name: x-auth-apikey
      type: apiKey
x-samples-languages:
- curl
- node
- python
- java
