openapi: 3.2.0
info:
  contact:
    email: developer@rhombussystems.com
  description: 'This API is for use by Rhombus customers and partners.


    ## Authentication


    All requests require two headers:

    - `x-auth-scheme` — The authentication scheme identifier. Use `api-token` for standard API key auth, or `partner-api-token` for partner API auth.

    - `x-auth-apikey` — Your Rhombus API key.


    Example:

    ```

    POST /api/camera/getMinimalCameraStateList

    x-auth-scheme: api-token

    x-auth-apikey: YOUR_API_KEY

    Content-Type: application/json

    ```'
  title: Rhombus Customer Webservice API
  version: '1.0'
servers:
- description: Production Server
  url: https://api2.rhombussystems.com
security:
- ApiKeyAuth: []
tags:
- name: Customer Webservice
paths:
  /api/customer/deleteAllNotificationSnoozeSettings:
    post:
      description: Delete a policy pause setting for a device
      operationId: deleteAllNotificationSnoozeSettings
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Customer_DeleteNotificationSnoozeSettingWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer_DeleteNotificationSnoozeSettingWSResponse'
          description: OK
      summary: Delete all notification snooze settings
      tags:
      - Customer Webservice
  /api/customer/deleteNotificationSnoozeSettingForComponentComposite:
    post:
      description: Delete a policy pause setting for a component composite
      operationId: deleteNotificationSnoozeSettingForComponentComposite
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Customer_DeleteNotificationSnoozeSettingWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer_DeleteNotificationSnoozeSettingWSResponse'
          description: OK
      summary: Delete a policy pause setting for a component composite
      tags:
      - Customer Webservice
  /api/customer/deleteNotificationSnoozeSettingForDevice:
    post:
      description: Delete a policy pause setting for a device
      operationId: deleteNotificationSnoozeSettingForDevice
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Customer_DeleteNotificationSnoozeSettingWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer_DeleteNotificationSnoozeSettingWSResponse'
          description: OK
      summary: Delete a policy pause setting for a device
      tags:
      - Customer Webservice
  /api/customer/deleteNotificationSnoozeSettingForLocation:
    post:
      description: Delete a policy pause setting for a location
      operationId: deleteNotificationSnoozeSettingForLocation
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Customer_DeleteNotificationSnoozeSettingWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer_DeleteNotificationSnoozeSettingWSResponse'
          description: OK
      summary: Delete a policy pause setting for a location
      tags:
      - Customer Webservice
  /api/customer/getUserSnoozedNotificationSettings:
    post:
      description: Get the current and planned user notification snooze details
      operationId: getUserSnoozedNotificationSettings
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Customer_GetUserSnoozedNotificationSettingsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer_GetUserSnoozedNotificationSettingsWSResponse'
          description: OK
      summary: Get the current and planned user notification snooze details
      tags:
      - Customer Webservice
  /api/customer/updateCurrentUserNotificationSettings:
    post:
      description: Update notification settings for user
      operationId: updateCurrentUserNotificationSettings
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User_UpdateUserNotificationSettingsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User_UpdateUserNotificationSettingsWSResponse'
          description: OK
      summary: Update notification settings for user
      tags:
      - Customer Webservice
components:
  schemas:
    Customer_DeleteNotificationSnoozeSettingWSRequest:
      type: object
      description: Request object for deleting notification snooze settings for a specific entity.
      properties:
        uuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    ActivityEnum:
      type: string
      enum:
      - SOUND_LOUD
      - SOUND_GUN_SHOT
      - TAMPER
      - VISUAL_TAMPER
      - MOTION_TAMPER
      - MOTION
      - MOTION_HUMAN
      - MOTION_CAR
      - MOTION_ANIMAL
      - FACE
      - FACE_IDENTIFIED
      - FACE_UNIDENTIFIED
      - FACE_BLACKLISTED
      - FACE_ALERT
      - POSE_ANOMALOUS
      - POSE_FALL
      - LICENSEPLATE
      - LICENSEPLATE_IDENTIFIED
      - LICENSEPLATE_UNIDENTIFIED
      - LICENSEPLATE_ALERT
      - LICENSEPLATE_BLACKLISTED
      - LICENSEPLATE_TRUSTED
      - PEOPLECOUNT_HIGH
      - PEOPLECOUNT_HIGH_RESET
      - PEOPLECOUNT_LOW
      - PEOPLECOUNT_LOW_RESET
      - HUMAN_ENTER
      - HUMAN_EXIT
      - CAR_ENTER
      - CAR_EXIT
      - TEMPERATURE_EXCEEDED_HIGH
      - TEMPERATURE_EXCEEDED_LOW
      - HUMIDITY_EXCEEDED_HIGH
      - HUMIDITY_EXCEEDED_LOW
      - PM25_EXCEEDED_HIGH
      - TVOC_EXCEEDED_HIGH
      - ETOH_EXCEEDED_HIGH
      - IAQ_EXCEEDED_HIGH
      - CO2_EXCEEDED_HIGH
      - CO2_EXCEEDED_LOW
      - PROBE_TEMPERATURE_EXCEEDED_HIGH
      - PROBE_TEMPERATURE_EXCEEDED_LOW
      - PROBE_DISCONNECTED
      - PROBE_CONNECTED
      - HEAT_INDEX_EXCEEDED_HIGH
      - PRESSURE_EXCEEDED_HIGH
      - PRESSURE_EXCEEDED_LOW
      - PM10_EXCEEDED_HIGH
      - PM40_EXCEEDED_HIGH
      - PM100_EXCEEDED_HIGH
      - VOC_IDX_EXCEEDED_HIGH
      - NOX_IDX_EXCEEDED_HIGH
      - FORMALDEHYDE_EXCEEDED_HIGH
      - CARBON_MONOXIDE_EXCEEDED_HIGH
      - AQI_EXCEEDED_HIGH
      - DOOR_AJAR
      - DOOR_OPENED
      - DOOR_CLOSED
      - BUTTON_SINGLE_PRESSED
      - BUTTON_DOUBLE_PRESSED
      - BUTTON_LONG_PRESSED
      - TAG_ARRIVED
      - TAG_DEPARTED
      - TAG_MOVED
      - TAG_POSITIONING_CHANGED
      - TAG_BOUNDARY_INGRESS
      - TAG_BOUNDARY_EGRESS
      - TAG_PANIC
      - BADGE_AUTHORIZED
      - BADGE_UNAUTHORIZED
      - BADGE_UNAUTHORIZED_V2
      - BADGE_AJAR
      - BADGE_MANUAL
      - BADGE_FORCED_OPEN
      - BADGE_LOCKDOWN
      - BADGE_REQUEST_TO_EXIT
      - BADGE_DURESS
      - BADGE_SECURITY_BREACH
      - BADGE_TAMPER
      - BADGE_FACE_MISMATCH
      - POS_ORDER
      - GUN_DETECT_EVENT
      - IOT_SOUND_AGGRESSION
      - IOT_SOUND_HELP
      - IOT_AIR_CO
      - IOT_AIR_CO2
      - IOT_AIR_MASKING
      - IOT_AIR_THC
      - IOT_AIR_VAPE
      - IOT_AIR_VOC
      - IOT_AIR_TEMP
      - IOT_TAMPER
      - IOT_GUNSHOT
      - IOT_BUTTON_SINGLE_CLICK
      - IOT_BUTTON_DOUBLE_CLICK
      - IOT_BUTTON_HOLD
      - IOT_PANIC_BUTTON_TRIGGERED
      - AUDIO_SOUND_SIGNIFICANT
      - AUDIO_SOUND_LOUD
      - AUDIO_SOUND_ABUSIVE
      - AUDIO_SOUND_GREETING
      - AUDIO_SOUND_HELP
      - AUDIO_SOUND_GUN
      - AUDIO_SOUND_GLASS_BREAK
      - AUDIO_SOUND_ALARM_SMOKE_FIRE
      - AUDIO_SOUND_ALARM_CARBON_MONOXIDE
      - AUDIO_SOUND_SIREN
      - CLIMATE_VOC
      - CLIMATE_VAPE
      - CLIMATE_SMOKE
      - CLIMATE_THC
      - CLIMATE_CO2
      - CLIMATE_ETOH
      - CLIMATE_PM25
      - CLIMATE_IAQ
      - CLIMATE_LEAK
      - SOUND_AGGRESSION
      - SOUND_HELP
      - AIR_CO
      - AIR_CO2
      - AIR_MASKING
      - AIR_THC
      - AIR_VAPE
      - AIR_VOC
      - MASK_MISSING
      - HELMET_MISSING
      - GLOVES_MISSING
      - PIR_OCCUPIED
      - PIR_MOVEMENT
      - PIR_VACANT
      - CUSTOM
      - VISITOR_ARRIVED
      - VISITOR_DEPARTED
      - AC_DR_CONNECTED
      - AC_DR_DISCONNECTED
      - AC_DPI_DOOR_OPEN
      - AC_DPI_DOOR_CLOSED
      - AC_DPI_DOOR_AJAR
      - AC_DPI_DOOR_FORCED_OPEN
      - AC_DSR_UNLOCKED
      - AC_DSR_LOCKED
      - AC_DB_TRIGGERED
      - AC_PANIC_BUTTON_TRIGGERED
      - AC_REMOTE_UNLOCK
      - AC_BADGE_AUTHORIZED
      - AC_BADGE_UNAUTHORIZED
      - AC_BADGE_FACE_MISMATCH
      - AC_LOCKDOWN_ACTIVATED
      - AC_LOCKDOWN_DEACTIVATED
      - AC_TAMPER_PROX
      - AC_TAMPER_ACCEL
      - AC_TAMPER_SWITCH
      - AC_GR_ACTIVE
      - AC_GR_INACTIVE
      - AC_GI_ACTIVE
      - AC_GI_INACTIVE
      - AC_REX_ACTIVE
      - AC_REX_INACTIVE
      - AC_APERIO_DEVICE_DISCONNECTED
      - AC_APERIO_DEVICE_CONNECTED
      - AC_APERIO_DEVICE_REBOOT
      - AC_APERIO_DEVICE_TAMPER
      - AC_APERIO_LOW_BATTERY
      - AC_APERIO_FLAT_BATTERY
      - AC_APERIO_OK_BATTERY
      - POWER_SWITCH_BATTERY
      - POWER_SWITCH_PRIMARY
      - AI_SEARCH_MATCH
      - CUSTOM_LLM_BOOLEAN_TRUE
      - CUSTOM_LLM_BOOLEAN_FALSE
      - CUSTOM_LLM_THRESHOLD_EXCEEDED_LOW
      - CUSTOM_LLM_THRESHOLD_EXCEEDED_HIGH
      - ALM_AUTHORITIES_CONTACTED
      - ALM_MONITORING_ENABLED
      - ALM_MONITORING_DISABLED
      - ALM_MONITORING_SETTINGS_CHANGE
      - ALM_THREAT_CASE_CLOSED
      - ALM_THREAT_DETECTED
      - ALM_MONITORING_EVENT_DETECTED
      - ROBOT_DOG_DETECTED
      - ROBOT_ARRIVED_AT_WAYPOINT
      - ROBOT_ARRIVED_AT_POSE
      - ROBOT_WAITING_AT_POSE
      - ROBOT_MANUAL_CMD_VEL
      - ROBOT_MANUAL_ACTION
      - ROBOT_MANUAL_POSTURE
      - ROBOT_NAVIGATE_TO_POSE_START
      - ROBOT_NAVIGATE_TO_POSE_END
      - ROBOT_NAVIGATE_TO_HOME_START
      - ROBOT_NAVIGATE_TO_HOME_END
      - ROBOT_NAVIGATE_TO_WAYPOINT_START
      - ROBOT_NAVIGATE_TO_WAYPOINT_END
      - ROBOT_ROUTE_RUN_START
      - ROBOT_ROUTE_RUN_END
      - ROBOT_LOW_BATTERY_DOCKING
      - ROBOT_IDLE_DOCKING
      - ROBOT_EMERGENCY
      - LOITER_HUMAN
      - REID_HUMAN
      - INACTIVITY_HUMAN
      - INACTIVITY_CAR
      - ONGUARD_BADGE_AUTHORIZED
      - ONGUARD_BADGE_ANOMALY
      - ONGUARD_NO_ENTRY_MADE
      - ELEMENTS_BADGE_AUTHORIZED
      - ELEMENTS_BADGE_ANOMALY
      - ELEMENTS_NO_ENTRY_MADE
      - NETBOX_BADGE_AUTHORIZED
      - NETBOX_BADGE_ANOMALY
      - NETBOX_NO_ENTRY_MADE
      - THERMAL_TEMPERATURE_ALARM
      - THERMAL_TEMPERATURE_WARNING
      - THERMAL_FIRE_DETECTED
      - THERMAL_SMOKING_DETECTED
      - THERMAL_FIRE_VERIFIED
      - THERMAL_HEAT_NO_THREAT
      - THERMAL_VISUAL_HOTSPOT
      - THERMAL_VISUAL_HEAT_RISE
      - THERMAL_VISUAL_WARM_BODY
      - UNKNOWN
    MinuteOfDayIntervalType:
      type: object
      properties:
        dayOfWeek:
          type:
          - integer
          - 'null'
          format: int32
        minuteOfDayStartInclusive:
          type:
          - integer
          - 'null'
          format: int32
        minuteOfDayStopExclusive:
          type:
          - integer
          - 'null'
          format: int32
    NotificationTimeFrameRow:
      type: object
      properties:
        activities:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ActivityEnum'
          uniqueItems: true
        devices:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: DeviceFacetUuid
            description: RUUID with optional appended facet information
            example: AAAAAAAAAAAAAAAAAAAAAA.v0
          uniqueItems: true
        diagnostics:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/DiagnosticActivityEnum'
          uniqueItems: true
        locationOnly:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          uniqueItems: true
        locationOnlyActivities:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ActivityEnum'
          uniqueItems: true
        locationOnlyDiagnostics:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/DiagnosticActivityEnum'
          uniqueItems: true
        locations:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          uniqueItems: true
        promptUuids:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          uniqueItems: true
    NotificationTimeFrame:
      type: object
      properties:
        days:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RhombusDayOfWeekEnum'
          uniqueItems: true
        interval:
          $ref: '#/components/schemas/MinuteOfDayIntervalType'
        mediums:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/NotificationEnumType'
          uniqueItems: true
        rows:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/NotificationTimeFrameRow'
    RhombusDayOfWeekEnum:
      type: string
      enum:
      - MONDAY
      - TUESDAY
      - WEDNESDAY
      - THURSDAY
      - FRIDAY
      - SATURDAY
      - SUNDAY
    User_UpdateUserNotificationSettingsWSResponse:
      type: object
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        warningMsg:
          type:
          - string
          - 'null'
    ScheduledIntervalType:
      type: object
      description: Map of location UUIDs to snooze intervals
      properties:
        durationSecs:
          type:
          - integer
          - 'null'
          format: int64
        timestampSec:
          type:
          - integer
          - 'null'
          format: int64
        uuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    NotificationEnumType:
      type: string
      enum:
      - SMS
      - EMAIL
      - APP
      - SLACK
      - MICROSOFT_TEAMS
      - BROWSER
      - UNKNOWN
    Customer_GetUserSnoozedNotificationSettingsWSResponse:
      type: object
      description: Response object containing current and planned user notification snooze details.
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        snoozedForAllNotificationsIntervals:
          type:
          - array
          - 'null'
          description: List of intervals when all notifications are snoozed
          items:
            $ref: '#/components/schemas/ScheduledIntervalType'
        snoozedForComponentCompositesMap:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - array
            - 'null'
            description: Map of component composite UUIDs to their snooze notification intervals
            items:
              $ref: '#/components/schemas/ScheduledIntervalType'
          description: Map of component composite UUIDs to their snooze notification intervals
        snoozedForDevicesMap:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - array
            - 'null'
            description: Map of device UUIDs to their snooze notification intervals
            items:
              $ref: '#/components/schemas/ScheduledIntervalType'
          description: Map of device UUIDs to their snooze notification intervals
        snoozedForLocationsMap:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - array
            - 'null'
            description: Map of location UUIDs to their snooze notification intervals
            items:
              $ref: '#/components/schemas/ScheduledIntervalType'
          description: Map of location UUIDs to their snooze notification intervals
        warningMsg:
          type:
          - string
          - 'null'
    Customer_DeleteNotificationSnoozeSettingWSResponse:
      type: object
      description: Response object for deleting notification snooze settings.
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        warningMsg:
          type:
          - string
          - 'null'
    DiagnosticActivityEnum:
      type: string
      enum:
      - CAMERA_CONNECTED
      - CAMERA_DISCONNECTED
      - STARTUP
      - GATEWAY_CONNECTED
      - GATEWAY_DISCONNECTED
      - UPDATE_STARTED
      - UPDATE_FIRMWARE_DOWNLOADED
      - UPDATE_FIRMWARE_APPLIED
      - UPDATE_STARTING_REBOOT
      - UPDATE_FAILED_MD5_MISMATCH
      - UPDATE_FAILED_ACCESS_DENIED
      - UPDATE_FAILED_MITM
      - UPDATE_FAILED_CONNNECTION_REFUSED
      - UPDATE_FAILED_CONNNECTION_TIMEOUT
      - UPDATE_FAILED_CONNECTION_REFUSED
      - UPDATE_FAILED_CONNECTION_TIMEOUT
      - UPDATE_FAILED_DNS_FAILURE
      - UPDATE_RUNNING
      - UPDATE_HALTED_FOR_INVESTIGATION
      - UPDATE_HALT_CLEARED
      - UPDATE_HALT_STATE_ACTIVE
      - UPDATE_REFUSED_HALTED
      - BLE_CONNECTED
      - BLE_CONNECTION_FAILED
      - BLE_DISCONNECTED
      - BLE_OP_SUCCESS
      - BLE_OP_FAILURE
      - UPLOAD_CLIP_SUCCESS
      - UPLOAD_CLIP_FAILURE
      - NOTIFICATION_FAILURE
      - USB_FAILURE_REBOOT
      - PERSISTENT_STORAGE_FAILURE
      - PING
      - FORCED_REBOOT
      - AUTO_REBOOT
      - AUDIO_HARDWARE_NOT_DETECTED
      - ENCRYPTED_CONTAINER_FAILURE_CREATE
      - ENCRYPTED_CONTAINER_FAILURE_OPEN
      - ENCRYPTED_CONTAINER_FAILURE_MOUNT
      - VIDEO_HARDWARE_FAILURE
      - WIFI_NETWORK_CHANGED
      - AI_ENGINE_DOWNLOADED
      - AI_ENGINE_DOWNLOAD_FAILED_MD5_MISMATCH
      - AI_ENGINE_CONFIGURED
      - AI_ENGINE_CONFIGURATION_FAILED
      - MITM_FAILURE
      - SERVER_RECONNECT
      - AP_CHANGED
      - WATCHDOG_KILLED_AGENT
      - WATCHDOG_DID_RESET
      - CLIMATE_OFFLINE
      - CLIMATE_ONLINE
      - CLIMATE_LOW_BATTERY
      - CLIMATE_PROBE_CONNECTED
      - CLIMATE_PROBE_DISCONNECTED
      - DOOR_OFFLINE
      - DOOR_ONLINE
      - DOOR_LOW_BATTERY
      - OCCUPANCY_SENSOR_ONLINE
      - OCCUPANCY_SENSOR_OFFLINE
      - OCCUPANCY_SENSOR_LOW_BATTERY
      - BUTTON_OFFLINE
      - BUTTON_ONLINE
      - BUTTON_LOW_BATTERY
      - PROXIMITY_LOW_BATTERY
      - ROBOT_LOW_BATTERY
      - DOOR_CONTROLLER_CONNECTED
      - DOOR_CONTROLLER_DISCONNECTED
      - APERIO_LOW_BATTERY
      - APERIO_FLAT_BATTERY
      - APERIO_OK_BATTERY
      - APERIO_GW_CONNECTED
      - APERIO_GW_DISCONNECTED
      - BADGE_READER_CONNECTED
      - BADGE_READER_DISCONNECTED
      - REBOOT
      - NETWORK_INTERRUPTION
      - OPENPATH_WEBHOOK_FAILURE
      - TOAST_WEBHOOK_FAILURE
      - KISI_WEBHOOK_FAILURE
      - BRIVO_WEBHOOK_FAILURE
      - HALO_WEBHOOK_FAILURE
      - SALTO_WEBHOOK_FAILURE
      - SQUARE_WEBHOOK_FAILURE
      - BUTTERFLYMX_WEBHOOK_FAILURE
      - ENVOY_WEBHOOK_FAILURE
      - GENEA_WEBHOOK_FAILURE
      - PRODATAKEY_WEBHOOK_FAILURE
      - AMT_WEBHOOK_FAILURE
      - PLACEOS_WEBHOOK_FAILURE
      - OMNIALERT_WEBHOOK_FAILURE
      - FLIC_WEBHOOK_FAILURE
      - SHELLY_WEBHOOK_FAILURE
      - PIMLOC_WEBHOOK_FAILURE
      - NINEONEONECELLULAR_WEBHOOK_FAILURE
      - HONEYWELL_ELEMENTS_WEBHOOK_FAILURE
      - HONEYWELL_ONGUARD_WEBHOOK_FAILURE
      - TRITON_WEBHOOK_FAILURE
      - EXTERNAL_WEBHOOK_FAILURE
      - CV_FAILURE
      - NFC_HW_FAILURE
      - CONFIG_ERROR
      - HW_FAILURE
      - KEYPAD_ONLINE
      - KEYPAD_OFFLINE
      - ALM_OVERAGE_APPROACHING
      - ALM_OVERAGE_REACHED
      - ALM_OVERAGE_EXCEEDED
      - ALM_EXCESSIVE_VERIFICATIONS
      - KIOSK_OFFLINE
      - KIOSK_ONLINE
      - TUNNELED_DEVICE_CONNECTED
      - TUNNELED_DEVICE_DISCONNECTED
      - SD_CARD_CHANGED
      - SD_CARD_NOT_FOUND
      - SUPERVISION_CUT_DETECTED
      - SUPERVISION_SHORT_DETECTED
      - SUPERVISION_INVALID_SETUP
      - THIRD_PARTY_DEVICE_CONNECTED
      - THIRD_PARTY_DEVICE_DISCONNECTED
      - NVR_STREAMING_STATUS
      - STORAGE_SM
      - DEVICE_OFFLINE_EXTENDED
      - DEVICE_OFFLINE_RECOVERED
      - DEVICES_OFFLINE_THRESHOLD
      - CLOUD_ARCHIVE_LAGGING
      - CLOUD_ARCHIVE_RECOVERED
      - LOCAL_RECORDING_INTERRUPTED
      - LOCAL_RECORDING_RECOVERED
      - UNKNOWN
    User_UpdateUserNotificationSettingsWSRequest:
      type: object
      properties:
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        receiveHealthNotifications:
          type:
          - boolean
          - 'null'
        smsNotificationIncludesLinks:
          type:
          - boolean
          - 'null'
        smsPhoneNumbers:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
        summaryEmailEnabled:
          type:
          - boolean
          - 'null'
        timeFrames:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/NotificationTimeFrame'
        updatedSetMethodMap:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - boolean
            - 'null'
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    Customer_GetUserSnoozedNotificationSettingsWSRequest:
      type: object
      description: Request object for retrieving current and planned user notification snooze details.
  securitySchemes:
    ApiKeyAuth:
      description: Your Rhombus API key. Must be accompanied by the `x-auth-scheme` header set to `api-token` (or `partner-api-token` for partner endpoints).
      in: header
      name: x-auth-apikey
      type: apiKey
x-samples-languages:
- curl
- node
- python
- java
