openapi: 3.2.0
info:
  contact:
    email: developer@rhombussystems.com
  description: 'This API is for use by Rhombus customers and partners.


    ## Authentication


    All requests require two headers:

    - `x-auth-scheme` — The authentication scheme identifier. Use `api-token` for standard API key auth, or `partner-api-token` for partner API auth.

    - `x-auth-apikey` — Your Rhombus API key.


    Example:

    ```

    POST /api/camera/getMinimalCameraStateList

    x-auth-scheme: api-token

    x-auth-apikey: YOUR_API_KEY

    Content-Type: application/json

    ```'
  title: Rhombus Camera Webservice API
  version: '1.0'
servers:
- description: Production Server
  url: https://api2.rhombussystems.com
security:
- ApiKeyAuth: []
tags:
- name: Camera Webservice
paths:
  /api/camera/calibrateFloorplanProjection:
    post:
      description: Generate the homography to project detections onto a floorplan.
      operationId: cameraCalibrateFloorplanProjection
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Common_devices_CalibrateFloorplanProjectionWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_devices_CalibrateFloorplanProjectionWSResponse'
          description: OK
      summary: Calibrate floorplan projection
      tags:
      - Camera Webservice
  /api/camera/createCustomFootageSeekpoints:
    post:
      description: Create custom activity seekpoints for a specified camera
      operationId: createCustomFootageSeekpoints
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_CreateCustomFootageSeekpointsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera_CreateFootageSeekpointsWSResponse'
          description: OK
      summary: Create custom footage seekpoints
      tags:
      - Camera Webservice
  /api/camera/createFootageBoundingBoxes:
    post:
      description: Create an activity bounding box for specified camera
      operationId: createFootageBoundingBoxes
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_CreateFootageBoundingBoxesWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera_CreateFootageBoundingBoxesWSResponse'
          description: OK
      summary: Create footage bounding boxes
      tags:
      - Camera Webservice
  /api/camera/createProtectedSharedLiveVideoStream:
    post:
      description: Share a password protected live video stream for a camera
      operationId: createProtectedSharedLiveVideoStream
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_CreateSharedLiveVideoStreamWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera_CreateSharedLiveVideoStreamWSResponse'
          description: OK
      summary: Create protected shared live video stream
      tags:
      - Camera Webservice
  /api/camera/createProtectedSharedVideoWall:
    post:
      description: Share a password protected video wall
      operationId: createProtectedSharedVideoWall
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_CreateSharedVideoWallWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera_CreateSharedVideoWallWSResponse'
          description: OK
      summary: Create protected shared video wall
      tags:
      - Camera Webservice
  /api/camera/createRawHttpStream:
    post:
      description: Create a raw HTTP stream for a camera
      operationId: createCameraRawHttpStream
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Common_devices_rawstream_CreateRawHttpStreamWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_devices_rawstream_CreateRawHttpStreamWSResponse'
          description: OK
      summary: Create camera raw HTTP stream
      tags:
      - Camera Webservice
  /api/camera/createSharedLiveVideoStream:
    post:
      description: Share an unprotected live video stream for a camera
      operationId: createCameraSharedLiveVideoStream
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_CreateSharedLiveVideoStreamWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera_CreateSharedLiveVideoStreamWSResponse'
          description: OK
      summary: Create shared live video stream
      tags:
      - Camera Webservice
  /api/camera/createSharedVideoWall:
    post:
      description: Share an unprotected video wall
      operationId: createSharedVideoWall
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_CreateSharedVideoWallWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera_CreateSharedVideoWallWSResponse'
          description: OK
      summary: Create shared video wall
      tags:
      - Camera Webservice
  /api/camera/createVideoWall:
    post:
      description: Create a video wall for user
      operationId: createVideoWall
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_CreateVideoWallWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera_CreateVideoWallWSResponse'
          description: OK
      summary: Create video wall
      tags:
      - Camera Webservice
  /api/camera/delete:
    post:
      description: Remove a camera from organization
      operationId: deleteCamera
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_DeleteCameraWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera_DeleteCameraWSResponse'
          description: OK
      summary: Delete camera
      tags:
      - Camera Webservice
  /api/camera/deleteCustomFootageSeekpoints:
    post:
      description: Delete custom seekpoints for specified cameras
      operationId: deleteCustomFootageSeekpoints
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_DeleteCustomFootageSeekpointsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera_DeleteCustomFootageSeekpointsWSResponse'
          description: OK
      summary: Delete custom footage seekpoints
      tags:
      - Camera Webservice
  /api/camera/deleteRawHttpStream:
    post:
      description: Delete a raw HTTP stream for a camera
      operationId: deleteCameraRawHttpStream
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Common_devices_rawstream_DeleteRawHttpStreamWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_devices_rawstream_DeleteRawHttpStreamWSResponse'
          description: OK
      summary: Delete camera raw HTTP stream
      tags:
      - Camera Webservice
  /api/camera/deleteSharedLiveVideoStream:
    post:
      description: Remove a shared live stream from camera
      operationId: deleteSharedLiveVideoStream
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_DeleteSharedLiveVideoStreamWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteSharedLiveVideoStreamForDeviceResponse'
          description: OK
      summary: Delete shared live video stream
      tags:
      - Camera Webservice
  /api/camera/deleteSharedVideoWall:
    post:
      description: Remove a shared video wall
      operationId: deleteSharedVideoWall
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_DeleteSharedVideoWallWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera_DeleteSharedVideoWallWSResponse'
          description: OK
      summary: Delete shared video wall
      tags:
      - Camera Webservice
  /api/camera/deleteVideoWall:
    post:
      description: Delete a video wall
      operationId: deleteVideoWall
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_DeleteVideoWallWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera_DeleteVideoWallWSResponse'
          description: OK
      summary: Delete video wall
      tags:
      - Camera Webservice
  /api/camera/erase:
    post:
      description: Wipes the SD card on a camera
      operationId: eraseCamera
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_EraseCameraWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera_EraseCameraWSResponse'
          description: OK
      summary: Erase camera
      tags:
      - Camera Webservice
  /api/camera/findAllRawHttpStreams:
    post:
      description: Get a list of all cameras raw HTTP streams
      operationId: findAllCameraRawHttpStreams
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Common_devices_rawstream_FindAllRawHttpStreamsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_devices_rawstream_FindAllRawHttpStreamsWSResponse'
          description: OK
      summary: Find all camera raw HTTP streams
      tags:
      - Camera Webservice
  /api/camera/findAllSharedLiveVideoStreams:
    post:
      description: Get list of all shared live streams
      operationId: findAllSharedLiveVideoStreams
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_FindAllSharedLiveVideoStreamsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera_FindAllSharedLiveVideoStreamsWSResponse'
          description: OK
      summary: Find all shared live video streams
      tags:
      - Camera Webservice
  /api/camera/findSharedLiveVideoStreams:
    post:
      description: Get list of all shared live streams for camera
      operationId: findCameraSharedLiveVideoStreams
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_FindSharedLiveVideoStreamsForWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera_FindSharedLiveVideoStreamsWSResponse'
          description: OK
      summary: Find camera shared live video streams
      tags:
      - Camera Webservice
  /api/camera/findSharedVideoWalls:
    post:
      description: Get list of all shares for a video wall
      operationId: findSharedVideoWalls
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_FindSharedVideoWallsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera_FindSharedVideoWallsWSResponse'
          description: OK
      summary: Find shared video walls
      tags:
      - Camera Webservice
  /api/camera/generateBatchRegistrationInfo:
    post:
      description: Create camera registration information for QR code generation
      operationId: generateBatchRegistrationInfo
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_GenerateBatchRegistrationInfoRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera_GenerateBatchRegistrationInfoResponse'
          description: OK
      summary: Generate batch registration info
      tags:
      - Camera Webservice
  /api/camera/generateWifiChangeAuthorizationToken:
    post:
      description: Create a change wifi request for QR code generation
      operationId: generateWifiChangeAuthorizationToken
      parameters:
      - in: header
        name: RHOMBUS_MY_IP
        schema:
          type:
          - string
          - 'null'
          default: ''
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_GenerateWifiChangeAuthorizationTokenWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera_GenerateWifiChangeAuthorizationTokenWSResponse'
          description: OK
      summary: Generate WiFi change authorization token
      tags:
      - Camera Webservice
  /api/camera/getBatchRegistrationUsage:
    post:
      description: Get detailed usage information for a registration token
      operationId: getBatchRegistrationUsage
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_GetBatchRegistrationTokenUsageRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera_GetBatchRegistrationTokenUsageResponse'
          description: OK
      summary: Get batch registration usage
      tags:
      - Camera Webservice
  /api/camera/getCameraAIThresholds:
    post:
      description: Get AI normalized confidence thresholds for a camera
      operationId: getCameraAIThresholds
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_GetCameraAIThresholdsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera_GetCameraAIThresholdsWSResponse'
          description: OK
      summary: Get camera AI thresholds
      tags:
      - Camera Webservice
  /api/camera/getCloudArchivedMediaInfo:
    post:
      description: Get information on archived video for specified camera
      operationId: getCloudArchivedMediaInfo
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_GetCloudArchivedMediaInfoWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera_GetCloudArchivedMediaInfoWSResponse'
          description: OK
      summary: Get cloud archived media info
      tags:
      - Camera Webservice
  /api/camera/getCloudArchivingConfig:
    post:
      description: Get the cloud archiving scheduling config applicable to a camera
      operationId: getCloudArchivingConfig
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_GetCloudArchivingConfigWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera_GetCloudArchivingConfigWSResponse'
          description: OK
      summary: Get cloud archiving config
      tags:
      - Camera Webservice
  /api/camera/getConfig:
    post:
      deprecated: true
      description: Get a camera's config
      operationId: getCameraConfig
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_GetConfigWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera_GetConfigWSResponse'
          description: OK
      summary: Get camera config
      tags:
      - Camera Webservice
  /api/camera/getCurrentState:
    post:
      deprecated: true
      description: Use /getFullCameraState instead
      operationId: getCurrentCameraState
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_GetCurrentStateWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera_GetCurrentStateWSResponse'
          description: OK
      summary: Get current camera state
      tags:
      - Camera Webservice
  /api/camera/getCustomFootageSeekpointsV2:
    post:
      description: Get activity seekpoints for specified camera
      operationId: getCustomFootageSeekpointsV2
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_GetCustomFootageSeekpointsV2WSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera_GetCustomFootageSeekpointsV2WSResponse'
          description: OK
      summary: Get custom footage seekpoints V2
      tags:
      - Camera Webservice
  /api/camera/getDetails:
    post:
      description: Get hardware details of multiple cameras
      operationId: getCameraDetails
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_GetCameraDetailsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera_GetCameraDetailsWSResponse'
          description: OK
      summary: Get camera details
      tags:
      - Camera Webservice
  /api/camera/getFootageBoundingBoxes:
    post:
      description: 'Get object bounding boxes for a specified camera. Note: bounding box values are given as permyriad shorts relative to image.  To convert to absolute pixel values, use the following: abs_pix = (rel_permyriad / 10000) * image_dim'
      operationId: getCameraFootageBoundingBoxes
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_GetFootageBoundingBoxesWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera_GetFootageBoundingBoxesWSResponse'
          description: OK
      summary: Get footage bounding boxes
      tags:
      - Camera Webservice
  /api/camera/getFootageBoundingBoxesForMultiple:
    post:
      description: 'Get object bounding boxes for multiple cameras. Note: bounding box values are given as permyriad shorts relative to image.  To convert to absolute pixel values, use the following: abs_pix = (rel_permyriad / 10000) * image_dim'
      operationId: getFootageBoundingBoxesForMultiple
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_GetFootageBoundingBoxesForMultipleWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera_GetFootageBoundingBoxesForMultipleWSResponse'
          description: OK
      summary: Get footage bounding boxes for multiple cameras
      tags:
      - Camera Webservice
  /api/camera/getFootageSeekpointsForMultiple:
    post:
      description: Get activity seekpoints for multiple cameras
      operationId: getFootageSeekpointsForMultiple
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_GetFootageSeekpointsForMultipleWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera_GetFootageSeekpointsForMultipleWSResponse'
          description: OK
      summary: Get footage seekpoints for multiple cameras
      tags:
      - Camera Webservice
  /api/camera/getFootageSeekpointsV2:
    post:
      description: Get activity seekpoints for specified camera
      operationId: getCameraFootageSeekpointsV2
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_GetFootageSeekpointsV2WSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera_GetFootageSeekpointsV2WSResponse'
          description: OK
      summary: Get footage seekpoints V2
      tags:
      - Camera Webservice
  /api/camera/getFullCameraState:
    post:
      description: Get detailed information about state of specified camera
      operationId: getFullCameraState
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_GetFullCameraStateWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera_GetFullCameraStateWSResponse'
          description: OK
      summary: Get full camera state
      tags:
      - Camera Webservice
  /api/camera/getMediaUris:
    post:
      description: Get media uris for camera to retrieve footage
      operationId: getCameraMediaUris
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_GetMediaUrisWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera_GetMediaUrisWSResponse'
          description: OK
      summary: Get camera media URIs
      tags:
      - Camera Webservice
  /api/camera/getMinimalCameraLocationMap:
    post:
      description: Get basic information about all cameras and their locations in organization
      operationId: getMinimalCameraLocationMap
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_GetMinimalCameraLocationMapWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera_GetMinimalCameraLocationMapWSResponse'
          description: OK
      summary: Get minimal camera location map
      tags:
      - Camera Webservice
  /api/camera/getMinimalCameraStateList:
    post:
      description: Get basic state information about all cameras in organization
      operationId: getMinimalCameraStateList
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_GetMinimalCameraStateListWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera_GetMinimalCameraStateListWSResponse'
          description: OK
      summary: Get minimal camera state list
      tags:
      - Camera Webservice
  /api/camera/getMinimalList:
    post:
      deprecated: true
      description: Use /getMinimalCameraStateList instead
      operationId: getCameraMinimalList
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_GetMinimalListWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera_GetMinimalListWSResponse'
          description: OK
      summary: Get minimal camera list
      tags:
      - Camera Webservice
  /api/camera/getOfflineLanStreamingInfo:
    post:
      description: Get required information for offline lan streaming on all cameras
      operationId: getCameraOfflineLanStreamingInfo
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_GetOfflineLanStreamingInfoWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera_GetOfflineLanStreamingInfoWSResponse'
          description: OK
      summary: Get camera offline LAN streaming info
      tags:
      - Camera Webservice
  /api/camera/getPresenceWindows:
    post:
      description: Get stored video information for camera
      operationId: getCameraPresenceWindows
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_GetPresenceWindowsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera_GetPresenceWindowsWSResponse'
          description: OK
      summary: Get camera presence windows
      tags:
      - Camera Webservice
  /api/camera/getRawHttpStreams:
    post:
      description: Get info for all raw HTTP streams from a camera
      operationId: getCameraRawHttpStreams
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Common_devices_rawstream_GetRawHttpStreamsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_devices_rawstream_GetRawHttpStreamsWSResponse'
          description: OK
      summary: Get camera raw HTTP streams
      tags:
      - Camera Webservice
  /api/camera/getStorageRecoveryFile:
    post:
      description: Get a file that contains information required to recover the media from the SD card of a damaged camera
      operationId: getStorageRecoveryFile
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_GetStorageRecoveryFileWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera_GetStorageRecoveryFileWSResponse'
          description: OK
      summary: Get storage recovery file
      tags:
      - Camera Webservice
  /api/camera/getUptimeWindows:
    post:
      description: Get uptime information for camera
      operationId: getUptimeWindows
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_GetUptimeWindowsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera_GetUptimeWindowsWSResponse'
          description: OK
      summary: Get camera uptime windows
      tags:
      - Camera Webservice
  /api/camera/getUptimeWindowsForOrg:
    post:
      description: Get uptime windows for all (or selected) cameras in the organization in a single call
      operationId: getUptimeWindowsForOrg
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Common_devices_GetUptimeWindowsForOrgWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_devices_GetUptimeWindowsForOrgWSResponse'
          description: OK
      summary: Get camera uptime windows in batch
      tags:
      - Camera Webservice
  /api/camera/getVideoWalls:
    post:
      description: Get list of video walls available for client
      operationId: getVideoWalls
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_GetVideoWallsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera_GetVideoWallsWSResponse'
          description: OK
      summary: Get video walls
      tags:
      - Camera Webservice
  /api/camera/ptzMove:
    post:
      description: Move a first-party mechanical PTZ camera by permyriad delta
      operationId: ptzMoveCamera
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_CameraPTZMoveWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera_CameraPTZMoveWSResponse'
          description: OK
      summary: PTZ move
      tags:
      - Camera Webservice
  /api/camera/reboot:
    post:
      description: Send reboot command to camera
      operationId: rebootCamera
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_RebootCameraWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera_RebootCameraWSResponse'
          description: OK
      summary: Reboot camera
      tags:
      - Camera Webservice
  /api/camera/revertCameraSettingsToDefaults:
    post:
      operationId: revertCameraSettingsToDefaults
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_RevertCameraToDefaultsWSRequest'
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera_RevertCameraToDefaultsWSResponse'
          description: default response
      tags:
      - Camera Webservice
  /api/camera/revertDayImageSettingsToDefaults:
    post:
      operationId: revertDayImageSettingsToDefaults
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_RevertCameraToDefaultsWSRequest'
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera_RevertCameraToDefaultsWSResponse'
          description: default response
      tags:
      - Camera Webservice
  /api/camera/revertNightImageSettingsToDefaults:
    post:
      operationId: revertNightImageSettingsToDefaults
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_RevertCameraToDefaultsWSRequest'
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera_RevertCameraToDefaultsWSResponse'
          description: default response
      tags:
      - Camera Webservice
  /api/camera/revertToDefaults:
    post:
      operationId: revertToDefaults
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_RevertCameraToDefaultsWSRequest'
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera_RevertCameraToDefaultsWSResponse'
          description: default response
      tags:
      - Camera Webservice
  /api/camera/updateCameraAIThresholds:
    post:
      description: Update AI confidence thresholds for a camera
      operationId: updateCameraAIThresholds
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_UpdateCameraAIThresholdsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera_UpdateCameraAIThresholdsWSResponse'
          description: OK
      summary: Update camera AI thresholds
      tags:
      - Camera Webservice
  /api/camera/updateCameraLineCrossingThresholds:
    post:
      description: Updates the line-crossing feature for a camera. Accepts two points which define a line that determines the threshold for which INGRESS and EGRESS events will be generated. Consider the top-left corner of a camera's image to be the origin (0,0).
      operationId: updateCameraLineCrossingThresholds
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_UpdateCameraLineCrossingThresholdsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera_UpdateCameraLineCrossingThresholdsWSResponse'
          description: OK
      summary: Update camera line crossing thresholds
      tags:
      - Camera Webservice
  /api/camera/updateConfig:
    post:
      deprecated: true
      description: Update a camera's config
      operationId: updateCameraConfig
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_UpdateConfigWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_devices_UpdateConfigWSResponse'
          description: OK
      summary: Update camera config
      tags:
      - Camera Webservice
  /api/camera/updateDetails:
    post:
      deprecated: true
      description: Update hardware details of camera
      operationId: updateCameraDetails
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_UpdateCameraWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera_UpdateCameraWSResponse'
          description: OK
      summary: Update camera details
      tags:
      - Camera Webservice
  /api/camera/updateDetailsBulkV2:
    post:
      description: Update hardware details of multiple cameras in bulk
      operationId: updateDetailsBulkV2
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_UpdateCamerasBulkV2WSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera_UpdateCameraV2WSResponse'
          description: OK
      summary: Update camera details bulk V2
      tags:
      - Camera Webservice
  /api/camera/updateDetailsV2:
    post:
      description: Update hardware details of camera.
      operationId: updateCameraDetailsV2
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_UpdateCameraV2WSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera_UpdateCameraV2WSResponse'
          description: OK
      summary: Update camera details V2
      tags:
      - Camera Webservice
  /api/camera/updateFirmware:
    post:
      description: Send command to update firmware to camera
      operationId: updateFirmware
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_UpdateCameraFirmwareWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera_UpdateCameraFirmwareWSResponse'
          description: OK
      summary: Update camera firmware
      tags:
      - Camera Webservice
  /api/camera/updateVideoWalls:
    post:
      description: Update a video wall
      operationId: updateVideoWalls
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_UpdateVideoWallWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera_UpdateVideoWallWSResponse'
          description: OK
      summary: Update video walls
      tags:
      - Camera Webservice
  /api/camera/updateWifi:
    post:
      description: Send a command to update wifi on specified connected cameras
      operationId: updateCameraWifi
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Camera_UpdateWifiWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera_UpdateWifiWSResponse'
          description: OK
      summary: Update camera WiFi
      tags:
      - Camera Webservice
components:
  schemas:
    Camera_GetVideoWallsWSRequest:
      type: object
      description: Request to retrieve all video wall configurations.
    LEDModeEnum:
      type: string
      enum:
      - LED_OFF
      - LED_RED_SOLID
      - LED_GREEN_SOLID
      - LED_ORANGE_SOLID
      - LED_RED_BLINK
      - LED_GREEN_BLINK
      - LED_ORANGE_BLINK
      - LED_NORMAL
    CameraVisualTamperConfigType:
      type: object
      properties:
        analyze_fps:
          type:
          - integer
          - 'null'
          format: int32
        analyze_res:
          type:
          - integer
          - 'null'
          format: int32
        canny_thresh:
          type:
          - number
          - 'null'
          format: float
        edge_cov_diff_thresh:
          type:
          - number
          - 'null'
          format: float
        enabled:
          type:
          - boolean
          - 'null'
        long_buf_size:
          type:
          - integer
          - 'null'
          format: int32
        short_buf_size:
          type:
          - integer
          - 'null'
          format: int32
    Camera_FindAllSharedLiveVideoStreamsWSRequest:
      type: object
      description: Request to find all shared live video streams.
    Camera_GenerateWifiChangeAuthorizationTokenWSResponse:
      type: object
      description: Response containing a WiFi change authorization token.
      properties:
        authorizationToken:
          type:
          - array
          - 'null'
          description: Authorization token for WiFi change
          items:
            type:
            - string
            - 'null'
            format: byte
            description: Authorization token for WiFi change
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        warningMsg:
          type:
          - string
          - 'null'
    Camera_CreateVideoWallWSRequest:
      type: object
      description: Request to create a video wall.
      properties:
        videoWall:
          $ref: '#/components/schemas/VideoWallType'
    Common_devices_CalibrateFloorplanProjectionWSRequest:
      type: object
      description: Request to calibrate floorplan projection for a device.
      properties:
        cameraImagePointsPermyriad:
          type:
          - array
          - 'null'
          description: List of camera image points in permyriad coordinates
          items:
            type:
            - array
            - 'null'
            description: List of camera image points in permyriad coordinates
            items:
              type:
              - integer
              - 'null'
              format: int32
              description: List of camera image points in permyriad coordinates
        deviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        floorplanImagePointsPermyriad:
          type:
          - array
          - 'null'
          description: List of floorplan image points in permyriad coordinates
          items:
            type:
            - array
            - 'null'
            description: List of floorplan image points in permyriad coordinates
            items:
              type:
              - integer
              - 'null'
              format: int32
              description: List of floorplan image points in permyriad coordinates
    Camera_UpdateCameraLineCrossingThresholdsWSRequest_Coordinate:
      type: object
      description: (X,Y) coordinate expressed as a percentage of the camera's resolution.Minimum range is 0.1 and maximum range is 0.9. Leaving this value as null will disable line-crossing.
      properties:
        x:
          type:
          - number
          - 'null'
          format: float
          description: Value ranges from 0.1 to 0.9
          example: 0.5
        y:
          type:
          - number
          - 'null'
          format: float
          description: Value ranges from 0.1 to 0.9
          example: 0.5
    PointType:
      type: object
      properties:
        x:
          type:
          - integer
          - 'null'
          format: int32
        y:
          type:
          - integer
          - 'null'
          format: int32
    Camera_CameraPTZMoveWSRequest:
      type: object
      description: Request object for moving a Rhombus first-party mechanical PTZ camera.
      properties:
        cameraUuid:
          type:
          - string
          - 'null'
          format: DeviceFacetUuid
          description: RUUID with optional appended facet information
          example: AAAAAAAAAAAAAAAAAAAAAA.v0
        xmovementPermyriad:
          type:
          - integer
          - 'null'
          format: int32
          description: X-axis movement in permyriad units
          example: 1000
        ymovementPermyriad:
          type:
          - integer
          - 'null'
          format: int32
          description: Y-axis movement in permyriad units
          example: 1000
        zmovementPermyriad:
          type:
          - integer
          - 'null'
          format: int32
          description: Z-axis movement in permyriad units
          example: 1000
    Camera_GetPresenceWindowsWSRequest:
      type: object
      description: Request to retrieve presence windows for a camera within a time range.
      properties:
        cameraUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        durationSec:
          type:
          - integer
          - 'null'
          format: int64
          description: Duration in seconds
          example: 3600
        startTimeSec:
          type:
          - integer
          - 'null'
          format: int64
          description: Start time in seconds since epoch
          example: 1640995200
    Camera_SharedVideoWallWS:
      type: object
      description: List of shared video walls
      properties:
        deviceScheduleMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/DeviceSchedule'
        expirationTime:
          type:
          - integer
          - 'null'
          format: int32
        hideOverlay:
          type:
          - boolean
          - 'null'
        invertSchedule:
          type:
          - boolean
          - 'null'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        passwordProtected:
          type:
          - boolean
          - 'null'
        permissionGroupUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        scheduleUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        sharedVideoWallUrl:
          type:
          - string
          - 'null'
        timestampMs:
          type:
          - integer
          - 'null'
          format: int64
        unscheduledMessage:
          type:
          - string
          - 'null'
        uuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        videoWallUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        vodEnabled:
          type:
          - boolean
          - 'null'
    Camera_GetFullCameraStateWSResponse:
      type: object
      description: Response containing the full state information of a camera.
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        fullCameraState:
          $ref: '#/components/schemas/FullDeviceStateType'
        warningMsg:
          type:
          - string
          - 'null'
    Camera_GetCameraAIThresholdsWSRequest:
      type: object
      description: Request to retrieve AI thresholds for a camera.
      properties:
        cameraUuid:
          type:
          - string
          - 'null'
          format: DeviceFacetUuid
          description: RUUID with optional appended facet information
          example: AAAAAAAAAAAAAAAAAAAAAA.v0
    Camera_GetOfflineLanStreamingInfoWSRequest:
      type: object
      description: Request to retrieve offline LAN streaming information for cameras.
    Common_devices_GetUptimeWindowsForOrgWSResponse:
      type: object
      description: Response containing uptime windows for many devices.
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        uptimeByDevice:
          type:
          - array
          - 'null'
          description: Uptime windows per device
          items:
            $ref: '#/components/schemas/Common_devices_DeviceUptimeWindowsType'
        warningMsg:
          type:
          - string
          - 'null'
    Common_devices_rawstream_CreateRawHttpStreamWSRequest:
      type: object
      description: Request to create a raw HTTP stream for a device.
      properties:
        deviceUuid:
          type:
          - string
          - 'null'
          format: DeviceFacetUuid
          description: RUUID with optional appended facet information
          example: AAAAAAAAAAAAAAAAAAAAAA.v0
        rawStreamName:
          type:
          - string
          - 'null'
          description: Name for the raw stream
          example: my_raw_stream
        streamType:
          $ref: '#/components/schemas/StreamTypeEnum'
    CloudArchivingStrategyEnum:
      type: string
      enum:
      - WEEKLY_SCHEDULED
      - CONTINUOUS
    Camera_DeleteCameraWSRequest:
      type: object
      description: Request to delete a camera from the system.
      properties:
        cameraUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        mummify:
          type:
          - boolean
          - 'null'
          description: Whether to mummify the camera instead of permanent deletion
          example: false
    DeviceFacetEnum:
      type: string
      format: DeviceFacet
      description: facet information for media
      enum:
      - ''
      - v0
      - v1
      - v2
      - v3
      - a0
      - v4
      - v5
      - v6
      - v7
      - v8
      - v9
      - v10
      - v11
      - v12
      - v13
      - v14
      - v15
      - v16
      - v17
      - v18
      - v19
      - v20
      - v21
      - v22
      - v23
      - v24
      - v25
      - v26
      - v27
      - v28
      - v29
      - v30
      - v31
      - v32
      - v33
      - v34
      - v35
      - v36
      - v37
      - v38
      - v39
      - v40
      - v41
      - v42
      - v43
      - v44
      - v45
      - v46
      - v47
      - v48
      - v49
      - v50
      - v51
      - a1
      - a2
      - a3
      - a4
      - a5
      - a6
      - a7
      - a8
      - a9
      - a10
      - a11
      - a12
      - a13
      - a14
      - a15
      - a16
      - a17
      - a18
      - a19
      - a20
      - a21
      - a22
      - a23
      - a24
      - a25
      - a26
      - a27
      - a28
      - a29
      - a30
      - a31
      - a32
      - a33
      - a34
      - a35
      - a36
      - a37
      - a38
      - a39
      - a40
      - a41
      - a42
      - a43
      - a44
      - a45
      - a46
      - a47
      - a48
      - a49
      - a50
      - a51
      example: v0, a0
    StreamTypeEnum:
      type: string
      enum:
      - USER
      - ALARM_MONITORING
      - DICE
      - LUMEO
      - INFORMACAST
      - RAPIDSOS
      - UNKNOWN
    Camera_GetMinimalListWSRequest:
      type: object
      description: Request to retrieve a minimal list of cameras (deprecated).
      properties:
        includeMummified:
          type:
          - boolean
          - 'null'
          description: Whether to include mummified cameras in the response
          example: false
    CameraAiDewarpConfigType:
      type: object
      properties:
        dewarp_tile_height:
          type:
          - integer
          - 'null'
          format: int32
        dewarp_tile_width:
          type:
          - integer
          - 'null'
          format: int32
        orientation:
          type:
          - integer
          - 'null'
          format: int32
    DeviceTargetScopeEnum:
      type: string
      enum:
      - ORG
      - LOCATION
      - DEVICE
    CrossingObjectEnum:
      type: string
      enum:
      - HUMAN
      - VEHICLE
      - FACE
      - LPR
      - POSE
      - CLIP_EMBED
      - UNKNOWN
    Camera_DeleteSharedVideoWallWSRequest:
      type: object
      description: Request to delete a shared video wall.
      properties:
        uuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        videoWallUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    Camera_GetFootageBoundingBoxesWSRequest:
      type: object
      description: Request to retrieve footage bounding boxes for a camera within a time range.
      properties:
        cameraUuid:
          type:
          - string
          - 'null'
          format: DeviceFacetUuid
          description: RUUID with optional appended facet information
          example: AAAAAAAAAAAAAAAAAAAAAA.v0
        duration:
          type:
          - integer
          - 'null'
          format: int32
          description: Duration in seconds
          example: 3600
        startTime:
          type:
          - integer
          - 'null'
          format: int64
          description: Start time in seconds since epoch
          example: 1640995200
    Camera_GetCurrentStateWSResponse:
      type: object
      description: Response containing the current state of a camera (deprecated).
      properties:
        cameraState:
          $ref: '#/components/schemas/Camera_CameraCurrentStateType'
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        warningMsg:
          type:
          - string
          - 'null'
    Camera_GetMinimalListWSResponse:
      type: object
      description: Response containing a minimal list of cameras (deprecated).
      properties:
        cameras:
          type:
          - array
          - 'null'
          description: List of minimal camera information
          items:
            $ref: '#/components/schemas/Camera_MinimalCameraType'
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        warningMsg:
          type:
          - string
          - 'null'
    RegionConfigType:
      type:
      - object
      - 'null'
      properties:
        inverted:
          type:
          - boolean
          - 'null'
        polygons:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RegionPolygonType'
    SensorValType:
      type: object
      properties:
        sensorBoolean:
          type:
          - boolean
          - 'null'
        sensorDouble:
          type:
          - number
          - 'null'
          format: double
        sensorLong:
          type:
          - integer
          - 'null'
          format: int64
    CameraMountingDirectionEnum:
      type: string
      enum:
      - DOWN
      - UP
      - SIDEWAYS
      - UNKNOWN
    Camera_FindSharedVideoWallsWSResponse:
      type: object
      description: Response containing shared video walls for a video wall.
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        sharedVideoWalls:
          type:
          - array
          - 'null'
          description: List of shared video walls
          items:
            $ref: '#/components/schemas/Camera_SharedVideoWallWS'
        warningMsg:
          type:
          - string
          - 'null'
    Camera_RebootCameraWSResponse:
      type: object
      description: Response from rebooting a camera device.
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        status:
          $ref: '#/components/schemas/Camera_RebootWSResponseStatus'
        warningMsg:
          type:
          - string
          - 'null'
    ActivityEnum:
      type: string
      enum:
      - SOUND_LOUD
      - SOUND_GUN_SHOT
      - TAMPER
      - VISUAL_TAMPER
      - MOTION_TAMPER
      - MOTION
      - MOTION_HUMAN
      - MOTION_CAR
      - MOTION_ANIMAL
      - FACE
      - FACE_IDENTIFIED
      - FACE_UNIDENTIFIED
      - FACE_BLACKLISTED
      - FACE_ALERT
      - POSE_ANOMALOUS
      - POSE_FALL
      - LICENSEPLATE
      - LICENSEPLATE_IDENTIFIED
      - LICENSEPLATE_UNIDENTIFIED
      - LICENSEPLATE_ALERT
      - LICENSEPLATE_BLACKLISTED
      - LICENSEPLATE_TRUSTED
      - PEOPLECOUNT_HIGH
      - PEOPLECOUNT_HIGH_RESET
      - PEOPLECOUNT_LOW
      - PEOPLECOUNT_LOW_RESET
      - HUMAN_ENTER
      - HUMAN_EXIT
      - CAR_ENTER
      - CAR_EXIT
      - TEMPERATURE_EXCEEDED_HIGH
      - TEMPERATURE_EXCEEDED_LOW
      - HUMIDITY_EXCEEDED_HIGH
      - HUMIDITY_EXCEEDED_LOW
      - PM25_EXCEEDED_HIGH
      - TVOC_EXCEEDED_HIGH
      - ETOH_EXCEEDED_HIGH
      - IAQ_EXCEEDED_HIGH
      - CO2_EXCEEDED_HIGH
      - CO2_EXCEEDED_LOW
      - PROBE_TEMPERATURE_EXCEEDED_HIGH
      - PROBE_TEMPERATURE_EXCEEDED_LOW
      - PROBE_DISCONNECTED
      - PROBE_CONNECTED
      - HEAT_INDEX_EXCEEDED_HIGH
      - PRESSURE_EXCEEDED_HIGH
      - PRESSURE_EXCEEDED_LOW
      - PM10_EXCEEDED_HIGH
      - PM40_EXCEEDED_HIGH
      - PM100_EXCEEDED_HIGH
      - VOC_IDX_EXCEEDED_HIGH
      - NOX_IDX_EXCEEDED_HIGH
      - FORMALDEHYDE_EXCEEDED_HIGH
      - CARBON_MONOXIDE_EXCEEDED_HIGH
      - AQI_EXCEEDED_HIGH
      - DOOR_AJAR
      - DOOR_OPENED
      - DOOR_CLOSED
      - BUTTON_SINGLE_PRESSED
      - BUTTON_DOUBLE_PRESSED
      - BUTTON_LONG_PRESSED
      - TAG_ARRIVED
      - TAG_DEPARTED
      - TAG_MOVED
      - TAG_POSITIONING_CHANGED
      - TAG_BOUNDARY_INGRESS
      - TAG_BOUNDARY_EGRESS
      - TAG_PANIC
      - BADGE_AUTHORIZED
      - BADGE_UNAUTHORIZED
      - BADGE_UNAUTHORIZED_V2
      - BADGE_AJAR
      - BADGE_MANUAL
      - BADGE_FORCED_OPEN
      - BADGE_LOCKDOWN
      - BADGE_REQUEST_TO_EXIT
      - BADGE_DURESS
      - BADGE_SECURITY_BREACH
      - BADGE_TAMPER
      - BADGE_FACE_MISMATCH
      - POS_ORDER
      - GUN_DETECT_EVENT
      - IOT_SOUND_AGGRESSION
      - IOT_SOUND_HELP
      - IOT_AIR_CO
      - IOT_AIR_CO2
      - IOT_AIR_MASKING
      - IOT_AIR_THC
      - IOT_AIR_VAPE
      - IOT_AIR_VOC
      - IOT_AIR_TEMP
      - IOT_TAMPER
      - IOT_GUNSHOT
      - IOT_BUTTON_SINGLE_CLICK
      - IOT_BUTTON_DOUBLE_CLICK
      - IOT_BUTTON_HOLD
      - IOT_PANIC_BUTTON_TRIGGERED
      - AUDIO_SOUND_SIGNIFICANT
      - AUDIO_SOUND_LOUD
      - AUDIO_SOUND_ABUSIVE
      - AUDIO_SOUND_GREETING
      - AUDIO_SOUND_HELP
      - AUDIO_SOUND_GUN
      - AUDIO_SOUND_GLASS_BREAK
      - AUDIO_SOUND_ALARM_SMOKE_FIRE
      - AUDIO_SOUND_ALARM_CARBON_MONOXIDE
      - AUDIO_SOUND_SIREN
      - CLIMATE_VOC
      - CLIMATE_VAPE
      - CLIMATE_SMOKE
      - CLIMATE_THC
      - CLIMATE_CO2
      - CLIMATE_ETOH
      - CLIMATE_PM25
      - CLIMATE_IAQ
      - CLIMATE_LEAK
      - SOUND_AGGRESSION
      - SOUND_HELP
      - AIR_CO
      - AIR_CO2
      - AIR_MASKING
      - AIR_THC
      - AIR_VAPE
      - AIR_VOC
      - MASK_MISSING
      - HELMET_MISSING
      - GLOVES_MISSING
      - PIR_OCCUPIED
      - PIR_MOVEMENT
      - PIR_VACANT
      - CUSTOM
      - VISITOR_ARRIVED
      - VISITOR_DEPARTED
      - AC_DR_CONNECTED
      - AC_DR_DISCONNECTED
      - AC_DPI_DOOR_OPEN
      - AC_DPI_DOOR_CLOSED
      - AC_DPI_DOOR_AJAR
      - AC_DPI_DOOR_FORCED_OPEN
      - AC_DSR_UNLOCKED
      - AC_DSR_LOCKED
      - AC_DB_TRIGGERED
      - AC_PANIC_BUTTON_TRIGGERED
      - AC_REMOTE_UNLOCK
      - AC_BADGE_AUTHORIZED
      - AC_BADGE_UNAUTHORIZED
      - AC_BADGE_FACE_MISMATCH
      - AC_LOCKDOWN_ACTIVATED
      - AC_LOCKDOWN_DEACTIVATED
      - AC_TAMPER_PROX
      - AC_TAMPER_ACCEL
      - AC_TAMPER_SWITCH
      - AC_GR_ACTIVE
      - AC_GR_INACTIVE
      - AC_GI_ACTIVE
      - AC_GI_INACTIVE
      - AC_REX_ACTIVE
      - AC_REX_INACTIVE
      - AC_APERIO_DEVICE_DISCONNECTED
      - AC_APERIO_DEVICE_CONNECTED
      - AC_APERIO_DEVICE_REBOOT
      - AC_APERIO_DEVICE_TAMPER
      - AC_APERIO_LOW_BATTERY
      - AC_APERIO_FLAT_BATTERY
      - AC_APERIO_OK_BATTERY
      - POWER_SWITCH_BATTERY
      - POWER_SWITCH_PRIMARY
      - AI_SEARCH_MATCH
      - CUSTOM_LLM_BOOLEAN_TRUE
      - CUSTOM_LLM_BOOLEAN_FALSE
      - CUSTOM_LLM_THRESHOLD_EXCEEDED_LOW
      - CUSTOM_LLM_THRESHOLD_EXCEEDED_HIGH
      - ALM_AUTHORITIES_CONTACTED
      - ALM_MONITORING_ENABLED
      - ALM_MONITORING_DISABLED
      - ALM_MONITORING_SETTINGS_CHANGE
      - ALM_THREAT_CASE_CLOSED
      - ALM_THREAT_DETECTED
      - ALM_MONITORING_EVENT_DETECTED
      - ROBOT_DOG_DETECTED
      - ROBOT_ARRIVED_AT_WAYPOINT
      - ROBOT_ARRIVED_AT_POSE
      - ROBOT_WAITING_AT_POSE
      - ROBOT_MANUAL_CMD_VEL
      - ROBOT_MANUAL_ACTION
      - ROBOT_MANUAL_POSTURE
      - ROBOT_NAVIGATE_TO_POSE_START
      - ROBOT_NAVIGATE_TO_POSE_END
      - ROBOT_NAVIGATE_TO_HOME_START
      - ROBOT_NAVIGATE_TO_HOME_END
      - ROBOT_NAVIGATE_TO_WAYPOINT_START
      - ROBOT_NAVIGATE_TO_WAYPOINT_END
      - ROBOT_ROUTE_RUN_START
      - ROBOT_ROUTE_RUN_END
      - ROBOT_LOW_BATTERY_DOCKING
      - ROBOT_IDLE_DOCKING
      - ROBOT_EMERGENCY
      - LOITER_HUMAN
      - REID_HUMAN
      - INACTIVITY_HUMAN
      - INACTIVITY_CAR
      - ONGUARD_BADGE_AUTHORIZED
      - ONGUARD_BADGE_ANOMALY
      - ONGUARD_NO_ENTRY_MADE
      - ELEMENTS_BADGE_AUTHORIZED
      - ELEMENTS_BADGE_ANOMALY
      - ELEMENTS_NO_ENTRY_MADE
      - NETBOX_BADGE_AUTHORIZED
      - NETBOX_BADGE_ANOMALY
      - NETBOX_NO_ENTRY_MADE
      - THERMAL_TEMPERATURE_ALARM
      - THERMAL_TEMPERATURE_WARNING
      - THERMAL_FIRE_DETECTED
      - THERMAL_SMOKING_DETECTED
      - THERMAL_FIRE_VERIFIED
      - THERMAL_HEAT_NO_THREAT
      - THERMAL_VISUAL_HOTSPOT
      - THERMAL_VISUAL_HEAT_RISE
      - THERMAL_VISUAL_WARM_BODY
      - UNKNOWN
    Camera_GetFullCameraStateWSRequest:
      type: object
      description: Request to retrieve the full state information of a camera.
      properties:
        cameraUuid:
          type:
          - string
          - 'null'
          format: DeviceFacetUuid
          description: RUUID with optional appended facet information
          example: AAAAAAAAAAAAAAAAAAAAAA.v0
        force:
          type:
          - boolean
          - 'null'
          description: Whether to force a refresh of the camera state
          example: false
    ToastOrderIdType:
      type: object
      properties:
        employeeName:
          type:
          - string
          - 'null'
        guid:
          type:
          - string
          - 'null'
        locationName:
          type:
          - string
          - 'null'
        restaurantName:
          type:
          - string
          - 'null'
        toastCheckInfo:
          $ref: '#/components/schemas/ToastCheckInfo'
    SeekpointIndexType:
      type: object
      description: Matching integration access events. Each carries timestamp, device/location, the event label (customDisplayName), the cardholder name, badge status/type, entering/exiting area, entryMade, and alert (anomaly) flag.
      properties:
        alert:
          type:
          - boolean
          - 'null'
        areaEntering:
          type:
          - string
          - 'null'
        areaExiting:
          type:
          - string
          - 'null'
        badgeStatus:
          type:
          - string
          - 'null'
        badgeType:
          type:
          - string
          - 'null'
        cardholderName:
          type:
          - string
          - 'null'
        compositComponentUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        customDescription:
          type:
          - string
          - 'null'
        customDisplayName:
          type:
          - string
          - 'null'
        deviceUuid:
          type:
          - string
          - 'null'
          format: DeviceFacetUuid
          description: RUUID with optional appended facet information
          example: AAAAAAAAAAAAAAAAAAAAAA.v0
        entryMade:
          type:
          - boolean
          - 'null'
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        objectType:
          $ref: '#/components/schemas/ActivityEnum'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        seekPointType:
          $ref: '#/components/schemas/SeekpointTypeEnum'
        seekpointType:
          $ref: '#/components/schemas/SeekpointTypeEnum'
        subLocationsHierarchyKey:
          type:
          - string
          - 'null'
          format: SubLocationsHierarchyKey
          description: 'A sequence of one or more base 64 (url-safe) uuid substrings.

            These substrings are separated by dots (.).

            '
          example: AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA
          pattern: ^([A-Za-z0-9\-_]{22})([.][A-Za-z0-9\-_]{22})*$
        timestampMs:
          type:
          - integer
          - 'null'
          format: int64
    VideoWallType:
      type: object
      description: Video wall configuration to update
      properties:
        deviceList:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: DeviceFacetUuid
            description: RUUID with optional appended facet information
            example: AAAAAAAAAAAAAAAAAAAAAA.v0
        displayName:
          type:
          - string
          - 'null'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        othersCanEdit:
          type:
          - boolean
          - 'null'
        ownerUserUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        settings:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - object
            - 'null'
        shared:
          type:
          - boolean
          - 'null'
        uuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    Camera_UpdateCameraV2WSResponse:
      type: object
      description: Response indicating the result of updating camera information V2.
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        warningMsg:
          type:
          - string
          - 'null'
    CameraMotorConfigType:
      type: object
      properties:
        af_enabled:
[...]
