openapi: 3.2.0
info:
  contact:
    email: developer@rhombussystems.com
  description: 'This API is for use by Rhombus customers and partners.


    ## Authentication


    All requests require two headers:

    - `x-auth-scheme` — The authentication scheme identifier. Use `api-token` for standard API key auth, or `partner-api-token` for partner API auth.

    - `x-auth-apikey` — Your Rhombus API key.


    Example:

    ```

    POST /api/camera/getMinimalCameraStateList

    x-auth-scheme: api-token

    x-auth-apikey: YOUR_API_KEY

    Content-Type: application/json

    ```'
  title: Rhombus Climate Webservice API
  version: '1.0'
servers:
- description: Production Server
  url: https://api2.rhombussystems.com
security:
- ApiKeyAuth: []
tags:
- name: Climate Webservice
paths:
  /api/climate/deleteEnvironmentalGateway:
    post:
      description: Remove an environmental gateway from the org
      operationId: deleteEnvironmentalGateway
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Climate_DeleteEnvironmentalGatewayWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Climate_DeleteEnvironmentalGatewayWSResponse'
          description: OK
      summary: Delete environmental gateway
      tags:
      - Climate Webservice
  /api/climate/getClimateEventsForSensor:
    post:
      description: Get list of climate events for environmental sensor
      operationId: getClimateEventsForSensor
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Climate_GetClimateEventsForSensorWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Climate_GetClimateEventsForSensorWSResponse'
          description: OK
      summary: Get climate events for environmental sensor
      tags:
      - Climate Webservice
  /api/climate/getClimatePresenceWindows:
    post:
      description: Get stored video information for sensor
      operationId: getClimatePresenceWindows
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Sensor_GetSensorPresenceWindowsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sensor_GetSensorPresenceWindowsWSResponse'
          description: OK
      summary: Get climate presence windows
      tags:
      - Climate Webservice
  /api/climate/getConfig:
    post:
      description: Get the config for a climate sensor
      operationId: getConfig
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Climate_GetClimateSensorConfigWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Climate_GetClimateSensorConfigWSResponse'
          description: OK
      summary: Get climate sensor config
      tags:
      - Climate Webservice
  /api/climate/getEnvironmentalGatewayShadows:
    post:
      description: Get list of shadows of all environmental gateways of an org
      operationId: getEnvironmentalGatewayShadows
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Climate_GetEnvironmentalGatewayShadowsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Climate_GetEnvironmentalGatewayShadowsWSResponse'
          description: OK
      summary: Get environmental gateway shadows
      tags:
      - Climate Webservice
  /api/climate/getEventsForEnvironmentalGateway:
    post:
      description: Get list of events for environmental gateway
      operationId: getEventsForEnvironmentalGateway
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Climate_GetEventsForEnvironmentalGatewayWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Climate_GetEventsForEnvironmentalGatewayWSResponse'
          description: OK
      summary: Get events for environmental gateway
      tags:
      - Climate Webservice
  /api/climate/getMinimalClimateStateList:
    post:
      description: Get basic state information of all environmental sensors
      operationId: getMinimalClimateStateList
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Climate_GetMinimalClimateStatesWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Climate_GetMinimalClimateStatesWSResponse'
          description: OK
      summary: Get minimal climate state list
      tags:
      - Climate Webservice
  /api/climate/getMinimalEnvironmentalGatewayStates:
    post:
      description: Get list of basic states of all environmental gateways of an org
      operationId: getMinimalEnvironmentalGatewayStates
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Climate_GetMinimalEnvironmentalGatewayStatesWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Climate_GetMinimalEnvironmentalGatewayStatesWSResponse'
          description: OK
      summary: Get minimal environmental gateway states
      tags:
      - Climate Webservice
  /api/climate/getMinimalStateEventsForEnvironmentalGateway:
    post:
      description: Get list of events for environmental gateways in minimal state
      operationId: getMinimalStateEventsForEnvironmentalGateway
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Climate_GetEventsForEnvironmentalGatewayWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Climate_GetMinimalEnvironmentalGatewayStatesWSResponse'
          description: OK
      summary: Get minimal state events for environmental gateway
      tags:
      - Climate Webservice
  /api/climate/reboot:
    post:
      description: Send reboot command to environmental gateway
      operationId: rebootEnvironmentalGateway
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Climate_RebootEnvironmentalGatewayWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_devices_RebootDeviceWSResponse'
          description: OK
      summary: Reboot environmental gateway
      tags:
      - Climate Webservice
  /api/climate/updateDetails:
    post:
      description: 'Update details for environmental sensor. Note: uuid is a required field'
      operationId: updateClimateSensorDetails
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Climate_UpdateClimateSensorDetailsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Climate_UpdateClimateSensorDetailsWSResponse'
          description: OK
      summary: Update climate sensor details
      tags:
      - Climate Webservice
  /api/climate/updateEnvironmentalGatewayDetails:
    post:
      description: 'Update details for environmental gateway. Note: uuid is a required field'
      operationId: updateEnvironmentalGatewayDetails
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Climate_UpdateEnvironmentalGatewayDetailsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Climate_UpdateEnvironmentalGatewayDetailsWSResponse'
          description: OK
      summary: Update environmental gateway details
      tags:
      - Climate Webservice
components:
  schemas:
    Climate_UpdateClimateSensorDetailsWSResponse:
      type: object
      description: Response indicating the result of updating environmental sensor details.
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        warningMsg:
          type:
          - string
          - 'null'
    DeviceOrientationEnum:
      type: string
      enum:
      - CEILING
      - FLOOR
      - WALL
      - WALL_CROOKED
      - INDETERMINATE
    Climate_UpdateEnvironmentalGatewayDetailsWSResponse:
      type: object
      description: Response indicating the result of updating environmental gateway details.
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        warningMsg:
          type:
          - string
          - 'null'
    AirQualityIndexPollutantEnum:
      type: string
      description: Primary pollutant affecting air quality index
      enum:
      - OZONE
      - PM2P5
      - PM10P0
      - CO
      - NO2
      - SO2
      - UNKNOWN
    ClipSeekPointV2Type:
      type: object
      description: List of seek points for the clip
      properties:
        activity:
          $ref: '#/components/schemas/ActivityEnum'
        alert:
          type:
          - boolean
          - 'null'
        customActivityColor:
          $ref: '#/components/schemas/FootageSeekPointColorEnum'
        customActivityDescription:
          type:
          - string
          - 'null'
        customActivityDisplayName:
          type:
          - string
          - 'null'
        dcao:
          type:
          - boolean
          - 'null'
        dwelling:
          type:
          - boolean
          - 'null'
        faceName:
          type:
          - string
          - 'null'
        id:
          type:
          - integer
          - 'null'
          format: int32
        inMotion:
          type:
          - boolean
          - 'null'
        licensePlate:
          type:
          - string
          - 'null'
        loudness:
          type:
          - integer
          - 'null'
          format: int32
        pose:
          type:
          - string
          - 'null'
        relativeSecond:
          type:
          - number
          - 'null'
          format: float
        sensorValType:
          $ref: '#/components/schemas/SensorValType'
        stableTrackId:
          type:
          - integer
          - 'null'
          format: int32
        toastOrderIdInfo:
          $ref: '#/components/schemas/ToastOrderIdType'
        tu:
          type:
          - string
          - 'null'
        unidentifiedFaceId:
          type:
          - string
          - 'null'
        vehicleName:
          type:
          - string
          - 'null'
    Climate_DeleteEnvironmentalGatewayWSResponse:
      type: object
      description: Response indicating the result of deleting an environmental gateway.
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        responseStatus:
          $ref: '#/components/schemas/WebResponseStatusEnum'
        warningMsg:
          type:
          - string
          - 'null'
    Climate_GetEventsForEnvironmentalGatewayWSRequest:
      type: object
      description: Request to retrieve events for an environmental gateway.
      properties:
        createdAfterMs:
          type:
          - integer
          - 'null'
          format: int64
          description: Timestamp in milliseconds after which events should be retrieved
          example: 1640991600000
        createdBeforeMs:
          type:
          - integer
          - 'null'
          format: int64
          description: Timestamp in milliseconds before which events should be retrieved
          example: 1640995200000
        deviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        lastEvaluatedKey:
          type:
          - string
          - 'null'
        maxPageSize:
          type:
          - integer
          - 'null'
          format: int32
          description: Maximum number of results to return per page
          example: 50
    PointType:
      type: object
      properties:
        x:
          type:
          - integer
          - 'null'
          format: int32
        y:
          type:
          - integer
          - 'null'
          format: int32
    Climate_MinimalEnvironmentalGatewayStateType:
      type: object
      description: Minimal environmental gateway state information.
      properties:
        activities:
          type:
          - array
          - 'null'
          description: List of detected activities
          items:
            $ref: '#/components/schemas/ActivityEnum'
        airQualityIndex:
          type:
          - integer
          - 'null'
          format: int32
          description: Air quality index value
          example: 45
        airQualityIndexPollutant:
          $ref: '#/components/schemas/AirQualityIndexPollutantEnum'
        alertTriggers:
          type:
          - array
          - 'null'
          description: List of alert triggers
          items:
            $ref: '#/components/schemas/ActivityEnum'
        associatedCameras:
          type:
          - array
          - 'null'
          description: List of associated camera device facet UUIDs
          items:
            type:
            - string
            - 'null'
            format: DeviceFacetUuid
            description: RUUID with optional appended facet information
            example: AAAAAAAAAAAAAAAAAAAAAA.v0
        calibrating:
          type:
          - boolean
          - 'null'
          description: Whether the gateway is currently calibrating
          example: false
        ch2oPpb:
          type:
          - number
          - 'null'
          format: float
          description: Formaldehyde measurement in parts per billion
          example: 15.7
        co2Ppm:
          type:
          - integer
          - 'null'
          format: int32
          description: CO2 measurement in parts per million
          example: 450
        coConcentration:
          type:
          - number
          - 'null'
          format: double
          description: Carbon monoxide concentration
          example: 2.1
        connected:
          type:
          - boolean
          - 'null'
          description: Whether the gateway is connected
          example: true
        createdAtMillis:
          type:
          - integer
          - 'null'
          format: int64
          description: Creation timestamp in milliseconds
          example: 1640995200000
        defaultInterfaceMac:
          type:
          - string
          - 'null'
          description: Default interface MAC address
          example: 00:1A:2B:3C:4D:5E
        deviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        externalIPAddress:
          type:
          - string
          - 'null'
          description: External IP address
          example: 203.0.113.1
        falsePositiveConfidencePercent:
          type:
          - number
          - 'null'
          format: float
          description: False positive confidence percentage
          example: 5.2
        firmwareVersion:
          type:
          - string
          - 'null'
          description: Firmware version
          example: 2.1.5
        floorNumber:
          type:
          - integer
          - 'null'
          format: int32
          description: Floor number
          example: 2
        healthDetails:
          $ref: '#/components/schemas/DeviceHealthStatusDetailsEnum'
        healthStatus:
          $ref: '#/components/schemas/DeviceStatusEnum'
        heatIndexDegF:
          type:
          - number
          - 'null'
          format: double
          description: Heat index in degrees Fahrenheit
          example: 85.2
        heatIndexRangeWarning:
          $ref: '#/components/schemas/HeatIndexRangeWarningEnum'
        hwVariation:
          $ref: '#/components/schemas/HardwareVariationEnum'
        iaq:
          type:
          - number
          - 'null'
          format: float
          description: Indoor Air Quality index
          example: 85.5
        lanAddresses:
          type:
          - array
          - 'null'
          description: List of LAN IP addresses
          items:
            type:
            - string
            - 'null'
            description: List of LAN IP addresses
        latitude:
          type:
          - number
          - 'null'
          format: double
          description: Latitude coordinate
          example: 37.7749
        leakDetected:
          type:
          - boolean
          - 'null'
          description: Whether a leak is detected
          example: false
        leakProbePresent:
          type:
          - boolean
          - 'null'
          description: Whether leak probe is present
          example: true
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        longitude:
          type:
          - number
          - 'null'
          format: double
          description: Longitude coordinate
          example: -122.4194
        name:
          type:
          - string
          - 'null'
          description: Name of the environmental gateway
          example: Main Office Gateway
        nc0p5:
          type:
          - number
          - 'null'
          format: float
          description: Number concentration 0.5 measurement
          example: 120.5
        nc10p0:
          type:
          - number
          - 'null'
          format: float
          description: Number concentration 10.0 measurement
          example: 15.3
        nc1p0:
          type:
          - number
          - 'null'
          format: float
          description: Number concentration 1.0 measurement
          example: 85.2
        nc2p5:
          type:
          - number
          - 'null'
          format: float
          description: Number concentration 2.5 measurement
          example: 45.8
        nc4p0:
          type:
          - number
          - 'null'
          format: float
          description: Number concentration 4.0 measurement
          example: 32.1
        noxIdx:
          type:
          - number
          - 'null'
          format: float
          description: Nitrogen Oxides index
          example: 88.2
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        pm10p0:
          type:
          - number
          - 'null'
          format: float
          description: PM10.0 particulate matter measurement
          example: 18.9
        pm1p0:
          type:
          - number
          - 'null'
          format: float
          description: PM1.0 particulate matter measurement
          example: 8.5
        pm2p5:
          type:
          - number
          - 'null'
          format: float
          description: PM2.5 particulate matter measurement
          example: 12.3
        pm4p0:
          type:
          - number
          - 'null'
          format: float
          description: PM4.0 particulate matter measurement
          example: 15.7
        policyUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        pressure:
          type:
          - number
          - 'null'
          format: float
          description: Pressure measurement
          example: 1013.25
        probeTempC:
          type:
          - number
          - 'null'
          format: float
          description: Temperature probe measurement in Celsius
          example: 24.5
        relHumid:
          type:
          - number
          - 'null'
          format: float
          description: Relative humidity percentage
          example: 45.2
        serialNumber:
          type:
          - string
          - 'null'
          description: Serial number of the environmental gateway
          example: EG-123456789
        smokeConfidencePercent:
          type:
          - number
          - 'null'
          format: float
          description: Smoke detection confidence percentage
          example: 92.8
        smokeTobaccoConfidencePercent:
          type:
          - number
          - 'null'
          format: float
          description: Smoke tobacco detection confidence percentage
          example: 88.1
        subLocationsHierarchyKey:
          type:
          - string
          - 'null'
          format: SubLocationsHierarchyKey
          description: 'A sequence of one or more base 64 (url-safe) uuid substrings.

            These substrings are separated by dots (.).

            '
          example: AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA
          pattern: ^([A-Za-z0-9\-_]{22})([.][A-Za-z0-9\-_]{22})*$
        tempC:
          type:
          - number
          - 'null'
          format: float
          description: Temperature in Celsius
          example: 23.5
        tempProbePresent:
          type:
          - boolean
          - 'null'
          description: Whether temperature probe is present
          example: true
        timestampMs:
          type:
          - integer
          - 'null'
          format: int64
          description: Timestamp in milliseconds
          example: 1640995200000
        typPartSize:
          type:
          - number
          - 'null'
          format: float
          description: Typical particle size measurement
          example: 2.8
        vapeConfidencePercent:
          type:
          - number
          - 'null'
          format: float
          description: Vape detection confidence percentage
          example: 85.5
        vapeDetected:
          type:
          - boolean
          - 'null'
          description: Whether vape is detected
          example: false
        vapeThcConfidencePercent:
          type:
          - number
          - 'null'
          format: float
          description: Vape THC detection confidence percentage
          example: 72.3
        vocIdx:
          type:
          - number
          - 'null'
          format: float
          description: Volatile Organic Compounds index
          example: 125.5
    DeviceStatusEnum:
      type: string
      enum:
      - RED
      - ORANGE
      - YELLOW
      - GREEN
    Sensor_GetSensorPresenceWindowsWSResponse:
      type: object
      description: Response object containing stored video information for a sensor.
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        presenceWindows:
          type:
          - array
          - 'null'
          description: List of presence windows for the sensor
          items:
            $ref: '#/components/schemas/TimeWindowSeconds'
        warningMsg:
          type:
          - string
          - 'null'
    Climate_GetEnvironmentalGatewayShadowsWSRequest:
      type: object
      description: Request to retrieve environmental gateway shadows.
    Co2SensorType:
      type: object
      properties:
        co2Ppm:
          type:
          - integer
          - 'null'
          format: int32
        relHumid:
          type:
          - number
          - 'null'
          format: float
        tempC:
          type:
          - number
          - 'null'
          format: float
        timestampSec:
          type:
          - integer
          - 'null'
          format: int64
    ClipSeekPointType:
      type: object
      properties:
        activity:
          $ref: '#/components/schemas/ActivityEnum'
        alert:
          type:
          - boolean
          - 'null'
        bottom:
          type:
          - number
          - 'null'
          format: float
        faceName:
          type:
          - string
          - 'null'
        keypointsV2:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/PointType'
        left:
          type:
          - number
          - 'null'
          format: float
        licensePlate:
          type:
          - string
          - 'null'
        pose:
          type:
          - string
          - 'null'
        relativeSecond:
          type:
          - number
          - 'null'
          format: float
        right:
          type:
          - number
          - 'null'
          format: float
        top:
          type:
          - number
          - 'null'
          format: float
        unidentifiedFaceId:
          type:
          - string
          - 'null'
        vehicleName:
          type:
          - string
          - 'null'
    Sensor_GetSensorPresenceWindowsWSRequest:
      type: object
      description: Request object for retrieving stored video information for a sensor.
      properties:
        deviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        durationSec:
          type:
          - integer
          - 'null'
          format: int64
          description: Duration in seconds for the presence window query
          example: 3600
        startTimeSec:
          type:
          - integer
          - 'null'
          format: int64
          description: Start time in seconds for the presence window query
          example: 1640995200
    MetaDataLocationType:
      type: object
      properties:
        region:
          type:
          - string
          - 'null'
    ClimateEventType:
      type: object
      description: List of climate events for the sensor
      properties:
        alertActivities:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ActivityEnum'
        baseStationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        batteryPercentage:
          type:
          - integer
          - 'null'
          format: int32
        bleDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        bleRssi:
          type:
          - integer
          - 'null'
          format: int32
        closeBaseStations:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
        co2:
          type:
          - number
          - 'null'
          format: float
        ethanol:
          type:
          - number
          - 'null'
          format: float
        heatIndexDegF:
          type:
          - number
          - 'null'
          format: double
        heatIndexRangeWarning:
          $ref: '#/components/schemas/HeatIndexRangeWarningEnum'
        humidity:
          type:
          - number
          - 'null'
          format: float
        iaq:
          type:
          - number
          - 'null'
          format: float
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        pm25:
          type:
          - number
          - 'null'
          format: float
        probeTempC:
          type:
          - number
          - 'null'
          format: float
        subLocationsHierarchyKey:
          type:
          - string
          - 'null'
          format: SubLocationsHierarchyKey
          description: 'A sequence of one or more base 64 (url-safe) uuid substrings.

            These substrings are separated by dots (.).

            '
          example: AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA
          pattern: ^([A-Za-z0-9\-_]{22})([.][A-Za-z0-9\-_]{22})*$
        tampered:
          type:
          - boolean
          - 'null'
        temp:
          type:
          - number
          - 'null'
          format: float
        thcDetected:
          type:
          - boolean
          - 'null'
        thcPercent:
          type:
          - number
          - 'null'
          format: float
        timestampMs:
          type:
          - integer
          - 'null'
          format: int64
        tvoc:
          type:
          - number
          - 'null'
          format: float
        vapeSmokeDetected:
          type:
          - boolean
          - 'null'
        vapeSmokePercent:
          type:
          - number
          - 'null'
          format: float
    Climate_GetClimateSensorConfigWSRequest:
      type: object
      description: Request to retrieve configuration for an environmental sensor.
      properties:
        uuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    E50ClimateEventType:
      type: object
      description: List of climate events for the environmental gateway
      properties:
        activities:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ActivityEnum'
        alertTriggerThresholds:
          type:
          - array
          - 'null'
          items:
            type:
            - number
            - 'null'
            format: double
        alertTriggers:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ActivityEnum'
        carbonMonoSense:
          $ref: '#/components/schemas/COSensorType'
        clipMetaData:
          $ref: '#/components/schemas/ClipMetaDataType'
        co2Sense:
          $ref: '#/components/schemas/Co2SensorType'
        derivedValues:
          $ref: '#/components/schemas/E50DerivedValuesType'
        deviceType:
          $ref: '#/components/schemas/DeviceTypeEnum'
        deviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        firmwareVersion:
          type:
          - string
          - 'null'
        formaSense:
          $ref: '#/components/schemas/FormaSensorType'
        hwVariation:
          $ref: '#/components/schemas/HardwareVariationEnum'
        leakProbe:
          $ref: '#/components/schemas/LeakProbeType'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        pmSense:
          $ref: '#/components/schemas/PmSensorType'
        policyUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        pressSense:
          $ref: '#/components/schemas/PressureSensorType'
        tempProbe:
          $ref: '#/components/schemas/TempProbeType'
        timestampMs:
          type:
          - integer
          - 'null'
          format: int64
        uuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    COSensorType:
      type: object
      properties:
        adcRaw:
          type:
          - integer
          - 'null'
          format: int32
        adcVoltage:
          type:
          - number
          - 'null'
          format: double
        coConcentration:
          type:
          - number
          - 'null'
          format: double
        timestampSec:
          type:
          - integer
          - 'null'
          format: int64
    TempProbeType:
      type: object
      properties:
        adcMv:
          type:
          - number
          - 'null'
          format: float
        adcRaw:
          type:
          - integer
          - 'null'
          format: int64
        present:
          type:
          - boolean
          - 'null'
        tempC:
          type:
          - number
          - 'null'
          format: float
        timestampSec:
          type:
          - integer
          - 'null'
          format: int64
    DeviceTypeEnum:
      type: string
      enum:
      - BLE_TRACKER
      - CAMERA
      - DOOR_SENSOR
      - ENVIRONMENTAL_SENSOR
      - OCCUPANCY_SENSOR
      - AUDIO_GATEWAY
      - EXECUTABLE
      - BADGE_READER
      - DOOR_CONTROLLER
      - BLE_BUTTON
      - IO_BOARD
      - ENVIRONMENTAL_GATEWAY
      - NVR
      - ROBOT
      - UNKNOWN
    Climate_GetClimateSensorConfigWSResponse:
      type: object
      description: Response containing configuration for an environmental sensor.
      properties:
        config:
          $ref: '#/components/schemas/IClimateUserConfig'
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        warningMsg:
          type:
          - string
          - 'null'
    Climate_ClimateHealthDetailsEnum:
      type: string
      description: Detailed health status enumeration for climate sensors.
      enum:
      - FIRMWARE_BEHIND
      - NO_HEARTBEAT
      - NONE
    PressureSensorType:
      type: object
      properties:
        pressure:
          type:
          - number
          - 'null'
          format: float
        tempC:
          type:
          - number
          - 'null'
          format: float
        timestampSec:
          type:
          - integer
          - 'null'
          format: int64
    Climate_GetClimateEventsForSensorWSResponse:
      type: object
      description: Response containing climate events for an environmental sensor.
      properties:
        climateEvents:
          type:
          - array
          - 'null'
          description: List of climate events for the sensor
          items:
            $ref: '#/components/schemas/ClimateEventType'
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        warningMsg:
          type:
          - string
          - 'null'
    IClimateUserConfig:
      type: object
      description: Climate sensor configuration
      properties:
        accelerometer_change_tamper_threshold:
          type:
          - number
          - 'null'
          format: float
        accelerometer_disabled:
          type:
          - boolean
          - 'null'
        alert_window_minutes:
          type:
          - integer
          - 'null'
          format: int32
        deviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        lastModified:
          type:
          - integer
          - 'null'
          format: int64
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        pressure_switch_tamper_disabled:
          type:
          - boolean
          - 'null'
        smoke_ai_threshold:
          type:
          - number
          - 'null'
          format: float
        thc_ai_threshold:
          type:
          - number
          - 'null'
          format: float
        vape_ai_threshold:
          type:
          - number
          - 'null'
          format: float
    WebResponseStatusEnum:
      type: string
      description: Status of the unregister operation
      enum:
      - BASIC_AUTH_FAILED
      - PASSWORD_MISMATCH
      - SAME_PASSWORD
      - USER_EXISTS
      - USER_NOT_FOUND
      - DEVICE_NOT_FOUND
      - POLICY_NOT_FOUND
      - LOCATION_NOT_FOUND
      - ORG_NOT_FOUND
      - BAD_INPUT
      - SUCCESS
      - PASSWORD_TOO_SHORT
    LeakProbeType:
      type: object
      properties:
        adcMv:
          type:
          - number
          - 'null'
          format: float
        adcRaw:
          type:
          - integer
          - 'null'
          format: int64
        leakDetected:
          type:
          - boolean
          - 'null'
        moistDetected:
          type:
          - boolean
          - 'null'
        present:
          type:
          - boolean
          - 'null'
        timestampSec:
          type:
          - integer
          - 'null'
          format: int64
    E50DerivedValuesType:
      type: object
      properties:
        airQualityIndex:
          type:
          - integer
          - 'null'
          format: int32
        airQualityIndexPollutant:
          $ref: '#/components/schemas/AirQualityIndexPollutantEnum'
        calibrating:
          type:
          - boolean
          - 'null'
        deviceOrientation:
          $ref: '#/components/schemas/DeviceOrientationEnum'
        falsePositiveConfidencePercent:
          type:
          - number
          - 'null'
          format: float
        heatIndexDegF:
          type:
          - number
          - 'null'
          format: double
        heatIndexRangeWarning:
          $ref: '#/components/schemas/HeatIndexRangeWarningEnum'
        indoorAirQuality:
          type:
          - number
          - 'null'
          format: float
        malfunctioningModules:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
        smokeConfidencePercent:
          type:
          - number
          - 'null'
          format: float
        smokeThcConfidencePercent:
          type:
          - number
          - 'null'
          format: float
        smokeTobaccoConfidencePercent:
          type:
          - number
          - 'null'
          format: float
        timestampSec:
          type:
          - integer
          - 'null'
          format: int64
        tvoc:
          type:
          - number
          - 'null'
          format: float
        vapeConfidencePercent:
          type:
          - number
          - 'null'
          format: float
        vapeDetected:
          type:
          - boolean
          - 'null'
        vapeThcConfidencePercent:
          type:
          - number
          - 'null'
          format: float
    Climate_GetMinimalEnvironmentalGatewayStatesWSRequest:
      type: object
      description: Request to retrieve minimal environmental gateway states.
    Climate_GetEventsForEnvironmentalGatewayWSResponse:
      type: object
      description: Response containing events for an environmental gateway.
      properties:
        events:
          type:
          - array
          - 'null'
          description: List of climate events for the environmental gateway
          items:
            $ref: '#/components/schemas/E50ClimateEventType'
        lastEvaluatedKey:
          type:
          - string
          - 'null'
    SensorValType:
      type: object
      properties:
        sensorBoolean:
          type:
          - boolean
          - 'null'
        sensorDouble:
          type:
          - number
          - 'null'
          format: double
        sensorLong:
          type:
          - integer
          - 'null'
          format: int64
    PmSensorType:
      type: object
      properties:
        nc0p5:
          type:
          - number
          - 'null'
          format: float
        nc10p0:
          type:
          - number
          - 'null'
          format: float
        nc1p0:
          type:
          - number
          - 'null'
          format: float
        nc2p5:
          type:
          - number
          - 'null'
          format: float
        nc4p0:
          type:
          - number
          - 'null'
          format: float
        noxIdx:
          type:
          - number
          - 'null'
          format: float
        pm10p0:
          type:
          - number
          - 'null'
          format: float
        pm1p0:
          type:
          - number
          - 'null'
          format: float
        pm2p5:
          type:
          - number
          - 'null'
          format: float
        pm4p0:
          type:
          - number
          - 'null'
          format: float
        relHumid:
          type:
          - number
          - 'null'
          format: float
        tempC:
          type:
          - number
          - 'null'
          format: float
        timestampSec:
          type:
          - integer
          - 'null'
          format: int64
        typPartSize:
          type:
          - number
          - 'null'
          format: float
        vocIdx:
          type:
          - number
          - 'null'
          format: float
    Climate_UpdateEnvironmentalGatewayDetailsWSRequest:
      type: object
      description: Request to update details for an environmental gateway.
      properties:
        associatedCameras:
          type:
          - array
          - 'null'
          description: List of associated camera device facet UUIDs
          items:
            type:
            - string
            - 'null'
            format: DeviceFacetUuid
            description: RUUID with optional appended facet information
            example: AAAAAAAAAAAAAAAAAAAAAA.v0
        associatedCamerasUpdated:
          type:
          - boolean
          - 'null'
          description: Whether the associated cameras have been updated
          example: false
        deleted:
          type:
          - boolean
          - 'null'
          description: Whether the environmental gateway is deleted
          example: false
        deletedUpdated:
          type:
          - boolean
          - 'null'
          description: Whether the deleted status has been updated
          example: false
        description:
          type:
          - string
          - 'null'
          description: Description of the environmental gateway
          example: Environmental monitoring gateway in main office
        descriptionUpdated:
          type:
          - boolean
          - 'null'
          description: Whether the description has been updated
          example: false
        floorNumber:
          type:
          - integer
          - 'null'
          format: int32
          description: Floor number where the environmental gateway is located
          example: 1
        floorNumberUpdated:
          type:
          - boolean
          - 'null'
          description: Whether the floor number has been updated
          example: false
        latitude:
          type:
          - number
          - 'null'
          format: double
          description: Latitude coordinate of the environmental gateway
          example: 37.7749
        latitudeUpdated:
          type:
          - boolean
          - 'null'
          description: Whether the latitude has been updated
          example: false
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        locationUuidUpdated:
          type:
          - boolean
          - 'null'
          description: Whether the location UUID has been updated
          example: false
        longitude:
          type:
          - number
          - 'null'
          format: double
          description: Longitude coordinate of the environmental gateway
          example: -122.4194
        longitudeUpdated:
          type:
          - boolean
          - 'null'
          description: Whether the longitude has been updated
          example: false
        name:
          type:
          - string
          - 'null'
          description: Name of the environmental gateway
          example: Main Office Gateway
        nameUpdated:
          type:
          - boolean
          - 'null'
          description: Whether the name has been updated
          example: false
        policyUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        policyUuidUpdated:
          type:
          - boolean
          - 'null'
          description: Whether the policy UUID has been updated
          example: false
        subLocationsHierarchyKey:
          type:
          - string
          - 'null'
          format: SubLocationsHierarchyKey
          description: 'A sequence of one or more base 64 (url-safe) uuid substrings.

            These substrings are separated by dots (.).

            '
          example: AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA
          pattern: ^([A-Za-z0-9\-_]{22})([.][A-Za-z0-9\-_]{22})*$
        subLocationsHierarchyKeyUpdated:
          type:
          - boolean
          - 'null'
          description: Whether the sub-locations hierarchy key has been updated
          example: false
        uuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    ClipBoundingBoxType:
      type: object
      properties:
        activity:
          $ref: '#/components/schemas/ActivityEnum'
        alert:
          type:
          - boolean
          - 'null'
        bottom:
          type:
          - integer
          - 'null'
          format: int32
        confidence:
          type:
          - number
          - 'null'
          format: float
        croppedImageLocator:
          type:
          - string
          - 'null'
        customActivityColor:
          $ref: '#/components/schemas/FootageSeekPointColorEnum'
        customActivityDescription:
          type:
          - string
          - 'null'
        customActivityDisplayName:
          type:
          - string
          - 'null'
        dwelling:
          type:
          - boolean
          - 'null'
        faceName:
          type:
          - string
          - 'null'
        inMotion:
          type:
          - boolean
          - 'null'
        keypointsV2:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/PointType'
        left:
          type:
          - integer
          - 'null'
          format: int32
        licensePlate:
          type:
          - string
          - 'null'
        loudness:
          type:
          - integer
          - 'null'
          format: int32
        objectId:
          type:
          - integer
          - 'null'
          format: int32
        pose:
          type:
          - string
          - 'null'
        relativeSecond:
          type:
          - number
          - 'null'
          format: float
        right:
          type:
          - integer
          - 'null'
          format: int32
        sensorValType:
          $ref: '#/components/schemas/SensorValType'
        stableTrackId:
          type:
          - integer
          - 'null'
          format: int32
        toastOrderIdInfo:
          $ref: '#/components/schemas/ToastOrderIdType'
        top:
          type:
          - integer
          - 'null'
          format: int32
        unidentifiedFaceId:
          type:
          - string
          - 'null'
        vehicleName:
          type:
          - string
          - 'null'
    Climate_ClimateHealthEnum:
      type: string
      description: Health status enumeration for climate sensors.
      enum:
      - GREEN
      - RED
    HeatIndexRangeWarningEnum:
      type: string
      description: Heat index range warning status
      enum:
      - HEAT_INDEX_OK
      - HEAT_INDEX_WARNING
      - HEAT_INDEX_UNSUPPORTED
    HardwareVariationEnum:
      type: string
      enum:
      - RASPBERRY_PI_3
      - CAMERA_R1
      - CAMERA_R2
      - CAMERA_R2_LONG_RANGE
      - CAMERA_R2_180
      - CAMERA_R3
      - CAMERA_R4
      - CAMERA_R100
      - CAMERA_R120
      - CAMERA_R170
      - CAMERA_R200
      - CAMERA_R500
      - CAMERA_R510
      - CAMERA_R520
      - CAMERA_R600
      - SENSOR_ASSET_TAG_T1
      - SENSOR_DOOR_D1
      - SENSOR_DOOR_D20
      - SENSOR_ENVIRONMENTAL_E1
      - SENSOR_ENVIRONMENTAL_E15
      - SENSOR_ENVIRONMENTAL_E2
      - SENSOR_MOTION_M1
      - SENSOR_MOTION_M15
      - GATEWAY_A1
      - GATEWAY_A100
      - GATEWAY_ENVIRONMENTAL_E50
      - CAMERA_R220
      - CAMERA_R230
      - CAMERA_R36S
      - CAMERA_R410
      - CAMERA_R540
      - CAMERA_R545
      - BADGE_READER_DR1
      - BADGE_READER_DR40
      - BADGE_READER_DR20
      - DOOR_CONTROLLER_DC1
      - DOOR_CONTROLLER_DC20
      - DOOR_CONTROLLER_DC10
      - ETHERNET_TESTER_ET1
      - IO_BOARD_TB1
      - BLE_BUTTON_B10
      - BLE_BUTTON_B15
      - CAMERA_THIRD_PARTY_RELAY
      - CAMERA_THIRD_PARTY_NVR
      - CAMERA_THIRD_PARTY_NVR_MULTISENSOR
      - NVR_N100
      - CAMERA_R130
      - NVR_N500
      - CAMERA_R150
      - ROBOT_RC1
      - CAMERA_R210
      - CAMERA_R650
      - UNSPECIFIED
    Climate_UpdateClimateSensorDetailsWSRequest:
      type: object
      description: Request to update details for an environmental sensor.
      properties:
        associatedCameras:
          type:
          - array
          - 'null'
          description: List of associated camera device facet UUIDs
          items:
            type:
            - string
            - 'null'
            format: DeviceFacetUuid
            description: RUUID with optional appended facet information
            example: AAAAAAAAAAAAAAAAAAAAAA.v0
        associatedCamerasUpdated:
          type:
          - boolean
          - 'null'
        deleted:
          type:
          - boolean
          - 'null'
          description: Whether the environmental sensor is deleted
          example: false
        deletedUpdated:
          type:
          - boolean
          - 'null'
        description:
          type:
          - string
          - 'null'
          description: Description of the environmental sensor
          example: Temperature and humidity sensor in main office
        descriptionUpdated:
          type:
          - boolean
          - 'null'
        floorNumber:
          type:
          - integer
          - 'null'
          format: int32
          description: Floor number where the environmental sensor is located
          example: 1
        floorNumberUpdated:
          type:
          - boolean
          - 'null'
        latitude:
          type:
          - number
          - 'null'
          format: double
          description: Latitude coordinate of the environmental sensor
          example: 37.7749
        latitudeUpdated:
          type:
          - boolean
          - 'null'
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        locationUuidUpdated:
          type:
          - boolean
          - 'null'
        longitude:
          type:
          - number
          - 'null'
          format: double
          description: Longitude coordinate of the environmental sensor
          example: -122.4194
        longitudeUpdated:
          type:
          - boolean
          - 'null'
        name:
          type:
          - string
          - 'null'
          description: Name of the environmental sensor
          example: Main Office Sensor
        nameUpdated:
          type:
          - boolean
          - 'null'
        policyUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        policyUuidUpdated:
          type:
          - boolean
          - 'null'
        subLocationsHierarchyKey:
          type:
          - string
          - 'null'
          format: SubLocationsHierarchyKey
          description: 'A sequence of one or more base 64 (url-safe) uuid substrings.

            These substrings are separated by dots (.).

            '
          example: AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA
          pattern: ^([A-Za-z0-9\-_]{22})([.][A-Za-z0-9\-_]{22})*$
        subLocationsHierarchyKeyUpdated:
          type:
          - boolean
          - 'null'
        uuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    Climate_GetEnvironmentalGatewayShadowsWSResponse:
      type: object
      description: Response containing environmental gateway shadows.
      properties:
        environmentalGatewayShadows:
          type:
          - array
          - 'null'
          description: List of environmental gateway shadows
          items:
            $ref: '#/components/schemas/EnvironmentalGatewayShadowType'
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        warningMsg:
          type:
          - string
          - 'null'
    Climate_GetMinimalClimateStatesWSResponse:
      type: object
      description: Response containing minimal climate state information for environmental sensors.
      properties:
        climateStates:
          type:
          - array
          - 'null'
          description: List of minimal climate state information
          items:
            $ref: '#/components/schemas/Climate_MinimalClimateStateType'
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        warningMsg:
          type:
          - string
          - 'null'
    Climate_MinimalClimateStateType:
      type: object
      description: Minimal climate state information for environmental sensors.
      properties:
        associatedCameras:
          type:
          - array
          - 'null'
          description: List of associated camera device facet UUIDs
          items:
            type:
            - string
            - 'null'
            format: DeviceFacetUuid
            description: RUUID with optional appended facet information
            example: AAAAAAAAAAAAAAAAAAAAAA.v0
        batteryPercent:
          type:
          - integer
          - 'null'
          format: int32
          description: Battery percentage of the environmental sensor
          example: 85
        calibrating:
          type:
          - boolean
          - 'null'
          description: Whether the sensor is currently calibrating
          example: false
        closestBaseStation:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        co2:
          type:
          - number
          - 'null'
          format: float
          description: CO2 measurement
          example: 450.0
        createdAtMillis:
          type:
          - integer
          - 'null'
          format: int64
          description: Creation timestamp in milliseconds
          example: 1640995200000
        ethanol:
          type:
          - number
          - 'null'
          format: float
          description: Ethanol measurement
          example: 5.2
        firmwareVersion:
          type:
          - string
          - 'null'
          description: Firmware version
          example: 1.2.3
        floorNumber:
          type:
          - integer
          - 'null'
          format: int32
          description: Floor number
          example: 2
        health:
          $ref: '#/components/schemas/Climate_ClimateHealthEnum'
        healthDetails:
          $ref: '#/components/schemas/Climate_ClimateHealthDetailsEnum'
        heatIndexDegF:
          type:
          - number
          - 'null'
          format: double
          description: Heat index in degrees Fahrenheit
          example: 85.2
        heatIndexRangeWarning:
          $ref: '#/components/schemas/HeatIndexRangeWarningEnum'
        humidity:
          type:
          - number
          - 'null'
          format: float
          description: Relative humidity percentage
          example: 45.2
        hwVariation:
          $ref: '#/components/schemas/HardwareVariationEnum'
        iaq:
          type:
          - number
          - 'null'
          format: float
          description: Indoor Air Quality index
          example: 85.5
        lastSeenSec:
          type:
          - integer
          - 'null'
          format: int64
          description: Last seen timestamp in seconds
          example: 1640995200
        latitude:
          type:
          - number
          - 'null'
          format: double
          description: Latitude coordinate
          example: 37.7749
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        longitude:
          type:
          - number
          - 'null'
          format: double
          description: Longitude coordinate
          example: -122.4194
        name:
          type:
          - string
          - 'null'
          description: Name of the environmental sensor
          example: Office Climate Sensor
        pm25:
          type:
          - number
          - 'null'
          format: float
          description: PM2.5 particulate matter measurement
          example: 12.3
        policyUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        probeConnected:
          type:
          - boolean
          - 'null'
          description: Whether the probe is connected
          example: true
        probeTempC:
          type:
          - number
          - 'null'
          format: float
          description: Temperature probe measurement in Celsius
          example: 24.1
        sensorUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        serialNumber:
          type:
          - string
          - 'null'
          description: Serial number of the environmental sensor
          example: ES-123456789
        signalStrength:
          type:
          - integer
          - 'null'
          format: int32
          description: Signal strength of the environmental sensor
          example: 85
        subLocationsHierarchyKey:
          type:
          - string
          - 'null'
          format: SubLocationsHierarchyKey
          description: 'A sequence of one or more base 64 (url-safe) uuid substrings.

            These substrings are separated by dots (.).

            '
          example: AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA
          pattern: ^([A-Za-z0-9\-_]{22})([.][A-Za-z0-9\-_]{22})*$
        temperatureCelcius:
          type:
          - number
          - 'null'
          format: float
          description: Temperature in Celsius
          example: 23.5
        thcPercent:
          type:
          - number
          - 'null'
          format: float
          description: THC percentage measurement
          example: 0.8
        tvoc:
          type:
          - number
          - 'null'
          format: float
          description: Total Volatile Organic Compounds (TVOC) measurement
          example: 125.5
        vapePercent:
          type:
          - number
          - 'null'
          format: float
          description: Vape percentage measurement
          example: 2.1
    Climate_GetMinimalClimateStatesWSRequest:
      type: object
      description: Request to retrieve minimal climate state information for all environmental sensors.
    ActivityEnum:
      type: string
      enum:
      - SOUND_LOUD
      - SOUND_GUN_SHOT
      - TAMPER
      - VISUAL_TAMPER
      - MOTION_TAMPER
      - MOTION
      - MOTION_HUMAN
      - MOTION_CAR
      - MOTION_ANIMAL
      - FACE
      - FACE_IDENTIFIED
      - FACE_UNIDENTIFIED
      - FACE_BLACKLISTED
      - FACE_ALERT
      - POSE_ANOMALOUS
      - POSE_FALL
      - LICENSEPLATE
      - LICENSEPLATE_IDENTIFIED
      - LICENSEPLATE_UNIDENTIFIED
      - LICENSEPLATE_ALERT
      - LICENSEPLATE_BLACKLISTED
      - LICENSEPLATE_TRUSTED
      - PEOPLECOUNT_HIGH
      - PEOPLECOUNT_HIGH_RESET
      - PEOPLECOUNT_LOW
      - PEOPLECOUNT_LOW_RESET
      - HUMAN_ENTER
      - HUMAN_EXIT
      - CAR_ENTER
      - CAR_EXIT
      - TEMPERATURE_EXCEEDED_HIGH
      - TEMPERATURE_EXCEEDED_LOW
      - HUMIDITY_EXCEEDED_HIGH
      - HUMIDITY_EXCEEDED_LOW
      - PM25_EXCEEDED_HIGH
      - TVOC_EXCEEDED_HIGH
      - ETOH_EXCEEDED_HIGH
      - IAQ_EXCEEDED_HIGH
      - CO2_EXCEEDED_HIGH
      - CO2_EXCEEDED_LOW
      - PROBE_TEMPERATURE_EXCEEDED_HIGH
      - PROBE_TEMPERATURE_EXCEEDED_LOW
      - PROBE_DISCONNECTED
      - PROBE_CONNECTED
      - HEAT_INDEX_EXCEEDED_HIGH
      - PRESSURE_EXCEEDED_HIGH
      - PRESSURE_EXCEEDED_LOW
      - PM10_EXCEEDED_HIGH
      - PM40_EXCEEDED_HIGH
      - PM100_EXCEEDED_HIGH
      - VOC_IDX_EXCEEDED_HIGH
      - NOX_IDX_EXCEEDED_HIGH
      - FORMALDEHYDE_EXCEEDED_HIGH
      - CARBON_MONOXIDE_EXCEEDED_HIGH
      - AQI_EXCEEDED_HIGH
      - DOOR_AJAR
      - DOOR_OPENED
      - DOOR_CLOSED
      - BUTTON_SINGLE_PRESSED
      - BUTTON_DOUBLE_PRESSED
      - BUTTON_LONG_PRESSED
      - TAG_ARRIVED
      - TAG_DEPARTED
      - TAG_MOVED
      - TAG_POSITIONING_CHANGED
      - TAG_BOUNDARY_INGRESS
      - TAG_BOUNDARY_EGRESS
      - TAG_PANIC
      - BADGE_AUTHORIZED
      - BADGE_UNAUTHORIZED
      - BADGE_UNAUTHORIZED_V2
      - BADGE_AJAR
      - BADGE_MANUAL
      - BADGE_FORCED_OPEN
      - BADGE_LOCKDOWN
      - BADGE_REQUEST_TO_EXIT
      - BADGE_DURESS
      - BADGE_SECURITY_BREACH
      - BADGE_TAMPER
      - BADGE_FACE_MISMATCH
      - POS_ORDER
      - GUN_DETECT_EVENT
      - IOT_SOUND_AGGRESSION
      - IOT_SOUND_HELP
      - IOT_AIR_CO
      - IOT_AIR_CO2
      - IOT_AIR_MASKING
      - IOT_AIR_THC
      - IOT_AIR_VAPE
      - IOT_AIR_VOC
      - IOT_AIR_TEMP
      - IOT_TAMPER
      - IOT_GUNSHOT
      - IOT_BUTTON_SINGLE_CLICK
      - IOT_BUTTON_DOUBLE_CLICK
      - IOT_BUTTON_HOLD
      - IOT_PANIC_BUTTON_TRIGGERED
      - AUDIO_SOUND_SIGNIFICANT
      - AUDIO_SOUND_LOUD
      - AUDIO_SOUND_ABUSIVE
      - AUDIO_SOUND_GREETING
      - AUDIO_SOUND_HELP
      - AUDIO_SOUND_GUN
      - AUDIO_SOUND_GLASS_BREAK
      - AUDIO_SOUND_ALARM_SMOKE_FIRE
      - AUDIO_SOUND_ALARM_CARBON_MONOXIDE
      - AUDIO_SOUND_SIREN
      - CLIMATE_VOC
      - CLIMATE_VAPE
      - CLIMATE_SMOKE
      - CLIMATE_THC
      - CLIMATE_CO2
      - CLIMATE_ETOH
      - CLIMATE_PM25
      - CLIMATE_IAQ
      - CLIMATE_LEAK
      - SOUND_AGGRESSION
      - SOUND_HELP
      - AIR_CO
      - AIR_CO2
      - AIR_MASKING
      - AIR_THC
      - AIR_VAPE
      - AIR_VOC
      - MASK_MISSING
      - HELMET_MISSING
      - GLOVES_MISSING
      - PIR_OCCUPIED
      - PIR_MOVEMENT
      - PIR_VACANT
      - CUSTOM
      - VISITOR_ARRIVED
      - VISITOR_DEPARTED
      - AC_DR_CONNECTED
      - AC_DR_DISCONNECTED
      - AC_DPI_DOOR_OPEN
      - AC_DPI_DOOR_CLOSED
      - AC_DPI_DOOR_AJAR
      - AC_DPI_DOOR_FORCED_OPEN
      - AC_DSR_UNLOCKED
      - AC_DSR_LOCKED
      - AC_DB_TRIGGERED
      - AC_PANIC_BUTTON_TRIGGERED
      - AC_REMOTE_UNLOCK
      - AC_BADGE_AUTHORIZED
      - AC_BADGE_UNAUTHORIZED
      - AC_BADGE_FACE_MISMATCH
      - AC_LOCKDOWN_ACTIVATED
      - AC_LOCKDOWN_DEACTIVATED
      - AC_TAMPER_PROX
      - AC_TAMPER_ACCEL
      - AC_TAMPER_SWITCH
      - AC_GR_ACTIVE
      - AC_GR_INACTIVE
      - AC_GI_ACTIVE
      - AC_GI_INACTIVE
      - AC_REX_ACTIVE
      - AC_REX_INACTIVE
      - AC_APERIO_DEVICE_DISCONNECTED
      - AC_APERIO_DEVICE_CONNECTED
      - AC_APERIO_DEVICE_REBOOT
      - AC_APERIO_DEVICE_TAMPER
      - AC_APERIO_LOW_BATTERY
      - AC_APERIO_FLAT_BATTERY
      - AC_APERIO_OK_BATTERY
      - POWER_SWITCH_BATTERY
      - POWER_SWITCH_PRIMARY
      - AI_SEARCH_MATCH
      - CUSTOM_LLM_BOOLEAN_TRUE
      - CUSTOM_LLM_BOOLEAN_FALSE
      - CUSTOM_LLM_THRESHOLD_EXCEEDED_LOW
      - CUSTOM_LLM_THRESHOLD_EXCEEDED_HIGH
      - ALM_AUTHORITIES_CONTACTED
      - ALM_MONITORING_ENABLED
      - ALM_MONITORING_DISABLED
      - ALM_MONITORING_SETTINGS_CHANGE
      - ALM_THREAT_CASE_CLOSED
      - ALM_THREAT_DETECTED
      - ALM_MONITORING_EVENT_DETECTED
      - ROBOT_DOG_DETECTED
      - ROBOT_ARRIVED_AT_WAYPOINT
      - ROBOT_ARRIVED_AT_POSE
      - ROBOT_WAITING_AT_POSE
      - ROBOT_MANUAL_CMD_VEL
      - ROBOT_MANUAL_ACTION
      - ROBOT_MANUAL_POSTURE
      - ROBOT_NAVIGATE_TO_POSE_START
      - ROBOT_NAVIGATE_TO_POSE_END
      - ROBOT_NAVIGATE_TO_HOME_START
      - ROBOT_NAVIGATE_TO_HOME_END
      - ROBOT_NAVIGATE_TO_WAYPOINT_START
      - ROBOT_NAVIGATE_TO_WAYPOINT_END
      - ROBOT_ROUTE_RUN_START
      - ROBOT_ROUTE_RUN_END
      - ROBOT_LOW_BATTERY_DOCKING
      - ROBOT_IDLE_DOCKING
      - ROBOT_EMERGENCY
      - LOITER_HUMAN
      - REID_HUMAN
      - INACTIVITY_HUMAN
      - INACTIVITY_CAR
      - ONGUARD_BADGE_AUTHORIZED
      - ONGUARD_BADGE_ANOMALY
      - ONGUARD_NO_ENTRY_MADE
      - ELEMENTS_BADGE_AUTHORIZED
      - ELEMENTS_BADGE_ANOMALY
      - ELEMENTS_NO_ENTRY_MADE
      - NETBOX_BADGE_AUTHORIZED
      - NETBOX_BADGE_ANOMALY
      - NETBOX_NO_ENTRY_MADE
      - THERMAL_TEMPERATURE_ALARM
      - THERMAL_TEMPERATURE_WARNING
      - THERMAL_FIRE_DETECTED
      - THERMAL_SMOKING_DETECTED
      - THERMAL_FIRE_VERIFIED
      - THERMAL_HEAT_NO_THREAT
      - THERMAL_VISUAL_HOTSPOT
      - THERMAL_VISUAL_HEAT_RISE
      - THERMAL_VISUAL_WARM_BODY
      - UNKNOWN
    Climate_RebootEnvironmentalGatewayWSRequest:
      type: object
      description: Request to reboot an environmental gateway.
      properties:
        environmentalGatewayUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    Climate_GetClimateEventsForSensorWSRequest:
      type: object
      description: Request to retrieve climate events for an environmental sensor.
      properties:
        createdAfterMs:
          type:
          - integer
          - 'null'
          format: int64
          description: Timestamp in milliseconds after which events should be retrieved
          example: 1640991600000
        createdBeforeMs:
          type:
          - integer
          - 'null'
          format: int64
          description: Timestamp in milliseconds before which events should be retrieved
          example: 1640995200000
        limit:
          type:
          - integer
          - 'null'
          format: int32
          description: Maximum number of events to return
          example: 100
        sensorUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    ClipMetaDataType:
      type: object
      properties:
        activitySeekPoints:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - array
            - 'null'
            items:
              type:
              - number
              - 'null'
              format: float
        activitySeekPointsV2:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ClipSeekPointType'
        activitySeekPointsV3:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ClipSeekPointV2Type'
        boundingBoxes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ClipBoundingBoxType'
        clipLocation:
          $ref: '#/components/schemas/MetaDataLocationType'
        durationSec:
          type:
          - integer
          - 'null'
          format: int32
        mGrids:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
        soundSignificantLufs:
          type:
          - array
          - 'null'
          items:
            type:
            - integer
            - 'null'
            format: int32
        startTime:
          type:
          - integer
          - 'null'
          format: int64
        thumbnailLocation:
          $ref: '#/components/schemas/MetaDataLocationType'
        thumbnailLocationV2:
          type:
          - string
          - 'null'
    Common_devices_RebootDeviceWSResponse:
      type: object
      description: Response indicating the result of rebooting a device.
      properties:
        result:
          $ref: '#/components/schemas/Common_devices_RebootDeviceWSResponse_RebootResult'
    FormaSensorType:
      type: object
      properties:
        ch2oPpb:
          type:
          - number
          - 'null'
          format: float
        relHumid:
          type:
          - number
          - 'null'
          format: float
        tempC:
          type:
          - number
          - 'null'
          format: float
        timestampSec:
          type:
          - integer
          - 'null'
          format: int64
    FootageSeekPointColorEnum:
      type: string
      enum:
      - BLUE
      - RED
      - PURPLE
      - TAN
      - ORANGE
      - TEAL
      - GRAY
      - BLACK
    ToastOrderIdType:
      type: object
      properties:
        employeeName:
          type:
          - string
          - 'null'
        guid:
          type:
          - string
          - 'null'
        locationName:
          type:
          - string
          - 'null'
        restaurantName:
          type:
          - string
          - 'null'
        toastCheckInfo:
          $ref: '#/components/schemas/ToastCheckInfo'
    Climate_GetMinimalEnvironmentalGatewayStatesWSResponse:
      type: object
      description: Response containing minimal environmental gateway states.
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        lastEvaluatedKey:
          type:
          - string
          - 'null'
        minimalEnvironmentalGatewayStates:
          type:
          - array
          - 'null'
          description: List of minimal environmental gateway states
          items:
            $ref: '#/components/schemas/Climate_MinimalEnvironmentalGatewayStateType'
        warningMsg:
          type:
          - string
          - 'null'
    Climate_DeleteEnvironmentalGatewayWSRequest:
      type: object
      description: Request to delete an environmental gateway.
      properties:
        deviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        mummify:
          type:
          - boolean
          - 'null'
          description: Whether to mummify the gateway instead of deleting it
          example: false
    ToastCheckInfo:
      type: object
      properties:
        totalAmount:
          type:
          - number
          - 'null'
          format: double
    TimeWindowSeconds:
      type: object
      description: List of uptime windows for the device
      properties:
        durationSeconds:
          type:
          - integer
          - 'null'
          format: int64
        startSeconds:
          type:
          - integer
          - 'null'
          format: int64
    DeviceHealthStatusDetailsEnum:
      type: string
      enum:
      - DISCONNECTED
      - FIRMWARE_BEHIND
      - NOT_RECORDING
      - LINK_SPEED_LOW
      - MALFUNCTIONING_MODULES
      - CALIBRATING
      - DELAYED
      - NONE
    EnvironmentalGatewayShadowType:
      type: object
      description: List of environmental gateway shadows
      properties:
        activeAlertTriggers:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - integer
            - 'null'
            format: int64
        apMac:
          type:
          - string
          - 'null'
        carbonMonoSense:
          $ref: '#/components/schemas/COSensorType'
        co2Sense:
          $ref: '#/components/schemas/Co2SensorType'
        connected:
          type:
          - boolean
          - 'null'
        connectionTimestampMs:
          type:
          - integer
          - 'null'
          format: int64
        connectionUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        defaultInterface:
          type:
          - string
          - 'null'
        defaultInterfaceMac:
          type:
          - string
          - 'null'
        derivedValues:
          $ref: '#/components/schemas/E50DerivedValuesType'
        deviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        disconnectTimestampMs:
          type:
          - integer
          - 'null'
          format: int64
        externalIPAddress:
          type:
          - string
          - 'null'
        firmwareUpdateInProgress:
          type:
          - boolean
          - 'null'
        firmwareUpdateTimeMs:
          type:
          - integer
          - 'null'
          format: int64
        firmwareVersion:
          type:
          - string
          - 'null'
        formaSense:
          $ref: '#/components/schemas/FormaSensorType'
        hardwareUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        internalWanAddress:
          type:
          - string
          - 'null'
        jumpHostUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        lanAddresses:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
        leakProbe:
          $ref: '#/components/schemas/LeakProbeType'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        pmSense:
          $ref: '#/components/schemas/PmSensorType'
        pressSense:
          $ref: '#/components/schemas/PressureSensorType'
        prevConnected:
          type:
          - boolean
          - 'null'
        prevConnectedUpdateTimestampMs:
          type:
          - integer
          - 'null'
          format: int64
        region:
          type:
          - string
          - 'null'
        secondaryLanAddresses:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
        ssid:
          type:
          - string
          - 'null'
        state:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - object
            - 'null'
        stateUpdatedTimestampMs:
          type:
          - integer
          - 'null'
          format: int64
        tempProbe:
          $ref: '#/components/schemas/TempProbeType'
        timestampMs:
          type:
          - integer
          - 'null'
          format: int64
        type:
          $ref: '#/components/schemas/DeviceTypeEnum'
        wanAddress:
          type:
          - string
          - 'null'
        wifiSignalStrength:
          type:
          - integer
          - 'null'
          format: int32
    Common_devices_RebootDeviceWSResponse_RebootResult:
      type: string
      description: Result of the reboot operation
      enum:
      - REBOOT_SENT
      - DEVICE_OFFLINE
  securitySchemes:
    ApiKeyAuth:
      description: Your Rhombus API key. Must be accompanied by the `x-auth-scheme` header set to `api-token` (or `partner-api-token` for partner endpoints).
      in: header
      name: x-auth-apikey
      type: apiKey
x-samples-languages:
- curl
- node
- python
- java
