openapi: 3.2.0
info:
  contact:
    email: developer@rhombussystems.com
  description: 'This API is for use by Rhombus customers and partners.


    ## Authentication


    All requests require two headers:

    - `x-auth-scheme` — The authentication scheme identifier. Use `api-token` for standard API key auth, or `partner-api-token` for partner API auth.

    - `x-auth-apikey` — Your Rhombus API key.


    Example:

    ```

    POST /api/camera/getMinimalCameraStateList

    x-auth-scheme: api-token

    x-auth-apikey: YOUR_API_KEY

    Content-Type: application/json

    ```'
  title: Rhombus Component Webservice API
  version: '1.0'
servers:
- description: Production Server
  url: https://api2.rhombussystems.com
security:
- ApiKeyAuth: []
tags:
- name: Component Webservice
paths:
  /api/component/addAccessControlledDoorLabel:
    post:
      description: Create a label that can be assigned to an access controlled door and referenced by an access grant or access revocation
      operationId: addAccessControlledDoorLabel
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_AddAccessControlledDoorLabelWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_AddAccessControlledDoorLabelWSResponse'
          description: OK
      summary: Create a label that can be assigned to an access controlled door
      tags:
      - Component Webservice
  /api/component/createAccessControlledDoor:
    post:
      description: Create an access controlled door
      operationId: createAccessControlledDoor
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_CreateAccessControlledDoorWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_CreateAccessControlledDoorWSResponse'
          description: OK
      summary: Create an access controlled door
      tags:
      - Component Webservice
  /api/component/createAccessControlledDoorSeekpoints:
    post:
      description: Create custom activity seekpoints for a specified access controlled door
      operationId: createAccessControlledDoorSeekpoints
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_CreateAccessControlledDoorSeekpointsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_CreateAccessControlledDoorSeekpointsWSResponse'
          description: OK
      summary: Create custom activity seekpoints for a specified access controlled door
      tags:
      - Component Webservice
  /api/component/createIntegratedDoorPositionIndicator:
    post:
      description: Create a door position indicator component
      operationId: createIntegratedDoorPositionIndicator
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_CreateIntegratedDoorPositionIndicatorWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_CreateIntegratedDoorPositionIndicatorWSResponse'
          description: OK
      summary: Create a door position indicator component
      tags:
      - Component Webservice
  /api/component/createIntegratedDoorRelay:
    post:
      description: Create a door relay component
      operationId: createIntegratedDoorRelay
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_CreateIntegratedDoorRelayWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_CreateIntegratedDoorRelayWSResponse'
          description: OK
      summary: Create a door relay component
      tags:
      - Component Webservice
  /api/component/createIntegratedGenericButton:
    post:
      description: Create a generic button component
      operationId: createIntegratedGenericButton
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_CreateIntegratedGenericButtonWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_CreateIntegratedGenericButtonWSResponse'
          description: OK
      summary: Create a generic button component
      tags:
      - Component Webservice
  /api/component/createIntegratedGenericInput:
    post:
      description: Create a generic input component
      operationId: createIntegratedGenericInput
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_CreateIntegratedGenericInputWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_CreateIntegratedGenericInputWSResponse'
          description: OK
      summary: Create a generic input component
      tags:
      - Component Webservice
  /api/component/createIntegratedGenericRelay:
    post:
      description: Create a generic relay component
      operationId: createIntegratedGenericRelay
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_CreateIntegratedGenericRelayWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_CreateIntegratedGenericRelayWSResponse'
          description: OK
      summary: Create a generic relay component
      tags:
      - Component Webservice
  /api/component/createIntegratedRequestToExit:
    post:
      description: Create a request to exit component
      operationId: createIntegratedRequestToExit
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_CreateIntegratedRequestToExitWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_CreateIntegratedRequestToExitWSResponse'
          description: OK
      summary: Create a request to exit component
      tags:
      - Component Webservice
  /api/component/createOsdpDoorReader:
    post:
      description: Create a third party OSDP Reader component
      operationId: createOsdpDoorReader
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_CreateOsdpReaderWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_CreateOsdpReaderWSResponse'
          description: OK
      summary: Create a third party OSDP Reader component
      tags:
      - Component Webservice
  /api/component/createRhombusOsdpDoorReader:
    post:
      description: Create a Rhombus OSDP Reader component
      operationId: createRhombusOsdpDoorReader
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_CreateRhombusOsdpReaderWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_CreateRhombusOsdpReaderWSResponse'
          description: OK
      summary: Create a Rhombus OSDP Reader component
      tags:
      - Component Webservice
  /api/component/createWiegandReader:
    post:
      description: Create a third party Wiegand Reader component
      operationId: createWiegandReader
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_CreateWiegandReaderWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_CreateWiegandReaderWSResponse'
          description: OK
      summary: Create a third party Wiegand Reader component
      tags:
      - Component Webservice
  /api/component/deleteAccessControlledDoor:
    post:
      description: Delete the specified access controlled door
      operationId: deleteAccessControlledDoor
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_DeleteAccessControlledDoorWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_DeleteAccessControlledDoorWSResponse'
          description: OK
      summary: Delete the specified access controlled door
      tags:
      - Component Webservice
  /api/component/deleteComponent:
    post:
      description: Delete a component
      operationId: deleteComponent
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_DeleteComponentWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_DeleteComponentWSResponse'
          description: OK
      summary: Delete a component
      tags:
      - Component Webservice
  /api/component/deleteComponentsByOwnerDevice:
    post:
      description: Delete all components owned by the specified device
      operationId: deleteComponentsByOwnerDevice
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_DeleteComponentsByOwnerDeviceWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_DeleteComponentsByOwnerDeviceWSResponse'
          description: OK
      summary: Delete all components owned by the specified device
      tags:
      - Component Webservice
  /api/component/findAccessControlledDoorShadows:
    post:
      description: Find access controlled door shadows within the org
      operationId: findAccessControlledDoorShadows
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindAccessControlledDoorShadowsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindAccessControlledDoorShadowsWSResponse'
          description: OK
      summary: Find access controlled door shadows within the org
      tags:
      - Component Webservice
  /api/component/findAccessControlledDoorShadowsByLocation:
    post:
      description: Find access controlled door shadows within the specified location
      operationId: findAccessControlledDoorShadowsByLocation
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindAccessControlledDoorShadowsByLocationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindAccessControlledDoorShadowsByLocationWSResponse'
          description: OK
      summary: Find access controlled door shadows within the specified location
      tags:
      - Component Webservice
  /api/component/findAccessControlledDoors:
    post:
      description: Find access controlled doors within the org
      operationId: findAccessControlledDoors
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindAccessControlledDoorsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindAccessControlledDoorsWSResponse'
          description: OK
      summary: Find access controlled doors within the org
      tags:
      - Component Webservice
  /api/component/findAccessControlledDoorsByLocation:
    post:
      description: Find access controlled doors within the specified location
      operationId: findAccessControlledDoorsByLocation
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindAccessControlledDoorsByLocationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindAccessControlledDoorsByLocationWSResponse'
          description: OK
      summary: Find access controlled doors within the specified location
      tags:
      - Component Webservice
  /api/component/findAccessControlledDoorsByOwnerDevice:
    post:
      description: Find access controlled doors for the specified owner device
      operationId: findAccessControlledDoorsByOwnerDevice
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindAccessControlledDoorsByOwnerDeviceWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindAccessControlledDoorsByOwnerDeviceWSResponse'
          description: OK
      summary: Find access controlled doors for the specified owner device
      tags:
      - Component Webservice
  /api/component/findAllComponentShadows:
    post:
      description: Retrieve all component shadows for the specified component uuids
      operationId: findAllComponentShadows
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindAllComponentShadowsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindAllComponentShadowsWSResponse'
          description: OK
      summary: Retrieve all component shadows for the specified component uuids
      tags:
      - Component Webservice
  /api/component/findComponentEventsByAccessControlledDoor:
    post:
      description: Retrieve all component events relevant to the specified AccessControlledDoor
      operationId: findComponentEventsByAccessControlledDoor
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindComponentEventsByAccessControlledDoorWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindComponentEventsByAccessControlledDoorWSResponse'
          description: OK
      summary: Retrieve all component events relevant to the specified AccessControlledDoor
      tags:
      - Component Webservice
  /api/component/findComponentEventsByApiToken:
    post:
      description: Retrieve all component events relevant to the specified api token
      operationId: findComponentEventsByApiToken
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindComponentEventsByApiTokenWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindComponentEventsByApiTokenWSResponse'
          description: OK
      summary: Retrieve all component events relevant to the specified api token
      tags:
      - Component Webservice
  /api/component/findComponentEventsByComponent:
    post:
      description: Retrieve all component events relevant to the specified component
      operationId: findComponentEventsByComponent
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindComponentEventsByComponentWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindComponentEventsByComponentWSResponse'
          description: OK
      summary: Retrieve all component events relevant to the specified component
      tags:
      - Component Webservice
  /api/component/findComponentEventsByCorrelation:
    post:
      description: Retrieve all component events relevant to the specified correlation id
      operationId: findComponentEventsByCorrelation
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindComponentEventsByCorrelationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindComponentEventsByCorrelationWSResponse'
          description: OK
      summary: Retrieve all component events relevant to the specified correlation id
      tags:
      - Component Webservice
  /api/component/findComponentEventsByCredentialHexValue:
    post:
      description: Retrieve all component events relevant to the specified credential hex value
      operationId: findComponentEventsByCredentialHexValue
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindComponentEventsByCredentialHexValueWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindComponentEventsByCredentialHexValueWSResponse'
          description: OK
      summary: Retrieve all component events relevant to the specified credential hex value
      tags:
      - Component Webservice
  /api/component/findComponentEventsByCredentialUuid:
    post:
      description: Retrieve all component events relevant to the specified credential uuid
      operationId: findComponentEventsByCredentialUuid
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindComponentEventsByCredentialUuidWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindComponentEventsByCredentialUuidWSResponse'
          description: OK
      summary: Retrieve all component events relevant to the specified credential uuid
      tags:
      - Component Webservice
  /api/component/findComponentEventsByCredentialValue:
    post:
      description: Retrieve all component events relevant to the specified credential value
      operationId: findComponentEventsByCredentialValue
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindComponentEventsByCredentialValueWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindComponentEventsByCredentialValueWSResponse'
          description: OK
      summary: Retrieve all component events relevant to the specified credential value
      tags:
      - Component Webservice
  /api/component/findComponentEventsByGuestPass:
    post:
      description: Retrieve all component events relevant to the specified guest pass
      operationId: findComponentEventsByGuestPass
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindComponentEventsByGuestPassWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindComponentEventsByGuestPassWSResponse'
          description: OK
      summary: Retrieve all component events relevant to the specified guest pass
      tags:
      - Component Webservice
  /api/component/findComponentEventsByLocation:
    post:
      description: Retrieve all component events relevant to the specified location
      operationId: findComponentEventsByLocation
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindComponentEventsByLocationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindComponentEventsByLocationWSResponse'
          description: OK
      summary: Retrieve all component events relevant to the specified location
      tags:
      - Component Webservice
  /api/component/findComponentEventsByOwnerDevice:
    post:
      deprecated: true
      description: Retrieve all component events relevant to the specified owner device (i.e. DC20's device uuid)
      operationId: findComponentEventsByOwnerDevice
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindComponentEventsByOwnerDeviceWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindComponentEventsByOwnerDeviceWSResponse'
          description: OK
      summary: Retrieve all component events relevant to the specified owner device (deprecated)
      tags:
      - Component Webservice
  /api/component/findComponentEventsBySupportAuthority:
    post:
      description: Retrieve all component events relevant to the specified api token
      operationId: findComponentEventsBySupportAuthority
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindComponentEventsBySupportAuthorityWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindComponentEventsBySupportAuthorityWSResponse'
          description: OK
      summary: Retrieve all component events relevant to the specified support authority
      tags:
      - Component Webservice
  /api/component/findComponentEventsByUser:
    post:
      description: Retrieve all component events relevant to the specified User
      operationId: findComponentEventsByUser
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindComponentEventsByUserWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindComponentEventsByUserWSResponse'
          description: OK
      summary: Retrieve all component events relevant to the specified User
      tags:
      - Component Webservice
  /api/component/findComponentEventsForVideoIntercom:
    post:
      description: Retrieve all component events relevant to the specified Video Intercom and optional AccessControlledDoor
      operationId: findComponentEventsForVideoIntercom
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindComponentEventsForVideoIntercomWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindComponentEventsForVideoIntercomWSResponse'
          description: OK
      summary: Retrieve all component events relevant to the specified Video Intercom and optional AccessControlledDoor
      tags:
      - Component Webservice
  /api/component/findComponentSeekPointsByAccessControlledDoor:
    post:
      description: Find component seekpoints by access controlled door
      operationId: findComponentSeekPointsByAccessControlledDoor
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindComponentSeekPointsByAccessControlledDoorWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindComponentSeekPointsByAccessControlledDoorWSResponse'
          description: OK
      summary: Find component seekpoints by access controlled door
      tags:
      - Component Webservice
  /api/component/findComponentSeekPointsByAccessControlledDoors:
    post:
      description: Find component seekpoints by access controlled doors
      operationId: findComponentSeekPointsByAccessControlledDoors
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindComponentSeekPointsByAccessControlledDoorsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindComponentSeekPointsByAccessControlledDoorsWSResponse'
          description: OK
      summary: Find component seekpoints by access controlled doors
      tags:
      - Component Webservice
  /api/component/findComponentSeekPointsByComponent:
    post:
      description: Find component seekpoints by component
      operationId: findComponentSeekPointsByComponent
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindComponentSeekPointsByComponentWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindComponentSeekPointsByComponentWSResponse'
          description: OK
      summary: Find component seekpoints by component
      tags:
      - Component Webservice
  /api/component/findComponentSeekPointsByLocation:
    post:
      description: Find component seekpoints by location
      operationId: findComponentSeekPointsByLocation
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindComponentSeekPointsByLocationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindComponentSeekPointsByLocationWSResponse'
          description: OK
      summary: Find component seekpoints by location
      tags:
      - Component Webservice
  /api/component/findComponentSeekPointsByOwnerDevice:
    post:
      description: Find component seekpoints by owner device
      operationId: findComponentSeekPointsByOwnerDevice
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindComponentSeekPointsByOwnerDeviceWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindComponentSeekPointsByOwnerDeviceWSResponse'
          description: OK
      summary: Find component seekpoints by owner device
      tags:
      - Component Webservice
  /api/component/findComponentSeekPointsByUser:
    post:
      description: Find component seekpoints by user
      operationId: findComponentSeekPointsByUser
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindComponentSeekPointsByUserWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindComponentSeekPointsByUserWSResponse'
          description: OK
      summary: Find component seekpoints by user
      tags:
      - Component Webservice
  /api/component/findComponentShadowsByComponentComposites:
    post:
      description: Retrieve all component shadows for the components belonging to the specified component composites (doors, elevators, elevator landings). Each composite is expanded to its component references and the resulting set of component shadows is returned.
      operationId: findComponentShadowsByComponentComposites
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindComponentShadowsByComponentCompositesWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindComponentShadowsByComponentCompositesWSResponse'
          description: OK
      summary: Retrieve all component shadows for the components belonging to the specified component composites
      tags:
      - Component Webservice
  /api/component/findComponentShadowsByOwnerDevice:
    post:
      description: Retrieve component shadows by the specified owner device uuid
      operationId: findComponentShadowsByOwnerDevice
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindComponentShadowsByOwnerDeviceWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindComponentShadowsByOwnerDeviceWSResponse'
          description: OK
      summary: Retrieve component shadows by the specified owner device uuid
      tags:
      - Component Webservice
  /api/component/findComponentsByOwnerDevice:
    post:
      description: Retrieve a list of components owned by a Rhombus device (i.e. DC20's device uuid)
      operationId: findComponentsByOwnerDevice
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindComponentsByOwnerDeviceWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindComponentsByOwnerDeviceWSResponse'
          description: OK
      summary: Retrieve a list of components owned by a Rhombus device
      tags:
      - Component Webservice
  /api/component/findMinimalStateAccessControlledDoors:
    post:
      description: Find minimal state access controlled doors within the org
      operationId: findMinimalStateAccessControlledDoors
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindMinimalStateAccessControlledDoorsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindMinimalStateAccessControlledDoorsWSResponse'
          description: OK
      summary: Find minimal state access controlled doors within the org
      tags:
      - Component Webservice
  /api/component/findMinimalStateAccessControlledDoorsByLocation:
    post:
      description: Find minimal state access controlled doors within the specified location
      operationId: findMinimalStateAccessControlledDoorsByLocation
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindMinimalStateAccessControlledDoorsByLocationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindMinimalStateAccessControlledDoorsByLocationWSResponse'
          description: OK
      summary: Find minimal state access controlled doors within the specified location
      tags:
      - Component Webservice
  /api/component/findPaginatedComponentEventsByAccessControlledDoor:
    post:
      description: Retrieve all component events relevant to the specified AccessControlledDoor
      operationId: findPaginatedComponentEventsByAccessControlledDoor
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindPaginatedComponentEventsByAccessControlledDoorWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindPaginatedComponentEventsByAccessControlledDoorWSResponse'
          description: OK
      summary: Retrieve all component events relevant to the specified AccessControlledDoor
      tags:
      - Component Webservice
  /api/component/findPaginatedComponentEventsByOwnerDevice:
    post:
      description: Retrieve all component events relevant to the specified owner device (i.e. DC20's device uuid)
      operationId: findPaginatedComponentEventsByOwnerDevice
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindPaginatedComponentEventsByOwnerDeviceWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindPaginatedComponentEventsByOwnerDeviceWSResponse'
          description: OK
      summary: Retrieve all component events relevant to the specified owner device
      tags:
      - Component Webservice
  /api/component/getAccessControlledDoorLabelsForOrg:
    post:
      description: Get all access controlled door labels for the organization
      operationId: getAccessControlledDoorLabelsForOrg
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_GetAccessControlledDoorLabelsForOrgWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_GetAccessControlledDoorLabelsForOrgWSResponse'
          description: OK
      summary: Get all access controlled door labels for the organization
      tags:
      - Component Webservice
  /api/component/getOrCreateDevicePhysicalPortConfig:
    post:
      description: Gets a physical port layout for the specified device, components owned by that device and details about the port configuration validity. Map is instantiated if it doesn't currently exist as part of the call.
      operationId: getOrCreateDevicePhysicalPortConfig
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_GetOrCreateDevicePhysicalPortConfigWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_GetOrCreateDevicePhysicalPortConfigWSResponse'
          description: OK
      summary: Get or create device physical port config
      tags:
      - Component Webservice
  /api/component/removeAccessControlledDoorLabel:
    post:
      description: Remove a label to an access controlled door
      operationId: removeAccessControlledDoorLabel
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_RemoveAccessControlledDoorLabelWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_RemoveAccessControlledDoorLabelWSResponse'
          description: OK
      summary: Remove a label to an access controlled door
      tags:
      - Component Webservice
  /api/component/updateAccessControlledDoor:
    post:
      description: Updates an access controlled door
      operationId: updateAccessControlledDoor
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_UpdateAccessControlledDoorWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_UpdateAccessControlledDoorWSResponse'
          description: OK
      summary: Updates an access controlled door
      tags:
      - Component Webservice
  /api/component/updateIntegratedDoorPositionIndicator:
    post:
      description: Update a door position indicator component
      operationId: updateIntegratedDoorPositionIndicator
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_UpdateIntegratedDoorPositionIndicatorWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_UpdateIntegratedDoorPositionIndicatorWSResponse'
          description: OK
      summary: Update a door position indicator component
      tags:
      - Component Webservice
  /api/component/updateIntegratedDoorRelay:
    post:
      description: Update a door relay component
      operationId: updateIntegratedDoorRelay
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_UpdateIntegratedDoorRelayWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_UpdateIntegratedDoorRelayWSResponse'
          description: OK
      summary: Update a door relay component
      tags:
      - Component Webservice
  /api/component/updateIntegratedGenericButton:
    post:
      description: Update a generic button component
      operationId: updateIntegratedGenericButton
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_UpdateIntegratedGenericButtonWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_UpdateIntegratedGenericButtonWSResponse'
          description: OK
      summary: Update a generic button component
      tags:
      - Component Webservice
  /api/component/updateIntegratedGenericInput:
    post:
      description: Update a generic input component
      operationId: updateIntegratedGenericInput
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_UpdateIntegratedGenericInputWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_UpdateIntegratedGenericInputWSResponse'
          description: OK
      summary: Update a generic input component
      tags:
      - Component Webservice
  /api/component/updateIntegratedGenericRelay:
    post:
      description: Update a generic relay component
      operationId: updateIntegratedGenericRelay
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_UpdateIntegratedGenericRelayWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_UpdateIntegratedGenericRelayWSResponse'
          description: OK
      summary: Update a generic relay component
      tags:
      - Component Webservice
  /api/component/updateIntegratedGenericRelaySteadyState:
    post:
      description: Update a generic relay component's steady state
      operationId: updateIntegratedGenericRelaySteadyState
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_UpdateIntegratedGenericRelaySteadyStateWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_UpdateIntegratedGenericRelaySteadyStateWSResponse'
          description: OK
      summary: Update a generic relay component's steady state
      tags:
      - Component Webservice
  /api/component/updateIntegratedGenericRelayTransientState:
    post:
      description: Activate a generic relay for a brief period
      operationId: updateIntegratedGenericRelayTransientState
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_UpdateIntegratedGenericRelayTransientStateWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_UpdateIntegratedGenericRelayTransientStateWSResponse'
          description: OK
      summary: Activate a generic relay for a brief period
      tags:
      - Component Webservice
  /api/component/updateIntegratedRequestToExit:
    post:
      description: Update a request to exit component
      operationId: updateIntegratedRequestToExit
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_UpdateIntegratedRequestToExitWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_UpdateIntegratedRequestToExitWSResponse'
          description: OK
      summary: Update a request to exit component
      tags:
      - Component Webservice
  /api/component/updateOsdpDoorReader:
    post:
      description: Update a third party OSDP Reader component
      operationId: updateOsdpDoorReader
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_UpdateOsdpReaderWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_UpdateOsdpReaderWSResponse'
          description: OK
      summary: Update a third party OSDP Reader component
      tags:
      - Component Webservice
  /api/component/updateRhombusOsdpDoorReader:
    post:
      description: Update a Rhombus OSDP Reader component
      operationId: updateRhombusOsdpDoorReader
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_UpdateRhombusOsdpReaderWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_UpdateRhombusOsdpReaderWSResponse'
          description: OK
      summary: Update a Rhombus OSDP Reader component
      tags:
      - Component Webservice
  /api/component/updateWiegandDoorReader:
    post:
      description: Update a third party Wiegand Reader component
      operationId: updateWiegandDoorReader
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_UpdateWiegandReaderWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_UpdateWiegandReaderWSResponse'
          description: OK
      summary: Update a third party Wiegand Reader component
      tags:
      - Component Webservice
components:
  schemas:
    Component_FindComponentSeekPointsByAccessControlledDoorsWSRequest:
      type: object
      description: Component seekpoints search for access controlled doors
      properties:
        accessControlledDoorUuidList:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
        durationSec:
          type:
          - integer
          - 'null'
          format: int32
        sortResponse:
          type:
          - boolean
          - 'null'
        startTimeSecEpochExclusive:
          type:
          - integer
          - 'null'
          format: int64
    AccessControlledDoorShadow:
      type: object
      properties:
        authFirstIn:
          $ref: '#/components/schemas/FirstInShadow'
        componentCompositeUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        createdAtMillis:
          type:
          - integer
          - 'null'
          format: int64
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        ownerDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        scheduleFirstIn:
          $ref: '#/components/schemas/FirstInShadow'
        state:
          $ref: '#/components/schemas/AccessStateShadow'
        type:
          $ref: '#/components/schemas/ComponentCompositeShadowEnum'
        updatedAtMillis:
          type:
          - integer
          - 'null'
          format: int64
    SupervisionStateEnumType:
      type: string
      enum:
      - CUT_DETECTED
      - SHORT_DETECTED
      - NORMAL
      - INVALID
      - UNKNOWN
    IntegratedRequestToExitType:
      type: object
      properties:
        baseType:
          $ref: '#/components/schemas/ComponentBaseEnumType'
        createdAtMillis:
          type:
          - integer
          - 'null'
          format: int64
        intentOnly:
          type:
          - boolean
          - 'null'
        intentOnlyEvents:
          type:
          - boolean
          - 'null'
        name:
          type:
          - string
          - 'null'
        normalState:
          $ref: '#/components/schemas/NormalStateEnumType'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        ownerDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        ownerHardwareType:
          $ref: '#/components/schemas/HardwareVariationEnum'
        port:
          $ref: '#/components/schemas/RequestToExitPortType'
        portImmutable:
          type:
          - boolean
          - 'null'
        rexType:
          $ref: '#/components/schemas/RequestToExitEnumType'
        type:
          $ref: '#/components/schemas/ComponentEnumType'
        updatedAtMillis:
          type:
          - integer
          - 'null'
          format: int64
        uuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    Component_CreateIntegratedGenericInputWSResponse:
      type: object
      properties:
        component:
          $ref: '#/components/schemas/IntegratedGenericInputType'
    Component_UpdateIntegratedRequestToExitWSRequest:
      type: object
      properties:
        componentUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        intentOnly:
          type:
          - boolean
          - 'null'
        intentOnlyEvents:
          type:
          - boolean
          - 'null'
        name:
          type:
          - string
          - 'null'
        normalState:
          $ref: '#/components/schemas/NormalStateEnumType'
        port:
          $ref: '#/components/schemas/RequestToExitPortType'
    Component_FindComponentSeekPointsByAccessControlledDoorWSResponse:
      type: object
      properties:
        seekpoints:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ComponentSeekPointType'
    Component_UpdateIntegratedGenericRelayTransientStateWSRequest:
      type: object
      properties:
        activate:
          type:
          - boolean
          - 'null'
        componentUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        correlationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        deviceUuid:
          type:
          - string
          - 'null'
          format: DeviceFacetUuid
          description: RUUID with optional appended facet information
          example: AAAAAAAAAAAAAAAAAAAAAA.v0
        durationMs:
          type:
          - integer
          - 'null'
          format: int32
    Component_GetAccessControlledDoorLabelsForOrgWSResponse:
      type: object
      properties:
        accessControlledDoorLabels:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - array
            - 'null'
            items:
              type:
              - string
              - 'null'
            uniqueItems: true
    AperioActivatorStateEvent:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          componentCompositeUuid:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          state:
            type:
            - integer
            - 'null'
            format: int32
          stateUpdatedAtMs:
            type:
            - integer
            - 'null'
            format: int64
      properties:
        componentUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        correlationId:
          type:
          - string
          - 'null'
        createdAtMs:
          type:
          - integer
          - 'null'
          format: int64
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        ownerDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        subLocationsHierarchyKey:
          type:
          - string
          - 'null'
          format: SubLocationsHierarchyKey
          description: 'A sequence of one or more base 64 (url-safe) uuid substrings.

            These substrings are separated by dots (.).

            '
          example: AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA
          pattern: ^([A-Za-z0-9\-_]{22})([.][A-Za-z0-9\-_]{22})*$
        timestampMs:
          type:
          - integer
          - 'null'
          format: int64
        type:
          $ref: '#/components/schemas/ComponentEventEnumType'
        uuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    AperioGateway:
      type: object
      properties:
        aperioGatewayId:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: byte
        baseType:
          $ref: '#/components/schemas/ComponentBaseEnumType'
        createdAtMillis:
          type:
          - integer
          - 'null'
          format: int64
        hwVersion:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: byte
        name:
          type:
          - string
          - 'null'
        oemCode:
          type:
          - string
          - 'null'
        oemGeneratedAtMs:
          type:
          - integer
          - 'null'
          format: int64
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        ownerDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        ownerHardwareType:
          $ref: '#/components/schemas/HardwareVariationEnum'
        portImmutable:
          type:
          - boolean
          - 'null'
        type:
          $ref: '#/components/schemas/ComponentEnumType'
        updatedAtMillis:
          type:
          - integer
          - 'null'
          format: int64
        uuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    ComponentReferenceType:
      type: object
      properties:
        componentUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        deviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    IntegratedGenericRelayType:
      type: object
      properties:
        auxType:
          $ref: '#/components/schemas/AuxiliaryEnumType'
        baseType:
          $ref: '#/components/schemas/ComponentBaseEnumType'
        createdAtMillis:
          type:
          - integer
          - 'null'
          format: int64
        name:
          type:
          - string
          - 'null'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        originator:
          $ref: '#/components/schemas/BaseEventOriginator'
        ownerDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        ownerHardwareType:
          $ref: '#/components/schemas/HardwareVariationEnum'
        port:
          $ref: '#/components/schemas/AuxiliaryRelayPortType'
        portImmutable:
          type:
          - boolean
          - 'null'
        relayDurationSec:
          type:
          - integer
          - 'null'
          format: int32
          deprecated: true
          description: Deprecated, do not use.
        stateChangedAtMillis:
          type:
          - integer
          - 'null'
          format: int64
        steadyState:
          $ref: '#/components/schemas/GenericRelayStateEnumType'
        type:
          $ref: '#/components/schemas/ComponentEnumType'
        updatedAtMillis:
          type:
          - integer
          - 'null'
          format: int64
        uuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    Component_FindPaginatedComponentEventsByOwnerDeviceWSResponse:
      type: object
      description: Response object for getting list of component events for the specified owner device with pagination support.
      properties:
        componentEvents:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ComponentEventType'
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        lastEvaluatedKey:
          type:
          - string
          - 'null'
        warningMsg:
          type:
          - string
          - 'null'
    UserEventOriginator:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          userEmail:
            type:
            - string
            - 'null'
          userUuid:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          username:
            type:
            - string
            - 'null'
      properties:
        type:
          $ref: '#/components/schemas/EventOriginatorEnum'
    WiegandOutputPortType:
      type: object
      properties:
        boardNum:
          type:
          - integer
          - 'null'
          format: int32
        portNum:
          type:
          - integer
          - 'null'
          format: int32
        portType:
          $ref: '#/components/schemas/WiegandOutputPhysicalPortEnumType'
    SupervisionModeEnumType:
      type: string
      enum:
      - CUT_DETECT
      - SHORT_DETECT
      - CUT_AND_SHORT_DETECT
    DoorLockdownStateEventReference:
      type:
      - object
      - 'null'
      properties:
        activatedLockdownPlan:
          $ref: '#/components/schemas/LockdownPlanReference'
        activeLockdownPlan:
          $ref: '#/components/schemas/LockdownPlanReference'
        deactivatedLockdownPlan:
          $ref: '#/components/schemas/LockdownPlanReference'
        doorEventUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        doorUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    ButtonEnumType:
      type: string
      enum:
      - integrated_generic_button
      - integrated_doorbell_button
    AperioKeyCylinderStateEvent:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          componentCompositeUuid:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          state:
            type:
            - integer
            - 'null'
            format: int32
          stateUpdatedAtMs:
            type:
            - integer
            - 'null'
            format: int64
      properties:
        componentUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        correlationId:
          type:
          - string
          - 'null'
        createdAtMs:
          type:
          - integer
          - 'null'
          format: int64
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        ownerDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        subLocationsHierarchyKey:
          type:
          - string
          - 'null'
          format: SubLocationsHierarchyKey
          description: 'A sequence of one or more base 64 (url-safe) uuid substrings.

            These substrings are separated by dots (.).

            '
          example: AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA
          pattern: ^([A-Za-z0-9\-_]{22})([.][A-Za-z0-9\-_]{22})*$
        timestampMs:
          type:
          - integer
          - 'null'
          format: int64
        type:
          $ref: '#/components/schemas/ComponentEventEnumType'
        uuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    CredentialEntry:
      type:
      - object
      - 'null'
      discriminator:
        propertyName: credSource
      oneOf:
      - $ref: '#/components/schemas/CredentialEntryBleWave'
      properties:
        credSource:
          $ref: '#/components/schemas/CredentialSourceEnumType'
        credentialId:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        firstInEligible:
          type:
          - boolean
          - 'null'
        originator:
          $ref: '#/components/schemas/BaseEventOriginator'
    AccessControlAuthorizationResultEnumType:
      type: string
      enum:
      - ALLOWED
      - DENIED
      - DISABLED
      - ERROR
      - NA
    Component_DeleteComponentWSResponse:
      type: object
    Component_CreateIntegratedGenericInputWSRequest:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
        normalState:
          $ref: '#/components/schemas/NormalStateEnumType'
        ownerDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        port:
          $ref: '#/components/schemas/AuxiliaryInputPortType'
    Component_DeleteAccessControlledDoorWSResponse:
      type: object
      properties:
        accessControlledDoor:
          $ref: '#/components/schemas/AccessControlledDoorType'
    Component_FindComponentEventsByApiTokenWSResponse:
      type: object
      properties:
        componentEvents:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ComponentEventType'
    DoorPositionIndicatorStateChangeEventType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          componentCompositeUuid:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          newState:
            $ref: '#/components/schemas/DoorPositionIndicatorStateEnumType'
          newSupervisionState:
            $ref: '#/components/schemas/SupervisionStateEnumType'
      properties:
        componentUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        correlationId:
          type:
          - string
          - 'null'
        createdAtMs:
          type:
          - integer
          - 'null'
          format: int64
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        ownerDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        subLocationsHierarchyKey:
          type:
          - string
          - 'null'
          format: SubLocationsHierarchyKey
          description: 'A sequence of one or more base 64 (url-safe) uuid substrings.

            These substrings are separated by dots (.).

            '
          example: AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA
          pattern: ^([A-Za-z0-9\-_]{22})([.][A-Za-z0-9\-_]{22})*$
        timestampMs:
          type:
          - integer
          - 'null'
          format: int64
        type:
          $ref: '#/components/schemas/ComponentEventEnumType'
        uuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    Component_UpdateAccessControlledDoorWSRequest:
      type: object
      properties:
        accessControlledDoorUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        ajarTimeSec:
          type:
          - integer
          - 'null'
          format: int32
        associatedCameras:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: DeviceFacetUuid
            description: RUUID with optional appended facet information
            example: AAAAAAAAAAAAAAAAAAAAAA.v0
          uniqueItems: true
        associatedFaceDetectionCameras:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: DeviceFacetUuid
            description: RUUID with optional appended facet information
            example: AAAAAAAAAAAAAAAAAAAAAA.v0
          uniqueItems: true
[...]
