openapi: 3.2.0
info:
  contact:
    email: developer@rhombussystems.com
  description: 'This API is for use by Rhombus customers and partners.


    ## Authentication


    All requests require two headers:

    - `x-auth-scheme` — The authentication scheme identifier. Use `api-token` for standard API key auth, or `partner-api-token` for partner API auth.

    - `x-auth-apikey` — Your Rhombus API key.


    Example:

    ```

    POST /api/camera/getMinimalCameraStateList

    x-auth-scheme: api-token

    x-auth-apikey: YOUR_API_KEY

    Content-Type: application/json

    ```'
  title: Rhombus Rules Records Webservice API
  version: '1.0'
servers:
- description: Production Server
  url: https://api2.rhombussystems.com
security:
- ApiKeyAuth: []
tags:
- name: Rules Records Webservice
paths:
  /api/rulesRecords/deleteRulesEventRecord:
    post:
      description: Delete a rules event historical record
      operationId: deleteRulesEventRecord
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Rules_records_DeleteRulesEventRecordWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rules_records_DeleteRulesEventRecordWSResponse'
          description: OK
      summary: Delete rules event record
      tags:
      - Rules Records Webservice
  /api/rulesRecords/getLatestRulesEventRecords:
    post:
      description: Get N latest rules event historical records
      operationId: getLatestRulesEventRecords
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Rules_records_GetLatestRulesEventRecordsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rules_records_GetLatestRulesEventRecordsWSResponse'
          description: OK
      summary: Get latest rules event records
      tags:
      - Rules Records Webservice
  /api/rulesRecords/getRulesEventRecords:
    post:
      description: Find rules event historical records
      operationId: getRulesEventRecords
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Rules_records_GetRulesEventRecordsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rules_records_GetRulesEventRecordsWSResponse'
          description: OK
      summary: Get rules event records
      tags:
      - Rules Records Webservice
components:
  schemas:
    AlertActionRecordType:
      type: object
      properties:
        policyAlertUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        status:
          $ref: '#/components/schemas/AlertActionStatusEnum'
    CancelLoopingAudioPlaybackActionRecordType:
      type: object
      properties:
        statusMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/AudioGatewayStatusEnum'
    Rules_records_DeleteRulesEventRecordWSRequest:
      type: object
      description: Request object for deleting a rules event record.
      properties:
        uuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    RulesEventRecordType:
      type: object
      description: List of rules event records
      properties:
        activatedLocationLockdownRecord:
          $ref: '#/components/schemas/ActivateLocationLockdownActionRecordType'
        alertActionRecord:
          $ref: '#/components/schemas/AlertActionRecordType'
        alertMonitoringEventRecords:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AlertMonitoringEventRecordType'
        audioPlaybackActionRecords:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AudioPlaybackActionRecordType'
        cancelLoopingAudioPlaybackActionRecordType:
          $ref: '#/components/schemas/CancelLoopingAudioPlaybackActionRecordType'
        changeComponentCompositeAccessStateRecords:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ChangeComponentCompositeAccessStateRecordType'
        createAlarmRecord:
          $ref: '#/components/schemas/CreateAlarmActionRecordType'
        deviceEventRecords:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/DeviceEventRecordType'
        enableDisableAudioRecordActionRecords:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EnableDisableAudioRecordActionRecordType'
        integrationActionStatuses:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationActionStatusEnum'
        liveNotificationActionRecord:
          $ref: '#/components/schemas/LiveNotificationActionRecordType'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        ruleUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        scheduledEventRecords:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ScheduledEventRecordType'
        triggerComponentRelayRecords:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TriggerComponentRelayActionRecordType'
        triggeredTimestampMs:
          type:
          - integer
          - 'null'
          format: int64
        unlockDoorActionRecords:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/UnlockDoorActionRecordType'
        uuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        visionLLMEventRecords:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/VisionLLMEventRecordType'
        webhookActionStatuses:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - boolean
            - 'null'
    CreateAlarmActionRecordType:
      type: object
      properties:
        alarmId:
          type:
          - string
          - 'null'
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        outcome:
          type:
          - string
          - 'null'
        succeeded:
          type:
          - boolean
          - 'null'
        threatCaseUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    LiveNotificationActionRecordType:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/LiveNotificationActionStatusEnum'
    AlertMonitoringEventRecordType:
      type: object
      properties:
        alertMonitoringEventType:
          $ref: '#/components/schemas/AlertMonitoringRulesEventTypeEnum'
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        subLocationsHierarchyKey:
          type:
          - string
          - 'null'
          format: SubLocationsHierarchyKey
          description: 'A sequence of one or more base 64 (url-safe) uuid substrings.

            These substrings are separated by dots (.).

            '
          example: AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA
          pattern: ^([A-Za-z0-9\-_]{22})([.][A-Za-z0-9\-_]{22})*$
        threatCaseUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        timestampMs:
          type:
          - integer
          - 'null'
          format: int64
    Rules_records_GetRulesEventRecordsWSResponse:
      type: object
      description: Response object for getting rules event records.
      properties:
        rulesEventRecords:
          type:
          - array
          - 'null'
          description: List of rules event records
          items:
            $ref: '#/components/schemas/RulesEventRecordType'
    Rules_records_GetRulesEventRecordsWSRequest:
      type: object
      description: Request object for getting rules event records.
      properties:
        associatedUuids:
          type:
          - array
          - 'null'
          description: Associated uuids for devices, components, locations and componenet composites. **Optional, can be null.
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
        endTime:
          type:
          - integer
          - 'null'
          format: int64
          description: End time for the query period
          example: 1640998800000
        startTime:
          type:
          - integer
          - 'null'
          format: int64
          description: Start time for the query period
          example: 1640995200000
    TriggerComponentRelayActionRecordType:
      type: object
      properties:
        componentUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        outputType:
          $ref: '#/components/schemas/ComponentRelayOutputTypeEnum'
        overrideRelayDurationMs:
          type:
          - integer
          - 'null'
          format: int32
        overrideRelayDurationSec:
          type:
          - integer
          - 'null'
          format: int32
        ownerDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        state:
          $ref: '#/components/schemas/GenericRelayStateEnumType'
        succeeded:
          type:
          - boolean
          - 'null'
    ChangeComponentCompositeAccessStateRecordType:
      type: object
      properties:
        accessState:
          $ref: '#/components/schemas/AccessControlledDoorStateEnumType'
        componentCompositeUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        madeChange:
          type:
          - boolean
          - 'null'
        succeeded:
          type:
          - boolean
          - 'null'
        usedFirstIn:
          type:
          - boolean
          - 'null'
        willExpireAtMs:
          type:
          - integer
          - 'null'
          format: int64
    AudioPlaybackActionRecordType:
      type: object
      properties:
        audioClipUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        audioGatewayStatuses:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/AudioGatewayStatusEnum'
    AlertActionStatusEnum:
      type: string
      enum:
      - SUCCESS
      - ERROR
      - PAUSED
      - IGNORED
      - MUTED
      - BACKOFF
      - UNKNOWN
    IntegrationActionStatusEnum:
      type: string
      enum:
      - SUCCESS
      - ERROR
      - BACKOFF
      - IGNORED
      - UNKNOWN
    EnableDisableAudioRecordActionRecordType:
      type: object
      properties:
        deviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        enable:
          type:
          - boolean
          - 'null'
        succeeded:
          type:
          - boolean
          - 'null'
    ActivateLocationLockdownActionRecordType:
      type: object
      properties:
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        lockdownPlanUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        succeeded:
          type:
          - boolean
          - 'null'
    Rules_records_GetLatestRulesEventRecordsWSResponse:
      type: object
      description: Response object for getting latest rules event records.
      properties:
        rulesEventRecords:
          type:
          - array
          - 'null'
          description: List of latest rules event records
          items:
            $ref: '#/components/schemas/RulesEventRecordType'
    AudioGatewayStatusEnum:
      type: string
      enum:
      - SUCCESS
      - ERROR
      - BACKOFF
      - IGNORED
      - INITIATED
      - SUBMITTED
      - UNKNOWN
    LiveNotificationActionStatusEnum:
      type: string
      enum:
      - SUCCESS
      - ERROR
      - IGNORED
      - MUTED
      - BACKOFF
      - UNKNOWN
    DeviceEventRecordType:
      type: object
      properties:
        activities:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ActivityEnum'
        componentCompositeUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        componentUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        deviceType:
          $ref: '#/components/schemas/DeviceTypeEnum'
        deviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        eventUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        hardwareVariation:
          $ref: '#/components/schemas/HardwareVariationEnum'
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        subLocationsHierarchyKey:
          type:
          - string
          - 'null'
          format: SubLocationsHierarchyKey
          description: 'A sequence of one or more base 64 (url-safe) uuid substrings.

            These substrings are separated by dots (.).

            '
          example: AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA
          pattern: ^([A-Za-z0-9\-_]{22})([.][A-Za-z0-9\-_]{22})*$
        timestampMs:
          type:
          - integer
          - 'null'
          format: int64
    AccessControlledDoorStateEnumType:
      type: string
      enum:
      - UNLOCKED
      - ACCESS_CONTROLLED
    DeviceTypeEnum:
      type: string
      enum:
      - BLE_TRACKER
      - CAMERA
      - DOOR_SENSOR
      - ENVIRONMENTAL_SENSOR
      - OCCUPANCY_SENSOR
      - AUDIO_GATEWAY
      - EXECUTABLE
      - BADGE_READER
      - DOOR_CONTROLLER
      - BLE_BUTTON
      - IO_BOARD
      - ENVIRONMENTAL_GATEWAY
      - NVR
      - ROBOT
      - UNKNOWN
    Rules_records_DeleteRulesEventRecordWSResponse:
      type: object
      description: Response object for deleting a rules event record.
    ComponentRelayOutputTypeEnum:
      type: string
      enum:
      - TRANSIENT
      - STEADY
    Rules_records_GetLatestRulesEventRecordsWSRequest:
      type: object
      description: Request object for getting latest rules event records.
      properties:
        associatedUuids:
          type:
          - array
          - 'null'
          description: List of associated UUIDs to filter by
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
        n:
          type:
          - integer
          - 'null'
          format: int32
          description: Number of latest records to retrieve
          example: 10
        ruleUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    HardwareVariationEnum:
      type: string
      enum:
      - RASPBERRY_PI_3
      - CAMERA_R1
      - CAMERA_R2
      - CAMERA_R2_LONG_RANGE
      - CAMERA_R2_180
      - CAMERA_R3
      - CAMERA_R4
      - CAMERA_R100
      - CAMERA_R120
      - CAMERA_R170
      - CAMERA_R200
      - CAMERA_R500
      - CAMERA_R510
      - CAMERA_R520
      - CAMERA_R600
      - SENSOR_ASSET_TAG_T1
      - SENSOR_DOOR_D1
      - SENSOR_DOOR_D20
      - SENSOR_ENVIRONMENTAL_E1
      - SENSOR_ENVIRONMENTAL_E15
      - SENSOR_ENVIRONMENTAL_E2
      - SENSOR_MOTION_M1
      - SENSOR_MOTION_M15
      - GATEWAY_A1
      - GATEWAY_A100
      - GATEWAY_ENVIRONMENTAL_E50
      - CAMERA_R220
      - CAMERA_R230
      - CAMERA_R36S
      - CAMERA_R410
      - CAMERA_R540
      - CAMERA_R545
      - BADGE_READER_DR1
      - BADGE_READER_DR40
      - BADGE_READER_DR20
      - DOOR_CONTROLLER_DC1
      - DOOR_CONTROLLER_DC20
      - DOOR_CONTROLLER_DC10
      - ETHERNET_TESTER_ET1
      - IO_BOARD_TB1
      - BLE_BUTTON_B10
      - BLE_BUTTON_B15
      - CAMERA_THIRD_PARTY_RELAY
      - CAMERA_THIRD_PARTY_NVR
      - CAMERA_THIRD_PARTY_NVR_MULTISENSOR
      - NVR_N100
      - CAMERA_R130
      - NVR_N500
      - CAMERA_R150
      - ROBOT_RC1
      - CAMERA_R210
      - CAMERA_R650
      - UNSPECIFIED
    ActivityEnum:
      type: string
      enum:
      - SOUND_LOUD
      - SOUND_GUN_SHOT
      - TAMPER
      - VISUAL_TAMPER
      - MOTION_TAMPER
      - MOTION
      - MOTION_HUMAN
      - MOTION_CAR
      - MOTION_ANIMAL
      - FACE
      - FACE_IDENTIFIED
      - FACE_UNIDENTIFIED
      - FACE_BLACKLISTED
      - FACE_ALERT
      - POSE_ANOMALOUS
      - POSE_FALL
      - LICENSEPLATE
      - LICENSEPLATE_IDENTIFIED
      - LICENSEPLATE_UNIDENTIFIED
      - LICENSEPLATE_ALERT
      - LICENSEPLATE_BLACKLISTED
      - LICENSEPLATE_TRUSTED
      - PEOPLECOUNT_HIGH
      - PEOPLECOUNT_HIGH_RESET
      - PEOPLECOUNT_LOW
      - PEOPLECOUNT_LOW_RESET
      - HUMAN_ENTER
      - HUMAN_EXIT
      - CAR_ENTER
      - CAR_EXIT
      - TEMPERATURE_EXCEEDED_HIGH
      - TEMPERATURE_EXCEEDED_LOW
      - HUMIDITY_EXCEEDED_HIGH
      - HUMIDITY_EXCEEDED_LOW
      - PM25_EXCEEDED_HIGH
      - TVOC_EXCEEDED_HIGH
      - ETOH_EXCEEDED_HIGH
      - IAQ_EXCEEDED_HIGH
      - CO2_EXCEEDED_HIGH
      - CO2_EXCEEDED_LOW
      - PROBE_TEMPERATURE_EXCEEDED_HIGH
      - PROBE_TEMPERATURE_EXCEEDED_LOW
      - PROBE_DISCONNECTED
      - PROBE_CONNECTED
      - HEAT_INDEX_EXCEEDED_HIGH
      - PRESSURE_EXCEEDED_HIGH
      - PRESSURE_EXCEEDED_LOW
      - PM10_EXCEEDED_HIGH
      - PM40_EXCEEDED_HIGH
      - PM100_EXCEEDED_HIGH
      - VOC_IDX_EXCEEDED_HIGH
      - NOX_IDX_EXCEEDED_HIGH
      - FORMALDEHYDE_EXCEEDED_HIGH
      - CARBON_MONOXIDE_EXCEEDED_HIGH
      - AQI_EXCEEDED_HIGH
      - DOOR_AJAR
      - DOOR_OPENED
      - DOOR_CLOSED
      - BUTTON_SINGLE_PRESSED
      - BUTTON_DOUBLE_PRESSED
      - BUTTON_LONG_PRESSED
      - TAG_ARRIVED
      - TAG_DEPARTED
      - TAG_MOVED
      - TAG_POSITIONING_CHANGED
      - TAG_BOUNDARY_INGRESS
      - TAG_BOUNDARY_EGRESS
      - TAG_PANIC
      - BADGE_AUTHORIZED
      - BADGE_UNAUTHORIZED
      - BADGE_UNAUTHORIZED_V2
      - BADGE_AJAR
      - BADGE_MANUAL
      - BADGE_FORCED_OPEN
      - BADGE_LOCKDOWN
      - BADGE_REQUEST_TO_EXIT
      - BADGE_DURESS
      - BADGE_SECURITY_BREACH
      - BADGE_TAMPER
      - BADGE_FACE_MISMATCH
      - POS_ORDER
      - GUN_DETECT_EVENT
      - IOT_SOUND_AGGRESSION
      - IOT_SOUND_HELP
      - IOT_AIR_CO
      - IOT_AIR_CO2
      - IOT_AIR_MASKING
      - IOT_AIR_THC
      - IOT_AIR_VAPE
      - IOT_AIR_VOC
      - IOT_AIR_TEMP
      - IOT_TAMPER
      - IOT_GUNSHOT
      - IOT_BUTTON_SINGLE_CLICK
      - IOT_BUTTON_DOUBLE_CLICK
      - IOT_BUTTON_HOLD
      - IOT_PANIC_BUTTON_TRIGGERED
      - AUDIO_SOUND_SIGNIFICANT
      - AUDIO_SOUND_LOUD
      - AUDIO_SOUND_ABUSIVE
      - AUDIO_SOUND_GREETING
      - AUDIO_SOUND_HELP
      - AUDIO_SOUND_GUN
      - AUDIO_SOUND_GLASS_BREAK
      - AUDIO_SOUND_ALARM_SMOKE_FIRE
      - AUDIO_SOUND_ALARM_CARBON_MONOXIDE
      - AUDIO_SOUND_SIREN
      - CLIMATE_VOC
      - CLIMATE_VAPE
      - CLIMATE_SMOKE
      - CLIMATE_THC
      - CLIMATE_CO2
      - CLIMATE_ETOH
      - CLIMATE_PM25
      - CLIMATE_IAQ
      - CLIMATE_LEAK
      - SOUND_AGGRESSION
      - SOUND_HELP
      - AIR_CO
      - AIR_CO2
      - AIR_MASKING
      - AIR_THC
      - AIR_VAPE
      - AIR_VOC
      - MASK_MISSING
      - HELMET_MISSING
      - GLOVES_MISSING
      - PIR_OCCUPIED
      - PIR_MOVEMENT
      - PIR_VACANT
      - CUSTOM
      - VISITOR_ARRIVED
      - VISITOR_DEPARTED
      - AC_DR_CONNECTED
      - AC_DR_DISCONNECTED
      - AC_DPI_DOOR_OPEN
      - AC_DPI_DOOR_CLOSED
      - AC_DPI_DOOR_AJAR
      - AC_DPI_DOOR_FORCED_OPEN
      - AC_DSR_UNLOCKED
      - AC_DSR_LOCKED
      - AC_DB_TRIGGERED
      - AC_PANIC_BUTTON_TRIGGERED
      - AC_REMOTE_UNLOCK
      - AC_BADGE_AUTHORIZED
      - AC_BADGE_UNAUTHORIZED
      - AC_BADGE_FACE_MISMATCH
      - AC_LOCKDOWN_ACTIVATED
      - AC_LOCKDOWN_DEACTIVATED
      - AC_TAMPER_PROX
      - AC_TAMPER_ACCEL
      - AC_TAMPER_SWITCH
      - AC_GR_ACTIVE
      - AC_GR_INACTIVE
      - AC_GI_ACTIVE
      - AC_GI_INACTIVE
      - AC_REX_ACTIVE
      - AC_REX_INACTIVE
      - AC_APERIO_DEVICE_DISCONNECTED
      - AC_APERIO_DEVICE_CONNECTED
      - AC_APERIO_DEVICE_REBOOT
      - AC_APERIO_DEVICE_TAMPER
      - AC_APERIO_LOW_BATTERY
      - AC_APERIO_FLAT_BATTERY
      - AC_APERIO_OK_BATTERY
      - POWER_SWITCH_BATTERY
      - POWER_SWITCH_PRIMARY
      - AI_SEARCH_MATCH
      - CUSTOM_LLM_BOOLEAN_TRUE
      - CUSTOM_LLM_BOOLEAN_FALSE
      - CUSTOM_LLM_THRESHOLD_EXCEEDED_LOW
      - CUSTOM_LLM_THRESHOLD_EXCEEDED_HIGH
      - ALM_AUTHORITIES_CONTACTED
      - ALM_MONITORING_ENABLED
      - ALM_MONITORING_DISABLED
      - ALM_MONITORING_SETTINGS_CHANGE
      - ALM_THREAT_CASE_CLOSED
      - ALM_THREAT_DETECTED
      - ALM_MONITORING_EVENT_DETECTED
      - ROBOT_DOG_DETECTED
      - ROBOT_ARRIVED_AT_WAYPOINT
      - ROBOT_ARRIVED_AT_POSE
      - ROBOT_WAITING_AT_POSE
      - ROBOT_MANUAL_CMD_VEL
      - ROBOT_MANUAL_ACTION
      - ROBOT_MANUAL_POSTURE
      - ROBOT_NAVIGATE_TO_POSE_START
      - ROBOT_NAVIGATE_TO_POSE_END
      - ROBOT_NAVIGATE_TO_HOME_START
      - ROBOT_NAVIGATE_TO_HOME_END
      - ROBOT_NAVIGATE_TO_WAYPOINT_START
      - ROBOT_NAVIGATE_TO_WAYPOINT_END
      - ROBOT_ROUTE_RUN_START
      - ROBOT_ROUTE_RUN_END
      - ROBOT_LOW_BATTERY_DOCKING
      - ROBOT_IDLE_DOCKING
      - ROBOT_EMERGENCY
      - LOITER_HUMAN
      - REID_HUMAN
      - INACTIVITY_HUMAN
      - INACTIVITY_CAR
      - ONGUARD_BADGE_AUTHORIZED
      - ONGUARD_BADGE_ANOMALY
      - ONGUARD_NO_ENTRY_MADE
      - ELEMENTS_BADGE_AUTHORIZED
      - ELEMENTS_BADGE_ANOMALY
      - ELEMENTS_NO_ENTRY_MADE
      - NETBOX_BADGE_AUTHORIZED
      - NETBOX_BADGE_ANOMALY
      - NETBOX_NO_ENTRY_MADE
      - THERMAL_TEMPERATURE_ALARM
      - THERMAL_TEMPERATURE_WARNING
      - THERMAL_FIRE_DETECTED
      - THERMAL_SMOKING_DETECTED
      - THERMAL_FIRE_VERIFIED
      - THERMAL_HEAT_NO_THREAT
      - THERMAL_VISUAL_HOTSPOT
      - THERMAL_VISUAL_HEAT_RISE
      - THERMAL_VISUAL_WARM_BODY
      - UNKNOWN
    AlertMonitoringRulesEventTypeEnum:
      type: string
      enum:
      - ALARM_CREATED
      - ALARM_CANCELED
      - UNKNOWN
    ScheduledEventRecordType:
      type: object
      properties:
        timestampMs:
          type:
          - integer
          - 'null'
          format: int64
    VisionLLMEventRecordType:
      type: object
      properties:
        deviceFacetUuid:
          type:
          - string
          - 'null'
          format: DeviceFacetUuid
          description: RUUID with optional appended facet information
          example: AAAAAAAAAAAAAAAAAAAAAA.v0
        fullResponse:
          type:
          - string
          - 'null'
        parsedAffirmativeResponse:
          type:
          - boolean
          - 'null'
        timestampMs:
          type:
          - integer
          - 'null'
          format: int64
        userPrompt:
          type:
          - string
          - 'null'
    GenericRelayStateEnumType:
      type: string
      enum:
      - ACTIVE
      - INACTIVE
      - UNKNOWN
    UnlockDoorActionRecordType:
      type: object
      properties:
        doorId:
          type:
          - string
          - 'null'
        placeId:
          type:
          - string
          - 'null'
        succeeded:
          type:
          - boolean
          - 'null'
        system:
          type:
          - string
          - 'null'
  securitySchemes:
    ApiKeyAuth:
      description: Your Rhombus API key. Must be accompanied by the `x-auth-scheme` header set to `api-token` (or `partner-api-token` for partner endpoints).
      in: header
      name: x-auth-apikey
      type: apiKey
x-samples-languages:
- curl
- node
- python
- java
