openapi: 3.2.0
info:
  contact:
    email: developer@rhombussystems.com
  description: 'This API is for use by Rhombus customers and partners.


    ## Authentication


    All requests require two headers:

    - `x-auth-scheme` — The authentication scheme identifier. Use `api-token` for standard API key auth, or `partner-api-token` for partner API auth.

    - `x-auth-apikey` — Your Rhombus API key.


    Example:

    ```

    POST /api/camera/getMinimalCameraStateList

    x-auth-scheme: api-token

    x-auth-apikey: YOUR_API_KEY

    Content-Type: application/json

    ```'
  title: Rhombus Face Recognition Event Webservice API
  version: '1.0'
servers:
- description: Production Server
  url: https://api2.rhombussystems.com
security:
- ApiKeyAuth: []
tags:
- name: Face Recognition Event Webservice
paths:
  /api/faceRecognition/faceEvent/deleteFaceEvent:
    post:
      description: Delete face event.
      operationId: deleteFaceEvent
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Facerecognition_faceevent_DeleteFaceEventWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Facerecognition_faceevent_DeleteFaceEventWSResponse'
          description: OK
      summary: Delete face event
      tags:
      - Face Recognition Event Webservice
  /api/faceRecognition/faceEvent/findFaceEventsByOrg:
    post:
      description: Find face events for an organization. The events are returned in reverse chronological order, with the latest events appearing first.
      operationId: findFaceEventsByOrg
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Facerecognition_faceevent_FindFaceEventsByOrgWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Facerecognition_faceevent_FindFaceEventsByOrgWSResponse'
          description: OK
      summary: Find face events by organization
      tags:
      - Face Recognition Event Webservice
  /api/faceRecognition/faceEvent/getFaceEvent:
    post:
      description: Get face event.
      operationId: getFaceEvent
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Facerecognition_faceevent_GetFaceEventWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Facerecognition_faceevent_GetFaceEventWSResponse'
          description: OK
      summary: Get face event
      tags:
      - Face Recognition Event Webservice
  /api/faceRecognition/faceEvent/updateFaceEvent:
    post:
      description: Update face event.
      operationId: updateFaceEvent
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Facerecognition_faceevent_UpdateFaceEventWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Facerecognition_faceevent_UpdateFaceEventWSResponse'
          description: OK
      summary: Update face event
      tags:
      - Face Recognition Event Webservice
components:
  schemas:
    TimestampFilter:
      type: object
      description: Optional filter by an event timestamp. If not specified, the filter defaults to the last 7 days.
      properties:
        rangeEnd:
          type:
          - string
          - 'null'
          format: date-time
          description: End of the date range (inclusive).
        rangeStart:
          type:
          - string
          - 'null'
          format: date-time
          description: Start of the date range (inclusive).
    DynamoPageRequest:
      type: object
      description: Pagination request for retrieving policy alerts. Page size must be between 1 and 1000.
      properties:
        lastEvaluatedKey:
          type:
          - string
          - 'null'
        maxPageSize:
          type:
          - integer
          - 'null'
          format: int32
    Facerecognition_faceevent_ExternalFaceEvent:
      type: object
      description: External face event object containing face recognition data with person matches, embeddings, and metadata.
      properties:
        detectionConfidence:
          type:
          - number
          - 'null'
          format: float
          description: Confidence value indicating the likelihood that the detected image is a face
          example: 0.98
        deviceUuid:
          type:
          - string
          - 'null'
          format: DeviceFacetUuid
          description: RUUID with optional appended facet information
          example: AAAAAAAAAAAAAAAAAAAAAA.v0
        embeddingConfidence:
          type:
          - number
          - 'null'
          format: float
          description: Confidence value associated with the embedding generated for the face image
          example: 0.95
        eventTimestamp:
          type:
          - integer
          - 'null'
          format: int64
          description: Timestamp when the face event occurred
          example: 1640995200000
        faceName:
          type:
          - string
          - 'null'
          description: Name of the person that matched the face image. If selectedPersonMatch is not null, faceName will be equal to the name field of selectedPersonMatch.
        hasEmbedding:
          type:
          - boolean
          - 'null'
          description: Whether the face event has an embedding
          example: true
        imageS3Key:
          type:
          - string
          - 'null'
          description: S3 key for the face event image
          example: face-events/images/event_123.jpg
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        personUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        selectedPersonMatch:
          $ref: '#/components/schemas/Facerecognition_faceevent_ExternalPersonMatch'
        subLocationsHierarchyKey:
          type:
          - string
          - 'null'
          format: SubLocationsHierarchyKey
          description: 'A sequence of one or more base 64 (url-safe) uuid substrings.

            These substrings are separated by dots (.).

            '
          example: AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA
          pattern: ^([A-Za-z0-9\-_]{22})([.][A-Za-z0-9\-_]{22})*$
        thumbnailS3Key:
          type:
          - string
          - 'null'
          description: S3 key for the face event thumbnail
          example: face-events/thumbnails/event_123.jpg
        topPersonMatches:
          type:
          - array
          - 'null'
          description: Top person matches found for the face image.
          items:
            $ref: '#/components/schemas/Facerecognition_faceevent_ExternalPersonMatch'
        uuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    Facerecognition_faceevent_UpdateFaceEventWSRequest:
      type: object
      description: Request object for updating a face event with person association information.
      properties:
        eventUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        personName:
          type:
          - string
          - 'null'
          description: Name of the person associated with the face event. Ignored if person UUID matches to one of the top person matches.
        personUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    Facerecognition_faceevent_UpdateFaceEventWSResponse:
      type: object
      description: Response object for updating a face event.
      properties:
        faceEvent:
          $ref: '#/components/schemas/Facerecognition_faceevent_ExternalFaceEvent'
    Facerecognition_faceevent_FindFaceEventsByOrgWSRequest:
      type: object
      description: Request object for finding face events by organization with search filtering and pagination.
      properties:
        pageRequest:
          $ref: '#/components/schemas/DynamoPageRequest'
        searchFilter:
          $ref: '#/components/schemas/Facerecognition_faceevent_ExternalFaceEventSearchFilter'
    Facerecognition_faceevent_ExternalPersonMatch:
      type: object
      description: Person match information for face recognition events with confidence scoring.
      properties:
        confidence:
          type:
          - number
          - 'null'
          format: float
          description: Match confidence level expressed as a value in range[0,1]
          example: 0.95
        faceId:
          type:
          - string
          - 'null'
          description: Face ID associated with the person match
          example: face_12345
        name:
          type:
          - string
          - 'null'
          description: Name of the person matched
          example: John Doe
        uuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    Facerecognition_faceevent_FindFaceEventsByOrgWSResponse:
      type: object
      description: Response object containing face events for an organization with pagination information.
      properties:
        faceEvents:
          type:
          - array
          - 'null'
          description: List of face events matching the search criteria
          items:
            $ref: '#/components/schemas/Facerecognition_faceevent_ExternalFaceEvent'
        lastEvaluatedKey:
          type:
          - string
          - 'null'
          description: Pagination key for retrieving the next page of results
          example: next_page_key_123
    Facerecognition_faceevent_ExternalFaceEventSearchFilter:
      type: object
      description: Search filter for face events with embedding presence filtering.
      properties:
        deviceUuids:
          type:
          - array
          - 'null'
          description: Optional filter by a set of devices.
          items:
            type:
            - string
            - 'null'
            format: DeviceFacetUuid
            description: RUUID with optional appended facet information
            example: AAAAAAAAAAAAAAAAAAAAAA.v0
        faceNameContains:
          type:
          - string
          - 'null'
          description: Optional filter by name substring. The face event is a match if its face name contains the specified value. The search will only be performed if the provided value is at least 3 characters long after trimming leading and trailing spaces. If both faceNameContains and faceNames are specified, faceNameContains takes a precedence.
        faceNames:
          type:
          - array
          - 'null'
          description: Optional filter by people names.
          items:
            type:
            - string
            - 'null'
            description: Optional filter by people names.
        hasEmbedding:
          type:
          - boolean
          - 'null'
          description: Optional filter by the presence or absence of an embedding.
        hasName:
          type:
          - boolean
          - 'null'
          description: Optional filter by the presence or absence of a person name.
        labels:
          type:
          - array
          - 'null'
          description: Optional filter by labels.
          items:
            type:
            - string
            - 'null'
            description: Optional filter by labels.
        locationUuids:
          type:
          - array
          - 'null'
          description: Optional filter by a set of locations.
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
        personUuids:
          type:
          - array
          - 'null'
          description: Optional filter by a set of people.
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
        timestampFilter:
          $ref: '#/components/schemas/TimestampFilter'
    Facerecognition_faceevent_GetFaceEventWSResponse:
      type: object
      description: Response object containing a specific face event.
      properties:
        faceEvent:
          $ref: '#/components/schemas/Facerecognition_faceevent_ExternalFaceEvent'
    Facerecognition_faceevent_GetFaceEventWSRequest:
      type: object
      description: Request object for retrieving a specific face event by UUID.
      properties:
        eventUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    Facerecognition_faceevent_DeleteFaceEventWSResponse:
      type: object
      description: Response object for deleting a face event.
    Facerecognition_faceevent_DeleteFaceEventWSRequest:
      type: object
      description: Request object for deleting a face event.
      properties:
        eventUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
  securitySchemes:
    ApiKeyAuth:
      description: Your Rhombus API key. Must be accompanied by the `x-auth-scheme` header set to `api-token` (or `partner-api-token` for partner endpoints).
      in: header
      name: x-auth-apikey
      type: apiKey
x-samples-languages:
- curl
- node
- python
- java
