openapi: 3.2.0
info:
  contact:
    email: developer@rhombussystems.com
  description: 'This API is for use by Rhombus customers and partners.


    ## Authentication


    All requests require two headers:

    - `x-auth-scheme` — The authentication scheme identifier. Use `api-token` for standard API key auth, or `partner-api-token` for partner API auth.

    - `x-auth-apikey` — Your Rhombus API key.


    Example:

    ```

    POST /api/camera/getMinimalCameraStateList

    x-auth-scheme: api-token

    x-auth-apikey: YOUR_API_KEY

    Content-Type: application/json

    ```'
  title: Rhombus Org Integrations Webservice API
  version: '1.0'
servers:
- description: Production Server
  url: https://api2.rhombussystems.com
security:
- ApiKeyAuth: []
tags:
- name: Org Integrations Webservice
paths:
  /api/integrations/org/getApiTokens:
    post:
      description: Get list of all api tokens for organization
      operationId: getApiTokens
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_GetApiTokensWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_GetApiTokensWSResponse'
          description: OK
      summary: Get API tokens
      tags:
      - Org Integrations Webservice
  /api/integrations/org/getOrgIntegrations:
    post:
      description: Get details of all third-party integrations for organization
      operationId: getOrgIntegrations
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_GetOrgIntegrationsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_GetOrgIntegrationsWSResponse'
          description: OK
      summary: Get organization integrations
      tags:
      - Org Integrations Webservice
  /api/integrations/org/getOrgIntegrationsV2:
    post:
      description: Get details of all V2 third-party integrations for an organization
      operationId: getOrgIntegrationsV2
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_GetOrgIntegrationsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_GetAllOrgIntegrationsV2WSResponse'
          description: OK
      summary: Get organization integrations V2
      tags:
      - Org Integrations Webservice
  /api/integrations/org/revokeApiToken:
    post:
      description: 'Remove an api token from organization. Note: this is irreversible'
      operationId: revokeApiToken
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_RevokeApiTokenWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_RevokeApiTokenWSResponse'
          description: OK
      summary: Revoke API token
      tags:
      - Org Integrations Webservice
components:
  schemas:
    Integration_GetOrgIntegrationsWSResponse:
      type: object
      description: Response object containing organization integrations configuration.
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        orgIntegrations:
          $ref: '#/components/schemas/OrgIntegrationsType'
        warningMsg:
          type:
          - string
          - 'null'
    Integration_RevokeApiTokenWSResponse:
      type: object
      description: Response object for revoking an API token.
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        warningMsg:
          type:
          - string
          - 'null'
    EnvoyLocationInfoType:
      type:
      - object
      - 'null'
      properties:
        assignedCameraList:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
        locationName:
          type:
          - string
          - 'null'
    PlaceOsSettings:
      type: object
      properties:
        alertUnauthorizedFaces:
          type:
          - boolean
          - 'null'
        apiUrl:
          type:
          - string
          - 'null'
        createSeekPoints:
          type:
          - boolean
          - 'null'
        doorInfoMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/BadgeIntegrationDoorInfoType'
        enabled:
          type:
          - boolean
          - 'null'
        enabledTimestampMs:
          type:
          - integer
          - 'null'
          format: int64
        enablingUser:
          type:
          - string
          - 'null'
        enablingUserUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        identifyFacesFromBadge:
          type:
          - boolean
          - 'null'
        migrated:
          type:
          - boolean
          - 'null'
        rhombusToken:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        saveClips:
          type:
          - boolean
          - 'null'
        webhookSignatureSecret:
          type:
          - string
          - 'null'
    Integration_GetApiTokensWSRequest:
      type: object
      description: Request object for retrieving API tokens.
      properties:
        optionalFilter:
          type:
          - array
          - 'null'
          description: Optional filter for API client types
          items:
            $ref: '#/components/schemas/ApiClientTypeEnum'
    ToastSettings:
      type: object
      description: Toast POS integration settings to update
      properties:
        currentToastRestaurantGuid:
          type:
          - string
          - 'null'
          description: The current restaurant guid you want to use
        enabled:
          type:
          - boolean
          - 'null'
        enabledTimestampMs:
          type:
          - integer
          - 'null'
          format: int64
        enablingUser:
          type:
          - string
          - 'null'
        enablingUserUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        migrated:
          type:
          - boolean
          - 'null'
        posInfoMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/PosIntegrationInfoType'
          description: A HashMap of <Service Area Guid, PosIntegrationInfoType>. This stores the Pos Information and assigned cameras.
        toastRestaurantInfoMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/ToastRestaurantInfo'
          description: A HashMap of <Restaurant Guid, ToastRestaurantInfo>. This stores the information for each restaurant.
    ToastRestaurantInfo:
      type: object
      description: A HashMap of <Restaurant Guid, ToastRestaurantInfo>. This stores the information for each restaurant.
      properties:
        locationName:
          type:
          - string
          - 'null'
          description: The location name of the restaurant from Toast
        restaurantName:
          type:
          - string
          - 'null'
          description: The name of the restaurant from Toast. e.g., COFFEE CAN
    DeviceIntegrationSettings:
      type:
      - object
      - 'null'
      properties:
        latitude:
          type:
          - number
          - 'null'
          format: double
        longitude:
          type:
          - number
          - 'null'
          format: double
        name:
          type:
          - string
          - 'null'
    ApiClientTypeEnum:
      type: string
      enum:
      - PARTNER_DEVELOPER
      - DEVELOPER
      - INTERNAL_SALESFORCE
      - TVOS
      - WINDOWS
      - LINUX
      - KIOSK
      - KEYPAD
      - SQUARE
      - KISI
      - OPENPATH
      - TOAST
      - BOULEVARD
      - BRIVO
      - EXECUTABLE
      - HALO
      - SALTO
      - BUTTERFLYMX
      - GENEA
      - PRODATAKEY
      - ENVOY
      - AMT
      - PIMLOC
      - PLACEOS
      - OMNIALERT
      - FLIC
      - SHELLY_DEVICE_EVENT
      - NINEONEONECELLULAR
      - HONEYWELL_ELEMENTS
      - HONEYWELL_ONGUARD
      - HONEYWELL_NETBOX
      - TRITON
      - CHATBOT
      - SIGNATURE_API
      - INCOMING_WEBHOOK
      - UNKNOWN
    GenericPosSettings:
      type:
      - object
      - 'null'
      description: Collection of service area settings for this restaurant
      properties:
        assignedCameraList:
          type:
          - array
          - 'null'
          description: A list of camera uuids from Rhombus that are assigned to the PoS device
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
        posName:
          type:
          - string
          - 'null'
          description: The name of the point of sale device
    ButterflyMXSettings:
      type: object
      properties:
        buildingWebhookIdMap:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
            description: 'A HashMap of <ButterflyMx Building Id, Webhook Id>. '
          description: 'A HashMap of <ButterflyMx Building Id, Webhook Id>. '
        createSeekPoints:
          type:
          - boolean
          - 'null'
        enabled:
          type:
          - boolean
          - 'null'
        enabledTimestampMs:
          type:
          - integer
          - 'null'
          format: int64
        enablingUser:
          type:
          - string
          - 'null'
        enablingUserUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        indexFaces:
          type:
          - boolean
          - 'null'
        migrated:
          type:
          - boolean
          - 'null'
        panelInfoMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/ButterflymxPanelInfoType'
          description: A HashMap of <Panel Id, ButterflymxPanelInfoType>.
        refreshToken:
          type:
          - string
          - 'null'
        rhombusToken:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        saveClips:
          type:
          - boolean
          - 'null'
    HoneywellNetBoxType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          alertUnauthorizedFaces:
            type:
            - boolean
            - 'null'
          apiToken:
            type:
            - string
            - 'null'
          badgeAuthDisablesAlarmMonitoring:
            type:
            - boolean
            - 'null'
          badgeFaceVerificationMode:
            $ref: '#/components/schemas/BadgeFaceVerificationModeEnum'
          baseUrl:
            type:
            - string
            - 'null'
          createAccessAnomalyAlerts:
            type:
            - boolean
            - 'null'
          createSeekPoints:
            type:
            - boolean
            - 'null'
          doorInfoMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/BadgeIntegrationDoorInfoType'
          doorsValidated:
            type:
            - boolean
            - 'null'
          identifyFacesFromBadge:
            type:
            - boolean
            - 'null'
          indexFaces:
            type:
            - boolean
            - 'null'
          misconfiguredDoors:
            type:
            - array
            - 'null'
            items:
              type:
              - string
              - 'null'
          refreshToken:
            type:
            - string
            - 'null'
          rhombusToken:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          saveClips:
            type:
            - boolean
            - 'null'
          tokenValid:
            type:
            - boolean
            - 'null'
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    MicrosoftTeamsChannelSettings:
      type:
      - object
      - 'null'
      properties:
        botInstallationId:
          type:
          - string
          - 'null'
        channelId:
          type:
          - string
          - 'null'
        installingUserUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        sendChannelNotifications:
          type:
          - boolean
          - 'null'
    TritonSettings:
      type: object
      properties:
        alertAggression:
          type:
          - boolean
          - 'null'
        alertCO:
          type:
          - boolean
          - 'null'
        alertCO2:
          type:
          - boolean
          - 'null'
        alertGunshot:
          type:
          - boolean
          - 'null'
        alertHelp:
          type:
          - boolean
          - 'null'
        alertMasking:
          type:
          - boolean
          - 'null'
        alertTHC:
          type:
          - boolean
          - 'null'
        alertTamper:
          type:
          - boolean
          - 'null'
        alertVOC:
          type:
          - boolean
          - 'null'
        alertVape:
          type:
          - boolean
          - 'null'
        enabled:
          type:
          - boolean
          - 'null'
        enabledTimestampMs:
          type:
          - integer
          - 'null'
          format: int64
        enablingUser:
          type:
          - string
          - 'null'
        enablingUserUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        saveClips:
          type:
          - boolean
          - 'null'
        savedClipDurationMs:
          type:
          - integer
          - 'null'
          format: int32
        sensorToCamerasMap:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - array
            - 'null'
            items:
              type:
              - string
              - 'null'
              format: RUUID
              description: base 64 (url-safe) uuid string
              example: AAAAAAAAAAAAAAAAAAAAAA
        triggerNotification:
          type:
          - boolean
          - 'null'
        url:
          type:
          - string
          - 'null'
    OpenpathSettings:
      type: object
      properties:
        alertUnauthorizedFaces:
          type:
          - boolean
          - 'null'
        createSeekPoints:
          type:
          - boolean
          - 'null'
        doorInfoMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/BadgeIntegrationDoorInfoType'
        doorToCameraMap:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - array
            - 'null'
            items:
              type:
              - string
              - 'null'
              format: RUUID
              description: base 64 (url-safe) uuid string
              example: AAAAAAAAAAAAAAAAAAAAAA
        email:
          type:
          - string
          - 'null'
        enabled:
          type:
          - boolean
          - 'null'
        enabledTimestampMs:
          type:
          - integer
          - 'null'
          format: int64
        enablingUser:
          type:
          - string
          - 'null'
        enablingUserUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        eventToWebhookIdMap:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - integer
            - 'null'
            format: int32
        eventToWebhookMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/WebhookMapEntry'
        identifyFacesFromBadge:
          type:
          - boolean
          - 'null'
        migrated:
          type:
          - boolean
          - 'null'
        password:
          type:
          - string
          - 'null'
        rhombusToken:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        saveClips:
          type:
          - boolean
          - 'null'
        webhookId:
          type:
          - integer
          - 'null'
          format: int32
    Integration_GetAllOrgIntegrationsV2WSResponse:
      type: object
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        orgIntegrationsV2:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IBaseIntegrationType'
        warningMsg:
          type:
          - string
          - 'null'
    AvigilonAltaType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          alertUnauthorizedFaces:
            type:
            - boolean
            - 'null'
          apiToken:
            type:
            - string
            - 'null'
          badgeAuthDisablesAlarmMonitoring:
            type:
            - boolean
            - 'null'
          badgeFaceVerificationMode:
            $ref: '#/components/schemas/BadgeFaceVerificationModeEnum'
          createAccessAnomalyAlerts:
            type:
            - boolean
            - 'null'
          createSeekPoints:
            type:
            - boolean
            - 'null'
          doorInfoMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/BadgeIntegrationDoorInfoType'
          doorToCameraMap:
            type:
            - object
            - 'null'
            additionalProperties:
              type:
              - array
              - 'null'
              items:
                type:
                - string
                - 'null'
                format: RUUID
                description: base 64 (url-safe) uuid string
                example: AAAAAAAAAAAAAAAAAAAAAA
          doorsValidated:
            type:
            - boolean
            - 'null'
          email:
            type:
            - string
            - 'null'
          eventToWebhookIdMap:
            type:
            - object
            - 'null'
            additionalProperties:
              type:
              - integer
              - 'null'
              format: int32
          eventToWebhookMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/WebhookMapEntry'
          identifyFacesFromBadge:
            type:
            - boolean
            - 'null'
          indexFaces:
            type:
            - boolean
            - 'null'
          misconfiguredDoors:
            type:
            - array
            - 'null'
            items:
              type:
              - string
              - 'null'
          password:
            type:
            - string
            - 'null'
          refreshToken:
            type:
            - string
            - 'null'
          rhombusToken:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          saveClips:
            type:
            - boolean
            - 'null'
          tokenValid:
            type:
            - boolean
            - 'null'
          webhookId:
            type:
            - integer
            - 'null'
            format: int32
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    OpentechAllianceDoorInfoType:
      type:
      - object
      - 'null'
      properties:
        actionGroupId:
          type:
          - string
          - 'null'
        assignedCameraList:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
        clipDuration:
          type:
          - integer
          - 'null'
          format: int32
        doorName:
          type:
          - string
          - 'null'
        leadingSeconds:
          type:
          - integer
          - 'null'
          format: int32
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        remoteUnlock:
          type:
          - boolean
          - 'null'
        subLocationsHierarchyKey:
          type:
          - string
          - 'null'
          format: SubLocationsHierarchyKey
          description: 'A sequence of one or more base 64 (url-safe) uuid substrings.

            These substrings are separated by dots (.).

            '
          example: AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA
          pattern: ^([A-Za-z0-9\-_]{22})([.][A-Za-z0-9\-_]{22})*$
    NoonlightSettings:
      type: object
      properties:
        acceptedTermsOfService:
          type:
          - boolean
          - 'null'
        defaultContactsByLocationMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/EmergencyContact'
        defaultDelayByLocationsMap:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - integer
            - 'null'
            format: int32
        defaultPromptByLocationsMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/NoonlightPromptThemeEnum'
        emergencyContactsByLocationsMap:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/EmergencyResponseContactsIntervalType'
        enabled:
          type:
          - boolean
          - 'null'
        escalationSettingsByLocationsMap:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/AlertMonitoringSubmissionDelayIntervalType'
        locationEntryInstructionsMap:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
        pinsByLocationMap:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/AlertMonitoringPinType'
            uniqueItems: true
        verificationPrompt:
          type:
          - string
          - 'null'
    ButterflyMXType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          alertUnauthorizedFaces:
            type:
            - boolean
            - 'null'
          apiToken:
            type:
            - string
            - 'null'
          badgeAuthDisablesAlarmMonitoring:
            type:
            - boolean
            - 'null'
          badgeFaceVerificationMode:
            $ref: '#/components/schemas/BadgeFaceVerificationModeEnum'
          buildingWebhookIdMap:
            type:
            - object
            - 'null'
            additionalProperties:
              type:
              - string
              - 'null'
              description: 'A HashMap of <ButterflyMx Building Id, Webhook Id>. '
            description: 'A HashMap of <ButterflyMx Building Id, Webhook Id>. '
          createAccessAnomalyAlerts:
            type:
            - boolean
            - 'null'
          createSeekPoints:
            type:
            - boolean
            - 'null'
          doorInfoMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/BadgeIntegrationDoorInfoType'
          doorsValidated:
            type:
            - boolean
            - 'null'
          identifyFacesFromBadge:
            type:
            - boolean
            - 'null'
          indexFaces:
            type:
            - boolean
            - 'null'
          misconfiguredDoors:
            type:
            - array
            - 'null'
            items:
              type:
              - string
              - 'null'
          panelInfoMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/ButterflymxPanelInfoType'
            description: A HashMap of <Panel Id, ButterflymxPanelInfoType>.
          refreshToken:
            type:
            - string
            - 'null'
          rhombusToken:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          saveClips:
            type:
            - boolean
            - 'null'
          tokenValid:
            type:
            - boolean
            - 'null'
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    InnerRangeType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          apiToken:
            type:
            - string
            - 'null'
          consoleToSettingsMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/InnerRangeConsoleSettings'
          createSeekPoints:
            type:
            - boolean
            - 'null'
          doorInfoMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/InnerRangeDoorInfoType'
          refreshToken:
            type:
            - string
            - 'null'
          skyTunnelSN:
            type:
            - string
            - 'null'
          tokenValid:
            type:
            - boolean
            - 'null'
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    ShellyDeviceTypeEnum:
      type: string
      enum:
      - RELAY
      - LIGHT
      - ROLLER
      - INPUT
    BackblazeSettings:
      type: object
      properties:
        applicationKey:
          type:
          - string
          - 'null'
        applicationKeyId:
          type:
          - string
          - 'null'
        bucketName:
          type:
          - string
          - 'null'
        enabled:
          type:
          - boolean
          - 'null'
    UserInfo:
      type: object
      description: 'A HashMap of <RhombusOrgUser uuid : Slack user uuid, user access token>. This stores the information for each Slack user.'
      properties:
        userAccessToken:
          type:
          - string
          - 'null'
          description: Slack user access token
        userId:
          type:
          - string
          - 'null'
          description: Slack user uuid
    ZapierEnum:
      type: string
      description: Zapier integration type
      enum:
      - BUTTON_EVENTS
      - DOOR_SENSOR_EVENTS
      - ENVIRONMENTAL_SENSOR_EVENTS
      - RULE_EVENTS
    TriggerContent:
      type: object
      properties:
        apiKey:
          type:
          - string
          - 'null'
        experienceIds:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
        experienceNames:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
        message:
          type:
          - string
          - 'null'
        parameter1:
          type:
          - string
          - 'null'
        parameter2:
          type:
          - string
          - 'null'
        parameter3:
          type:
          - string
          - 'null'
        playerDeviceNames:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
        playerIds:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
        playerTags:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
    WebhookInfo:
      type: object
      properties:
        webhookDisabled:
          type:
          - boolean
          - 'null'
        webhookSecret:
          type:
          - string
          - 'null'
    MicrosoftTeamsUserSettings:
      type:
      - object
      - 'null'
      properties:
        botInstallationId:
          type:
          - string
          - 'null'
        chatId:
          type:
          - string
          - 'null'
        refreshToken:
          type:
          - string
          - 'null'
        sendUserNotifications:
          type:
          - boolean
          - 'null'
        teamIds:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
        userId:
          type:
          - string
          - 'null'
    IBaseIntegrationType:
      type: object
      discriminator:
        propertyName: integration
      oneOf:
      - $ref: '#/components/schemas/AperioType'
      - $ref: '#/components/schemas/AvigilonAltaType'
      - $ref: '#/components/schemas/BoulevardType'
      - $ref: '#/components/schemas/BrivoType'
      - $ref: '#/components/schemas/ButterflyMXType'
      - $ref: '#/components/schemas/DeviceIntegrationType'
      - $ref: '#/components/schemas/DiceType'
      - $ref: '#/components/schemas/EnvoyType'
      - $ref: '#/components/schemas/FlicType'
      - $ref: '#/components/schemas/GeneaType'
      - $ref: '#/components/schemas/GoogleType'
      - $ref: '#/components/schemas/GuestManagementType'
      - $ref: '#/components/schemas/HoneywellElementsType'
      - $ref: '#/components/schemas/InformacastType'
      - $ref: '#/components/schemas/InnerRangeType'
      - $ref: '#/components/schemas/KisiType'
      - $ref: '#/components/schemas/LumeoType'
      - $ref: '#/components/schemas/MicrosoftTeamsType'
      - $ref: '#/components/schemas/NineOneOneCellularType'
      - $ref: '#/components/schemas/OmnialertType'
      - $ref: '#/components/schemas/OpenAIType'
      - $ref: '#/components/schemas/OpentechAllianceType'
      - $ref: '#/components/schemas/PimlocType'
      - $ref: '#/components/schemas/PlaceOsType'
      - $ref: '#/components/schemas/ProDataKeyType'
      - $ref: '#/components/schemas/RaptorType'
      - $ref: '#/components/schemas/ShellyType'
      - $ref: '#/components/schemas/ToastType'
      - $ref: '#/components/schemas/WebhooksType'
      - $ref: '#/components/schemas/ZapierType'
      - $ref: '#/components/schemas/ParPOSType'
      - $ref: '#/components/schemas/HoneywellOnGuardType'
      - $ref: '#/components/schemas/HoneywellNetBoxType'
      - $ref: '#/components/schemas/SignatureApiType'
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    LumeoType:
      type:
      - object
      - 'null'
      allOf: []
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    HaloSettings:
      type: object
      properties:
        alertAgression:
          type:
          - boolean
          - 'null'
        alertCO:
          type:
          - boolean
          - 'null'
        alertCO2:
          type:
          - boolean
          - 'null'
        alertGunshot:
          type:
          - boolean
          - 'null'
        alertHelp:
          type:
          - boolean
          - 'null'
        alertMasking:
          type:
          - boolean
          - 'null'
        alertTHC:
          type:
          - boolean
          - 'null'
        alertTamper:
          type:
          - boolean
          - 'null'
        alertTemp:
          type:
          - boolean
          - 'null'
        alertVOC:
          type:
          - boolean
          - 'null'
        alertVape:
          type:
          - boolean
          - 'null'
        enabled:
          type:
          - boolean
          - 'null'
        enabledTimestampMs:
          type:
          - integer
          - 'null'
          format: int64
        enablingUser:
          type:
          - string
          - 'null'
        enablingUserUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        saveClips:
          type:
          - boolean
          - 'null'
        savedClipDurationMs:
          type:
          - integer
          - 'null'
          format: int32
        sensorName:
          type:
          - string
          - 'null'
        sensorToCamerasMap:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - array
            - 'null'
            items:
              type:
              - string
              - 'null'
              format: RUUID
              description: base 64 (url-safe) uuid string
              example: AAAAAAAAAAAAAAAAAAAAAA
        triggerNotification:
          type:
          - boolean
          - 'null'
        url:
          type:
          - string
          - 'null'
    ButterflymxPanelInfoType:
      type:
      - object
      - 'null'
      description: A HashMap of <Panel Id, ButterflymxPanelInfoType>.
      properties:
        assignedCameraList:
          type:
          - array
          - 'null'
          description: The list of Rhombus Camera RUUIDs.
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
        buildingId:
          type:
          - integer
          - 'null'
          format: int32
          description: The ButterflyMx Building Id.
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        panelName:
          type:
          - string
          - 'null'
          description: The ButterflyMx Panel Name.
        subLocationsHierarchyKey:
          type:
          - string
          - 'null'
          format: SubLocationsHierarchyKey
          description: 'A sequence of one or more base 64 (url-safe) uuid substrings.

            These substrings are separated by dots (.).

            '
          example: AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA
          pattern: ^([A-Za-z0-9\-_]{22})([.][A-Za-z0-9\-_]{22})*$
    OpentechAllianceSettings:
      type: object
      properties:
        apiKey:
          type:
          - string
          - 'null'
        apiSecret:
          type:
          - string
          - 'null'
        enabled:
          type:
          - boolean
          - 'null'
        enabledTimestampMs:
          type:
          - integer
          - 'null'
          format: int64
        enablingUser:
          type:
          - string
          - 'null'
        enablingUserUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        facilityToSettingsMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/OpentechAllianceFacilitySettings'
        migrated:
          type:
          - boolean
          - 'null'
    GeneaType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          alertUnauthorizedFaces:
            type:
            - boolean
            - 'null'
          apiToken:
            type:
            - string
            - 'null'
          badgeAuthDisablesAlarmMonitoring:
            type:
            - boolean
            - 'null'
          badgeFaceVerificationMode:
            $ref: '#/components/schemas/BadgeFaceVerificationModeEnum'
          createAccessAnomalyAlerts:
            type:
            - boolean
            - 'null'
          createSeekPoints:
            type:
            - boolean
            - 'null'
          doorInfoMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/BadgeIntegrationDoorInfoType'
          doorsValidated:
            type:
            - boolean
            - 'null'
          identifyFacesFromBadge:
            type:
            - boolean
            - 'null'
          indexFaces:
            type:
            - boolean
            - 'null'
          misconfiguredDoors:
            type:
            - array
            - 'null'
            items:
              type:
              - string
              - 'null'
          refreshToken:
            type:
            - string
            - 'null'
          rhombusToken:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          saveClips:
            type:
            - boolean
            - 'null'
          tokenValid:
            type:
            - boolean
            - 'null'
          webhookSignatureSecret:
            type:
            - string
            - 'null'
          webhookUuid:
            type:
            - string
            - 'null'
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    DiceSettings:
      type: object
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        enabledTimestampMs:
          type:
          - integer
          - 'null'
          format: int64
        enablingUser:
          type:
          - string
          - 'null'
        enablingUserUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    OpenAIType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          apiToken:
            type:
            - string
            - 'null'
          baseUrl:
            type:
            - string
            - 'null'
            description: The base url for any OpenAI Chat Completions compliant API. For example, to use Gemini models, set this to 'https://generativelanguage.googleapis.com/v1beta/openai/'.  If left blank, we will try to use OpenAI models.
          defaultModel:
            type:
            - string
            - 'null'
            description: The model identifier to use as a default model.  This is provider specific and typically found on model card pages. For example, set to 'gemini-2.0-flash' to use the Gemini 2.0 Flash model.  Currently we require a model with vision capabilities for this integration.
          refreshToken:
            type:
            - string
            - 'null'
          tokenValid:
            type:
            - boolean
            - 'null'
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    IntegrationAuditEvent:
      type: object
      properties:
        enabledTimestampMs:
          type:
          - integer
          - 'null'
          format: int64
        integrationAuditEvent:
          $ref: '#/components/schemas/IntegrationAuditEventEnum'
        user:
          type:
          - string
          - 'null'
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    GuestManagementType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          locationSettingsMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/LocationSettings'
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    SlackSettings:
      type: object
      properties:
        accessToken:
          type:
          - string
          - 'null'
        channel:
          type:
          - string
          - 'null'
        enabled:
          type:
          - boolean
          - 'null'
        webhookUrl:
          type:
          - string
          - 'null'
    PosIntegrationInfoType:
      type: object
      description: A HashMap of <Service Area Guid, PosIntegrationInfoType>. This stores the Pos Information and assigned cameras.
      properties:
        assignedCameraList:
          type:
          - array
          - 'null'
          description: A list of camera guids from Rhombus that are assigned to the Pos device.
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
        posName:
          type:
          - string
          - 'null'
          description: The name of the Pos device.
    WebhookMapEntry:
      type:
      - object
      - 'null'
      properties:
        orgId:
          type:
          - integer
          - 'null'
          format: int32
        webhookId:
          type:
          - integer
          - 'null'
          format: int32
    ToastRestaurantSettings:
      type:
      - object
      - 'null'
      properties:
        locationName:
          type:
          - string
          - 'null'
          description: The location name of the restaurant from Toast
        restaurantName:
          type:
          - string
          - 'null'
          description: The name of the restaurant from Toast, e.g. COFFEE CAN
        serviceAreaSettingsMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/GenericPosSettings'
          description: Collection of service area settings for this restaurant
    WebhookSettings:
      type: object
      description: Webhook integration settings to update
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        enabledTimestampMs:
          type:
          - integer
          - 'null'
          format: int64
        enablingUser:
          type:
          - string
          - 'null'
        enablingUserUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        webhookSecret:
          type:
          - string
          - 'null'
        webhookUrl:
          type:
          - string
          - 'null'
    RaptorType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          apiToken:
            type:
            - string
            - 'null'
          clientId:
            type:
            - string
            - 'null'
          clientSecret:
            type:
            - string
            - 'null'
          clientUid:
            type:
            - string
            - 'null'
          refreshToken:
            type:
            - string
            - 'null'
          tokenValid:
            type:
            - boolean
            - 'null'
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    PimlocType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          baseAPIUrl:
            $ref: '#/components/schemas/PimlocBaseAPIUrlEnum'
          clientId:
            type:
            - string
            - 'null'
          clientSecret:
            type:
            - string
            - 'null'
          rhombusToken:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          validCredentials:
            type:
            - boolean
            - 'null'
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    SecurityZoneInfoType:
      type:
      - object
      - 'null'
      properties:
        assignedCameraList:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
        isParentZone:
          type:
          - boolean
          - 'null'
        securityZoneName:
          type:
          - string
          - 'null'
        zoneAddress:
          type:
          - string
          - 'null'
        zoneId:
          type:
          - string
          - 'null'
        zoneParentId:
          type:
          - string
          - 'null'
    KisiType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          apiSecretKey:
            type:
            - string
            - 'null'
          defaultOptions:
            $ref: '#/components/schemas/BadgeIntegrationDefaultOptions'
          doorsValidated:
            type:
            - boolean
            - 'null'
          placeToSettingsMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/BadgeIntegrationSettings'
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    BrivoSettings:
      type: object
      properties:
        accessToken:
          type:
          - string
          - 'null'
        alertUnauthorizedFaces:
          type:
          - boolean
          - 'null'
        clientId:
          type:
          - string
          - 'null'
        clientSecret:
          type:
          - string
          - 'null'
        createSeekPoints:
          type:
          - boolean
          - 'null'
        doorInfoMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/BadgeIntegrationDoorInfoType'
        doorToCameraMap:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - array
            - 'null'
            items:
              type:
              - string
              - 'null'
              format: RUUID
              description: base 64 (url-safe) uuid string
              example: AAAAAAAAAAAAAAAAAAAAAA
          writeOnly: true
        enabled:
          type:
          - boolean
          - 'null'
        enabledTimestampMs:
          type:
          - integer
          - 'null'
          format: int64
        enablingUser:
          type:
          - string
          - 'null'
        enablingUserUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        identifyFacesFromBadge:
          type:
          - boolean
          - 'null'
        migrated:
          type:
          - boolean
          - 'null'
        password:
          type:
          - string
          - 'null'
        refreshToken:
          type:
          - string
          - 'null'
        rhombusToken:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        saveClips:
          type:
          - boolean
          - 'null'
        username:
          type:
          - string
          - 'null'
        webhookId:
          type:
          - integer
          - 'null'
          format: int32
    Integration_RevokeApiTokenWSRequest:
      type: object
      description: Request object for revoking an API token.
      properties:
        tokenUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    PimlocBaseAPIUrlEnum:
      type: string
      enum:
      - US
      - EU
    GoogleSettings:
      type: object
      description: Google integration settings to update
      properties:
        accountUser:
          type:
          - string
          - 'null'
        enabled:
          type:
          - boolean
          - 'null'
        enabledTimestampMs:
          type:
          - integer
          - 'null'
          format: int64
        enablingUser:
          type:
          - string
          - 'null'
        enablingUserUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        folderId:
          type:
          - string
          - 'null'
        teamDriveId:
          type:
          - string
          - 'null'
    EnvoyType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          alertUnauthorizedFaces:
            type:
            - boolean
            - 'null'
          apiToken:
            type:
            - string
            - 'null'
          badgeAuthDisablesAlarmMonitoring:
            type:
            - boolean
            - 'null'
          badgeFaceVerificationMode:
            $ref: '#/components/schemas/BadgeFaceVerificationModeEnum'
          createAccessAnomalyAlerts:
            type:
            - boolean
            - 'null'
          createSeekPoints:
            type:
            - boolean
            - 'null'
          doorInfoMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/BadgeIntegrationDoorInfoType'
          doorsValidated:
            type:
            - boolean
            - 'null'
          envoyIntegrationInstalled:
            type:
            - boolean
            - 'null'
          envoyUserSettingsMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/EnvoyUserSettings'
          identifyFacesFromBadge:
            type:
            - boolean
            - 'null'
          indexFaces:
            type:
            - boolean
            - 'null'
          locationInfoMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/EnvoyLocationInfoType'
          misconfiguredDoors:
            type:
            - array
            - 'null'
            items:
              type:
              - string
              - 'null'
          refreshToken:
            type:
            - string
            - 'null'
          saveClips:
            type:
            - boolean
            - 'null'
          tokenValid:
            type:
            - boolean
            - 'null'
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    OmnialertType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          associatedCameras:
            type:
            - array
            - 'null'
            items:
              type:
              - string
              - 'null'
              format: RUUID
              description: base 64 (url-safe) uuid string
              example: AAAAAAAAAAAAAAAAAAAAAA
            uniqueItems: true
          saveClips:
            type:
            - boolean
            - 'null'
          triggerNotification:
            type:
            - boolean
            - 'null'
          webhookToken:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    BoulevardType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          accessWindowAfterMinutes:
            type:
            - integer
            - 'null'
            format: int32
          accessWindowBeforeMinutes:
            type:
            - integer
            - 'null'
            format: int32
          apiToken:
            type:
            - string
            - 'null'
          boulevardBusinessId:
            type:
            - string
            - 'null'
          boulevardLocationToRhombusLocationMap:
            type:
            - object
            - 'null'
            additionalProperties:
              type:
              - string
              - 'null'
              format: RUUID
              description: base 64 (url-safe) uuid string
              example: AAAAAAAAAAAAAAAAAAAAAA
          refreshToken:
            type:
            - string
            - 'null'
          rhombusToken:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          tokenValid:
            type:
            - boolean
            - 'null'
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    HoneywellElementsType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          alertUnauthorizedFaces:
            type:
            - boolean
            - 'null'
          apiKey:
            type:
            - string
            - 'null'
          apiToken:
            type:
            - string
            - 'null'
          badgeAuthDisablesAlarmMonitoring:
            type:
            - boolean
            - 'null'
          badgeFaceVerificationMode:
            $ref: '#/components/schemas/BadgeFaceVerificationModeEnum'
          baseUrl:
            type:
            - string
            - 'null'
          createAccessAnomalyAlerts:
            type:
            - boolean
            - 'null'
          createSeekPoints:
            type:
            - boolean
            - 'null'
          doorInfoMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/BadgeIntegrationDoorInfoType'
          doorsValidated:
            type:
            - boolean
            - 'null'
          identifyFacesFromBadge:
            type:
            - boolean
            - 'null'
          indexFaces:
            type:
            - boolean
            - 'null'
          misconfiguredDoors:
            type:
            - array
            - 'null'
            items:
              type:
              - string
              - 'null'
          refreshToken:
            type:
            - string
            - 'null'
          rhombusToken:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          saveClips:
            type:
            - boolean
            - 'null'
          siteId:
            type:
            - string
            - 'null'
          tokenValid:
            type:
            - boolean
            - 'null'
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    WebhooksType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          activityWebhooks:
            type:
            - object
            - 'null'
            additionalProperties:
              type:
              - string
              - 'null'
          activityWebhooksV2:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/WebhookInfo'
          diagnosticWebhooks:
            type:
            - object
            - 'null'
            additionalProperties:
              type:
              - string
              - 'null'
          diagnosticWebhooksV2:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/WebhookInfo'
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    GoogleUserSettings:
      type:
      - object
      - 'null'
      properties:
        defaultAlertFolderId:
          type:
          - string
          - 'null'
        defaultAlertFolderName:
          type:
          - string
          - 'null'
        defaultFolderId:
          type:
          - string
          - 'null'
        defaultFolderName:
          type:
          - string
          - 'null'
        refreshToken:
          type:
          - string
          - 'null'
        saveAllAlerts:
          type:
          - boolean
          - 'null'
        saveClips:
          type:
          - boolean
          - 'null'
        tokenValid:
          type:
          - boolean
          - 'null'
    SignatureApiType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          apiToken:
            type:
            - string
            - 'null'
          refreshToken:
            type:
            - string
            - 'null'
          tokenValid:
            type:
            - boolean
            - 'null'
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    PlaceOsType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          alertUnauthorizedFaces:
            type:
            - boolean
            - 'null'
          apiToken:
            type:
            - string
            - 'null'
          apiUrl:
            type:
            - string
            - 'null'
          badgeAuthDisablesAlarmMonitoring:
            type:
            - boolean
            - 'null'
          badgeFaceVerificationMode:
            $ref: '#/components/schemas/BadgeFaceVerificationModeEnum'
          createAccessAnomalyAlerts:
            type:
            - boolean
            - 'null'
          createSeekPoints:
            type:
            - boolean
            - 'null'
          doorInfoMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/BadgeIntegrationDoorInfoType'
          doorsValidated:
            type:
            - boolean
            - 'null'
          identifyFacesFromBadge:
            type:
            - boolean
            - 'null'
          indexFaces:
            type:
            - boolean
            - 'null'
          misconfiguredDoors:
            type:
            - array
            - 'null'
            items:
              type:
              - string
              - 'null'
          refreshToken:
            type:
            - string
            - 'null'
          rhombusToken:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          saveClips:
            type:
            - boolean
            - 'null'
          tokenValid:
            type:
            - boolean
            - 'null'
          triggerNotification:
            type:
            - boolean
            - 'null'
          webhookSignatureSecret:
            type:
            - string
            - 'null'
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    BadgeIntegrationDefaultOptions:
      type:
      - object
      - 'null'
      properties:
        alertUnauthorizedFaces:
          type:
          - boolean
          - 'null'
        badgeAuthDisablesAlarmMonitoring:
          type:
          - boolean
          - 'null'
        createSeekPoints:
          type:
          - boolean
          - 'null'
        defaultOptionsEnabled:
          type:
          - boolean
          - 'null'
        identifyFacesFromBadge:
          type:
          - boolean
          - 'null'
        saveClips:
          type:
          - boolean
          - 'null'
    AwsSettings:
      type: object
      properties:
        accessKey:
          type:
          - string
          - 'null'
        bucketName:
          type:
          - string
          - 'null'
        enabled:
          type:
          - boolean
          - 'null'
        enabledTimestampMs:
          type:
          - integer
          - 'null'
          format: int64
        enablingUser:
          type:
          - string
          - 'null'
        enablingUserUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        secretKey:
          type:
          - string
          - 'null'
    InformacastType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          apiToken:
            type:
            - string
            - 'null'
          refreshToken:
            type:
            - string
            - 'null'
          tokenValid:
            type:
            - boolean
            - 'null'
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    BrivoType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          accessToken:
            type:
            - string
            - 'null'
          alertUnauthorizedFaces:
            type:
            - boolean
            - 'null'
          apiKey:
            type:
            - string
            - 'null'
          apiToken:
            type:
            - string
            - 'null'
          badgeAuthDisablesAlarmMonitoring:
            type:
            - boolean
            - 'null'
          badgeFaceVerificationMode:
            $ref: '#/components/schemas/BadgeFaceVerificationModeEnum'
          clientId:
            type:
            - string
            - 'null'
          clientSecret:
            type:
            - string
            - 'null'
          createAccessAnomalyAlerts:
            type:
            - boolean
            - 'null'
          createSeekPoints:
            type:
            - boolean
            - 'null'
          doorInfoMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/BadgeIntegrationDoorInfoType'
          doorsValidated:
            type:
            - boolean
            - 'null'
          identifyFacesFromBadge:
            type:
            - boolean
            - 'null'
          indexFaces:
            type:
            - boolean
            - 'null'
          misconfiguredDoors:
            type:
            - array
            - 'null'
            items:
              type:
              - string
              - 'null'
          password:
            type:
            - string
            - 'null'
          refreshToken:
            type:
            - string
            - 'null'
          rhombusToken:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          saveClips:
            type:
            - boolean
            - 'null'
          tokenValid:
            type:
            - boolean
            - 'null'
          username:
            type:
            - string
            - 'null'
          version:
            type:
            - integer
            - 'null'
            format: int32
          webhookId:
            type:
            - integer
            - 'null'
            format: int32
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    AlertMonitoringPinType:
      type: object
      properties:
        description:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        pin:
          type:
          - string
          - 'null'
    MicrosoftTeamsType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          adminConsent:
            type:
            - boolean
            - 'null'
          allowUserNotifications:
            type:
            - boolean
            - 'null'
          microsoftTeamSettingsMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/MicrosoftTeamsChannelSettings'
          microsoftTeamsUserSettingsMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/MicrosoftTeamsUserSettings'
          tenantId:
            type:
            - string
            - 'null'
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    SlackSettingsV2:
      type: object
      properties:
        channelId:
          type:
          - string
          - 'null'
        channelName:
          type:
          - string
          - 'null'
        code:
          type:
          - string
          - 'null'
        enabled:
          type:
          - boolean
          - 'null'
        enabledTimestampMs:
          type:
          - integer
          - 'null'
          format: int64
        enablingUser:
          type:
          - string
          - 'null'
        enablingUserUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        orgAccessToken:
          type:
          - string
          - 'null'
        sendChannelNotifications:
          type:
          - boolean
          - 'null'
        sendUserNotifications:
          type:
          - boolean
          - 'null'
        userMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/UserInfo'
          description: 'A HashMap of <RhombusOrgUser uuid : Slack user uuid, user access token>. This stores the information for each Slack user.'
        webhookUrl:
          type:
          - string
          - 'null'
    DiceType:
      type:
      - object
      - 'null'
      allOf: []
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    EmergencyResponseContactsIntervalType:
      type: object
      properties:
        emergencyContactList:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EmergencyContact'
        minuteOfWeekStart:
          type:
          - integer
          - 'null'
          format: int32
        minuteOfWeekStop:
          type:
          - integer
          - 'null'
          format: int32
    BoxSettings:
      type: object
      description: Box file storage integration settings to update
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        enabledTimestampMs:
          type:
          - integer
          - 'null'
          format: int64
        enablingUser:
          type:
          - string
          - 'null'
        enablingUserUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        enterpriseId:
          type:
          - string
          - 'null'
        folderId:
          type:
          - string
          - 'null'
    InnerRangeDoorInfoType:
      type:
      - object
      - 'null'
      properties:
        assignedCameraList:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
        clipDuration:
          type:
          - integer
          - 'null'
          format: int32
        doorName:
          type:
          - string
          - 'null'
        leadingSeconds:
          type:
          - integer
          - 'null'
          format: int32
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        readerIds:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
        remoteUnlock:
          type:
          - boolean
          - 'null'
        subLocationsHierarchyKey:
          type:
          - string
          - 'null'
          format: SubLocationsHierarchyKey
          description: 'A sequence of one or more base 64 (url-safe) uuid substrings.

            These substrings are separated by dots (.).

            '
          example: AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA
          pattern: ^([A-Za-z0-9\-_]{22})([.][A-Za-z0-9\-_]{22})*$
    BadgeFaceVerificationModeEnum:
      type: string
      enum:
      - 'OFF'
      - SHADOW
      - SUPERVISED
      - AUTO
    NineOneOneCellularType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          bearerToken:
            type:
            - string
            - 'null'
          saveClips:
            type:
            - boolean
            - 'null'
          securityZoneMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/SecurityZoneInfoType'
          triggerNotification:
            type:
            - boolean
            - 'null'
          webhookToken:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          zonesValidated:
            type:
            - boolean
            - 'null'
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    OrgIntegrationsType:
      type: object
      description: Organization integrations configuration and settings
      properties:
        amtSettings:
          $ref: '#/components/schemas/AmtSettings'
        awsSettings:
          $ref: '#/components/schemas/AwsSettings'
        backblazeSettings:
          $ref: '#/components/schemas/BackblazeSettings'
        boxSettings:
          $ref: '#/components/schemas/BoxSettings'
        brivoSettings:
          $ref: '#/components/schemas/BrivoSettings'
        butterflymxSettings:
          $ref: '#/components/schemas/ButterflyMXSettings'
        diceSettings:
          $ref: '#/components/schemas/DiceSettings'
        dropboxSettingsV2:
          $ref: '#/components/schemas/DropboxSettingsV2'
        emailSettings:
          $ref: '#/components/schemas/EmailSettings'
        envoySettings:
          $ref: '#/components/schemas/EnvoySettings'
        geneaSettings:
          $ref: '#/components/schemas/GeneaSettings'
        googleSettings:
          $ref: '#/components/schemas/GoogleSettings'
        googleSettingsV2:
          $ref: '#/components/schemas/GoogleSettingsV2'
        haloSettings:
          $ref: '#/components/schemas/HaloSettings'
        immixSettings:
          $ref: '#/components/schemas/ImmixSettings'
        intuifaceSettings:
          $ref: '#/components/schemas/IntuifaceSettings'
        kisiSettings:
          $ref: '#/components/schemas/KisiSettings'
        lumeoSettings:
          $ref: '#/components/schemas/LumeoSettings'
        mattermostSettings:
          $ref: '#/components/schemas/MattermostSettings'
        microsoftTeamsSettings:
          $ref: '#/components/schemas/MicrosoftTeamsSettings'
        noonlightSettings:
          $ref: '#/components/schemas/NoonlightSettings'
        office365Settings:
          $ref: '#/components/schemas/Office365Settings'
        openpathSettings:
          $ref: '#/components/schemas/OpenpathSettings'
        opentechAllianceSettings:
          $ref: '#/components/schemas/OpentechAllianceSettings'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        pagerDutySettings:
          $ref: '#/components/schemas/PagerDutySettings'
        placeOsSettings:
          $ref: '#/components/schemas/PlaceOsSettings'
        proDataKeySettings:
          $ref: '#/components/schemas/ProDataKeySettings'
        saltoSettings:
          $ref: '#/components/schemas/SaltoSettings'
        serviceNowSettings:
          $ref: '#/components/schemas/ServiceNowSettings'
        slackSettings:
          $ref: '#/components/schemas/SlackSettings'
        slackSettingsV2:
          $ref: '#/components/schemas/SlackSettingsV2'
        squareSettings:
          $ref: '#/components/schemas/SquareSettings'
        toastSettings:
          $ref: '#/components/schemas/ToastSettings'
        tpLinkSettings:
          $ref: '#/components/schemas/TPLinkSettings'
        tritonSettings:
          $ref: '#/components/schemas/TritonSettings'
        twilioSettings:
          $ref: '#/components/schemas/TwilioSettings'
        webhookSettings:
          $ref: '#/components/schemas/WebhookSettings'
    HoneywellOnGuardType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          deploymentToSettingsMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/OnGuardDeploymentSettings'
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    OpentechAllianceType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          apiKey:
            type:
            - string
            - 'null'
          apiSecret:
            type:
            - string
            - 'null'
          facilityToSettingsMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/OpentechAllianceFacilitySettings'
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    EnvoySettings:
      type: object
      description: Envoy visitor management integration settings to update
      properties:
        createSeekPoints:
          type:
          - boolean
          - 'null'
        enabled:
          type:
          - boolean
          - 'null'
        enabledTimestampMs:
          type:
          - integer
          - 'null'
          format: int64
        enablingUser:
          type:
          - string
          - 'null'
        enablingUserUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        envoyIntegrationInstalled:
          type:
          - boolean
          - 'null'
        indexFaces:
          type:
          - boolean
          - 'null'
        locationInfoMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/EnvoyLocationInfoType'
        migrated:
          type:
          - boolean
          - 'null'
        refreshToken:
          type:
          - string
          - 'null'
        saveClips:
          type:
          - boolean
          - 'null'
    AlertMonitoringSubmissionDelayIntervalType:
      type: object
      properties:
        escalationDelayMinutes:
          type:
          - integer
          - 'null'
          format: int32
        minuteOfWeekStart:
          type:
          - integer
          - 'null'
          format: int32
        minuteOfWeekStop:
          type:
          - integer
          - 'null'
          format: int32
        promptTheme:
          $ref: '#/components/schemas/NoonlightPromptThemeEnum'
    ParPOSType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          accessToken:
            type:
            - string
            - 'null'
          locationTokenMap:
            type:
            - object
            - 'null'
            additionalProperties:
              type:
              - string
              - 'null'
          serverUrl:
            type:
            - string
            - 'null'
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    EmergencyContact:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          description: The name of the emergency contact.
        phoneNumber:
          type:
          - string
          - 'null'
          description: The phone number for this emergency contact.
      required:
      - name
      - phoneNumber
    ShellyDevice:
      type:
      - object
      - 'null'
      properties:
        canSendCommands:
[...]
