openapi: 3.2.0
info:
  contact:
    email: developer@rhombussystems.com
  description: 'This API is for use by Rhombus customers and partners.


    ## Authentication


    All requests require two headers:

    - `x-auth-scheme` — The authentication scheme identifier. Use `api-token` for standard API key auth, or `partner-api-token` for partner API auth.

    - `x-auth-apikey` — Your Rhombus API key.


    Example:

    ```

    POST /api/camera/getMinimalCameraStateList

    x-auth-scheme: api-token

    x-auth-apikey: YOUR_API_KEY

    Content-Type: application/json

    ```'
  title: Rhombus Org Webservice API
  version: '1.0'
servers:
- description: Production Server
  url: https://api2.rhombussystems.com
security:
- ApiKeyAuth: []
tags:
- name: Org Webservice
paths:
  /api/org/claimActivationToken:
    post:
      description: Claim activation token for organization
      operationId: claimActivationToken
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Org_ClaimActivationTokenWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Org_ClaimActivationTokenWSResponse'
          description: OK
      summary: Claim activation token
      tags:
      - Org Webservice
  /api/org/claimShipmentRegistrationToken:
    post:
      description: Claim shipment registration token for an organization
      operationId: claimShipmentRegistrationToken
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Org_ClaimShipmentRegistrationTokenWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Org_ClaimShipmentRegistrationTokenWSResponse'
          description: OK
      summary: Claim shipment registration token
      tags:
      - Org Webservice
  /api/org/createOrUpdateHealthNotificationRule:
    post:
      description: Create or update a time/size-based health notification rule.  Omit ruleUuid to create a new rule
      operationId: createOrUpdateHealthNotificationRule
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Org_CreateOrUpdateHealthNotificationRuleWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Org_CreateOrUpdateHealthNotificationRuleWSResponse'
          description: OK
      summary: Create or update health notification rule
      tags:
      - Org Webservice
  /api/org/createPendingRegistration:
    post:
      description: Create a pending registration. Registration will be completed when the hardware establishes connectivity
      operationId: createPendingRegistration
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Org_CreatePendingRegistrationRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Org_CreatePendingRegistrationResponse'
          description: OK
      summary: Create pending registration
      tags:
      - Org Webservice
  /api/org/deleteCloudArchivingConfig:
    post:
      description: Delete scoped cloud archiving config.  Note that the priority of scoping is Org > Location > Device
      operationId: deleteCloudArchivingConfig
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Org_DeleteCloudArchivingConfigWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Org_DeleteCloudArchivingConfigWSResponse'
          description: OK
      summary: Delete cloud archiving config
      tags:
      - Org Webservice
  /api/org/deleteHealthNotificationRule:
    post:
      description: Delete a time/size-based health notification rule
      operationId: deleteHealthNotificationRule
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Org_DeleteHealthNotificationRuleWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Org_DeleteHealthNotificationRuleWSResponse'
          description: OK
      summary: Delete health notification rule
      tags:
      - Org Webservice
  /api/org/deleteKeypadLogo:
    post:
      description: Delete keypad logo.
      operationId: deleteKeypadLogo
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Org_DeleteKeypadLogoWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Org_DeleteKeypadLogoWSResponse'
          description: OK
      summary: Delete keypad logo
      tags:
      - Org Webservice
  /api/org/deleteRhombusKeyLogo:
    post:
      description: Delete rhombus key logo.
      operationId: deleteRhombusKeyLogo
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Org_DeleteRhombusKeyLogoWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Org_DeleteRhombusKeyLogoWSResponse'
          description: OK
      summary: Delete rhombus key logo
      tags:
      - Org Webservice
  /api/org/findAllHardwareWithPendingRegistration:
    post:
      description: Find all hardware for which a pending registrations exists
      operationId: findAllHardwareWithPendingRegistration
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Org_FindAllHardwareWithPendingRegistrationRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Org_FindAllHardwareWithPendingRegistrationResponse'
          description: OK
      summary: Find all hardware with pending registration
      tags:
      - Org Webservice
  /api/org/findHardwareAvailableForPendingRegistration:
    post:
      description: Find hardware for which pending registrations can be created
      operationId: findHardwareAvailableForPendingRegistration
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Org_FindHardwareAvailableForPendingRegistrationRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Org_FindHardwareAvailableForPendingRegistrationResponse'
          description: OK
      summary: Find hardware available for pending registration
      tags:
      - Org Webservice
  /api/org/findIfTeamNameAvailable:
    post:
      description: Get organization team name if it is available
      operationId: findIfTeamNameAvailable
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Org_FindIfTeamNameAvailableRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Org_FindIfTeamNameAvailableResponse'
          description: OK
      summary: Find if team name available
      tags:
      - Org Webservice
  /api/org/findSCIMSettingsForOrg:
    post:
      description: Get SCIM configuration for organization
      operationId: findSCIMSettingsForOrg
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Org_FindSCIMSettingsForOrgWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Org_FindSCIMSettingsForOrgWSResponse'
          description: OK
      summary: Find SCIM settings for organization
      tags:
      - Org Webservice
  /api/org/generateFederatedSessionToken:
    post:
      description: Generate a federated session token login for organization
      operationId: generateFederatedSessionToken
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Org_GenerateFederatedSessionTokenRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Org_GenerateFederatedSessionTokenResponse'
          description: OK
      summary: Generate federated session token
      tags:
      - Org Webservice
  /api/org/getClientOrg:
    post:
      description: Get details about the client organization
      operationId: getClientOrg
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: partner-api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: partner-api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Org_GetClientOrgWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Org_GetClientOrgWSResponse'
          description: OK
      summary: Get client organization details
      tags:
      - Org Webservice
  /api/org/getCloudArchivingConfigs:
    post:
      description: Get scoped cloud archiving configs.  Note that the priority of scoping is Org > Location > Device
      operationId: getCloudArchivingConfigs
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Org_GetCloudArchivingConfigsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Org_GetCloudArchivingConfigsWSResponse'
          description: OK
      summary: Get cloud archiving configs
      tags:
      - Org Webservice
  /api/org/getFeatures:
    post:
      description: Get organization wide features
      operationId: getFeatures
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Org_GetFeaturesWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Org_GetFeaturesWSResponse'
          description: OK
      summary: Get organization features
      tags:
      - Org Webservice
  /api/org/getHealthNotificationRules:
    post:
      description: Get all time/size-based health notification rules for the organization
      operationId: getHealthNotificationRules
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Org_GetHealthNotificationRulesWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Org_GetHealthNotificationRulesWSResponse'
          description: OK
      summary: Get health notification rules
      tags:
      - Org Webservice
  /api/org/getOrg:
    post:
      deprecated: true
      description: Get details about organization
      operationId: getOrg
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Org_GetOrgWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Org_GetOrgWSResponse'
          description: OK
      summary: Get organization details
      tags:
      - Org Webservice
  /api/org/getOrgIntegrations:
    post:
      deprecated: true
      description: Use endpoints in Integrations Webservice instead
      operationId: DEPRECATED_getOrgIntegrations
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Org_GetOrgIntegrationsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Org_GetOrgIntegrationsWSResponse'
          description: OK
      summary: Get organization integrations
      tags:
      - Org Webservice
  /api/org/getOrgNotificationTemplate:
    post:
      deprecated: true
      description: This endpoint is no longer in use. Please use getOrgNotificationTemplateV2 instead.
      operationId: getOrgNotificationTemplate
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Org_GetOrgNotificationTemplateWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Org_GetOrgNotificationTemplateWSResponse'
          description: OK
      summary: Get organization notification template
      tags:
      - Org Webservice
  /api/org/getOrgNotificationTemplateV2:
    post:
      description: Get organization's default notification schedule template
      operationId: getOrgNotificationTemplateV2
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Org_GetOrgNotificationTemplateWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Org_GetOrgNotificationTemplateV2WSResponse'
          description: OK
      summary: Get organization notification template V2
      tags:
      - Org Webservice
  /api/org/getOrgV2:
    post:
      description: Get details about organization
      operationId: getOrgV2
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Org_GetOrgV2WSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Org_GetOrgV2WSResponse'
          description: OK
      summary: Get organization details V2
      tags:
      - Org Webservice
  /api/org/getSAMLSettings:
    post:
      deprecated: true
      description: Deprecated. Use getSAMLSettingsV2
      operationId: getSAMLSettings
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Org_GetSAMLSettingsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Org_GetSAMLSettingsWSResponse'
          description: OK
      summary: Get SAML settings
      tags:
      - Org Webservice
  /api/org/getSAMLSettingsV2:
    post:
      description: Get details about organization
      operationId: getSAMLSettingsV2
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Org_GetSAMLSettingsV2WSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Org_GetSAMLSettingsV2WSResponse'
          description: OK
      summary: Get SAML settings V2
      tags:
      - Org Webservice
  /api/org/getScimDisplayInfo:
    post:
      description: Get SCIM display info for organization
      operationId: getScimDisplayInfo
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Org_GetScimDisplayInfoResponse'
          description: OK
      summary: Get SCIM display info
      tags:
      - Org Webservice
  /api/org/getTemporaryOrgToken:
    post:
      description: Generate a temporary org token for use in OAuth flows
      operationId: getTemporaryOrgToken
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Org_GetTemporaryOrgTokenWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTemporaryOrgTokenResponse'
          description: OK
      summary: Get temporary org token
      tags:
      - Org Webservice
  /api/org/peekShipmentRegistrationToken:
    post:
      description: Peek at a shipping registration token for an organization
      operationId: peekShipmentRegistrationToken
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Org_PeekShipmentRegistrationTokenWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Org_PeekShipmentRegistrationTokenWSResponse'
          description: OK
      summary: Peek shipment registration token
      tags:
      - Org Webservice
  /api/org/removePendingRegistration:
    post:
      description: Remove a pending registration
      operationId: removePendingRegistration
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Org_RemovePendingRegistrationRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Org_RemovePendingRegistrationResponse'
          description: OK
      summary: Remove pending registration
      tags:
      - Org Webservice
  /api/org/revokeSCIMAccessForOrg:
    post:
      description: Revoke SCIM access for organization
      operationId: revokeSCIMAccessForOrg
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Org_RevokeSCIMAccessForOrgWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Org_RevokeSCIMAccessForOrgWSResponse'
          description: OK
      summary: Revoke SCIM access for organization
      tags:
      - Org Webservice
  /api/org/setupSCIMAccessForOrg:
    post:
      description: Initially configure SCIM access for organization
      operationId: setupSCIMAccessForOrg
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Org_SetupSCIMAccessForOrgWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Org_SetupSCIMAccessForOrgWSResponse'
          description: OK
      summary: Setup SCIM access for organization
      tags:
      - Org Webservice
  /api/org/updateAiTrainingSettings:
    post:
      description: Update organization AI training settings
      operationId: updateAiTrainingSettings
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Org_UpdateAiTrainingSettingsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Org_UpdateAiTrainingSettingsWSResponse'
          description: OK
      summary: Update AI training settings
      tags:
      - Org Webservice
  /api/org/updateCloudArchivingConfig:
    post:
      description: Update scoped cloud archiving config.  Note that the priority of scoping is Org > Location > Device
      operationId: updateCloudArchivingConfig
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Org_UpdateCloudArchivingConfigWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Org_UpdateCloudArchivingConfigWSResponse'
          description: OK
      summary: Update cloud archiving config
      tags:
      - Org Webservice
  /api/org/updateFirmwareSettings:
    post:
      description: Update organization firmware schedule settings
      operationId: updateFirmwareSettings
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Org_UpdateFirmwareSettingsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Org_UpdateFirmwareSettingsWSResponse'
          description: OK
      summary: Update firmware settings
      tags:
      - Org Webservice
  /api/org/updateGeneralSettings:
    post:
      description: Update organization General settings
      operationId: updateGeneralSettings
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Org_UpdateGeneralSettingsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Org_UpdateGeneralSettingsWSResponse'
          description: OK
      summary: Update general settings
      tags:
      - Org Webservice
  /api/org/updateLoginIpAllowlist:
    post:
      description: Update the org-wide login IP allowlist that users flagged with restrictToAllowedLoginIps are limited to
      operationId: updateLoginIpAllowlist
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Org_UpdateLoginIpAllowlistWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Org_UpdateLoginIpAllowlistWSResponse'
          description: OK
      summary: Update login IP allowlist
      tags:
      - Org Webservice
  /api/org/updateMFASettings:
    post:
      description: Update organization MFA settings
      operationId: updateMFASettings
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Org_UpdateMFASettingsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Org_UpdateMFASettingsWSResponse'
          description: OK
      summary: Update MFA settings
      tags:
      - Org Webservice
  /api/org/updateOrg:
    post:
      deprecated: true
      description: Update organization details
      operationId: updateOrg
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Org_UpdateOrgWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Org_UpdateOrgWSResponse'
          description: OK
      summary: Update organization details
      tags:
      - Org Webservice
  /api/org/updateOrgAudioAnalysisPolicy:
    post:
      description: Update organization AI audio analysis policy
      operationId: updateOrgAudioAnalysisPolicy
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Org_UpdateOrgAudioAnalysisPolicyWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Org_UpdateOrgAudioAnalysisPolicyWSResponse'
          description: OK
      summary: Update organization AI audio analysis policy
      tags:
      - Org Webservice
  /api/org/updateOrgAudioRecordingPolicy:
    post:
      description: Update organization audio recording policy
      operationId: updateOrgAudioRecordingPolicy
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Org_UpdateOrgAudioRecordingPolicyWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Org_UpdateOrgAudioRecordingPolicyWSResponse'
          description: OK
      summary: Update organization audio recording policy
      tags:
      - Org Webservice
  /api/org/updateOrgLLMUsagePolicy:
    post:
      description: Update organization's LLM usage opt-in policy
      operationId: updateOrgLLMUsagePolicy
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Org_UpdateOrgLLMUsagePolicyWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Org_UpdateOrgLLMUsagePolicyWSResponse'
          description: OK
      summary: Update organization's LLM usage opt-in policy
      tags:
      - Org Webservice
  /api/org/updateOrgNotificationTemplate:
    post:
      deprecated: true
      description: This endpoint is no longer in use. Please use updateOrgNotificationTemplateV2 instead.
      operationId: updateOrgNotificationTemplate
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Org_UpdateOrgNotificationTemplateWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Org_UpdateOrgNotificationTemplateWSResponse'
          description: OK
      summary: Update organization notification template
      tags:
      - Org Webservice
  /api/org/updateOrgNotificationTemplateV2:
    post:
      description: Update default notification schedule template for newly created Users in Org
      operationId: updateOrgNotificationTemplateV2
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Org_UpdateOrgNotificationTemplateV2WSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Org_UpdateOrgNotificationTemplateV2WSResponse'
          description: OK
      summary: Update organization notification template V2
      tags:
      - Org Webservice
  /api/org/updatePaneLinks:
    post:
      description: Replace the set of PANE proof-of-concept apps surfaced in this organization's console navigation. Send the complete set; an empty list removes them all.
      operationId: updatePaneLinks
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Org_UpdatePaneLinksWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Org_UpdatePaneLinksWSResponse'
          description: OK
      summary: Update the PANE apps this org links
      tags:
      - Org Webservice
  /api/org/updatePendingRegistration:
    post:
      description: Update pending registration for hardware
      operationId: updatePendingRegistration
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Org_UpdatePendingRegistrationRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Org_UpdatePendingRegistrationResponse'
          description: OK
      summary: Update pending registration
      tags:
      - Org Webservice
  /api/org/updateSAMLSettings:
    post:
      deprecated: true
      description: Deprecated. Use updateSAMLSettingsV2
      operationId: updateSAMLSettings
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Org_UpdateSAMLSettingsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Org_UpdateSAMLSettingsWSResponse'
          description: OK
      summary: Update SAML settings
      tags:
      - Org Webservice
  /api/org/updateSAMLSettingsV2:
    post:
      description: Update organization SAML settings
      operationId: updateSAMLSettingsV2
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Org_UpdateSAMLSettingsV2WSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Org_UpdateSAMLSettingsV2WSResponse'
          description: OK
      summary: Update SAML settings V2
      tags:
      - Org Webservice
  /api/org/updateSCIMSettingsForOrg:
    post:
      description: Update SCIM configuration for organization
      operationId: updateSCIMSettingsForOrg
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Org_UpdateSCIMSettingsForOrgWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Org_UpdateSCIMSettingsForOrgWSResponse'
          description: OK
      summary: Update SCIM settings for organization
      tags:
      - Org Webservice
components:
  schemas:
    Org_FindSCIMSettingsForOrgWSResponse:
      type: object
      description: Response object containing SCIM settings for organization.
      properties:
        scimSettings:
          $ref: '#/components/schemas/SCIMSettingsType'
    Org_GetFeaturesWSResponse:
      type: object
      description: Response object containing organization feature flags.
      properties:
        behaviorDetection:
          type:
          - boolean
          - 'null'
          description: Whether behavior detection is enabled
          example: false
        cloudArchiving:
          type:
          - boolean
          - 'null'
          description: Whether cloud archiving is enabled
          example: false
        engagementCounting:
          type:
          - boolean
          - 'null'
          description: Whether engagement counting is enabled
          example: false
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        faceCounting:
          type:
          - boolean
          - 'null'
          description: Whether face counting is enabled
          example: false
        faceCountingNonUnique:
          type:
          - boolean
          - 'null'
          description: Whether non-unique face counting is enabled
          example: false
        faceRecognition:
          type:
          - boolean
          - 'null'
          description: Whether face recognition is enabled
          example: false
        licensePlateRecognition:
          type:
          - boolean
          - 'null'
          description: Whether license plate recognition is enabled
          example: false
        peopleCounting:
          type:
          - boolean
          - 'null'
          description: Whether people counting is enabled
          example: false
        ppeDetection:
          type:
          - boolean
          - 'null'
          description: Whether PPE detection is enabled
          example: false
        rulesEngine:
          type:
          - boolean
          - 'null'
          description: Whether rules engine is enabled (deprecated)
          example: false
        vehicleCounting:
          type:
          - boolean
          - 'null'
          description: Whether vehicle counting is enabled
          example: false
        warningMsg:
          type:
          - string
          - 'null'
    EnvoyLocationInfoType:
      type:
      - object
      - 'null'
      properties:
        assignedCameraList:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
        locationName:
          type:
          - string
          - 'null'
    Org_UpdateSCIMSettingsForOrgWSResponse:
      type: object
      description: Response object for updating SCIM settings for organization.
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        warningMsg:
          type:
          - string
          - 'null'
    PlanTypeEnum:
      type: string
      enum:
      - TRIAL
      - STARTER
      - CUSTOM
    Org_RemovePendingRegistrationRequest:
      type: object
      properties:
        serialNumber:
          type:
          - string
          - 'null'
    PlaceOsSettings:
      type: object
      properties:
        alertUnauthorizedFaces:
          type:
          - boolean
          - 'null'
        apiUrl:
          type:
          - string
          - 'null'
        createSeekPoints:
          type:
          - boolean
          - 'null'
        doorInfoMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/BadgeIntegrationDoorInfoType'
        enabled:
          type:
          - boolean
          - 'null'
        enabledTimestampMs:
          type:
          - integer
          - 'null'
          format: int64
        enablingUser:
          type:
          - string
          - 'null'
        enablingUserUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        identifyFacesFromBadge:
          type:
          - boolean
          - 'null'
        migrated:
          type:
          - boolean
          - 'null'
        rhombusToken:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        saveClips:
          type:
          - boolean
          - 'null'
        webhookSignatureSecret:
          type:
          - string
          - 'null'
    CloudArchivingStrategyEnum:
      type: string
      enum:
      - WEEKLY_SCHEDULED
      - CONTINUOUS
    Org_PeekShipmentRegistrationTokenWSResponse:
      type: object
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        hardwareUuidList:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
        warningMsg:
          type:
          - string
          - 'null'
    DeviceTargetScopeEnum:
      type: string
      enum:
      - ORG
      - LOCATION
      - DEVICE
    ToastSettings:
      type: object
      description: Toast POS integration settings to update
      properties:
        currentToastRestaurantGuid:
          type:
          - string
          - 'null'
          description: The current restaurant guid you want to use
        enabled:
          type:
          - boolean
          - 'null'
        enabledTimestampMs:
          type:
          - integer
          - 'null'
          format: int64
        enablingUser:
          type:
          - string
          - 'null'
        enablingUserUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        migrated:
          type:
          - boolean
          - 'null'
        posInfoMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/PosIntegrationInfoType'
          description: A HashMap of <Service Area Guid, PosIntegrationInfoType>. This stores the Pos Information and assigned cameras.
        toastRestaurantInfoMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/ToastRestaurantInfo'
          description: A HashMap of <Restaurant Guid, ToastRestaurantInfo>. This stores the information for each restaurant.
    ToastRestaurantInfo:
      type: object
      description: A HashMap of <Restaurant Guid, ToastRestaurantInfo>. This stores the information for each restaurant.
      properties:
        locationName:
          type:
          - string
          - 'null'
          description: The location name of the restaurant from Toast
        restaurantName:
          type:
          - string
          - 'null'
          description: The name of the restaurant from Toast. e.g., COFFEE CAN
    FirmwareUpdateModeEnum:
      type: string
      enum:
      - MANUAL
      - SCHEDULED
    Org_GetSAMLSettingsWSRequest:
      type: object
      description: Request object for getting SAML settings (deprecated).
    Org_UpdateCloudArchivingConfigWSRequest:
      type: object
      description: Request object for updating cloud archiving configuration.
      properties:
        archivingConfig:
          $ref: '#/components/schemas/ScopedCloudArchivingConfig'
    FirmwareUpdateSettingsType:
      type:
      - object
      - 'null'
      properties:
        intervalsV2:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/FirmwareUpdateIntervalType'
        mode:
          $ref: '#/components/schemas/FirmwareUpdateModeEnum'
    Org_GetOrgNotificationTemplateWSRequest:
      type: object
      description: Request object for getting organization notification template.
    Org_UpdateOrgNotificationTemplateV2WSResponse:
      type: object
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        warningMsg:
          type:
          - string
          - 'null'
    Org_SetupSCIMAccessForOrgWSResponse:
      type: object
      description: Response object for setting up SCIM access for organization.
      properties:
        scimAccessAlreadySetupFailure:
          type:
          - boolean
          - 'null'
        token:
          type:
          - string
          - 'null'
    ButterflyMXSettings:
      type: object
      properties:
        buildingWebhookIdMap:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
            description: 'A HashMap of <ButterflyMx Building Id, Webhook Id>. '
          description: 'A HashMap of <ButterflyMx Building Id, Webhook Id>. '
        createSeekPoints:
          type:
          - boolean
          - 'null'
        enabled:
          type:
          - boolean
          - 'null'
        enabledTimestampMs:
          type:
          - integer
          - 'null'
          format: int64
        enablingUser:
          type:
          - string
          - 'null'
        enablingUserUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        indexFaces:
          type:
          - boolean
          - 'null'
        migrated:
          type:
          - boolean
          - 'null'
        panelInfoMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/ButterflymxPanelInfoType'
          description: A HashMap of <Panel Id, ButterflymxPanelInfoType>.
        refreshToken:
          type:
          - string
          - 'null'
        rhombusToken:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        saveClips:
          type:
          - boolean
          - 'null'
    Org_UpdateLoginIpAllowlistWSRequest:
      type: object
      description: Request object for updating the org-wide login IP allowlist.
      properties:
        allowedLoginIpRanges:
          type:
          - array
          - 'null'
          description: IP addresses / CIDR ranges that users flagged with restrictToAllowedLoginIps may use the web console from. An empty list clears the allowlist (and lifts the restriction until ranges are configured again).
          example:
          - 203.0.113.5
          - 198.51.100.0/24
          items:
            type:
            - string
            - 'null'
            description: IP addresses / CIDR ranges that users flagged with restrictToAllowedLoginIps may use the web console from. An empty list clears the allowlist (and lifts the restriction until ranges are configured again).
            example: '["203.0.113.5","198.51.100.0/24"]'
    Org_GetScimDisplayInfoResponse:
      type: object
      description: Response object containing SCIM display information.
      properties:
        azureScimEndpointUrl:
          type:
          - string
          - 'null'
          description: Azure SCIM endpoint URL
          example: https://api.rhombussystems.com/scim/v2/azure
        scimEndpointUrl:
          type:
          - string
          - 'null'
          description: SCIM endpoint URL
          example: https://api.rhombussystems.com/scim/v2
    Org_DeleteHealthNotificationRuleWSRequest:
      type: object
      description: Request object for deleting a health notification rule.
      properties:
        ruleUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    NotificationTimeFrame:
      type: object
      properties:
        days:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RhombusDayOfWeekEnum'
          uniqueItems: true
        interval:
          $ref: '#/components/schemas/MinuteOfDayIntervalType'
        mediums:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/NotificationEnumType'
          uniqueItems: true
        rows:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/NotificationTimeFrameRow'
    TritonSettings:
      type: object
      properties:
        alertAggression:
          type:
          - boolean
          - 'null'
        alertCO:
          type:
          - boolean
          - 'null'
        alertCO2:
          type:
          - boolean
          - 'null'
        alertGunshot:
          type:
          - boolean
          - 'null'
        alertHelp:
          type:
          - boolean
          - 'null'
        alertMasking:
          type:
          - boolean
          - 'null'
        alertTHC:
          type:
          - boolean
          - 'null'
        alertTamper:
          type:
          - boolean
          - 'null'
        alertVOC:
          type:
          - boolean
          - 'null'
        alertVape:
          type:
          - boolean
          - 'null'
        enabled:
          type:
          - boolean
          - 'null'
        enabledTimestampMs:
          type:
          - integer
          - 'null'
          format: int64
        enablingUser:
          type:
          - string
          - 'null'
        enablingUserUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        saveClips:
          type:
          - boolean
          - 'null'
        savedClipDurationMs:
          type:
          - integer
          - 'null'
          format: int32
        sensorToCamerasMap:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - array
            - 'null'
            items:
              type:
              - string
              - 'null'
              format: RUUID
              description: base 64 (url-safe) uuid string
              example: AAAAAAAAAAAAAAAAAAAAAA
        triggerNotification:
          type:
          - boolean
          - 'null'
        url:
          type:
          - string
          - 'null'
    OpenpathSettings:
      type: object
      properties:
        alertUnauthorizedFaces:
          type:
          - boolean
          - 'null'
        createSeekPoints:
          type:
          - boolean
          - 'null'
        doorInfoMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/BadgeIntegrationDoorInfoType'
        doorToCameraMap:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - array
            - 'null'
            items:
              type:
              - string
              - 'null'
              format: RUUID
              description: base 64 (url-safe) uuid string
              example: AAAAAAAAAAAAAAAAAAAAAA
        email:
          type:
          - string
          - 'null'
        enabled:
          type:
          - boolean
          - 'null'
        enabledTimestampMs:
          type:
          - integer
          - 'null'
          format: int64
        enablingUser:
          type:
          - string
          - 'null'
        enablingUserUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        eventToWebhookIdMap:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - integer
            - 'null'
            format: int32
        eventToWebhookMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/WebhookMapEntry'
        identifyFacesFromBadge:
          type:
          - boolean
          - 'null'
        migrated:
          type:
          - boolean
          - 'null'
        password:
          type:
          - string
          - 'null'
        rhombusToken:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        saveClips:
          type:
          - boolean
          - 'null'
        webhookId:
          type:
          - integer
          - 'null'
          format: int32
    OpentechAllianceDoorInfoType:
      type:
      - object
      - 'null'
      properties:
        actionGroupId:
          type:
          - string
          - 'null'
        assignedCameraList:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
        clipDuration:
          type:
          - integer
          - 'null'
          format: int32
        doorName:
          type:
          - string
          - 'null'
        leadingSeconds:
          type:
          - integer
          - 'null'
          format: int32
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        remoteUnlock:
          type:
          - boolean
          - 'null'
        subLocationsHierarchyKey:
          type:
          - string
          - 'null'
          format: SubLocationsHierarchyKey
          description: 'A sequence of one or more base 64 (url-safe) uuid substrings.

            These substrings are separated by dots (.).

            '
          example: AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA
          pattern: ^([A-Za-z0-9\-_]{22})([.][A-Za-z0-9\-_]{22})*$
    Org_UpdateSAMLSettingsV2WSRequest:
      type: object
      description: Request object for updating SAML settings V2.
      properties:
        samlSettings:
          type:
          - array
          - 'null'
          description: List of SAML settings to update
          items:
            $ref: '#/components/schemas/OrgSamlSettingsType'
    NoonlightSettings:
      type: object
      properties:
        acceptedTermsOfService:
          type:
          - boolean
          - 'null'
        defaultContactsByLocationMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/EmergencyContact'
        defaultDelayByLocationsMap:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - integer
            - 'null'
            format: int32
        defaultPromptByLocationsMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/NoonlightPromptThemeEnum'
        emergencyContactsByLocationsMap:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/EmergencyResponseContactsIntervalType'
        enabled:
          type:
          - boolean
          - 'null'
        escalationSettingsByLocationsMap:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/AlertMonitoringSubmissionDelayIntervalType'
        locationEntryInstructionsMap:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
        pinsByLocationMap:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/AlertMonitoringPinType'
            uniqueItems: true
        verificationPrompt:
          type:
          - string
          - 'null'
    Org_DeleteCloudArchivingConfigWSRequest:
      type: object
      description: Request object for deleting cloud archiving configuration.
      properties:
        scope:
          $ref: '#/components/schemas/DeviceTargetScopeEnum'
        targetUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    OrgPaneLinkType:
      type:
      - object
      - 'null'
      properties:
        description:
          type:
          - string
          - 'null'
        label:
          type:
          - string
          - 'null'
        paneId:
          type:
          - string
          - 'null'
        permissionGroupUuids:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
        userUuids:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
    Org_ClaimShipmentRegistrationTokenWSResponse:
      type: object
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        warningMsg:
          type:
          - string
          - 'null'
    RBACSettingsType:
      type: object
      properties:
        enabled:
          type:
          - boolean
          - 'null'
    ActivityEnum:
      type: string
      enum:
      - SOUND_LOUD
      - SOUND_GUN_SHOT
      - TAMPER
      - VISUAL_TAMPER
      - MOTION_TAMPER
      - MOTION
      - MOTION_HUMAN
      - MOTION_CAR
      - MOTION_ANIMAL
      - FACE
      - FACE_IDENTIFIED
      - FACE_UNIDENTIFIED
      - FACE_BLACKLISTED
      - FACE_ALERT
      - POSE_ANOMALOUS
      - POSE_FALL
      - LICENSEPLATE
      - LICENSEPLATE_IDENTIFIED
      - LICENSEPLATE_UNIDENTIFIED
      - LICENSEPLATE_ALERT
      - LICENSEPLATE_BLACKLISTED
      - LICENSEPLATE_TRUSTED
      - PEOPLECOUNT_HIGH
      - PEOPLECOUNT_HIGH_RESET
      - PEOPLECOUNT_LOW
      - PEOPLECOUNT_LOW_RESET
      - HUMAN_ENTER
      - HUMAN_EXIT
      - CAR_ENTER
      - CAR_EXIT
      - TEMPERATURE_EXCEEDED_HIGH
      - TEMPERATURE_EXCEEDED_LOW
      - HUMIDITY_EXCEEDED_HIGH
      - HUMIDITY_EXCEEDED_LOW
      - PM25_EXCEEDED_HIGH
      - TVOC_EXCEEDED_HIGH
      - ETOH_EXCEEDED_HIGH
      - IAQ_EXCEEDED_HIGH
      - CO2_EXCEEDED_HIGH
      - CO2_EXCEEDED_LOW
      - PROBE_TEMPERATURE_EXCEEDED_HIGH
      - PROBE_TEMPERATURE_EXCEEDED_LOW
      - PROBE_DISCONNECTED
      - PROBE_CONNECTED
      - HEAT_INDEX_EXCEEDED_HIGH
      - PRESSURE_EXCEEDED_HIGH
      - PRESSURE_EXCEEDED_LOW
      - PM10_EXCEEDED_HIGH
      - PM40_EXCEEDED_HIGH
      - PM100_EXCEEDED_HIGH
      - VOC_IDX_EXCEEDED_HIGH
      - NOX_IDX_EXCEEDED_HIGH
      - FORMALDEHYDE_EXCEEDED_HIGH
      - CARBON_MONOXIDE_EXCEEDED_HIGH
      - AQI_EXCEEDED_HIGH
      - DOOR_AJAR
      - DOOR_OPENED
      - DOOR_CLOSED
      - BUTTON_SINGLE_PRESSED
      - BUTTON_DOUBLE_PRESSED
      - BUTTON_LONG_PRESSED
      - TAG_ARRIVED
      - TAG_DEPARTED
      - TAG_MOVED
      - TAG_POSITIONING_CHANGED
      - TAG_BOUNDARY_INGRESS
      - TAG_BOUNDARY_EGRESS
      - TAG_PANIC
      - BADGE_AUTHORIZED
      - BADGE_UNAUTHORIZED
      - BADGE_UNAUTHORIZED_V2
      - BADGE_AJAR
      - BADGE_MANUAL
      - BADGE_FORCED_OPEN
      - BADGE_LOCKDOWN
      - BADGE_REQUEST_TO_EXIT
      - BADGE_DURESS
      - BADGE_SECURITY_BREACH
      - BADGE_TAMPER
      - BADGE_FACE_MISMATCH
      - POS_ORDER
      - GUN_DETECT_EVENT
      - IOT_SOUND_AGGRESSION
      - IOT_SOUND_HELP
      - IOT_AIR_CO
      - IOT_AIR_CO2
      - IOT_AIR_MASKING
      - IOT_AIR_THC
      - IOT_AIR_VAPE
      - IOT_AIR_VOC
      - IOT_AIR_TEMP
      - IOT_TAMPER
      - IOT_GUNSHOT
      - IOT_BUTTON_SINGLE_CLICK
      - IOT_BUTTON_DOUBLE_CLICK
      - IOT_BUTTON_HOLD
      - IOT_PANIC_BUTTON_TRIGGERED
      - AUDIO_SOUND_SIGNIFICANT
      - AUDIO_SOUND_LOUD
      - AUDIO_SOUND_ABUSIVE
      - AUDIO_SOUND_GREETING
      - AUDIO_SOUND_HELP
      - AUDIO_SOUND_GUN
      - AUDIO_SOUND_GLASS_BREAK
      - AUDIO_SOUND_ALARM_SMOKE_FIRE
      - AUDIO_SOUND_ALARM_CARBON_MONOXIDE
      - AUDIO_SOUND_SIREN
      - CLIMATE_VOC
      - CLIMATE_VAPE
      - CLIMATE_SMOKE
      - CLIMATE_THC
      - CLIMATE_CO2
      - CLIMATE_ETOH
      - CLIMATE_PM25
      - CLIMATE_IAQ
      - CLIMATE_LEAK
      - SOUND_AGGRESSION
      - SOUND_HELP
      - AIR_CO
      - AIR_CO2
      - AIR_MASKING
      - AIR_THC
      - AIR_VAPE
      - AIR_VOC
      - MASK_MISSING
      - HELMET_MISSING
      - GLOVES_MISSING
      - PIR_OCCUPIED
      - PIR_MOVEMENT
      - PIR_VACANT
      - CUSTOM
      - VISITOR_ARRIVED
      - VISITOR_DEPARTED
      - AC_DR_CONNECTED
      - AC_DR_DISCONNECTED
      - AC_DPI_DOOR_OPEN
      - AC_DPI_DOOR_CLOSED
      - AC_DPI_DOOR_AJAR
      - AC_DPI_DOOR_FORCED_OPEN
      - AC_DSR_UNLOCKED
      - AC_DSR_LOCKED
      - AC_DB_TRIGGERED
      - AC_PANIC_BUTTON_TRIGGERED
      - AC_REMOTE_UNLOCK
      - AC_BADGE_AUTHORIZED
      - AC_BADGE_UNAUTHORIZED
      - AC_BADGE_FACE_MISMATCH
      - AC_LOCKDOWN_ACTIVATED
      - AC_LOCKDOWN_DEACTIVATED
      - AC_TAMPER_PROX
      - AC_TAMPER_ACCEL
      - AC_TAMPER_SWITCH
      - AC_GR_ACTIVE
      - AC_GR_INACTIVE
      - AC_GI_ACTIVE
      - AC_GI_INACTIVE
      - AC_REX_ACTIVE
      - AC_REX_INACTIVE
      - AC_APERIO_DEVICE_DISCONNECTED
      - AC_APERIO_DEVICE_CONNECTED
      - AC_APERIO_DEVICE_REBOOT
      - AC_APERIO_DEVICE_TAMPER
      - AC_APERIO_LOW_BATTERY
      - AC_APERIO_FLAT_BATTERY
      - AC_APERIO_OK_BATTERY
      - POWER_SWITCH_BATTERY
      - POWER_SWITCH_PRIMARY
      - AI_SEARCH_MATCH
      - CUSTOM_LLM_BOOLEAN_TRUE
      - CUSTOM_LLM_BOOLEAN_FALSE
      - CUSTOM_LLM_THRESHOLD_EXCEEDED_LOW
      - CUSTOM_LLM_THRESHOLD_EXCEEDED_HIGH
      - ALM_AUTHORITIES_CONTACTED
      - ALM_MONITORING_ENABLED
      - ALM_MONITORING_DISABLED
      - ALM_MONITORING_SETTINGS_CHANGE
      - ALM_THREAT_CASE_CLOSED
      - ALM_THREAT_DETECTED
      - ALM_MONITORING_EVENT_DETECTED
      - ROBOT_DOG_DETECTED
      - ROBOT_ARRIVED_AT_WAYPOINT
      - ROBOT_ARRIVED_AT_POSE
      - ROBOT_WAITING_AT_POSE
      - ROBOT_MANUAL_CMD_VEL
      - ROBOT_MANUAL_ACTION
      - ROBOT_MANUAL_POSTURE
      - ROBOT_NAVIGATE_TO_POSE_START
      - ROBOT_NAVIGATE_TO_POSE_END
      - ROBOT_NAVIGATE_TO_HOME_START
      - ROBOT_NAVIGATE_TO_HOME_END
      - ROBOT_NAVIGATE_TO_WAYPOINT_START
      - ROBOT_NAVIGATE_TO_WAYPOINT_END
      - ROBOT_ROUTE_RUN_START
      - ROBOT_ROUTE_RUN_END
      - ROBOT_LOW_BATTERY_DOCKING
      - ROBOT_IDLE_DOCKING
      - ROBOT_EMERGENCY
      - LOITER_HUMAN
      - REID_HUMAN
      - INACTIVITY_HUMAN
      - INACTIVITY_CAR
      - ONGUARD_BADGE_AUTHORIZED
      - ONGUARD_BADGE_ANOMALY
      - ONGUARD_NO_ENTRY_MADE
      - ELEMENTS_BADGE_AUTHORIZED
      - ELEMENTS_BADGE_ANOMALY
      - ELEMENTS_NO_ENTRY_MADE
      - NETBOX_BADGE_AUTHORIZED
      - NETBOX_BADGE_ANOMALY
      - NETBOX_NO_ENTRY_MADE
      - THERMAL_TEMPERATURE_ALARM
      - THERMAL_TEMPERATURE_WARNING
      - THERMAL_FIRE_DETECTED
      - THERMAL_SMOKING_DETECTED
      - THERMAL_FIRE_VERIFIED
      - THERMAL_HEAT_NO_THREAT
      - THERMAL_VISUAL_HOTSPOT
      - THERMAL_VISUAL_HEAT_RISE
      - THERMAL_VISUAL_WARM_BODY
      - UNKNOWN
    Org_RevokeSCIMAccessForOrgWSResponse:
      type: object
      description: Response object for revoking SCIM access for organization.
    OrgSamlSettingsType:
      type: object
      description: List of SAML settings to update
      properties:
        addUsersOnRoleMismatch:
          type:
          - boolean
          - 'null'
        domain:
          $ref: '#/components/schemas/RhombusSamlDomainEnum'
        enabled:
          type:
          - boolean
          - 'null'
        enabledForRhombusKey:
          type:
          - boolean
          - 'null'
        idpMetaDataXml:
          type:
          - string
          - 'null'
        justInTimeAccountProvisioningEnabled:
          type:
          - boolean
          - 'null'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        registrationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        rhombusKeyAppSettings:
          $ref: '#/components/schemas/RhombusKeyAppSettingsType'
        teamName:
          type:
          - string
          - 'null'
    Org_GetFeaturesWSRequest:
      type: object
      description: Request object for getting organization features.
    Org_UpdateCloudArchivingConfigWSResponse:
      type: object
      description: Response object for updating cloud archiving configuration.
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        warningMsg:
          type:
          - string
          - 'null'
    Org_FindIfTeamNameAvailableResponse:
      type: object
      description: Response object indicating if a team name is available.
      properties:
        available:
          type:
          - boolean
          - 'null'
          description: Whether the team name is available
          example: true
    Org_UpdatePendingRegistrationRequest:
      type: object
      properties:
        hardwareUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        name:
          type:
          - string
          - 'null'
        policyUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    BackblazeSettings:
      type: object
      properties:
        applicationKey:
          type:
          - string
          - 'null'
        applicationKeyId:
          type:
          - string
          - 'null'
        bucketName:
          type:
          - string
          - 'null'
        enabled:
          type:
          - boolean
          - 'null'
    Org_UpdatePaneLinksWSRequest:
      type: object
      description: Request object for setting which PANE apps this organization links.
      properties:
        paneLinks:
          type:
          - array
          - 'null'
          description: The complete set of PANE apps this organization links, replacing any current set. An empty list removes them all.
          items:
            $ref: '#/components/schemas/OrgPaneLinkType'
    Device_config_settings_VideoConfigurationDefault:
      type: object
      description: Map of hardware variations to default video configurations
      properties:
        humanDetection:
          type:
          - boolean
          - 'null'
        resolution:
          $ref: '#/components/schemas/Device_config_settings_ExternalVideoResolution'
        segmentMaxBytes:
          type:
          - integer
          - 'null'
          format: int32
        sensorGainMax:
          type:
          - integer
          - 'null'
          format: int32
        shutterTimeMin:
          type:
          - integer
          - 'null'
          format: int32
        vehicleDetection:
          type:
          - boolean
          - 'null'
    UserInfo:
      type: object
      description: 'A HashMap of <RhombusOrgUser uuid : Slack user uuid, user access token>. This stores the information for each Slack user.'
      properties:
        userAccessToken:
          type:
          - string
          - 'null'
          description: Slack user access token
        userId:
          type:
          - string
          - 'null'
          description: Slack user uuid
    TriggerContent:
      type: object
      properties:
        apiKey:
          type:
          - string
          - 'null'
        experienceIds:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
        experienceNames:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
        message:
          type:
          - string
          - 'null'
        parameter1:
          type:
          - string
          - 'null'
        parameter2:
          type:
          - string
          - 'null'
        parameter3:
          type:
          - string
          - 'null'
        playerDeviceNames:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
        playerIds:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
        playerTags:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
    Org_DeleteHealthNotificationRuleWSResponse:
      type: object
      description: Response object for deleting a health notification rule.
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        warningMsg:
          type:
          - string
          - 'null'
    Org_GetHealthNotificationRulesWSResponse:
      type: object
      description: Response object containing health notification rules for the organization.
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        rules:
          type:
          - array
          - 'null'
          description: List of health notification rules
          items:
            $ref: '#/components/schemas/HealthNotificationRuleType'
        warningMsg:
          type:
          - string
          - 'null'
    SCIMSettingsType:
      type: object
      properties:
        addUsersOnRoleMismatch:
          type:
          - boolean
          - 'null'
        createdAtMillis:
          type:
          - integer
          - 'null'
          format: int64
        forceRolesStrictSchemaFormat:
          type:
          - boolean
          - 'null'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        rhombusKeyAppSettings:
          $ref: '#/components/schemas/RhombusKeyAppSettingsType'
        rolesFormat:
          $ref: '#/components/schemas/SCIMRolesFormatEnum'
        sendWelcomeEmailToNewRhombusKeyUsers:
          type:
          - boolean
          - 'null'
        sendWelcomeEmailToNewUsers:
          type:
          - boolean
          - 'null'
        updatedAtMillis:
          type:
          - integer
          - 'null'
          format: int64
    Org_CreateOrUpdateHealthNotificationRuleWSRequest:
      type: object
      description: Request object for creating or updating a health notification rule.
      properties:
        rule:
          $ref: '#/components/schemas/HealthNotificationRuleType'
    Org_FindHardwareAvailableForPendingRegistrationRequest:
      type: object
    RhombusSecureMobileCredentialProvisioningRulesType:
      type: object
      properties:
        endDateProvisioner:
          $ref: '#/components/schemas/EpochSecondsProvisioner'
        maxMobileCredsAllowed:
          type:
          - integer
          - 'null'
          format: int32
        startDateProvisioner:
          $ref: '#/components/schemas/EpochSecondsProvisioner'
    MinuteOfDayIntervalType:
      type: object
      properties:
        dayOfWeek:
          type:
          - integer
          - 'null'
          format: int32
        minuteOfDayStartInclusive:
          type:
          - integer
          - 'null'
          format: int32
        minuteOfDayStopExclusive:
          type:
          - integer
          - 'null'
          format: int32
    RhombusDayOfWeekEnum:
      type: string
      enum:
      - MONDAY
      - TUESDAY
      - WEDNESDAY
      - THURSDAY
      - FRIDAY
      - SATURDAY
      - SUNDAY
    PlayerViewLiveTypeEnum:
      type: string
      enum:
      - REALTIME
      - BUFFERED
    EpochSecondsProvisioner:
      type: object
      discriminator:
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/StaticEpochSecondsProvisioner'
      properties:
        type:
          type: string
      required:
      - type
    HaloSettings:
      type: object
      properties:
        alertAgression:
          type:
          - boolean
          - 'null'
        alertCO:
          type:
          - boolean
          - 'null'
        alertCO2:
          type:
          - boolean
          - 'null'
        alertGunshot:
          type:
          - boolean
          - 'null'
        alertHelp:
          type:
          - boolean
          - 'null'
        alertMasking:
          type:
          - boolean
          - 'null'
        alertTHC:
          type:
          - boolean
          - 'null'
        alertTamper:
          type:
          - boolean
          - 'null'
        alertTemp:
          type:
          - boolean
          - 'null'
        alertVOC:
          type:
          - boolean
          - 'null'
        alertVape:
          type:
          - boolean
          - 'null'
        enabled:
          type:
          - boolean
          - 'null'
        enabledTimestampMs:
          type:
          - integer
          - 'null'
          format: int64
        enablingUser:
          type:
          - string
          - 'null'
        enablingUserUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        saveClips:
          type:
          - boolean
          - 'null'
        savedClipDurationMs:
          type:
          - integer
          - 'null'
          format: int32
        sensorName:
          type:
          - string
          - 'null'
        sensorToCamerasMap:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - array
            - 'null'
            items:
              type:
              - string
              - 'null'
              format: RUUID
              description: base 64 (url-safe) uuid string
              example: AAAAAAAAAAAAAAAAAAAAAA
        triggerNotification:
          type:
          - boolean
          - 'null'
        url:
          type:
          - string
          - 'null'
    Org_UpdatePaneLinksWSResponse:
      type: object
      description: Response object for setting which PANE apps this organization links.
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        warningMsg:
          type:
          - string
          - 'null'
    Org_UpdateOrgAudioRecordingPolicyWSRequest:
      type: object
      description: Request object for updating organization audio recording policy.
      properties:
        audioRecordingEnabled:
          type:
          - boolean
          - 'null'
          description: Whether audio recording is enabled for the organization
          example: true
    Org_UpdateAiTrainingSettingsWSRequest:
      type: object
      description: Request object for updating AI training settings.
      properties:
        shareAiTrainingMediaWithRhombus:
          type:
          - boolean
          - 'null'
          description: Whether to share AI training media with Rhombus
          example: false
    ButterflymxPanelInfoType:
      type:
      - object
      - 'null'
      description: A HashMap of <Panel Id, ButterflymxPanelInfoType>.
      properties:
        assignedCameraList:
          type:
          - array
          - 'null'
          description: The list of Rhombus Camera RUUIDs.
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
        buildingId:
          type:
          - integer
          - 'null'
          format: int32
          description: The ButterflyMx Building Id.
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        panelName:
          type:
          - string
          - 'null'
          description: The ButterflyMx Panel Name.
        subLocationsHierarchyKey:
          type:
          - string
          - 'null'
          format: SubLocationsHierarchyKey
          description: 'A sequence of one or more base 64 (url-safe) uuid substrings.

            These substrings are separated by dots (.).

            '
          example: AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA
          pattern: ^([A-Za-z0-9\-_]{22})([.][A-Za-z0-9\-_]{22})*$
    OpentechAllianceSettings:
      type: object
      properties:
        apiKey:
          type:
          - string
          - 'null'
        apiSecret:
          type:
          - string
          - 'null'
        enabled:
          type:
          - boolean
          - 'null'
        enabledTimestampMs:
          type:
          - integer
          - 'null'
          format: int64
        enablingUser:
          type:
          - string
          - 'null'
        enablingUserUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        facilityToSettingsMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/OpentechAllianceFacilitySettings'
        migrated:
          type:
          - boolean
          - 'null'
    HealthNotificationRuleType:
      type: object
      description: List of health notification rules
      properties:
        conditionType:
          $ref: '#/components/schemas/HealthNotificationConditionTypeEnum'
        deviceCountThreshold:
          type:
          - integer
          - 'null'
          format: int32
        durationMinutes:
          type:
          - integer
          - 'null'
          format: int32
        enabled:
          type:
          - boolean
          - 'null'
        name:
          type:
          - string
          - 'null'
        notifyOnRecovery:
          type:
          - boolean
          - 'null'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        reAlertAfterMinutes:
          type:
          - array
          - 'null'
          items:
            type:
            - integer
            - 'null'
            format: int32
        ruleUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        scope:
          $ref: '#/components/schemas/DeviceTargetScopeEnum'
        targetUuids:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: RUUID
[...]
