openapi: 3.2.0
info:
  contact:
    email: developer@rhombussystems.com
  description: 'This API is for use by Rhombus customers and partners.


    ## Authentication


    All requests require two headers:

    - `x-auth-scheme` — The authentication scheme identifier. Use `api-token` for standard API key auth, or `partner-api-token` for partner API auth.

    - `x-auth-apikey` — Your Rhombus API key.


    Example:

    ```

    POST /api/camera/getMinimalCameraStateList

    x-auth-scheme: api-token

    x-auth-apikey: YOUR_API_KEY

    Content-Type: application/json

    ```'
  title: Rhombus Doorbell Camera Webservice API
  version: '1.0'
servers:
- description: Production Server
  url: https://api2.rhombussystems.com
security:
- ApiKeyAuth: []
tags:
- name: Doorbell Camera Webservice
paths:
  /api/doorbellcamera/calibrateFloorplanProjection:
    post:
      description: Generate the homography to project detections onto a floorplan.
      operationId: doorbellCameraCalibrateFloorplanProjection
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Common_devices_CalibrateFloorplanProjectionWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_devices_CalibrateFloorplanProjectionWSResponse'
          description: OK
      summary: Generate the homography to project detections onto a floorplan
      tags:
      - Doorbell Camera Webservice
  /api/doorbellcamera/createRuleForDoorbellCamera:
    post:
      description: Create rule for a doorbell camera.
      operationId: createRuleForDoorbellCamera
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Doorbellcamera_CreateRuleForDoorbellCameraWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Doorbellcamera_CreateRuleForDoorbellCameraWSResponse'
          description: OK
      summary: Create rule for a doorbell camera
      tags:
      - Doorbell Camera Webservice
  /api/doorbellcamera/createSharedLiveVideoStream:
    post:
      description: Share an live video stream for a doorbell camera
      operationId: createDoorbellCameraSharedLiveVideoStream
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Doorbellcamera_CreateSharedLiveVideoStreamWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Doorbellcamera_CreateSharedLiveVideoStreamWSResponse'
          description: OK
      summary: Share an live video stream for a doorbell camera
      tags:
      - Doorbell Camera Webservice
  /api/doorbellcamera/delete:
    post:
      description: Remove the doorbell camera from the organization
      operationId: deleteDoorbellCamera
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Doorbellcamera_DeleteDoorbellCameraWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Doorbellcamera_DeleteDoorbellCameraWSResponse'
          description: OK
      summary: Remove the doorbell camera from the organization
      tags:
      - Doorbell Camera Webservice
  /api/doorbellcamera/deleteRuleForDoorbellCamera:
    post:
      description: Delete rule for a doorbell camera.
      operationId: deleteRuleForDoorbellCamera
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Doorbellcamera_DeleteRuleForDoorbellCameraWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Doorbellcamera_DeleteRuleForDoorbellCameraWSResponse'
          description: OK
      summary: Delete rule for a doorbell camera
      tags:
      - Doorbell Camera Webservice
  /api/doorbellcamera/findComponentEventsForDoorbellCamera:
    post:
      description: Retrieve all component events relevant to the specified Doorbell Camera
      operationId: findComponentEventsForDoorbellCamera
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Doorbellcamera_FindComponentEventsForDoorbellCameraWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Doorbellcamera_FindComponentEventsForDoorbellCameraWSResponse'
          description: OK
      summary: Retrieve all component events relevant to the specified Doorbell Camera
      tags:
      - Doorbell Camera Webservice
  /api/doorbellcamera/findComponentSeekPointsForDoorbellCamera:
    post:
      description: Retrieve all component seekpoints relevant to the specified Doorbell Camera
      operationId: findComponentSeekPointsForDoorbellCamera
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Doorbellcamera_FindComponentSeekPointsForDoorbellCameraWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Doorbellcamera_FindComponentSeekPointsForDoorbellCameraWSResponse'
          description: OK
      summary: Retrieve all component seekpoints relevant to the specified Doorbell Camera
      tags:
      - Doorbell Camera Webservice
  /api/doorbellcamera/findSharedLiveVideoStreams:
    post:
      description: Get list of all shared live streams for doorbell camera
      operationId: findDoorbellCameraSharedLiveVideoStreams
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Doorbellcamera_FindSharedLiveVideoStreamsForWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Doorbellcamera_FindSharedLiveVideoStreamsWSResponse'
          description: OK
      summary: Get list of all shared live streams for doorbell camera
      tags:
      - Doorbell Camera Webservice
  /api/doorbellcamera/getDoorbellCameraRulesForOrg:
    post:
      description: Get rules for all doorbell cameras in an org.
      operationId: getDoorbellCameraRulesForOrg
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Doorbellcamera_GetDoorbellCameraRulesForOrgWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Doorbellcamera_GetDoorbellCameraRulesForOrgWSResponse'
          description: OK
      summary: Get rules for all doorbell cameras in an org
      tags:
      - Doorbell Camera Webservice
  /api/doorbellcamera/getRulesForDoorbellCamera:
    post:
      description: Get all rules for a doorbell camera.
      operationId: getRulesForDoorbellCamera
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Doorbellcamera_GetRulesForDoorbellCameraWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Doorbellcamera_GetRulesForDoorbellCameraWSResponse'
          description: OK
      summary: Get all rules for a doorbell camera
      tags:
      - Doorbell Camera Webservice
components:
  schemas:
    SupervisionStateEnumType:
      type: string
      enum:
      - CUT_DETECTED
      - SHORT_DETECTED
      - NORMAL
      - INVALID
      - UNKNOWN
    AperioActivatorStateEvent:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          componentCompositeUuid:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          state:
            type:
            - integer
            - 'null'
            format: int32
          stateUpdatedAtMs:
            type:
            - integer
            - 'null'
            format: int64
      properties:
        componentUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        correlationId:
          type:
          - string
          - 'null'
        createdAtMs:
          type:
          - integer
          - 'null'
          format: int64
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        ownerDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        subLocationsHierarchyKey:
          type:
          - string
          - 'null'
          format: SubLocationsHierarchyKey
          description: 'A sequence of one or more base 64 (url-safe) uuid substrings.

            These substrings are separated by dots (.).

            '
          example: AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA
          pattern: ^([A-Za-z0-9\-_]{22})([.][A-Za-z0-9\-_]{22})*$
        timestampMs:
          type:
          - integer
          - 'null'
          format: int64
        type:
          $ref: '#/components/schemas/ComponentEventEnumType'
        uuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    ConnectAudioDeviceToMobileAppActionType:
      type: object
      properties:
        audioDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        deviceType:
          $ref: '#/components/schemas/DeviceTypeEnum'
        doorUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        targetUserUuids:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
    UserEventOriginator:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          userEmail:
            type:
            - string
            - 'null'
          userUuid:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          username:
            type:
            - string
            - 'null'
      properties:
        type:
          $ref: '#/components/schemas/EventOriginatorEnum'
    Common_devices_CalibrateFloorplanProjectionWSRequest:
      type: object
      description: Request to calibrate floorplan projection for a device.
      properties:
        cameraImagePointsPermyriad:
          type:
          - array
          - 'null'
          description: List of camera image points in permyriad coordinates
          items:
            type:
            - array
            - 'null'
            description: List of camera image points in permyriad coordinates
            items:
              type:
              - integer
              - 'null'
              format: int32
              description: List of camera image points in permyriad coordinates
        deviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        floorplanImagePointsPermyriad:
          type:
          - array
          - 'null'
          description: List of floorplan image points in permyriad coordinates
          items:
            type:
            - array
            - 'null'
            description: List of floorplan image points in permyriad coordinates
            items:
              type:
              - integer
              - 'null'
              format: int32
              description: List of floorplan image points in permyriad coordinates
    Doorbellcamera_FindComponentEventsForDoorbellCameraWSResponse:
      type: object
      description: Response object containing component events for a doorbell camera.
      properties:
        componentEvents:
          type:
          - array
          - 'null'
          description: List of component events for the doorbell camera
          items:
            $ref: '#/components/schemas/ComponentEventType'
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        warningMsg:
          type:
          - string
          - 'null'
    DoorLockdownStateEventReference:
      type:
      - object
      - 'null'
      properties:
        activatedLockdownPlan:
          $ref: '#/components/schemas/LockdownPlanReference'
        activeLockdownPlan:
          $ref: '#/components/schemas/LockdownPlanReference'
        deactivatedLockdownPlan:
          $ref: '#/components/schemas/LockdownPlanReference'
        doorEventUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        doorUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    PointType:
      type: object
      properties:
        x:
          type:
          - integer
          - 'null'
          format: int32
        y:
          type:
          - integer
          - 'null'
          format: int32
    Doorbellcamera_CreateSharedLiveVideoStreamWSRequest:
      type: object
      description: Request object for creating a shared live video stream for a doorbell camera.
      properties:
        audioGatewayUuid:
          type:
          - string
          - 'null'
          format: DeviceFacetUuid
          description: RUUID with optional appended facet information
          example: AAAAAAAAAAAAAAAAAAAAAA.v0
        doorbellCameraUuid:
          type:
          - string
          - 'null'
          format: DeviceFacetUuid
          description: RUUID with optional appended facet information
          example: AAAAAAAAAAAAAAAAAAAAAA.v0
        expirationTimeSecs:
          type:
          - integer
          - 'null'
          format: int32
          description: Add a expiration date for accessing the stream in seconds
          example: 86400
        invertSchedule:
          type:
          - boolean
          - 'null'
          description: If given a schedule uuid, will hide the stream during the schedule instead and show it otherwise
          example: false
        name:
          type:
          - string
          - 'null'
          description: If not provided, will be named 'Unnamed'
          example: Front Door Stream
        password:
          type:
          - string
          - 'null'
          description: Add a password to allow access to your shared stream. If null or blank password is not set.
          example: mypassword123
        scheduleUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        streamType:
          $ref: '#/components/schemas/StreamTypeEnum'
        vodEnabled:
          type:
          - boolean
          - 'null'
          description: Enables recording of live footage to a VOD
          example: true
      required:
      - doorbellCameraUuid
      - streamType
      - vodEnabled
    AperioKeyCylinderStateEvent:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          componentCompositeUuid:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          state:
            type:
            - integer
            - 'null'
            format: int32
          stateUpdatedAtMs:
            type:
            - integer
            - 'null'
            format: int64
      properties:
        componentUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        correlationId:
          type:
          - string
          - 'null'
        createdAtMs:
          type:
          - integer
          - 'null'
          format: int64
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        ownerDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        subLocationsHierarchyKey:
          type:
          - string
          - 'null'
          format: SubLocationsHierarchyKey
          description: 'A sequence of one or more base 64 (url-safe) uuid substrings.

            These substrings are separated by dots (.).

            '
          example: AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA
          pattern: ^([A-Za-z0-9\-_]{22})([.][A-Za-z0-9\-_]{22})*$
        timestampMs:
          type:
          - integer
          - 'null'
          format: int64
        type:
          $ref: '#/components/schemas/ComponentEventEnumType'
        uuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    CredentialEntry:
      type:
      - object
      - 'null'
      discriminator:
        propertyName: credSource
      oneOf:
      - $ref: '#/components/schemas/CredentialEntryBleWave'
      properties:
        credSource:
          $ref: '#/components/schemas/CredentialSourceEnumType'
        credentialId:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        firstInEligible:
          type:
          - boolean
          - 'null'
        originator:
          $ref: '#/components/schemas/BaseEventOriginator'
    AccessControlAuthorizationResultEnumType:
      type: string
      enum:
      - ALLOWED
      - DENIED
      - DISABLED
      - ERROR
      - NA
    DoorPositionIndicatorStateChangeEventType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          componentCompositeUuid:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          newState:
            $ref: '#/components/schemas/DoorPositionIndicatorStateEnumType'
          newSupervisionState:
            $ref: '#/components/schemas/SupervisionStateEnumType'
      properties:
        componentUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        correlationId:
          type:
          - string
          - 'null'
        createdAtMs:
          type:
          - integer
          - 'null'
          format: int64
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        ownerDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        subLocationsHierarchyKey:
          type:
          - string
          - 'null'
          format: SubLocationsHierarchyKey
          description: 'A sequence of one or more base 64 (url-safe) uuid substrings.

            These substrings are separated by dots (.).

            '
          example: AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA
          pattern: ^([A-Za-z0-9\-_]{22})([.][A-Za-z0-9\-_]{22})*$
        timestampMs:
          type:
          - integer
          - 'null'
          format: int64
        type:
          $ref: '#/components/schemas/ComponentEventEnumType'
        uuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    StreamTypeEnum:
      type: string
      enum:
      - USER
      - ALARM_MONITORING
      - DICE
      - LUMEO
      - INFORMACAST
      - RAPIDSOS
      - UNKNOWN
    CredentialSourceEnumType:
      type: string
      enum:
      - UNKNOWN
      - NFC
      - BLE_WAVE
      - BLE
      - WIEGAND
      - REMOTE
      - REMOTE_ADMIN
      - UNK_3P_OSDP
      - APERIO_NFC
      - APERIO_LF
      - APERIO_KEYPAD
      - KEYPAD_WIEGAND
      - KEYPAD_OSDP
      - BLE_PROX
      - QR_CODE
    ComponentEventType:
      type: object
      description: List of component events for the doorbell camera
      discriminator:
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/DoorbellEventType'
      - $ref: '#/components/schemas/DoorReaderStateChangeEventType'
      - $ref: '#/components/schemas/DoorRelayStateChangeEventType'
      - $ref: '#/components/schemas/DoorPositionIndicatorStateChangeEventType'
      - $ref: '#/components/schemas/RequestToExitStateChangeEventType'
      - $ref: '#/components/schemas/CredentialReceivedEventType'
      - $ref: '#/components/schemas/ButtonEventType'
      - $ref: '#/components/schemas/GenericInputStateChangeEventType'
      - $ref: '#/components/schemas/GenericRelayStateChangeEventType'
      - $ref: '#/components/schemas/AccessControlUnitTamperEventType'
      - $ref: '#/components/schemas/AccessControlUnitLocationLockdownStateEventType'
      - $ref: '#/components/schemas/DoorLocationLockdownStateEventType'
      - $ref: '#/components/schemas/PanicButtonEventType'
      - $ref: '#/components/schemas/AccessControlUnitBatteryStateChangeEventType'
      - $ref: '#/components/schemas/WaveToUnlockIntentExpiredEvent'
      - $ref: '#/components/schemas/DoorStateChangeEvent'
      - $ref: '#/components/schemas/DoorAuthFirstInStateEvent'
      - $ref: '#/components/schemas/DoorScheduleFirstInStateEvent'
      - $ref: '#/components/schemas/AccessControlUnitDoorFirstInStateEvent'
      - $ref: '#/components/schemas/AperioDtcEvent'
      - $ref: '#/components/schemas/AperioDoorExtensionStateEvent'
      - $ref: '#/components/schemas/AperioActivatorStateEvent'
      - $ref: '#/components/schemas/AperioDoorModeEvent'
      - $ref: '#/components/schemas/AperioDoorHandleStateEvent'
      - $ref: '#/components/schemas/AperioKeyCylinderStateEvent'
      - $ref: '#/components/schemas/IntercomTalkEventType'
      properties:
        componentUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        correlationId:
          type:
          - string
          - 'null'
        createdAtMs:
          type:
          - integer
          - 'null'
          format: int64
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        ownerDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        subLocationsHierarchyKey:
          type:
          - string
          - 'null'
          format: SubLocationsHierarchyKey
          description: 'A sequence of one or more base 64 (url-safe) uuid substrings.

            These substrings are separated by dots (.).

            '
          example: AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA
          pattern: ^([A-Za-z0-9\-_]{22})([.][A-Za-z0-9\-_]{22})*$
        timestampMs:
          type:
          - integer
          - 'null'
          format: int64
        type:
          $ref: '#/components/schemas/ComponentEventEnumType'
        uuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    AccessStateOverrideExpirationStrategyEnum:
      type: string
      enum:
      - TIME_DELAY
      - TIME_OF_DAY_LOCAL
      - NONE
    ChangeComponentCompositeAccessStateActionType:
      type: object
      properties:
        accessState:
          $ref: '#/components/schemas/AccessControlledDoorStateEnumType'
        alwaysCreateOverrideIfNoFirstIn:
          type:
          - boolean
          - 'null'
        componentCompositeUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        expirationStrategy:
          $ref: '#/components/schemas/AccessStateOverrideExpirationStrategyEnum'
        expireTimeDelaySeconds:
          type:
          - integer
          - 'null'
          format: int64
        expireTimeOfDayLocalSeconds:
          type:
          - integer
          - 'null'
          format: int64
        useFirstInRulesIfPossible:
          type:
          - boolean
          - 'null'
        version:
          type:
          - integer
          - 'null'
          format: int32
          readOnly: true
    LocationLockdownStateEnumType:
      type: string
      enum:
      - STANDARD_SECURITY
      - LOCKED_DOWN
    ReportLookbackTypeEnum:
      type: string
      enum:
      - ROLLING
      - PREVIOUS_DAY
      - PREVIOUS_WEEK
      - PREVIOUS_MONTH
    EnableDisableAudioRecordActionType:
      type: object
      properties:
        audioDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        enable:
          type:
          - boolean
          - 'null'
    WaveToUnlockIntentExpiredEvent:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          authWaitMs:
            type:
            - integer
            - 'null'
            format: int64
          authWaitMsTotal:
            type:
            - integer
            - 'null'
            format: int32
          componentCompositeUuid:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          credentials:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/CredentialEntry'
          rssiThreshold:
            type:
            - integer
            - 'null'
            format: int32
      properties:
        componentUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        correlationId:
          type:
          - string
          - 'null'
        createdAtMs:
          type:
          - integer
          - 'null'
          format: int64
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        ownerDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        subLocationsHierarchyKey:
          type:
          - string
          - 'null'
          format: SubLocationsHierarchyKey
          description: 'A sequence of one or more base 64 (url-safe) uuid substrings.

            These substrings are separated by dots (.).

            '
          example: AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA
          pattern: ^([A-Za-z0-9\-_]{22})([.][A-Za-z0-9\-_]{22})*$
        timestampMs:
          type:
          - integer
          - 'null'
          format: int64
        type:
          $ref: '#/components/schemas/ComponentEventEnumType'
        uuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    IntegrationNotificationActionType:
      type: object
      properties:
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        notificationEntity:
          type:
          - string
          - 'null'
        notificationTarget:
          type:
          - string
          - 'null'
    NoOpAction:
      type:
      - object
      - 'null'
      allOf: []
      properties:
        deviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        type:
          $ref: '#/components/schemas/RobotActionTypeEnum'
    Doorbellcamera_DeleteRuleForDoorbellCameraWSRequest:
      type: object
      description: Request object for deleting a rule for a doorbell camera.
      properties:
        doorbellCameraUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        ruleUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    SensorValType:
      type: object
      properties:
        sensorBoolean:
          type:
          - boolean
          - 'null'
        sensorDouble:
          type:
          - number
          - 'null'
          format: double
        sensorLong:
          type:
          - integer
          - 'null'
          format: int64
    CreateAlarmTriggerTypeEnum:
      type: string
      enum:
      - PANIC_BUTTON
      - ALARM_INTEGRATION
    ComponentRelayOutputTypeEnum:
      type: string
      enum:
      - TRANSIENT
      - STEADY
    ActivityEnum:
      type: string
      enum:
      - SOUND_LOUD
      - SOUND_GUN_SHOT
      - TAMPER
      - VISUAL_TAMPER
      - MOTION_TAMPER
      - MOTION
      - MOTION_HUMAN
      - MOTION_CAR
      - MOTION_ANIMAL
      - FACE
      - FACE_IDENTIFIED
      - FACE_UNIDENTIFIED
      - FACE_BLACKLISTED
      - FACE_ALERT
      - POSE_ANOMALOUS
      - POSE_FALL
      - LICENSEPLATE
      - LICENSEPLATE_IDENTIFIED
      - LICENSEPLATE_UNIDENTIFIED
      - LICENSEPLATE_ALERT
      - LICENSEPLATE_BLACKLISTED
      - LICENSEPLATE_TRUSTED
      - PEOPLECOUNT_HIGH
      - PEOPLECOUNT_HIGH_RESET
      - PEOPLECOUNT_LOW
      - PEOPLECOUNT_LOW_RESET
      - HUMAN_ENTER
      - HUMAN_EXIT
      - CAR_ENTER
      - CAR_EXIT
      - TEMPERATURE_EXCEEDED_HIGH
      - TEMPERATURE_EXCEEDED_LOW
      - HUMIDITY_EXCEEDED_HIGH
      - HUMIDITY_EXCEEDED_LOW
      - PM25_EXCEEDED_HIGH
      - TVOC_EXCEEDED_HIGH
      - ETOH_EXCEEDED_HIGH
      - IAQ_EXCEEDED_HIGH
      - CO2_EXCEEDED_HIGH
      - CO2_EXCEEDED_LOW
      - PROBE_TEMPERATURE_EXCEEDED_HIGH
      - PROBE_TEMPERATURE_EXCEEDED_LOW
      - PROBE_DISCONNECTED
      - PROBE_CONNECTED
      - HEAT_INDEX_EXCEEDED_HIGH
      - PRESSURE_EXCEEDED_HIGH
      - PRESSURE_EXCEEDED_LOW
      - PM10_EXCEEDED_HIGH
      - PM40_EXCEEDED_HIGH
      - PM100_EXCEEDED_HIGH
      - VOC_IDX_EXCEEDED_HIGH
      - NOX_IDX_EXCEEDED_HIGH
      - FORMALDEHYDE_EXCEEDED_HIGH
      - CARBON_MONOXIDE_EXCEEDED_HIGH
      - AQI_EXCEEDED_HIGH
      - DOOR_AJAR
      - DOOR_OPENED
      - DOOR_CLOSED
      - BUTTON_SINGLE_PRESSED
      - BUTTON_DOUBLE_PRESSED
      - BUTTON_LONG_PRESSED
      - TAG_ARRIVED
      - TAG_DEPARTED
      - TAG_MOVED
      - TAG_POSITIONING_CHANGED
      - TAG_BOUNDARY_INGRESS
      - TAG_BOUNDARY_EGRESS
      - TAG_PANIC
      - BADGE_AUTHORIZED
      - BADGE_UNAUTHORIZED
      - BADGE_UNAUTHORIZED_V2
      - BADGE_AJAR
      - BADGE_MANUAL
      - BADGE_FORCED_OPEN
      - BADGE_LOCKDOWN
      - BADGE_REQUEST_TO_EXIT
      - BADGE_DURESS
      - BADGE_SECURITY_BREACH
      - BADGE_TAMPER
      - BADGE_FACE_MISMATCH
      - POS_ORDER
      - GUN_DETECT_EVENT
      - IOT_SOUND_AGGRESSION
      - IOT_SOUND_HELP
      - IOT_AIR_CO
      - IOT_AIR_CO2
      - IOT_AIR_MASKING
      - IOT_AIR_THC
      - IOT_AIR_VAPE
      - IOT_AIR_VOC
      - IOT_AIR_TEMP
      - IOT_TAMPER
      - IOT_GUNSHOT
      - IOT_BUTTON_SINGLE_CLICK
      - IOT_BUTTON_DOUBLE_CLICK
      - IOT_BUTTON_HOLD
      - IOT_PANIC_BUTTON_TRIGGERED
      - AUDIO_SOUND_SIGNIFICANT
      - AUDIO_SOUND_LOUD
      - AUDIO_SOUND_ABUSIVE
      - AUDIO_SOUND_GREETING
      - AUDIO_SOUND_HELP
      - AUDIO_SOUND_GUN
      - AUDIO_SOUND_GLASS_BREAK
      - AUDIO_SOUND_ALARM_SMOKE_FIRE
      - AUDIO_SOUND_ALARM_CARBON_MONOXIDE
      - AUDIO_SOUND_SIREN
      - CLIMATE_VOC
      - CLIMATE_VAPE
      - CLIMATE_SMOKE
      - CLIMATE_THC
      - CLIMATE_CO2
      - CLIMATE_ETOH
      - CLIMATE_PM25
      - CLIMATE_IAQ
      - CLIMATE_LEAK
      - SOUND_AGGRESSION
      - SOUND_HELP
      - AIR_CO
      - AIR_CO2
      - AIR_MASKING
      - AIR_THC
      - AIR_VAPE
      - AIR_VOC
      - MASK_MISSING
      - HELMET_MISSING
      - GLOVES_MISSING
      - PIR_OCCUPIED
      - PIR_MOVEMENT
      - PIR_VACANT
      - CUSTOM
      - VISITOR_ARRIVED
      - VISITOR_DEPARTED
      - AC_DR_CONNECTED
      - AC_DR_DISCONNECTED
      - AC_DPI_DOOR_OPEN
      - AC_DPI_DOOR_CLOSED
      - AC_DPI_DOOR_AJAR
      - AC_DPI_DOOR_FORCED_OPEN
      - AC_DSR_UNLOCKED
      - AC_DSR_LOCKED
      - AC_DB_TRIGGERED
      - AC_PANIC_BUTTON_TRIGGERED
      - AC_REMOTE_UNLOCK
      - AC_BADGE_AUTHORIZED
      - AC_BADGE_UNAUTHORIZED
      - AC_BADGE_FACE_MISMATCH
      - AC_LOCKDOWN_ACTIVATED
      - AC_LOCKDOWN_DEACTIVATED
      - AC_TAMPER_PROX
      - AC_TAMPER_ACCEL
      - AC_TAMPER_SWITCH
      - AC_GR_ACTIVE
      - AC_GR_INACTIVE
      - AC_GI_ACTIVE
      - AC_GI_INACTIVE
      - AC_REX_ACTIVE
      - AC_REX_INACTIVE
      - AC_APERIO_DEVICE_DISCONNECTED
      - AC_APERIO_DEVICE_CONNECTED
      - AC_APERIO_DEVICE_REBOOT
      - AC_APERIO_DEVICE_TAMPER
      - AC_APERIO_LOW_BATTERY
      - AC_APERIO_FLAT_BATTERY
      - AC_APERIO_OK_BATTERY
      - POWER_SWITCH_BATTERY
      - POWER_SWITCH_PRIMARY
      - AI_SEARCH_MATCH
      - CUSTOM_LLM_BOOLEAN_TRUE
      - CUSTOM_LLM_BOOLEAN_FALSE
      - CUSTOM_LLM_THRESHOLD_EXCEEDED_LOW
      - CUSTOM_LLM_THRESHOLD_EXCEEDED_HIGH
      - ALM_AUTHORITIES_CONTACTED
      - ALM_MONITORING_ENABLED
      - ALM_MONITORING_DISABLED
      - ALM_MONITORING_SETTINGS_CHANGE
      - ALM_THREAT_CASE_CLOSED
      - ALM_THREAT_DETECTED
      - ALM_MONITORING_EVENT_DETECTED
      - ROBOT_DOG_DETECTED
      - ROBOT_ARRIVED_AT_WAYPOINT
      - ROBOT_ARRIVED_AT_POSE
      - ROBOT_WAITING_AT_POSE
      - ROBOT_MANUAL_CMD_VEL
      - ROBOT_MANUAL_ACTION
      - ROBOT_MANUAL_POSTURE
      - ROBOT_NAVIGATE_TO_POSE_START
      - ROBOT_NAVIGATE_TO_POSE_END
      - ROBOT_NAVIGATE_TO_HOME_START
      - ROBOT_NAVIGATE_TO_HOME_END
      - ROBOT_NAVIGATE_TO_WAYPOINT_START
      - ROBOT_NAVIGATE_TO_WAYPOINT_END
      - ROBOT_ROUTE_RUN_START
      - ROBOT_ROUTE_RUN_END
      - ROBOT_LOW_BATTERY_DOCKING
      - ROBOT_IDLE_DOCKING
      - ROBOT_EMERGENCY
      - LOITER_HUMAN
      - REID_HUMAN
      - INACTIVITY_HUMAN
      - INACTIVITY_CAR
      - ONGUARD_BADGE_AUTHORIZED
      - ONGUARD_BADGE_ANOMALY
      - ONGUARD_NO_ENTRY_MADE
      - ELEMENTS_BADGE_AUTHORIZED
      - ELEMENTS_BADGE_ANOMALY
      - ELEMENTS_NO_ENTRY_MADE
      - NETBOX_BADGE_AUTHORIZED
      - NETBOX_BADGE_ANOMALY
      - NETBOX_NO_ENTRY_MADE
      - THERMAL_TEMPERATURE_ALARM
      - THERMAL_TEMPERATURE_WARNING
      - THERMAL_FIRE_DETECTED
      - THERMAL_SMOKING_DETECTED
      - THERMAL_FIRE_VERIFIED
      - THERMAL_HEAT_NO_THREAT
      - THERMAL_VISUAL_HOTSPOT
      - THERMAL_VISUAL_HEAT_RISE
      - THERMAL_VISUAL_WARM_BODY
      - UNKNOWN
    CancelLoopingAudioPlaybackActionType:
      type: object
      properties:
        _audioDevices:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: DeviceFacetUuid
            description: RUUID with optional appended facet information
            example: AAAAAAAAAAAAAAAAAAAAAA.v0
        audioDevices:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: DeviceFacetUuid
            description: RUUID with optional appended facet information
            example: AAAAAAAAAAAAAAAAAAAAAA.v0
    RuleActionType:
      type: object
      description: The action to take when this lockdown rule is triggered.
      properties:
        activateLocationLockdown:
          $ref: '#/components/schemas/ActivateLocationLockdownActionType'
        alertAction:
          type:
          - boolean
          - 'null'
        audioPlaybackActions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AudioPlaybackActionType'
        cancelLoopingAudioPlaybackAction:
          $ref: '#/components/schemas/CancelLoopingAudioPlaybackActionType'
        changeComponentCompositeAccessStateActions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ChangeComponentCompositeAccessStateActionType'
        connectAudioDeviceToMobileAppAction:
          $ref: '#/components/schemas/ConnectAudioDeviceToMobileAppActionType'
        connectAudioDeviceToPhoneNumberAction:
          $ref: '#/components/schemas/ConnectAudioDeviceToPhoneNumberActionType'
        createAlarmAction:
          $ref: '#/components/schemas/CreateAlarmActionType'
        customActions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomRuleAction'
        customLLMActions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomLLMActionType'
        emailAuditLogExportActions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EmailAuditLogExportActionType'
        enableDisableAudioRecordActions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EnableDisableAudioRecordActionType'
        integrationCommandActions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/IntegrationCommandActionType'
        integrationNotificationActions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/IntegrationNotificationActionType'
        liveNotificationAction:
          type:
          - boolean
          - 'null'
        remoteDoorUnlockActions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RemoteDoorUnlockActionType'
        robotActions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RobotAction'
        thirdPartyAudioPlaybackAction:
          $ref: '#/components/schemas/ThirdPartyAudioPlaybackActionType'
        thirdPartyStrobeSirenAction:
          $ref: '#/components/schemas/ThirdPartyStrobeSirenActionType'
        triggerComponentRelayActions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TriggerComponentRelayActionType'
        webhookActions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/WebhookActionType'
    ToastOrderIdType:
      type: object
      properties:
        employeeName:
          type:
          - string
          - 'null'
        guid:
          type:
          - string
          - 'null'
        locationName:
          type:
          - string
          - 'null'
        restaurantName:
          type:
          - string
          - 'null'
        toastCheckInfo:
          $ref: '#/components/schemas/ToastCheckInfo'
    ActivateLocationLockdownActionType:
      type: object
      properties:
        locationLockdownPlanUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    FirstInSourceEnum:
      type: string
      enum:
      - CONFIG_MANUAL_OVERRIDE
      - CONFIG_REQUIREMENT_CHANGE
      - CONFIG_MEMBERSHIP
      - SCHEDULED_RESET
      - LOCAL_BADGE_EVENT
      - LOCKDOWN
      - UNKNOWN
    CustomRuleAction:
      type: object
      properties:
        headers:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
        path:
          type:
          - string
          - 'null'
    BaseEventOriginator:
      type: object
      discriminator:
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/SupportAuthorityEventOriginator'
      - $ref: '#/components/schemas/ApiTokenEventOriginator'
      - $ref: '#/components/schemas/UserEventOriginator'
      - $ref: '#/components/schemas/RuleEventOriginator'
      - $ref: '#/components/schemas/ComponentCompositeEventOriginator'
      - $ref: '#/components/schemas/GuestPassEventOriginator'
      - $ref: '#/components/schemas/DeviceServiceEventOriginator'
      properties:
        type:
          $ref: '#/components/schemas/EventOriginatorEnum'
    Doorbellcamera_DeleteDoorbellCameraWSRequest:
      type: object
      description: Request object for removing a doorbell camera from the organization.
      properties:
        doorbellCameraUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        mummify:
          type:
          - boolean
          - 'null'
          description: Whether to mummify the doorbell camera
          example: false
      required:
      - doorbellCameraUuid
      - mummify
    Doorbellcamera_ExternalDoorbellCameraComponentRuleType:
      type: object
      description: External representation of a doorbell camera component rule.
      properties:
        action:
          $ref: '#/components/schemas/RuleActionType'
        doorbellCameraComponentUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        doorbellCameraUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        ruleFilters:
          $ref: '#/components/schemas/RuleFilterType'
        ruleName:
          type:
          - string
          - 'null'
          description: Name of the rule
          example: Motion Detection Rule
        ruleUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        triggerActivity:
          $ref: '#/components/schemas/ActivityEnum'
    GenericRelayStateEnumType:
      type: string
      enum:
      - ACTIVE
      - INACTIVE
      - UNKNOWN
    AudioPlaybackActionType:
      type: object
      properties:
        audioClipUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        audioGateways:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
        loopDurationSec:
          type:
          - integer
          - 'null'
          format: int32
        playCount:
          type:
          - integer
          - 'null'
          format: int32
    Doorbellcamera_GetRulesForDoorbellCameraWSRequest:
      type: object
      description: Request object for retrieving all rules for a doorbell camera.
      properties:
        doorbellCameraUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    GuestPassEventOriginator:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          guestPassName:
            type:
            - string
            - 'null'
          guestPassUuid:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
      properties:
        type:
          $ref: '#/components/schemas/EventOriginatorEnum'
    DeviceServiceEventOriginator:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          deviceUuid:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          serviceName:
            type:
            - string
            - 'null'
      properties:
        type:
          $ref: '#/components/schemas/EventOriginatorEnum'
    DoorReaderStateChangeEventType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          componentCompositeUuid:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          newState:
            $ref: '#/components/schemas/DoorReaderStateEnumType'
          reason:
            $ref: '#/components/schemas/DoorReaderStateChangeReasonEnumType'
      properties:
        componentUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        correlationId:
          type:
          - string
          - 'null'
        createdAtMs:
          type:
          - integer
          - 'null'
          format: int64
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        ownerDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        subLocationsHierarchyKey:
          type:
          - string
          - 'null'
          format: SubLocationsHierarchyKey
          description: 'A sequence of one or more base 64 (url-safe) uuid substrings.

            These substrings are separated by dots (.).

            '
          example: AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA
          pattern: ^([A-Za-z0-9\-_]{22})([.][A-Za-z0-9\-_]{22})*$
        timestampMs:
          type:
          - integer
          - 'null'
          format: int64
        type:
          $ref: '#/components/schemas/ComponentEventEnumType'
        uuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    CredentialReceivedEventType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          accessGrantOrRevocationUuid:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          activeDoorLockdownState:
            $ref: '#/components/schemas/DoorLockdownStateEnumType'
          activeLockdownPlanUuid:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          appName:
            type:
            - string
            - 'null'
          appOS:
            type:
            - string
            - 'null'
          appVersion:
            type:
            - string
            - 'null'
          authDecisionSource:
            $ref: '#/components/schemas/AuthDecisionSourceEnum'
          authDecisionUuid:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          authWaitTimeMs:
            type:
            - integer
            - 'null'
            format: int32
          authWaitTimeMsTotal:
            type:
            - integer
            - 'null'
            format: int64
          authenticationResult:
            $ref: '#/components/schemas/AccessControlAuthenticationResultEnumType'
          authorizationResult:
            $ref: '#/components/schemas/AccessControlAuthorizationResultEnumType'
          componentCompositeUuid:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          credSource:
            $ref: '#/components/schemas/CredentialSourceEnumType'
          credentialHexValue:
            type:
            - string
            - 'null'
          credentialUuid:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          credentialValue:
            type:
            - string
            - 'null'
          credentialValueLengthBits:
            type:
            - integer
            - 'null'
            format: int32
          credentials:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/CredentialEntry'
          deviceModel:
            type:
            - string
            - 'null'
          managedCredentialUuid:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          originator:
            $ref: '#/components/schemas/BaseEventOriginator'
          satisfiesFirstInSettingsUuid:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          userAgent:
            type:
            - string
            - 'null'
      properties:
        componentUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        correlationId:
          type:
          - string
          - 'null'
        createdAtMs:
          type:
          - integer
          - 'null'
          format: int64
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        ownerDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        subLocationsHierarchyKey:
          type:
          - string
          - 'null'
          format: SubLocationsHierarchyKey
          description: 'A sequence of one or more base 64 (url-safe) uuid substrings.

            These substrings are separated by dots (.).

            '
          example: AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA
          pattern: ^([A-Za-z0-9\-_]{22})([.][A-Za-z0-9\-_]{22})*$
        timestampMs:
          type:
          - integer
          - 'null'
          format: int64
        type:
          $ref: '#/components/schemas/ComponentEventEnumType'
        uuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    RequestToExitStateChangeEventType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          componentCompositeUuid:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          intentOnly:
            type:
            - boolean
            - 'null'
          newState:
            $ref: '#/components/schemas/RequestToExitStateEnumType'
          newSupervisionState:
            $ref: '#/components/schemas/SupervisionStateEnumType'
      properties:
        componentUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        correlationId:
          type:
          - string
          - 'null'
        createdAtMs:
          type:
          - integer
          - 'null'
          format: int64
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        ownerDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        subLocationsHierarchyKey:
          type:
          - string
          - 'null'
          format: SubLocationsHierarchyKey
          description: 'A sequence of one or more base 64 (url-safe) uuid substrings.

            These substrings are separated by dots (.).

            '
          example: AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA
          pattern: ^([A-Za-z0-9\-_]{22})([.][A-Za-z0-9\-_]{22})*$
        timestampMs:
          type:
          - integer
          - 'null'
          format: int64
        type:
          $ref: '#/components/schemas/ComponentEventEnumType'
        uuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    Doorbellcamera_FindComponentSeekPointsForDoorbellCameraWSResponse:
      type: object
      description: Response object containing component seekpoints for a doorbell camera.
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        seekpoints:
          type:
          - array
          - 'null'
          description: List of component seekpoints for the doorbell camera
          items:
            $ref: '#/components/schemas/ComponentSeekPointType'
        warningMsg:
          type:
          - string
          - 'null'
    ReportLookbackUnitEnum:
      type: string
      enum:
      - HOURS
      - DAYS
      - WEEKS
    ActivityEventData:
      type: object
      properties:
        activities:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ActivityEnum'
        boundingBoxes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ClipBoundingBoxType'
        durationSec:
          type:
          - integer
          - 'null'
          format: int32
        timestampMs:
          type:
          - integer
          - 'null'
          format: int64
    Doorbellcamera_DeleteRuleForDoorbellCameraWSResponse:
      type: object
      description: Response object for deleting a rule for a doorbell camera.
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        warningMsg:
          type:
          - string
          - 'null'
    AccessStateSourceEnum:
      type: string
      enum:
      - DEFAULT_STATE
      - SCHEDULE
      - SCHEDULE_EXCEPTION
      - FIRST_IN
      - DOOR_STATE_OVERRIDE
      - LOCKDOWN
      - PRIVACY
      - UNKNOWN
    PanicButtonEventType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          componentCompositeUuid:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          newSupervisionState:
            $ref: '#/components/schemas/SupervisionStateEnumType'
      properties:
        componentUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        correlationId:
          type:
          - string
          - 'null'
        createdAtMs:
          type:
          - integer
          - 'null'
          format: int64
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        ownerDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        subLocationsHierarchyKey:
          type:
          - string
          - 'null'
          format: SubLocationsHierarchyKey
          description: 'A sequence of one or more base 64 (url-safe) uuid substrings.

            These substrings are separated by dots (.).

            '
          example: AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA
          pattern: ^([A-Za-z0-9\-_]{22})([.][A-Za-z0-9\-_]{22})*$
        timestampMs:
          type:
          - integer
          - 'null'
          format: int64
        type:
          $ref: '#/components/schemas/ComponentEventEnumType'
        uuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    AccessControlUnitDoorFirstInStateEvent:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          doorAuthFirstInEventReference:
            $ref: '#/components/schemas/DoorFirstInStateChangeEventReference'
          doorScheduleFirstInEventReference:
            $ref: '#/components/schemas/DoorFirstInStateChangeEventReference'
          settingsUuid:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
      properties:
        componentUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        correlationId:
          type:
          - string
          - 'null'
        createdAtMs:
          type:
          - integer
          - 'null'
          format: int64
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        ownerDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        subLocationsHierarchyKey:
          type:
          - string
          - 'null'
          format: SubLocationsHierarchyKey
          description: 'A sequence of one or more base 64 (url-safe) uuid substrings.

            These substrings are separated by dots (.).

            '
          example: AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA
          pattern: ^([A-Za-z0-9\-_]{22})([.][A-Za-z0-9\-_]{22})*$
        timestampMs:
          type:
          - integer
          - 'null'
          format: int64
        type:
          $ref: '#/components/schemas/ComponentEventEnumType'
        uuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    SupportAuthorityEventOriginator:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          grantedToInternalEntityUuid:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          grantedToName:
            type:
            - string
            - 'null'
          supportAuthorityUuid:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          supportUserEmail:
            type:
            - string
            - 'null'
          supportUsername:
            type:
            - string
            - 'null'
      properties:
        type:
          $ref: '#/components/schemas/EventOriginatorEnum'
    RuleEventOriginator:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          ruleName:
            type:
            - string
            - 'null'
          ruleUuid:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
      properties:
        type:
          $ref: '#/components/schemas/EventOriginatorEnum'
    CredentialEntryBleWave:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          finalRssi:
            type:
            - integer
            - 'null'
            format: int32
          firstRssi:
            type:
            - integer
            - 'null'
            format: int32
          firstRssiAtIntentElapsed:
            type:
            - integer
            - 'null'
            format: int32
          lostAtIntentElapsed:
            type:
            - integer
            - 'null'
            format: int32
          lostAtRssi:
            type:
            - integer
            - 'null'
            format: int32
          maxRssi:
            type:
            - integer
            - 'null'
            format: int32
          maxRssiAtIntentElapsed:
            type:
            - integer
            - 'null'
            format: int32
          sessionFirstRssi:
            type:
            - integer
            - 'null'
            format: int32
          sessionFirstRssiAtElapsed:
            type:
            - integer
            - 'null'
            format: int32
          sessionLostAtElapsed:
            type:
            - integer
            - 'null'
            format: int32
          sessionLostAtRssi:
            type:
            - integer
            - 'null'
            format: int32
          sessionMaxRssi:
            type:
            - integer
            - 'null'
            format: int32
          sessionMaxRssiAtElapsed:
            type:
            - integer
            - 'null'
            format: int32
      properties:
        credSource:
          $ref: '#/components/schemas/CredentialSourceEnumType'
        credentialId:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        firstInEligible:
          type:
          - boolean
          - 'null'
        originator:
          $ref: '#/components/schemas/BaseEventOriginator'
    Doorbellcamera_CreateRuleForDoorbellCameraWSRequest:
      type: object
      description: Request object for creating a rule for a doorbell camera.
      properties:
        rule:
          $ref: '#/components/schemas/Doorbellcamera_ExternalDoorbellCameraComponentRuleType'
    TriggerComponentRelayActionType:
      type: object
      properties:
        componentUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        outputType:
          $ref: '#/components/schemas/ComponentRelayOutputTypeEnum'
        overrideRelayDurationMs:
          type:
          - integer
          - 'null'
          format: int32
        overrideRelayDurationSec:
          type:
          - integer
          - 'null'
          format: int32
        ownerDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        state:
          $ref: '#/components/schemas/GenericRelayStateEnumType'
        version:
          type:
          - integer
          - 'null'
          format: int32
          readOnly: true
    Doorbellcamera_CreateRuleForDoorbellCameraWSResponse:
      type: object
      description: Response object for creating a rule for a doorbell camera.
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        ruleUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        warningMsg:
          type:
          - string
          - 'null'
    DeviceTypeEnum:
      type: string
      enum:
      - BLE_TRACKER
      - CAMERA
      - DOOR_SENSOR
      - ENVIRONMENTAL_SENSOR
      - OCCUPANCY_SENSOR
      - AUDIO_GATEWAY
      - EXECUTABLE
      - BADGE_READER
      - DOOR_CONTROLLER
      - BLE_BUTTON
      - IO_BOARD
      - ENVIRONMENTAL_GATEWAY
      - NVR
      - ROBOT
      - UNKNOWN
    AccessControlUnitLocationLockdownStateEventType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          activatedLockdownPlans:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/LockdownPlanReference'
          activeLockdownPlans:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/LockdownPlanReference'
          deactivatedLockdownPlans:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/LockdownPlanReference'
          doorEventReferenceMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/DoorLockdownStateEventReference'
          followingTestPlan:
            type:
            - boolean
            - 'null'
          locationLockdownStateChangedAtMillis:
            type:
            - integer
            - 'null'
            format: int64
          originator:
            $ref: '#/components/schemas/BaseEventOriginator'
          state:
            $ref: '#/components/schemas/LocationLockdownStateEnumType'
      properties:
        componentUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        correlationId:
          type:
          - string
          - 'null'
        createdAtMs:
          type:
          - integer
          - 'null'
          format: int64
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        ownerDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        subLocationsHierarchyKey:
          type:
          - string
          - 'null'
          format: SubLocationsHierarchyKey
          description: 'A sequence of one or more base 64 (url-safe) uuid substrings.

            These substrings are separated by dots (.).

            '
          example: AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA
          pattern: ^([A-Za-z0-9\-_]{22})([.][A-Za-z0-9\-_]{22})*$
        timestampMs:
          type:
          - integer
          - 'null'
          format: int64
        type:
          $ref: '#/components/schemas/ComponentEventEnumType'
        uuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    DoorPositionIndicatorStateEnumType:
      type: string
      enum:
      - OPEN
      - CLOSED
      - AJAR
      - FORCED_OPEN
      - ERROR
      - UNKNOWN
    GenericInputStateChangeEventType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          componentCompositeUuid:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          newState:
            $ref: '#/components/schemas/GenericInputStateEnumType'
          newSupervisionState:
            $ref: '#/components/schemas/SupervisionStateEnumType'
      properties:
        componentUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        correlationId:
          type:
          - string
          - 'null'
        createdAtMs:
          type:
          - integer
          - 'null'
          format: int64
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        ownerDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        subLocationsHierarchyKey:
          type:
          - string
          - 'null'
          format: SubLocationsHierarchyKey
          description: 'A sequence of one or more base 64 (url-safe) uuid substrings.

            These substrings are separated by dots (.).

            '
          example: AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA
          pattern: ^([A-Za-z0-9\-_]{22})([.][A-Za-z0-9\-_]{22})*$
        timestampMs:
          type:
          - integer
          - 'null'
          format: int64
        type:
          $ref: '#/components/schemas/ComponentEventEnumType'
        uuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    DoorRelayStateEnumType:
      type: string
      enum:
      - UNLOCKED
      - LOCKED
      - UNKNOWN
    FirstInFirmwareStatusEnum:
      type: string
      enum:
      - DISABLED
      - NOT_CONFIGURED
      - REQUIRED
      - SATISFIED
      - UNKNOWN
    Common_devices_CalibrateFloorplanProjectionWSResponse:
      type: object
      description: Response containing the calibrated floorplan projection homography.
      properties:
        homography:
          type:
          - array
          - 'null'
          description: 3x3 homography matrix for floorplan projection
          items:
            type:
            - array
            - 'null'
            description: 3x3 homography matrix for floorplan projection
            items:
              type:
              - number
              - 'null'
              format: double
              description: 3x3 homography matrix for floorplan projection
    IntercomTalkStateEnumType:
      type: string
      description: Whether the operator started or ended talking
      enum:
      - STARTED
      - ENDED
    Doorbellcamera_GetDoorbellCameraRulesForOrgWSRequest:
      type: object
      description: Request object for retrieving rules for all doorbell cameras in an organization.
    AccessControlUnitBatteryStateChangeEventType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          batteryFound:
            type:
            - boolean
            - 'null'
          batteryMa:
            type:
            - integer
            - 'null'
            format: int32
          batteryMv:
            type:
            - integer
            - 'null'
            format: int32
          onBackupPower:
            type:
            - boolean
            - 'null'
      properties:
        componentUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        correlationId:
          type:
          - string
          - 'null'
        createdAtMs:
          type:
          - integer
          - 'null'
          format: int64
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        ownerDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        subLocationsHierarchyKey:
          type:
          - string
          - 'null'
          format: SubLocationsHierarchyKey
          description: 'A sequence of one or more base 64 (url-safe) uuid substrings.

            These substrings are separated by dots (.).

            '
          example: AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA
          pattern: ^([A-Za-z0-9\-_]{22})([.][A-Za-z0-9\-_]{22})*$
        timestampMs:
          type:
          - integer
          - 'null'
          format: int64
        type:
          $ref: '#/components/schemas/ComponentEventEnumType'
        uuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    NavigationTypeEnum:
      type: string
      enum:
      - ROUTE
      - PATROL
      - WAYPOINT
      - POSE
    LockdownPlanScopeEnumType:
      type: string
      enum:
      - ORG_LOCKDOWN
      - LOCATION_LOCKDOWN
    ComponentEventEnumType:
      type: string
      description: Limits results to only contain the specified type of events, if applicable
      enum:
      - DoorbellEvent
      - DoorReaderStateChangeEvent
      - DoorRelayStateChangeEvent
      - DoorPositionIndicatorStateChangeEvent
      - RequestToExitStateChangeEvent
      - CredentialReceivedEvent
      - ButtonEvent
      - GenericInputStateChangeEvent
      - GenericRelayStateChangeEvent
      - AccessControlUnitTamperEvent
      - AccessControlUnitLocationLockdownStateEvent
      - DoorLocationLockdownStateEvent
      - PanicButtonEvent
      - AccessControlUnitBatteryStateChangeEvent
      - WaveToUnlockIntentExpiredEvent
      - DoorStateChangeEvent
      - DoorAuthFirstInStateEvent
      - DoorScheduleFirstInStateEvent
      - AccessControlUnitDoorFirstInStateEvent
      - AperioDoorExtensionStateEvent
      - AperioActivatorStateEvent
      - AperioKeyCylinderStateEvent
      - AperioDoorModeEvent
      - AperioDoorHandleStateEvent
      - AperioGatewayStateEvent
      - AperioGatewayConnectionStateChangeEvent
      - AperioDtcEvent
      - AperioTamperStateEvent
      - IntercomTalkEvent
    ButtonPressEnum:
      type: string
      enum:
      - NONE
      - SINGLE
      - DOUBLE
      - LONG
      - INITIAL_PRESS
      - LONG_RELEASE
    EmailAuditLogExportActionType:
      type: object
      properties:
        includeActions:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
        includeApiInvocation:
          type:
          - boolean
          - 'null'
        lookbackCount:
          type:
          - integer
          - 'null'
          format: int32
        lookbackType:
          $ref: '#/components/schemas/ReportLookbackTypeEnum'
        lookbackUnit:
          $ref: '#/components/schemas/ReportLookbackUnitEnum'
        recipientEmails:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
        timezoneId:
          type:
          - string
          - 'null'
    ConnectAudioDeviceToPhoneNumberActionType:
      type: object
      properties:
        audioDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        deviceType:
          $ref: '#/components/schemas/DeviceTypeEnum'
        doorUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        optionalGreeting:
          type:
          - string
          - 'null'
        phoneNumber:
          type:
          - string
          - 'null'
    Doorbellcamera_DeleteDoorbellCameraWSResponse:
      type: object
      description: Response object for removing a doorbell camera from the organization.
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        responseStatus:
          $ref: '#/components/schemas/WebResponseStatusEnum'
        warningMsg:
          type:
          - string
          - 'null'
    IntercomTalkEventType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          originator:
            $ref: '#/components/schemas/BaseEventOriginator'
          state:
            $ref: '#/components/schemas/IntercomTalkStateEnumType'
          talkSessionUuid:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
      properties:
        componentUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        correlationId:
          type:
          - string
          - 'null'
        createdAtMs:
          type:
          - integer
          - 'null'
          format: int64
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        ownerDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        subLocationsHierarchyKey:
          type:
          - string
          - 'null'
          format: SubLocationsHierarchyKey
          description: 'A sequence of one or more base 64 (url-safe) uuid substrings.

            These substrings are separated by dots (.).

            '
          example: AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA
          pattern: ^([A-Za-z0-9\-_]{22})([.][A-Za-z0-9\-_]{22})*$
        timestampMs:
          type:
          - integer
          - 'null'
          format: int64
        type:
          $ref: '#/components/schemas/ComponentEventEnumType'
        uuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    Doorbellcamera_GetDoorbellCameraRulesForOrgWSResponse:
      type: object
      description: Response object containing rules for all doorbell cameras in an organization.
      properties:
        doorbellCameraUuidToRulesMap:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - array
            - 'null'
            description: Map of doorbell camera UUIDs to their component rules
            items:
              $ref: '#/components/schemas/Doorbellcamera_ExternalDoorbellCameraComponentRuleType'
          description: Map of doorbell camera UUIDs to their component rules
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        warningMsg:
          type:
          - string
          - 'null'
    ThirdPartyAudioPlaybackActionType:
      type: object
      properties:
        audioFileName:
          type:
          - string
          - 'null'
        ipAddress:
          type:
          - string
          - 'null'
        loopDurationSec:
          type:
          - integer
          - 'null'
          format: int32
        password:
          type:
          - string
          - 'null'
        playCount:
          type:
          - integer
          - 'null'
          format: int32
        proxyDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        username:
          type:
          - string
          - 'null'
    DoorStateChangeEvent:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          componentCompositeUuid:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          newState:
            $ref: '#/components/schemas/AccessControlledDoorStateEnumType'
          originator:
            $ref: '#/components/schemas/BaseEventOriginator'
          source:
            $ref: '#/components/schemas/AccessStateSourceEnum'
      properties:
        componentUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        correlationId:
          type:
          - string
          - 'null'
        createdAtMs:
          type:
          - integer
          - 'null'
          format: int64
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        ownerDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        subLocationsHierarchyKey:
          type:
          - string
          - 'null'
          format: SubLocationsHierarchyKey
          description: 'A sequence of one or more base 64 (url-safe) uuid substrings.

            These substrings are separated by dots (.).

            '
          example: AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA
          pattern: ^([A-Za-z0-9\-_]{22})([.][A-Za-z0-9\-_]{22})*$
        timestampMs:
          type:
          - integer
          - 'null'
          format: int64
        type:
          $ref: '#/components/schemas/ComponentEventEnumType'
        uuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    RobotActionTypeEnum:
      type: string
      enum:
      - DEPLOY
      - UNKNOWN
    AperioDoorHandleStateEvent:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          componentCompositeUuid:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          state:
            type:
            - integer
            - 'null'
            format: int32
          stateUpdatedAtMs:
            type:
            - integer
            - 'null'
            format: int64
      properties:
        componentUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        correlationId:
          type:
          - string
          - 'null'
        createdAtMs:
          type:
          - integer
          - 'null'
          format: int64
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        ownerDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        subLocationsHierarchyKey:
          type:
          - string
          - 'null'
          format: SubLocationsHierarchyKey
          description: 'A sequence of one or more base 64 (url-safe) uuid substrings.

            These substrings are separated by dots (.).

            '
          example: AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA
          pattern: ^([A-Za-z0-9\-_]{22})([.][A-Za-z0-9\-_]{22})*$
        timestampMs:
          type:
          - integer
          - 'null'
          format: int64
        type:
          $ref: '#/components/schemas/ComponentEventEnumType'
        uuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    RobotAction:
      type: object
      discriminator:
        mapping:
          DEPLOY: '#/components/schemas/DeployRobotAction'
          UNKNOWN: '#/components/schemas/NoOpAction'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/DeployRobotAction'
      - $ref: '#/components/schemas/NoOpAction'
      properties:
        deviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        type:
          $ref: '#/components/schemas/RobotActionTypeEnum'
    AperioDoorExtensionStateEvent:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          activatorState:
            type:
            - integer
            - 'null'
            format: int32
          activatorStateUpdatedAtMs:
            type:
            - integer
            - 'null'
            format: int64
          aperioId:
            type:
            - string
            - 'null'
          clockRetrievedAtMs:
            type:
            - integer
            - 'null'
            format: int64
          componentCompositeUuid:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          connected:
            type:
            - boolean
            - 'null'
          connectionStateUpdatedAtMs:
            type:
            - integer
            - 'null'
            format: int64
          deviceClockSec:
            type:
            - integer
            - 'null'
            format: int64
          deviceTimezone:
            type:
            - integer
            - 'null'
            format: int32
          doorMode:
            type:
            - integer
            - 'null'
            format: int32
          doorModeUpdatedAtMs:
            type:
            - integer
            - 'null'
            format: int64
          dtcs:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/DtcInfo'
          handleState:
            type:
            - integer
            - 'null'
            format: int32
          handleStateUpdatedAtMs:
            type:
            - integer
            - 'null'
            format: int64
          keyCylinderState:
            type:
            - integer
            - 'null'
            format: int32
          keyCylinderStateUpdatedAtMs:
            type:
            - integer
            - 'null'
            format: int64
          removed:
            type:
            - boolean
[...]
