openapi: 3.2.0
info:
  contact:
    email: developer@rhombussystems.com
  description: 'This API is for use by Rhombus customers and partners.


    ## Authentication


    All requests require two headers:

    - `x-auth-scheme` — The authentication scheme identifier. Use `api-token` for standard API key auth, or `partner-api-token` for partner API auth.

    - `x-auth-apikey` — Your Rhombus API key.


    Example:

    ```

    POST /api/camera/getMinimalCameraStateList

    x-auth-scheme: api-token

    x-auth-apikey: YOUR_API_KEY

    Content-Type: application/json

    ```'
  title: Rhombus Access Control Webservice API
  version: '1.0'
servers:
- description: Production Server
  url: https://api2.rhombussystems.com
security:
- ApiKeyAuth: []
tags:
- name: Access Control Webservice
paths:
  /api/accesscontrol/addUsersToAccessControlGroup:
    post:
      description: Adds specified users to an access control group
      operationId: addUsersToAccessControlGroup
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Group_AddUsersToOrgGroupWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group_AddUsersToOrgGroupWSResponse'
          description: OK
      summary: Add users to access control group
      tags:
      - Access Control Webservice
  /api/accesscontrol/assignAccessControlCredential:
    post:
      description: Assign a currently unassigned credential to a user
      operationId: assignAccessControlCredential
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_credentials_AssignAccessControlCredentialWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_credentials_AssignAccessControlCredentialWSResponse'
          description: OK
      summary: Assign access control credential
      tags:
      - Access Control Webservice
  /api/accesscontrol/create35BitCorp1000StdCredential:
    post:
      description: Create a HID Corp1000 Standard 35 bit credential
      operationId: create35BitCorp1000StdCredential
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_Create35BitCorp1000StdCredentialWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_Create35BitCorp1000StdCredentialWSResponse'
          description: OK
      summary: Create an HID Corp1000 Standard 35 bit credential
      tags:
      - Access Control Webservice
  /api/accesscontrol/create48BitCorp1000StdCredential:
    post:
      description: Create a HID Corporate 1000 Standard 48 bit credential
      operationId: create48BitCorp1000StdCredential
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_Create48BitCorp1000StdCredentialWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_Create48BitCorp1000StdWSResponse'
          description: OK
      summary: Create an HID Corp1000 Standard 48 bit credential
      tags:
      - Access Control Webservice
  /api/accesscontrol/createAccessControlCredentialByHexValueAndType:
    post:
      description: Create a credential based on a hex value and credential type. Useful if you see an unauthorized badge event, know its type and want to import it
      operationId: createAccessControlCredentialByHexValueAndType
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_credentials_CreateAccessControlCredentialByHexValueAndTypeWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_credentials_CreateAccessControlCredentialByHexValueAndTypeWSResponse'
          description: OK
      summary: Create access control credential by hex value and type
      tags:
      - Access Control Webservice
  /api/accesscontrol/createAccessControlGroup:
    post:
      description: Creates an access control group
      operationId: createAccessControlGroup
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Group_CreateOrgGroupWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group_CreateOrgGroupWSResponse'
          description: OK
      summary: Create access control group
      tags:
      - Access Control Webservice
  /api/accesscontrol/createAccessGrant:
    post:
      description: Create a location access grant
      operationId: createAccessGrant
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_accessgrant_CreateAccessGrantWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_accessgrant_CreateAccessGrantWSResponse'
          description: OK
      summary: Create access grant
      tags:
      - Access Control Webservice
  /api/accesscontrol/createAccessRevocation:
    post:
      description: Create a location access revocation
      operationId: createAccessRevocation
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_accessrevocation_CreateAccessRevocationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_accessrevocation_CreateAccessRevocationWSResponse'
          description: OK
      summary: Create access revocation
      tags:
      - Access Control Webservice
  /api/accesscontrol/createRhombusSecureCsnCredential:
    post:
      description: Create a rhombus secure csn credential (Rhombus Badge)
      operationId: createRhombusSecureCsnCredential
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_credentials_CreateRhombusSecureCsnCredentialWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_credentials_CreateRhombusSecureCsnCredentialWSResponse'
          description: OK
      summary: Create Rhombus Secure CSN credential
      tags:
      - Access Control Webservice
  /api/accesscontrol/createStandardCsnCredential:
    post:
      description: Create a standard csn credential (Third Party Badge)
      operationId: createStandardCsnCredential
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_credentials_CreateStandardCsnCredentialWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_credentials_CreateStandardCsnCredentialWSResponse'
          description: OK
      summary: Create standard CSN credential
      tags:
      - Access Control Webservice
  /api/accesscontrol/createWiegand64BitRawCredential:
    post:
      description: Create a 64bit raw wiegand credential. Used when an explicit endpoint for the wiegand format is not otherwise defined.
      operationId: createWiegand64BitRawCredential
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_credentials_CreateWiegand64BitRawCredentialWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_credentials_CreateWiegand64BitRawCredentialWSResponse'
          description: OK
      summary: Create 64-bit raw Wiegand credential
      tags:
      - Access Control Webservice
  /api/accesscontrol/createWiegandCredential:
    post:
      deprecated: true
      description: Create a wiegand credential
      operationId: createWiegandCredential
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_credentials_CreateWiegandCredentialWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_credentials_CreateWiegandCredentialWSResponse'
          description: OK
      summary: Create Wiegand credential
      tags:
      - Access Control Webservice
  /api/accesscontrol/createWiegandD10202Credential:
    post:
      description: Create a D10202 wiegand credential
      operationId: createWiegandD10202Credential
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_credentials_CreateWiegandD10202CredentialWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_credentials_CreateWiegandD10202CredentialWSResponse'
          description: OK
      summary: Create D10202 Wiegand credential
      tags:
      - Access Control Webservice
  /api/accesscontrol/createWiegandH10301Credential:
    post:
      description: Create a H10301 wiegand credential
      operationId: createWiegandH10301Credential
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_credentials_CreateWiegandH10301CredentialWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_credentials_CreateWiegandH10301CredentialWSResponse'
          description: OK
      summary: Create H10301 Wiegand credential
      tags:
      - Access Control Webservice
  /api/accesscontrol/createWiegandH10302Credential:
    post:
      description: Create a H10302 wiegand credential
      operationId: createWiegandH10302Credential
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_credentials_CreateWiegandH10302CredentialWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_credentials_CreateWiegandH10302CredentialWSResponse'
          description: OK
      summary: Create H10302 Wiegand credential
      tags:
      - Access Control Webservice
  /api/accesscontrol/createWiegandH10304Credential:
    post:
      description: Create a H10304 wiegand credential
      operationId: createWiegandH10304Credential
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_credentials_CreateWiegandH10304CredentialWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_credentials_CreateWiegandH10304CredentialWSResponse'
          description: OK
      summary: Create H10304 Wiegand credential
      tags:
      - Access Control Webservice
  /api/accesscontrol/deleteAccessControlCredential:
    post:
      description: Delete an access control credential. It is recommended to revoke a credential rather than delete it to preserve credential history
      operationId: deleteAccessControlCredential
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_credentials_DeleteAccessControlCredentialWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_credentials_DeleteAccessControlCredentialWSResponse'
          description: OK
      summary: Delete access control credential
      tags:
      - Access Control Webservice
  /api/accesscontrol/deleteAccessControlGroup:
    post:
      description: Delete an access control group
      operationId: deleteAccessControlGroup
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Group_DeleteOrgGroupWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group_DeleteOrgGroupWSResponse'
          description: OK
      summary: Delete access control group
      tags:
      - Access Control Webservice
  /api/accesscontrol/deleteLocationAccessGrant:
    post:
      description: Deletes a location access grant
      operationId: deleteLocationAccessGrant
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_accessgrant_DeleteLocationAccessGrantWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_accessgrant_DeleteLocationAccessGrantWSResponse'
          description: OK
      summary: Delete location access grant
      tags:
      - Access Control Webservice
  /api/accesscontrol/deleteLocationAccessRevocation:
    post:
      description: Deletes a location access revocation
      operationId: deleteLocationAccessRevocation
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_accessrevocation_DeleteLocationAccessRevocationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_accessrevocation_DeleteLocationAccessRevocationWSResponse'
          description: OK
      summary: Delete location access revocation
      tags:
      - Access Control Webservice
  /api/accesscontrol/deleteUnassignedAccessControlCredential:
    post:
      description: Delete an unassigned access control credential. The credential must be unassigned (revoked) before this method can be called. History of the credential is maintained but it will no longer be returned as an unassigned credential.
      operationId: deleteUnassignedAccessControlCredential
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_credentials_DeleteUnassignedAccessControlCredentialWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_credentials_DeleteUnassignedAccessControlCredentialWSResponse'
          description: OK
      summary: Delete unassigned access control credential
      tags:
      - Access Control Webservice
  /api/accesscontrol/findAccessControlCredentialByGuestPass:
    post:
      description: Find all access control credentials assigned to the specified guest pass
      operationId: findAccessControlCredentialByGuestPass
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_credentials_FindAccessControlCredentialByGuestPassWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_credentials_FindAccessControlCredentialByGuestPassWSResponse'
          description: OK
      summary: Find access control credentials by guest pass
      tags:
      - Access Control Webservice
  /api/accesscontrol/findAccessControlCredentialByOrg:
    post:
      description: Find all access control credentials in the org
      operationId: findAccessControlCredentialByOrg
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_credentials_FindAccessControlCredentialByOrgWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_credentials_FindAccessControlCredentialByOrgWSResponse'
          description: OK
      summary: Find access control credentials by org
      tags:
      - Access Control Webservice
  /api/accesscontrol/findAccessControlCredentialByUser:
    post:
      description: Find all access control credentials for the specified user
      operationId: findAccessControlCredentialByUser
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_credentials_FindAccessControlCredentialByUserWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_credentials_FindAccessControlCredentialByUserWSResponse'
          description: OK
      summary: Find access control credentials by user
      tags:
      - Access Control Webservice
  /api/accesscontrol/findAccessControlCredentialByUsers:
    post:
      description: Find all access control credentials for the specified users
      operationId: findAccessControlCredentialByUsers
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_credentials_FindAccessControlCredentialByUsersWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_credentials_FindAccessControlCredentialByUsersWSResponse'
          description: OK
      summary: Find access control credentials by users
      tags:
      - Access Control Webservice
  /api/accesscontrol/findAccessControlGroupByExactName:
    post:
      description: Retrieve the access control group with the specified name
      operationId: findAccessControlGroupByExactName
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Group_FindOrgGroupsByExactNameWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group_FindOrgGroupsByExactNameWSResponse'
          description: OK
      summary: Find access control group by exact name
      tags:
      - Access Control Webservice
  /api/accesscontrol/findAccessControlGroupMembershipsByUser:
    post:
      description: Find all access control group memberships by user
      operationId: findAccessControlGroupMembershipsByUser
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Group_FindOrgGroupMembershipsByUserWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group_FindOrgGroupMembershipsByUserWSResponse'
          description: OK
      summary: Find access control group memberships by user
      tags:
      - Access Control Webservice
  /api/accesscontrol/findAccessControlGroupsByNamePrefix:
    post:
      description: Retrieve all access control groups with a name starting with the specified prefix
      operationId: findAccessControlGroupsByNamePrefix
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Group_FindOrgGroupsByNamePrefixWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group_FindOrgGroupsByNamePrefixWSResponse'
          description: OK
      summary: Find access control groups by name prefix
      tags:
      - Access Control Webservice
  /api/accesscontrol/findAccessControlGroupsByOrg:
    post:
      description: Retrieve all access control groups defined in the org
      operationId: findAccessControlGroupsByOrg
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Group_FindOrgGroupsByOrgWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group_FindOrgGroupsByOrgWSResponse'
          description: OK
      summary: Find access control groups by org
      tags:
      - Access Control Webservice
  /api/accesscontrol/findAccessControlGroupsByUserMembership:
    post:
      description: Find all access control groups a user belongs to
      operationId: findAccessControlGroupsByUserMembership
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Group_FindOrgGroupsByUserMembershipWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group_FindOrgGroupsByUserMembershipWSResponse'
          description: OK
      summary: Find access control groups by user membership
      tags:
      - Access Control Webservice
  /api/accesscontrol/findAllUsersForAccessControlGroup:
    post:
      description: Find all users belonging to an access control group
      operationId: findAllUsersForAccessControlGroup
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Group_FindAllUsersForOrgGroupWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group_FindAllUsersForOrgGroupWSResponse'
          description: OK
      summary: Find all users for access control group
      tags:
      - Access Control Webservice
  /api/accesscontrol/findCredentialHistoryByCredentialHexValue:
    post:
      description: Retrieves all credentials that have owned the credential hex value. Expect at most 1 valid/active credential and the rest are revoked
      operationId: findCredentialHistoryByCredentialHexValue
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_credentials_FindCredentialHistoryByCredentialHexValueWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_credentials_FindCredentialHistoryByCredentialHexValueWSResponse'
          description: OK
      summary: Find credential history by credential hex value
      tags:
      - Access Control Webservice
  /api/accesscontrol/findCredentialHistoryByCredentialValue:
    post:
      description: Retrieves all credentials that have owned the credential value.
      operationId: findCredentialHistoryByCredentialValue
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_credentials_FindCredentialHistoryByCredentialValueWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_credentials_FindCredentialHistoryByCredentialValueWSResponse'
          description: OK
      summary: Find credential history by credential value
      tags:
      - Access Control Webservice
  /api/accesscontrol/findCredentialHistoryByUser:
    post:
      description: Retrieves all credentials both current and revoked that were at some point assigned to the specified user
      operationId: findCredentialHistoryByUser
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_credentials_FindCredentialHistoryByUserWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_credentials_FindCredentialHistoryByUserWSResponse'
          description: OK
      summary: Find credential history by user
      tags:
      - Access Control Webservice
  /api/accesscontrol/findLocationAccessGrantsByAccessControlledDoor:
    post:
      description: Finds location access grants by the specified access controlled door
      operationId: findLocationAccessGrantsByAccessControlledDoor
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_accessgrant_FindLocationAccessGrantsByAccessControlledDoorWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_accessgrant_FindLocationAccessGrantsByAccessControlledDoorWSResponse'
          description: OK
      summary: Find location access grants by access controlled door
      tags:
      - Access Control Webservice
  /api/accesscontrol/findLocationAccessGrantsByAccessControlledElevatorLanding:
    post:
      description: Finds location access grants by the specified access controlled elevator landing
      operationId: findLocationAccessGrantsByAccessControlledElevatorLanding
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_accessgrant_FindLocationAccessGrantsByAccessControlledElevatorLandingWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_accessgrant_FindLocationAccessGrantsByAccessControlledDoorWSResponse'
          description: OK
      summary: Find location access grants by access controlled elevator landing
      tags:
      - Access Control Webservice
  /api/accesscontrol/findLocationAccessGrantsByDoorLabel:
    post:
      description: Finds location access grants by the specified door label
      operationId: findLocationAccessGrantsByDoorLabel
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_accessgrant_FindLocationAccessGrantsByDoorLabelWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_accessgrant_FindLocationAccessGrantsByDoorLabelWSResponse'
          description: OK
      summary: Find location access grants by door label
      tags:
      - Access Control Webservice
  /api/accesscontrol/findLocationAccessGrantsByGroup:
    post:
      description: Finds location access grants by the specified group
      operationId: findLocationAccessGrantsByGroup
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_accessgrant_FindLocationAccessGrantsByGroupWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_accessgrant_FindLocationAccessGrantsByGroupWSResponse'
          description: OK
      summary: Find location access grants by group
      tags:
      - Access Control Webservice
  /api/accesscontrol/findLocationAccessGrantsByLocation:
    post:
      description: Finds location access grants by the specified location
      operationId: findLocationAccessGrantsByLocation
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_accessgrant_FindLocationAccessGrantsByLocationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_accessgrant_FindLocationAccessGrantsByLocationWSResponse'
          description: OK
      summary: Find location access grants by location
      tags:
      - Access Control Webservice
  /api/accesscontrol/findLocationAccessGrantsByLocationAndUser:
    post:
      description: Finds location access grants by the specified location and user
      operationId: findLocationAccessGrantsByLocationAndUser
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_accessgrant_FindLocationAccessGrantsByLocationAndUserWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_accessgrant_FindLocationAccessGrantsByLocationAndUserWSResponse'
          description: OK
      summary: Find location access grants by location and user
      tags:
      - Access Control Webservice
  /api/accesscontrol/findLocationAccessGrantsByOrg:
    post:
      description: Finds all location access grants in the org
      operationId: findLocationAccessGrantsByOrg
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_accessgrant_FindLocationAccessGrantsByOrgWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_accessgrant_FindLocationAccessGrantsByOrgWSResponse'
          description: OK
      summary: Find location access grants by org
      tags:
      - Access Control Webservice
  /api/accesscontrol/findLocationAccessGrantsByUser:
    post:
      description: Finds location access grants by the specified user
      operationId: findLocationAccessGrantsByUser
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_accessgrant_FindLocationAccessGrantsByUserWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_accessgrant_FindLocationAccessGrantsByUserWSResponse'
          description: OK
      summary: Find location access grants by user
      tags:
      - Access Control Webservice
  /api/accesscontrol/findLocationAccessRevocationsByAccessControlledDoor:
    post:
      description: Finds location access revocations by the specified access controlled door
      operationId: findLocationAccessRevocationsByAccessControlledDoor
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_accessrevocation_FindLocationAccessRevocationsByAccessControlledDoorWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_accessrevocation_FindLocationAccessRevocationsByAccessControlledDoorWSResponse'
          description: OK
      summary: Find location access revocations by access controlled door
      tags:
      - Access Control Webservice
  /api/accesscontrol/findLocationAccessRevocationsByAccessControlledElevatorLanding:
    post:
      description: Finds location access revocations by the specified access controlled elevator landing
      operationId: findLocationAccessRevocationsByAccessControlledElevatorLanding
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_accessrevocation_FindLocationAccessRevocationsByAccessControlledElevatorLandingWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_accessrevocation_FindLocationAccessRevocationsByAccessControlledElevatorLandingWSResponse'
          description: OK
      summary: Find location access revocations by access controlled elevator landing
      tags:
      - Access Control Webservice
  /api/accesscontrol/findLocationAccessRevocationsByDoorLabel:
    post:
      description: Finds location access revocation by the specified door label
      operationId: findLocationAccessRevocationsByDoorLabel
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_accessrevocation_FindLocationAccessRevocationsByDoorLabelWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_accessrevocation_FindLocationAccessRevocationsByDoorLabelWSResponse'
          description: OK
      summary: Find location access revocations by door label
      tags:
      - Access Control Webservice
  /api/accesscontrol/findLocationAccessRevocationsByGroup:
    post:
      description: Finds location access revocations by the specified group
      operationId: findLocationAccessRevocationsByGroup
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_accessrevocation_FindLocationAccessRevocationsByGroupWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_accessrevocation_FindLocationAccessRevocationsByGroupWSResponse'
          description: OK
      summary: Find location access revocations by group
      tags:
      - Access Control Webservice
  /api/accesscontrol/findLocationAccessRevocationsByOrg:
    post:
      description: Finds all location access revocations in the org
      operationId: findLocationAccessRevocationsByOrg
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_accessrevocation_FindLocationAccessRevocationsByOrgWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_accessrevocation_FindLocationAccessRevocationsByOrgWSResponse'
          description: OK
      summary: Find location access revocations by org
      tags:
      - Access Control Webservice
  /api/accesscontrol/findLocationAccessRevocationsByUser:
    post:
      description: Finds location access revocations by the specified user
      operationId: findLocationAccessRevocationsByUser
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_accessrevocation_FindLocationAccessRevocationsByUserWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_accessrevocation_FindLocationAccessRevocationsByUserWSResponse'
          description: OK
      summary: Find location access revocations by user
      tags:
      - Access Control Webservice
  /api/accesscontrol/getAccessControlCredentialDetails:
    post:
      description: Retrieves an access control credential of any type, including sensitive details, by UUID.
      operationId: getAccessControlCredentialDetails
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_credentials_GetAccessControlCredentialDetailsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_credentials_GetAccessControlCredentialDetailsWSResponse'
          description: OK
      summary: Get access control credential details
      tags:
      - Access Control Webservice
  /api/accesscontrol/getLocationAccessGrant:
    post:
      description: Retrieve a location access grant by id
      operationId: getLocationAccessGrant
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_accessgrant_GetLocationAccessGrantWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_accessgrant_GetLocationAccessGrantWSResponse'
          description: OK
      summary: Get location access grant
      tags:
      - Access Control Webservice
  /api/accesscontrol/getLocationAccessRevocation:
    post:
      description: Retrieve a location access revocation by id
      operationId: getLocationAccessRevocation
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_accessrevocation_GetLocationAccessRevocationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_accessrevocation_GetLocationAccessRevocationWSResponse'
          description: OK
      summary: Get location access revocation
      tags:
      - Access Control Webservice
  /api/accesscontrol/getRhombusSecureCsnCredentialDetails:
    post:
      deprecated: true
      description: 'Retrieves a rhombus secure csn credential including sensitive details. Deprecated: use getAccessControlCredentialDetails.'
      operationId: getRhombusSecureCsnCredentialDetails
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_credentials_GetRhombusSecureCsnCredentialDetailsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_credentials_GetRhombusSecureCsnCredentialDetailsWSResponse'
          description: OK
      summary: Get Rhombus Secure CSN credential details
      tags:
      - Access Control Webservice
  /api/accesscontrol/getStandardCsnCredentialDetails:
    post:
      deprecated: true
      description: 'Retrieves a standard csn credential including sensitive details. Deprecated: use getAccessControlCredentialDetails.'
      operationId: getStandardCsnCredentialDetails
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_credentials_GetStandardCsnCredentialDetailsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_credentials_GetStandardCsnCredentialDetailsWSResponse'
          description: OK
      summary: Get standard CSN credential details
      tags:
      - Access Control Webservice
  /api/accesscontrol/removeUsersFromAccessControlGroup:
    post:
      description: Removes specified users from an access control group
      operationId: removeUsersFromAccessControlGroup
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Group_RemoveUsersFromOrgGroupWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group_RemoveUsersFromOrgGroupWSResponse'
          description: OK
      summary: Remove users from access control group
      tags:
      - Access Control Webservice
  /api/accesscontrol/revokeAccessControlCredential:
    post:
      description: Revokes an access control credential. Unlike suspension this will give up its claim on the credential value allowing another cred to claim it as its identifier
      operationId: revokeAccessControlCredential
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_credentials_RevokeAccessControlCredentialWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_credentials_RevokeAccessControlCredentialWSResponse'
          description: OK
      summary: Revoke access control credential
      tags:
      - Access Control Webservice
  /api/accesscontrol/suspendAccessControlCredential:
    post:
      description: Mark an access control credential as suspended
      operationId: suspendAccessControlCredential
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_credentials_SuspendAccessControlCredentialWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_credentials_SuspendAccessControlCredentialWSResponse'
          description: OK
      summary: Suspend access control credential
      tags:
      - Access Control Webservice
  /api/accesscontrol/unlockAccessControlledDoor:
    post:
      description: Unlock an access controlled door
      operationId: unlockAccessControlledDoor
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_UnlockAccessControlledDoorWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_credentials_BaseUnlockAccessControlledDoorWSResponse'
          description: OK
      summary: Unlock access controlled door
      tags:
      - Access Control Webservice
  /api/accesscontrol/unsuspendAccessControlCredential:
    post:
      description: Mark an access control credential as no longer suspended
      operationId: unsuspendAccessControlCredential
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_credentials_UnsuspendAccessControlCredentialWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_credentials_UnsuspendAccessControlCredentialWSResponse'
          description: OK
      summary: Unsuspend access control credential
      tags:
      - Access Control Webservice
  /api/accesscontrol/updateAccessControlGroup:
    post:
      description: Updates an access control group's meta information like name and description
      operationId: updateAccessControlGroup
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Group_UpdateOrgGroupWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group_UpdateOrgGroupWSResponse'
          description: OK
      summary: Update access control group
      tags:
      - Access Control Webservice
  /api/accesscontrol/updateAccessGrant:
    post:
      description: Updates a location access grant
      operationId: updateAccessGrant
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_accessgrant_UpdateAccessGrantWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_accessgrant_UpdateAccessGrantWSResponse'
          description: OK
      summary: Update access grant
      tags:
      - Access Control Webservice
  /api/accesscontrol/updateAccessRevocation:
    post:
      description: Updates a location access revocation
      operationId: updateAccessRevocation
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_accessrevocation_UpdateAccessRevocationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_accessrevocation_UpdateAccessRevocationWSResponse'
          description: OK
      summary: Update access revocation
      tags:
      - Access Control Webservice
  /api/accesscontrol/updateRhombusSecureCsnCredential:
    post:
      description: Update a rhombus secure csn credential (Rhombus Badge)
      operationId: updateRhombusSecureCsnCredential
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_credentials_UpdateRhombusSecureCsnCredentialWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_credentials_UpdateRhombusSecureCsnCredentialWSResponse'
          description: OK
      summary: Update Rhombus Secure CSN credential
      tags:
      - Access Control Webservice
  /api/accesscontrol/updateRhombusSecureMobileCredential:
    post:
      description: Update a rhombus secure mobile credential (RhombusKey App w/ BLE or NFC)
      operationId: updateRhombusSecureMobileCredential
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_credentials_UpdateRhombusSecureMobileCredentialWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_credentials_UpdateRhombusSecureMobileCredentialWSResponse'
          description: OK
      summary: Update Rhombus Secure mobile credential
      tags:
      - Access Control Webservice
  /api/accesscontrol/updateStandardCsnCredential:
    post:
      description: Update a standard csn credential (Third Party Badge)
      operationId: updateStandardCsnCredential
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_credentials_UpdateStandardCsnCredentialWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_credentials_UpdateStandardCsnCredentialWSResponse'
          description: OK
      summary: Update standard CSN credential
      tags:
      - Access Control Webservice
  /api/accesscontrol/updateWiegandCredential:
    post:
      description: Update a wiegand credential (Third Party Badge)
      operationId: updateWiegandCredential
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accesscontrol_credentials_UpdateWiegandCredentialWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accesscontrol_credentials_UpdateWiegandCredentialWSResponse'
          description: OK
      summary: Update Wiegand credential
      tags:
      - Access Control Webservice
components:
  schemas:
    Accesscontrol_credentials_GetRhombusSecureCsnCredentialDetailsWSResponse:
      type: object
      description: Response containing Rhombus Secure CSN credential details.
      properties:
        credential:
          $ref: '#/components/schemas/AccessControlCredentialType'
    Accesscontrol_credentials_UpdateRhombusSecureMobileCredentialWSResponse:
      type: object
      description: Response containing the updated Rhombus Secure mobile credential.
      properties:
        credential:
          $ref: '#/components/schemas/AccessControlCredentialType'
    Accesscontrol_accessgrant_FindLocationAccessGrantsByUserWSResponse:
      type: object
      description: Response containing location access grants for a user.
      properties:
        accessGrants:
          type:
          - array
          - 'null'
          description: List of location access grants
          items:
            $ref: '#/components/schemas/LocationAccessGrantType'
    Group_FindOrgGroupsByExactNameWSResponse:
      type: object
      description: Response containing organization group found by exact name.
      properties:
        group:
          $ref: '#/components/schemas/OrgGroupType'
    AccessGrantModeEnum:
      type: string
      enum:
      - GUEST_PASS_INDIVIDUAL
      - DEFAULT
    Wiegand35BitCorp1000Credential:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          cardNumber:
            type:
            - integer
            - 'null'
            format: int64
          companyId:
            type:
            - integer
            - 'null'
            format: int32
          format:
            $ref: '#/components/schemas/WiegandFormatEnumType'
      properties:
        assigneeType:
          $ref: '#/components/schemas/AccessControlCredentialAssigneeTypeEnum'
        assigneeUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        createdAtMillis:
          type:
          - integer
          - 'null'
          format: int64
        endDateEpochSecExclusive:
          type:
          - integer
          - 'null'
          format: int64
        lastUsedAccessControlledDoorUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        lastUsedAtMillis:
          type:
          - integer
          - 'null'
          format: int64
        lastUsedLocationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        lowercaseHexValue:
          type:
          - string
          - 'null'
          readOnly: true
        managedCredUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        note:
          type:
          - string
          - 'null'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        startDateEpochSecInclusive:
          type:
          - integer
          - 'null'
          format: int64
        type:
          $ref: '#/components/schemas/AccessControlCredentialEnumType'
        updatedAtMillis:
          type:
          - integer
          - 'null'
          format: int64
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        uuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        value:
          type:
          - string
          - 'null'
        workflowStatus:
          $ref: '#/components/schemas/AccessControlCredentialWorkflowStatusEnumType'
    Accesscontrol_accessgrant_UpdateAccessGrantWSResponse:
      type: object
      description: Response for location access grant update.
      properties:
        accessGrant:
          $ref: '#/components/schemas/LocationAccessGrantType'
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        expiredACDLicensesDoorUuids:
          type:
          - array
          - 'null'
          description: Set of expired ACD license door UUIDs
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          uniqueItems: true
        unassignedACDLicensesDoorUuids:
          type:
          - array
          - 'null'
          description: Set of unassigned ACD license door UUIDs
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          uniqueItems: true
        warningMsg:
          type:
          - string
          - 'null'
    Accesscontrol_credentials_UpdateWiegandCredentialWSRequest:
      type: object
      description: Request to update a Wiegand credential.
      properties:
        credentialUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        endDateEpochSecExclusive:
          type:
          - integer
          - 'null'
          format: int64
        startDateEpochSecInclusive:
          type:
          - integer
          - 'null'
          format: int64
    Accesscontrol_accessrevocation_GetLocationAccessRevocationWSResponse:
      type: object
      description: Response containing a location access revocation.
      properties:
        accessRevocation:
          $ref: '#/components/schemas/LocationAccessRevocationType'
    WiegandH10304Credential:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          cardNumber:
            type:
            - integer
            - 'null'
            format: int32
          facilityCode:
            type:
            - integer
            - 'null'
            format: int32
          format:
            $ref: '#/components/schemas/WiegandFormatEnumType'
          nonParityValue:
            type:
            - string
            - 'null'
      properties:
        assigneeType:
          $ref: '#/components/schemas/AccessControlCredentialAssigneeTypeEnum'
        assigneeUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        createdAtMillis:
          type:
          - integer
          - 'null'
          format: int64
        endDateEpochSecExclusive:
          type:
          - integer
          - 'null'
          format: int64
        lastUsedAccessControlledDoorUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        lastUsedAtMillis:
          type:
          - integer
          - 'null'
          format: int64
        lastUsedLocationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        lowercaseHexValue:
          type:
          - string
          - 'null'
          readOnly: true
        managedCredUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        note:
          type:
          - string
          - 'null'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        startDateEpochSecInclusive:
          type:
          - integer
          - 'null'
          format: int64
        type:
          $ref: '#/components/schemas/AccessControlCredentialEnumType'
        updatedAtMillis:
          type:
          - integer
          - 'null'
          format: int64
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        uuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        value:
          type:
          - string
          - 'null'
        workflowStatus:
          $ref: '#/components/schemas/AccessControlCredentialWorkflowStatusEnumType'
    Accesscontrol_accessrevocation_GetLocationAccessRevocationWSRequest:
      type: object
      description: Request to get a location access revocation by UUID.
      properties:
        accessRevocationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    Accesscontrol_accessgrant_FindLocationAccessGrantsByAccessControlledDoorWSResponse:
      type:
      - object
      - 'null'
      description: Response containing location access grants for an access controlled door.
      properties:
        accessGrants:
          type:
          - array
          - 'null'
          description: List of location access grants
          items:
            $ref: '#/components/schemas/LocationAccessGrantType'
    Accesscontrol_accessgrant_CreateAccessGrantWSRequest:
      type: object
      description: Request to create a location access grant.
      properties:
        accessGrant:
          $ref: '#/components/schemas/LocationAccessGrantType'
    Accesscontrol_credentials_FindCredentialHistoryByCredentialHexValueWSRequest:
      type: object
      description: Request to find credential history by credential hex value.
      properties:
        credentialHexValue:
          type:
          - string
          - 'null'
          description: Hex value of the credential to search for
          example: 1234567890ABCDEF
        filter:
          $ref: '#/components/schemas/CredentialQueryFilter'
    Accesscontrol_credentials_GetRhombusSecureCsnCredentialDetailsWSRequest:
      type: object
      description: Request to get Rhombus Secure CSN credential details.
      properties:
        credentialUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    Accesscontrol_credentials_CreateWiegandH10302CredentialWSResponse:
      type: object
      description: Response for H10302 Wiegand credential creation.
      properties:
        credential:
          $ref: '#/components/schemas/AccessControlCredentialType'
    Accesscontrol_accessrevocation_FindLocationAccessRevocationsByDoorLabelWSRequest:
      type: object
      description: Request to find location access revocations by door label.
      properties:
        doorLabelId:
          type:
          - string
          - 'null'
          description: Door label identifier
          example: door_label_123
    Accesscontrol_credentials_AssignAccessControlCredentialWSRequest:
      type: object
      description: Request to assign an access control credential to a user.
      properties:
        credentialHexValue:
          type:
          - string
          - 'null'
          description: Hex value of the credential
          example: 1234567890ABCDEF
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    Group_FindOrgGroupsByNamePrefixWSRequest:
      type: object
      description: Request to find organization groups by name prefix.
      properties:
        groupNamePrefix:
          type:
          - string
          - 'null'
          description: Name prefix to search for groups
          example: Eng
    Accesscontrol_credentials_FindAccessControlCredentialByOrgWSRequest:
      type: object
      description: Request to find access control credentials by organization.
      properties:
        filter:
          $ref: '#/components/schemas/CredentialQueryFilter'
    Accesscontrol_accessgrant_FindLocationAccessGrantsByLocationWSResponse:
      type: object
      description: Response containing location access grants for a location.
      properties:
        accessGrants:
          type:
          - array
          - 'null'
          description: List of location access grants
          items:
            $ref: '#/components/schemas/LocationAccessGrantType'
    Accesscontrol_credentials_CreateWiegandH10301CredentialWSResponse:
      type: object
      description: Response for H10301 Wiegand credential creation.
      properties:
        credential:
          $ref: '#/components/schemas/AccessControlCredentialType'
    Accesscontrol_Create35BitCorp1000StdCredentialWSRequest:
      type: object
      description: Request to create an HID Corp1000 Standard 35 Bit credential.
      properties:
        cardNumber:
          type:
          - integer
          - 'null'
          format: int64
          description: Card number
          example: 456789
        companyId:
          type:
          - integer
          - 'null'
          format: int32
          description: Company Id
          example: 123
        endDateEpochSecExclusive:
          type:
          - integer
          - 'null'
          format: int64
          description: End date in epoch seconds (exclusive)
          example: 1672531200
        startDateEpochSecInclusive:
          type:
          - integer
          - 'null'
          format: int64
          description: Start date in epoch seconds (inclusive)
          example: 1640995200
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    AccessControlCredentialEnumType:
      type: string
      enum:
      - STANDARD_CSN
      - RHOMBUS_SECURE_CSN
      - RHOMBUS_SECURE_MOBILE
      - APPLE_WALLET_DESFIRE
      - PIN_CODE
      - WIEGAND_H10301
      - WIEGAND_H10304
      - WIEGAND_H10302
      - WIEGAND_D10202
      - WIEGAND_64BIT_RAW
      - HID_CORP1000_STD_35
      - HID_CORP1000_STD_48
      - QR_CODE_STATIC
      - CUSTOM
    Accesscontrol_accessrevocation_FindLocationAccessRevocationsByAccessControlledElevatorLandingWSResponse:
      type: object
      description: Response containing location access revocations for an access controlled elevator landing.
      properties:
        accessRevocations:
          type:
          - array
          - 'null'
          description: List of location access revocations
          items:
            $ref: '#/components/schemas/LocationAccessRevocationType'
    Accesscontrol_accessrevocation_CreateAccessRevocationWSResponse:
      type: object
      description: Response for location access revocation creation.
      properties:
        accessRevocation:
          $ref: '#/components/schemas/LocationAccessRevocationType'
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        expiredACDLicensesDoorUuids:
          type:
          - array
          - 'null'
          description: Set of expired ACD license door UUIDs
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          uniqueItems: true
        unassignedACDLicensesDoorUuids:
          type:
          - array
          - 'null'
          description: Set of unassigned ACD license door UUIDs
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          uniqueItems: true
        warningMsg:
          type:
          - string
          - 'null'
    Accesscontrol_UnlockAccessControlledDoorSuccessWSResponse:
      type:
      - object
      - 'null'
      allOf: []
      description: Success response for unlock access controlled door operation.
      properties:
        type:
          $ref: '#/components/schemas/BasicResponseEnumType'
    Accesscontrol_credentials_FindCredentialHistoryByUserWSResponse:
      type: object
      description: Response containing credential history found for a specific user.
      properties:
        credentials:
          type:
          - array
          - 'null'
          description: List of credential history records
[...]
