openapi: 3.2.0
info:
  contact:
    email: developer@rhombussystems.com
  description: 'This API is for use by Rhombus customers and partners.


    ## Authentication


    All requests require two headers:

    - `x-auth-scheme` — The authentication scheme identifier. Use `api-token` for standard API key auth, or `partner-api-token` for partner API auth.

    - `x-auth-apikey` — Your Rhombus API key.


    Example:

    ```

    POST /api/camera/getMinimalCameraStateList

    x-auth-scheme: api-token

    x-auth-apikey: YOUR_API_KEY

    Content-Type: application/json

    ```'
  title: Rhombus Elevator Webservice API
  version: '1.0'
servers:
- description: Production Server
  url: https://api2.rhombussystems.com
security:
- ApiKeyAuth: []
tags:
- name: Elevator Webservice
paths:
  /api/component/elevator/addAccessControlledElevatorLandingLabel:
    post:
      description: Create a label that can be assigned to an access controlled elevator landing and referenced by an access grant or access revocation
      operationId: addAccessControlledElevatorLandingLabel
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_AddAccessControlledElevatorLandingLabelWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_AddAccessControlledElevatorLandingLabelWSResponse'
          description: OK
      summary: Create a label that can be assigned to an access controlled elevator landing
      tags:
      - Elevator Webservice
  /api/component/elevator/findAccessControlledElevatorLandingShadows:
    post:
      description: Find access controlled elevator landing shadows within the org
      operationId: findAccessControlledElevatorLandingShadows
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindAccessControlledElevatorLandingShadowsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindAccessControlledElevatorLandingShadowsWSResponse'
          description: OK
      summary: Find access controlled elevator landing shadows within the org
      tags:
      - Elevator Webservice
  /api/component/elevator/findAccessControlledElevatorLandingShadowsByLocation:
    post:
      description: Find access controlled elevator landing shadows within the specified location
      operationId: findAccessControlledElevatorLandingShadowsByLocation
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindAccessControlledElevatorLandingShadowsByLocationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindAccessControlledElevatorLandingShadowsByLocationWSResponse'
          description: OK
      summary: Find access controlled elevator landing shadows within the specified location
      tags:
      - Elevator Webservice
  /api/component/elevator/findAccessControlledElevatorLandingsByLocation:
    post:
      description: Find access controlled elevators landings within the specified location
      operationId: findAccessControlledElevatorLandingsByLocation
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindAccessControlledElevatorLandingsByLocationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindAccessControlledElevatorLandingsByLocationWSResponse'
          description: OK
      summary: Find access controlled elevators landings within the specified location
      tags:
      - Elevator Webservice
  /api/component/elevator/getAccessControlledElevatorLandingLabelsForOrg:
    post:
      description: Get all access controlled elevator landing labels for the organization
      operationId: getAccessControlledElevatorLandingLabelsForOrg
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_GetAccessControlledElevatorLandingLabelsForOrgWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_GetAccessControlledElevatorLandingLabelsForOrgWSResponse'
          description: OK
      summary: Get all access controlled elevator landing labels for the organization
      tags:
      - Elevator Webservice
  /api/component/elevator/removeAccessControlledElevatorLandingLabel:
    post:
      description: Remove a label to an access controlled elevator landing
      operationId: removeAccessControlledElevatorLandingLabel
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_RemoveAccessControlledElevatorLandingLabelWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_RemoveAccessControlledElevatorLandingLabelWSResponse'
          description: OK
      summary: Remove a label to an access controlled elevator landing
      tags:
      - Elevator Webservice
components:
  schemas:
    GuestPassEventOriginator:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          guestPassName:
            type:
            - string
            - 'null'
          guestPassUuid:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
      properties:
        type:
          $ref: '#/components/schemas/EventOriginatorEnum'
    DeviceServiceEventOriginator:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          deviceUuid:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          serviceName:
            type:
            - string
            - 'null'
      properties:
        type:
          $ref: '#/components/schemas/EventOriginatorEnum'
    Component_FindAccessControlledElevatorLandingsByLocationWSRequest:
      type: object
      properties:
        lastEvaluatedKey:
          type:
          - string
          - 'null'
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        maxPageSize:
          type:
          - integer
          - 'null'
          format: int32
    UserEventOriginator:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          userEmail:
            type:
            - string
            - 'null'
          userUuid:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          username:
            type:
            - string
            - 'null'
      properties:
        type:
          $ref: '#/components/schemas/EventOriginatorEnum'
    Component_FindAccessControlledElevatorLandingShadowsWSRequest:
      type: object
      properties:
        lastEvaluatedKey:
          type:
          - string
          - 'null'
        maxPageSize:
          type:
          - integer
          - 'null'
          format: int32
    Component_FindAccessControlledElevatorLandingShadowsByLocationWSResponse:
      type: object
      properties:
        lastEvaluatedKey:
          type:
          - string
          - 'null'
        shadows:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AccessControlledElevatorLandingShadow'
    AccessStateSourceEnum:
      type: string
      enum:
      - DEFAULT_STATE
      - SCHEDULE
      - SCHEDULE_EXCEPTION
      - FIRST_IN
      - DOOR_STATE_OVERRIDE
      - LOCKDOWN
      - PRIVACY
      - UNKNOWN
    Component_GetAccessControlledElevatorLandingLabelsForOrgWSRequest:
      type: object
    SupportAuthorityEventOriginator:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          grantedToInternalEntityUuid:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          grantedToName:
            type:
            - string
            - 'null'
          supportAuthorityUuid:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          supportUserEmail:
            type:
            - string
            - 'null'
          supportUsername:
            type:
            - string
            - 'null'
      properties:
        type:
          $ref: '#/components/schemas/EventOriginatorEnum'
    BaseAccessStateOverride:
      type: object
      discriminator:
        propertyName: type
      properties:
        originator:
          $ref: '#/components/schemas/BaseEventOriginator'
        requestedAtMillis:
          type:
          - integer
          - 'null'
          format: int64
        type:
          $ref: '#/components/schemas/ManualAccessStateChangeEnum'
    FirstInState:
      type: object
      properties:
        originator:
          $ref: '#/components/schemas/BaseEventOriginator'
        requestedAtMillis:
          type:
          - integer
          - 'null'
          format: int64
        state:
          $ref: '#/components/schemas/FirstInStatusEnum'
    RuleEventOriginator:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          ruleName:
            type:
            - string
            - 'null'
          ruleUuid:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
      properties:
        type:
          $ref: '#/components/schemas/EventOriginatorEnum'
    Component_FindAccessControlledElevatorLandingShadowsWSResponse:
      type: object
      properties:
        lastEvaluatedKey:
          type:
          - string
          - 'null'
        shadows:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AccessControlledElevatorLandingShadow'
    Component_AddAccessControlledElevatorLandingLabelWSRequest:
      type: object
      properties:
        accessControlledElevatorLandingUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        label:
          type:
          - string
          - 'null'
    Component_AddAccessControlledElevatorLandingLabelWSResponse:
      type: object
    ComponentCompositeEnumType:
      type: string
      enum:
      - AccessControlledDoor
      - AccessControlledElevator
      - AccessControlledElevatorLanding
    Component_FindAccessControlledElevatorLandingsByLocationWSResponse:
      type: object
      properties:
        accessControlledElevatorLandings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AccessControlledElevatorLanding'
        lastEvaluatedKey:
          type:
          - string
          - 'null'
    FirstInStatusEnum:
      type: string
      enum:
      - REQUIRED
      - SATISFIED
    AccessStateShadow:
      type: object
      properties:
        originator:
          $ref: '#/components/schemas/BaseEventOriginator'
        source:
          $ref: '#/components/schemas/AccessStateSourceEnum'
        state:
          $ref: '#/components/schemas/AccessControlledDoorStateEnumType'
        stateUpdateEventTimestampMs:
          type:
          - integer
          - 'null'
          format: int64
    AccessControlledDoorStateEnumType:
      type: string
      enum:
      - UNLOCKED
      - ACCESS_CONTROLLED
    Component_RemoveAccessControlledElevatorLandingLabelWSResponse:
      type: object
    Component_GetAccessControlledElevatorLandingLabelsForOrgWSResponse:
      type: object
      properties:
        accessControlledElevatorLandingLabels:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - array
            - 'null'
            items:
              type:
              - string
              - 'null'
            uniqueItems: true
    FirstInShadow:
      type: object
      properties:
        originator:
          $ref: '#/components/schemas/BaseEventOriginator'
        source:
          $ref: '#/components/schemas/FirstInSourceEnum'
        state:
          $ref: '#/components/schemas/FirstInFirmwareStatusEnum'
        stateUpdateEventTimestampMs:
          type:
          - integer
          - 'null'
          format: int64
    AccessControlledElevatorLanding:
      type: object
      description: The updated elevator landing after applying the first-in state.
      properties:
        accessScheduleFirstInStateOverride:
          $ref: '#/components/schemas/FirstInState'
        accessStateOverride:
          $ref: '#/components/schemas/BaseAccessStateOverride'
        accessStateToScheduleUuidMap:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
        associatedCameras:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: DeviceFacetUuid
            description: RUUID with optional appended facet information
            example: AAAAAAAAAAAAAAAAAAAAAA.v0
          uniqueItems: true
        associatedFaceDetectionCameras:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: DeviceFacetUuid
            description: RUUID with optional appended facet information
            example: AAAAAAAAAAAAAAAAAAAAAA.v0
          uniqueItems: true
        authFirstInStateOverride:
          $ref: '#/components/schemas/FirstInState'
        createdAtMillis:
          type:
          - integer
          - 'null'
          format: int64
        defaultAccessState:
          $ref: '#/components/schemas/AccessControlledDoorStateEnumType'
        defaultAccessStateOriginator:
          $ref: '#/components/schemas/BaseEventOriginator'
        defaultAccessStateRequestedAtMillis:
          type:
          - integer
          - 'null'
          format: int64
        floorNumber:
          type:
          - integer
          - 'null'
          format: int32
        geofenceEnabled:
          type:
          - boolean
          - 'null'
        geofenceRadius:
          type:
          - number
          - 'null'
          format: double
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        name:
          type:
          - string
          - 'null'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        ownerDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        policyUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        remoteUnlockEnabled:
          type:
          - boolean
          - 'null'
        subLocationsHierarchyKey:
          type:
          - string
          - 'null'
          format: SubLocationsHierarchyKey
          description: 'A sequence of one or more base 64 (url-safe) uuid substrings.

            These substrings are separated by dots (.).

            '
          example: AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA
          pattern: ^([A-Za-z0-9\-_]{22})([.][A-Za-z0-9\-_]{22})*$
        type:
          $ref: '#/components/schemas/ComponentCompositeEnumType'
        updatedAtMillis:
          type:
          - integer
          - 'null'
          format: int64
        uuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    ManualAccessStateChangeEnum:
      type: string
      enum:
      - DOOR_STATE_OVERRIDE
      - CANCELLED_DOOR_STATE_OVERRIDE
    AccessControlledElevatorLandingShadow:
      type: object
      properties:
        authFirstIn:
          $ref: '#/components/schemas/FirstInShadow'
        componentCompositeUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        createdAtMillis:
          type:
          - integer
          - 'null'
          format: int64
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        scheduleFirstIn:
          $ref: '#/components/schemas/FirstInShadow'
        state:
          $ref: '#/components/schemas/AccessStateShadow'
        type:
          $ref: '#/components/schemas/ComponentCompositeShadowEnum'
        updatedAtMillis:
          type:
          - integer
          - 'null'
          format: int64
    FirstInFirmwareStatusEnum:
      type: string
      enum:
      - DISABLED
      - NOT_CONFIGURED
      - REQUIRED
      - SATISFIED
      - UNKNOWN
    EventOriginatorEnum:
      type: string
      enum:
      - USER
      - SUPPORT_AUTHORITY
      - API_TOKEN
      - RULE
      - COMPONENT_COMPOSITE_EVENT
      - GUEST_PASS
      - DEVICE_SERVICE
      - UNKNOWN
    FirstInSourceEnum:
      type: string
      enum:
      - CONFIG_MANUAL_OVERRIDE
      - CONFIG_REQUIREMENT_CHANGE
      - CONFIG_MEMBERSHIP
      - SCHEDULED_RESET
      - LOCAL_BADGE_EVENT
      - LOCKDOWN
      - UNKNOWN
    ApiTokenEventOriginator:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          tokenName:
            type:
            - string
            - 'null'
          tokenUuid:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
      properties:
        type:
          $ref: '#/components/schemas/EventOriginatorEnum'
    ComponentCompositeShadowEnum:
      type: string
      enum:
      - AccessControlledDoorShadow
      - AccessControlledElevatorLandingShadow
    BaseEventOriginator:
      type: object
      discriminator:
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/SupportAuthorityEventOriginator'
      - $ref: '#/components/schemas/ApiTokenEventOriginator'
      - $ref: '#/components/schemas/UserEventOriginator'
      - $ref: '#/components/schemas/RuleEventOriginator'
      - $ref: '#/components/schemas/ComponentCompositeEventOriginator'
      - $ref: '#/components/schemas/GuestPassEventOriginator'
      - $ref: '#/components/schemas/DeviceServiceEventOriginator'
      properties:
        type:
          $ref: '#/components/schemas/EventOriginatorEnum'
    Component_RemoveAccessControlledElevatorLandingLabelWSRequest:
      type: object
      properties:
        accessControlledElevatorLandingUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        label:
          type:
          - string
          - 'null'
    ComponentCompositeEventOriginator:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          componentCompositeName:
            type:
            - string
            - 'null'
          componentCompositeUuid:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          correlationId:
            type:
            - string
            - 'null'
          eventUuid:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          originator:
            $ref: '#/components/schemas/BaseEventOriginator'
      properties:
        type:
          $ref: '#/components/schemas/EventOriginatorEnum'
    Component_FindAccessControlledElevatorLandingShadowsByLocationWSRequest:
      type: object
      properties:
        lastEvaluatedKey:
          type:
          - string
          - 'null'
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        maxPageSize:
          type:
          - integer
          - 'null'
          format: int32
  securitySchemes:
    ApiKeyAuth:
      description: Your Rhombus API key. Must be accompanied by the `x-auth-scheme` header set to `api-token` (or `partner-api-token` for partner endpoints).
      in: header
      name: x-auth-apikey
      type: apiKey
x-samples-languages:
- curl
- node
- python
- java
