openapi: 3.2.0
info:
  contact:
    email: developer@rhombussystems.com
  description: 'This API is for use by Rhombus customers and partners.


    ## Authentication


    All requests require two headers:

    - `x-auth-scheme` — The authentication scheme identifier. Use `api-token` for standard API key auth, or `partner-api-token` for partner API auth.

    - `x-auth-apikey` — Your Rhombus API key.


    Example:

    ```

    POST /api/camera/getMinimalCameraStateList

    x-auth-scheme: api-token

    x-auth-apikey: YOUR_API_KEY

    Content-Type: application/json

    ```'
  title: Rhombus Developer Webservice API
  version: '1.0'
servers:
- description: Production Server
  url: https://api2.rhombussystems.com
security:
- ApiKeyAuth: []
tags:
- name: Developer Webservice
paths:
  /api/developer/createEventListener:
    post:
      description: Create an event listener
      operationId: createEventListener
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Developer_CreateEventListenerWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Developer_CreateEventListenerWSResponse'
          description: OK
      summary: Create an event listener
      tags:
      - Developer Webservice
  /api/developer/deleteEventListener:
    post:
      description: Delete an event listener
      operationId: deleteEventListener
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Developer_DeleteEventListenerWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Developer_DeleteEventListenerWSResponse'
          description: OK
      summary: Delete an event listener
      tags:
      - Developer Webservice
  /api/developer/getAllEventListeners:
    post:
      description: Get a list of all event listeners
      operationId: getAllEventListeners
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Developer_GetAllEventListenersWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Developer_GetAllEventListenersWSResponse'
          description: OK
      summary: Get a list of all event listeners
      tags:
      - Developer Webservice
  /api/developer/getEventListenersForDevice:
    post:
      description: Get a list of event listeners for a device
      operationId: getEventListenersForDevice
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Developer_GetEventListenersForDeviceWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Developer_GetEventListenersForDeviceWSResponse'
          description: OK
      summary: Get a list of event listeners for a device
      tags:
      - Developer Webservice
components:
  schemas:
    Developer_GetEventListenersForDeviceWSResponse:
      type: object
      description: Response object containing a list of event listeners for a specific device.
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        eventListeners:
          type:
          - array
          - 'null'
          description: List of event listeners for the specified device
          items:
            $ref: '#/components/schemas/EventListenerType'
        warningMsg:
          type:
          - string
          - 'null'
    ActivityEnum:
      type: string
      enum:
      - SOUND_LOUD
      - SOUND_GUN_SHOT
      - TAMPER
      - VISUAL_TAMPER
      - MOTION_TAMPER
      - MOTION
      - MOTION_HUMAN
      - MOTION_CAR
      - MOTION_ANIMAL
      - FACE
      - FACE_IDENTIFIED
      - FACE_UNIDENTIFIED
      - FACE_BLACKLISTED
      - FACE_ALERT
      - POSE_ANOMALOUS
      - POSE_FALL
      - LICENSEPLATE
      - LICENSEPLATE_IDENTIFIED
      - LICENSEPLATE_UNIDENTIFIED
      - LICENSEPLATE_ALERT
      - LICENSEPLATE_BLACKLISTED
      - LICENSEPLATE_TRUSTED
      - PEOPLECOUNT_HIGH
      - PEOPLECOUNT_HIGH_RESET
      - PEOPLECOUNT_LOW
      - PEOPLECOUNT_LOW_RESET
      - HUMAN_ENTER
      - HUMAN_EXIT
      - CAR_ENTER
      - CAR_EXIT
      - TEMPERATURE_EXCEEDED_HIGH
      - TEMPERATURE_EXCEEDED_LOW
      - HUMIDITY_EXCEEDED_HIGH
      - HUMIDITY_EXCEEDED_LOW
      - PM25_EXCEEDED_HIGH
      - TVOC_EXCEEDED_HIGH
      - ETOH_EXCEEDED_HIGH
      - IAQ_EXCEEDED_HIGH
      - CO2_EXCEEDED_HIGH
      - CO2_EXCEEDED_LOW
      - PROBE_TEMPERATURE_EXCEEDED_HIGH
      - PROBE_TEMPERATURE_EXCEEDED_LOW
      - PROBE_DISCONNECTED
      - PROBE_CONNECTED
      - HEAT_INDEX_EXCEEDED_HIGH
      - PRESSURE_EXCEEDED_HIGH
      - PRESSURE_EXCEEDED_LOW
      - PM10_EXCEEDED_HIGH
      - PM40_EXCEEDED_HIGH
      - PM100_EXCEEDED_HIGH
      - VOC_IDX_EXCEEDED_HIGH
      - NOX_IDX_EXCEEDED_HIGH
      - FORMALDEHYDE_EXCEEDED_HIGH
      - CARBON_MONOXIDE_EXCEEDED_HIGH
      - AQI_EXCEEDED_HIGH
      - DOOR_AJAR
      - DOOR_OPENED
      - DOOR_CLOSED
      - BUTTON_SINGLE_PRESSED
      - BUTTON_DOUBLE_PRESSED
      - BUTTON_LONG_PRESSED
      - TAG_ARRIVED
      - TAG_DEPARTED
      - TAG_MOVED
      - TAG_POSITIONING_CHANGED
      - TAG_BOUNDARY_INGRESS
      - TAG_BOUNDARY_EGRESS
      - TAG_PANIC
      - BADGE_AUTHORIZED
      - BADGE_UNAUTHORIZED
      - BADGE_UNAUTHORIZED_V2
      - BADGE_AJAR
      - BADGE_MANUAL
      - BADGE_FORCED_OPEN
      - BADGE_LOCKDOWN
      - BADGE_REQUEST_TO_EXIT
      - BADGE_DURESS
      - BADGE_SECURITY_BREACH
      - BADGE_TAMPER
      - BADGE_FACE_MISMATCH
      - POS_ORDER
      - GUN_DETECT_EVENT
      - IOT_SOUND_AGGRESSION
      - IOT_SOUND_HELP
      - IOT_AIR_CO
      - IOT_AIR_CO2
      - IOT_AIR_MASKING
      - IOT_AIR_THC
      - IOT_AIR_VAPE
      - IOT_AIR_VOC
      - IOT_AIR_TEMP
      - IOT_TAMPER
      - IOT_GUNSHOT
      - IOT_BUTTON_SINGLE_CLICK
      - IOT_BUTTON_DOUBLE_CLICK
      - IOT_BUTTON_HOLD
      - IOT_PANIC_BUTTON_TRIGGERED
      - AUDIO_SOUND_SIGNIFICANT
      - AUDIO_SOUND_LOUD
      - AUDIO_SOUND_ABUSIVE
      - AUDIO_SOUND_GREETING
      - AUDIO_SOUND_HELP
      - AUDIO_SOUND_GUN
      - AUDIO_SOUND_GLASS_BREAK
      - AUDIO_SOUND_ALARM_SMOKE_FIRE
      - AUDIO_SOUND_ALARM_CARBON_MONOXIDE
      - AUDIO_SOUND_SIREN
      - CLIMATE_VOC
      - CLIMATE_VAPE
      - CLIMATE_SMOKE
      - CLIMATE_THC
      - CLIMATE_CO2
      - CLIMATE_ETOH
      - CLIMATE_PM25
      - CLIMATE_IAQ
      - CLIMATE_LEAK
      - SOUND_AGGRESSION
      - SOUND_HELP
      - AIR_CO
      - AIR_CO2
      - AIR_MASKING
      - AIR_THC
      - AIR_VAPE
      - AIR_VOC
      - MASK_MISSING
      - HELMET_MISSING
      - GLOVES_MISSING
      - PIR_OCCUPIED
      - PIR_MOVEMENT
      - PIR_VACANT
      - CUSTOM
      - VISITOR_ARRIVED
      - VISITOR_DEPARTED
      - AC_DR_CONNECTED
      - AC_DR_DISCONNECTED
      - AC_DPI_DOOR_OPEN
      - AC_DPI_DOOR_CLOSED
      - AC_DPI_DOOR_AJAR
      - AC_DPI_DOOR_FORCED_OPEN
      - AC_DSR_UNLOCKED
      - AC_DSR_LOCKED
      - AC_DB_TRIGGERED
      - AC_PANIC_BUTTON_TRIGGERED
      - AC_REMOTE_UNLOCK
      - AC_BADGE_AUTHORIZED
      - AC_BADGE_UNAUTHORIZED
      - AC_BADGE_FACE_MISMATCH
      - AC_LOCKDOWN_ACTIVATED
      - AC_LOCKDOWN_DEACTIVATED
      - AC_TAMPER_PROX
      - AC_TAMPER_ACCEL
      - AC_TAMPER_SWITCH
      - AC_GR_ACTIVE
      - AC_GR_INACTIVE
      - AC_GI_ACTIVE
      - AC_GI_INACTIVE
      - AC_REX_ACTIVE
      - AC_REX_INACTIVE
      - AC_APERIO_DEVICE_DISCONNECTED
      - AC_APERIO_DEVICE_CONNECTED
      - AC_APERIO_DEVICE_REBOOT
      - AC_APERIO_DEVICE_TAMPER
      - AC_APERIO_LOW_BATTERY
      - AC_APERIO_FLAT_BATTERY
      - AC_APERIO_OK_BATTERY
      - POWER_SWITCH_BATTERY
      - POWER_SWITCH_PRIMARY
      - AI_SEARCH_MATCH
      - CUSTOM_LLM_BOOLEAN_TRUE
      - CUSTOM_LLM_BOOLEAN_FALSE
      - CUSTOM_LLM_THRESHOLD_EXCEEDED_LOW
      - CUSTOM_LLM_THRESHOLD_EXCEEDED_HIGH
      - ALM_AUTHORITIES_CONTACTED
      - ALM_MONITORING_ENABLED
      - ALM_MONITORING_DISABLED
      - ALM_MONITORING_SETTINGS_CHANGE
      - ALM_THREAT_CASE_CLOSED
      - ALM_THREAT_DETECTED
      - ALM_MONITORING_EVENT_DETECTED
      - ROBOT_DOG_DETECTED
      - ROBOT_ARRIVED_AT_WAYPOINT
      - ROBOT_ARRIVED_AT_POSE
      - ROBOT_WAITING_AT_POSE
      - ROBOT_MANUAL_CMD_VEL
      - ROBOT_MANUAL_ACTION
      - ROBOT_MANUAL_POSTURE
      - ROBOT_NAVIGATE_TO_POSE_START
      - ROBOT_NAVIGATE_TO_POSE_END
      - ROBOT_NAVIGATE_TO_HOME_START
      - ROBOT_NAVIGATE_TO_HOME_END
      - ROBOT_NAVIGATE_TO_WAYPOINT_START
      - ROBOT_NAVIGATE_TO_WAYPOINT_END
      - ROBOT_ROUTE_RUN_START
      - ROBOT_ROUTE_RUN_END
      - ROBOT_LOW_BATTERY_DOCKING
      - ROBOT_IDLE_DOCKING
      - ROBOT_EMERGENCY
      - LOITER_HUMAN
      - REID_HUMAN
      - INACTIVITY_HUMAN
      - INACTIVITY_CAR
      - ONGUARD_BADGE_AUTHORIZED
      - ONGUARD_BADGE_ANOMALY
      - ONGUARD_NO_ENTRY_MADE
      - ELEMENTS_BADGE_AUTHORIZED
      - ELEMENTS_BADGE_ANOMALY
      - ELEMENTS_NO_ENTRY_MADE
      - NETBOX_BADGE_AUTHORIZED
      - NETBOX_BADGE_ANOMALY
      - NETBOX_NO_ENTRY_MADE
      - THERMAL_TEMPERATURE_ALARM
      - THERMAL_TEMPERATURE_WARNING
      - THERMAL_FIRE_DETECTED
      - THERMAL_SMOKING_DETECTED
      - THERMAL_FIRE_VERIFIED
      - THERMAL_HEAT_NO_THREAT
      - THERMAL_VISUAL_HOTSPOT
      - THERMAL_VISUAL_HEAT_RISE
      - THERMAL_VISUAL_WARM_BODY
      - UNKNOWN
    Developer_DeleteEventListenerWSResponse:
      type: object
      description: Response object for deleting an event listener.
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        warningMsg:
          type:
          - string
          - 'null'
    EventListenerType:
      type: object
      description: List of event listeners for the specified device
      properties:
        activities:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ActivityEnum'
          uniqueItems: true
        clientCertificate:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: byte
        clientKey:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: byte
        deviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        hostname:
          type:
          - string
          - 'null'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        trustedCertificate:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: byte
        uri:
          type:
          - string
          - 'null'
        uuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    Developer_CreateEventListenerWSResponse:
      type: object
      description: Response object for creating an event listener.
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        eventListenerUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        warningMsg:
          type:
          - string
          - 'null'
    Developer_GetEventListenersForDeviceWSRequest:
      type: object
      description: Request object for retrieving a list of event listeners for a specific device.
      properties:
        deviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    Developer_GetAllEventListenersWSResponse:
      type: object
      description: Response object containing a list of all event listeners.
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        eventListeners:
          type:
          - array
          - 'null'
          description: List of all event listeners
          items:
            $ref: '#/components/schemas/EventListenerType'
        warningMsg:
          type:
          - string
          - 'null'
    Developer_GetAllEventListenersWSRequest:
      type: object
      description: Request object for retrieving a list of all event listeners.
    Developer_CreateEventListenerWSRequest:
      type: object
      description: Request object for creating an event listener.
      properties:
        eventListner:
          $ref: '#/components/schemas/EventListenerType'
    Developer_DeleteEventListenerWSRequest:
      type: object
      description: Request object for deleting an event listener.
      properties:
        eventListenerUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
  securitySchemes:
    ApiKeyAuth:
      description: Your Rhombus API key. Must be accompanied by the `x-auth-scheme` header set to `api-token` (or `partner-api-token` for partner endpoints).
      in: header
      name: x-auth-apikey
      type: apiKey
x-samples-languages:
- curl
- node
- python
- java
