openapi: 3.2.0
info:
  contact:
    email: developer@rhombussystems.com
  description: 'This API is for use by Rhombus customers and partners.


    ## Authentication


    All requests require two headers:

    - `x-auth-scheme` — The authentication scheme identifier. Use `api-token` for standard API key auth, or `partner-api-token` for partner API auth.

    - `x-auth-apikey` — Your Rhombus API key.


    Example:

    ```

    POST /api/camera/getMinimalCameraStateList

    x-auth-scheme: api-token

    x-auth-apikey: YOUR_API_KEY

    Content-Type: application/json

    ```'
  title: Rhombus Access Control Integrations Webservice API
  version: '1.0'
servers:
- description: Production Server
  url: https://api2.rhombussystems.com
security:
- ApiKeyAuth: []
tags:
- name: Access Control Integrations Webservice
paths:
  /api/integrations/accessControl/connectHoneywellElements:
    post:
      description: 'Step 1 of the Elements setup wizard: validate the API key against Honeywell Elements and persist on success. After this call, subsequent endpoints (sites, devices, update) resolve credentials from the stored row and never require the API key again.'
      operationId: connectHoneywellElements
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_ConnectHoneywellElementsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponse'
          description: OK
      summary: Connect Honeywell Elements (validate + persist)
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/connectHoneywellNetBox:
    post:
      description: 'Activate the Honeywell NetBox integration for the calling org. NetBox is webhook-driven: the on-prem NetBox controller POSTs access events to a Rhombus webhook URL. On first activation the server generates the webhook rhombusToken and returns it (plus the fully-formed webhook URL); subsequent calls preserve the token so the configured forwarder keeps working as the door mapping changes. The request owns the door mapping and optional base URL.'
      operationId: connectHoneywellNetBox
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_ConnectHoneywellNetBoxWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_ConnectHoneywellNetBoxIntegrationWSResponse'
          description: OK
      summary: Connect Honeywell NetBox (activate)
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/createOrUpdateHoneywellNetBoxIntegration:
    post:
      description: Activate or update the Honeywell NetBox integration from the on-prem side — the NetBox counterpart of createOrUpdateHoneywellOnGuardIntegration. Called by the Rhombus NetBox connector, which discovers portals via the NetBox GetPortals API and owns the door inventory; the console owns camera/location assignments. First activation (blank rhombusToken, no existing integration) generates the webhook token; re-calls merge the door map by portal key without overwriting console-made assignments, and keys absent from the request are preserved.
      operationId: createOrUpdateHoneywellNetBoxIntegration
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_CreateOrUpdateHoneywellNetBoxIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_CreateOrUpdateHoneywellNetBoxIntegrationWSResponse'
          description: OK
      summary: Create or update Honeywell NetBox integration (on-prem connector)
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/createOrUpdateHoneywellOnGuardIntegration:
    post:
      description: Idempotent activation/update endpoint called by the OnGuard side from its setup tool. Generates the webhook token and pre-shared HMAC secret on first call; preserves both on subsequent calls so the deployed DLL keeps working as the door mapping changes. The request owns the door mapping; behavior flags (face recognition, clip saving, etc.) are managed separately from the Rhombus console.
      operationId: createOrUpdateHoneywellOnGuardIntegration
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_CreateOrUpdateHoneywellOnGuardIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_CreateOrUpdateHoneywellOnGuardIntegrationWSResponse'
          description: OK
      summary: Create or update the Honeywell OnGuard integration
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/deleteAmtIntegration:
    post:
      description: Delete Amt badge integration
      operationId: deleteAmtIntegration
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_BaseIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponse'
          description: OK
      summary: Delete AMT badge integration
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/deleteAvigilonAltaIntegrationV2:
    post:
      description: Delete Avigilon Alta badge integration V2
      operationId: deleteAvigilonAltaIntegrationV2
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_BaseIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponse'
          description: OK
      summary: Delete Avigilon Alta badge integration V2
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/deleteBoulevardIntegration:
    post:
      description: Delete Boulevard integration settings
      operationId: deleteBoulevardIntegration
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_BaseIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponse'
          description: OK
      summary: Delete Boulevard integration
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/deleteBrivoIntegration:
    post:
      description: Delete Brivo badge integration
      operationId: deleteBrivoIntegration
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_BaseIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_UpdateOrgIntegrationsWSResponse'
          description: OK
      summary: Delete Brivo badge integration
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/deleteBrivoIntegrationV2:
    post:
      description: Delete Brivo badge integration V2
      operationId: deleteBrivoIntegrationV2
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_BaseIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponse'
          description: OK
      summary: Delete Brivo badge integration V2
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/deleteButterflymxIntegration:
    post:
      description: Delete ButterflyMX badge integration
      operationId: deleteButterflymxIntegration
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_BaseIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponse'
          description: OK
      summary: Delete ButterflyMX badge integration
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/deleteButterflymxIntegrationV2:
    post:
      description: Delete ButterflyMX badge integration V2
      operationId: deleteButterflymxIntegrationV2
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_BaseIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponse'
          description: OK
      summary: Delete ButterflyMX badge integration V2
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/deleteGeneaIntegration:
    post:
      description: Delete Genea badge integration
      operationId: deleteGeneaIntegration
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_BaseIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponse'
          description: OK
      summary: Delete Genea badge integration
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/deleteGeneaIntegrationV2:
    post:
      description: Delete Genea badge integration V2
      operationId: deleteGeneaIntegrationV2
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_BaseIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponse'
          description: OK
      summary: Delete Genea badge integration V2
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/deleteHoneywellElementsIntegration:
    post:
      description: Delete Honeywell Elements integration
      operationId: deleteHoneywellElementsIntegration
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_BaseIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponse'
          description: OK
      summary: Delete Honeywell Elements integration
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/deleteHoneywellNetBoxIntegration:
    post:
      description: Delete Honeywell NetBox integration
      operationId: deleteHoneywellNetBoxIntegration
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_BaseIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponse'
          description: OK
      summary: Delete Honeywell NetBox integration
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/deleteHoneywellOnGuardIntegration:
    post:
      description: 'Delete Honeywell OnGuard integration. Callable from the Rhombus console (admin) or from the OnGuard side (uninstall). Idempotent per deployment: deleting a rhombusToken that is unknown or already deleted returns success, so the client may safely retry after a network failure.'
      operationId: deleteHoneywellOnGuardIntegration
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_DeleteHoneywellOnGuardIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponse'
          description: OK
      summary: Delete Honeywell OnGuard integration
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/deleteInnerRangeIntegration:
    post:
      description: Delete Inner Range integration
      operationId: deleteInnerRangeIntegration
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_BaseIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponse'
          description: OK
      summary: Delete Inner Range integration
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/deleteKisiIntegration:
    post:
      deprecated: true
      description: Delete Kisi badge integration
      operationId: deleteKisiIntegration
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_BaseIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponse'
          description: OK
      summary: Delete Kisi badge integration
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/deleteKisiIntegrationV2:
    post:
      description: Delete Kisi badge integration V2
      operationId: deleteKisiIntegrationV2
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_BaseIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponse'
          description: OK
      summary: Delete Kisi badge integration V2
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/deleteOpenpathIntegration:
    post:
      description: Delete Openpath badge integration
      operationId: deleteOpenpathIntegration
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_BaseIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponse'
          description: OK
      summary: Delete Openpath badge integration
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/deleteOpentechAllianceIntegration:
    post:
      description: Delete Opentech Alliance integration
      operationId: deleteOpentechAllianceIntegration
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_BaseIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponse'
          description: OK
      summary: Delete Opentech Alliance integration
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/deleteOpentechAllianceIntegrationV2:
    post:
      description: Delete Opentech Alliance integration
      operationId: deleteOpentechAllianceIntegrationV2
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_BaseIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponse'
          description: OK
      summary: Delete Opentech Alliance integration V2
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/deletePdkIntegration:
    post:
      description: Delete ProDataKey badge integration
      operationId: deletePdkIntegration
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_BaseIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponse'
          description: OK
      summary: Delete ProDataKey badge integration
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/deletePdkIntegrationV2:
    post:
      description: Delete ProDataKey badge integration
      operationId: deletePdkIntegrationV2
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_BaseIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponse'
          description: OK
      summary: Delete ProDataKey badge integration V2
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/deletePlaceOsIntegration:
    post:
      description: Delete PlaceOs badge integration
      operationId: deletePlaceOsIntegration
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_BaseIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponse'
          description: OK
      summary: Delete PlaceOs badge integration
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/deletePlaceOsIntegrationV2:
    post:
      description: Delete PlaceOs badge integration
      operationId: deletePlaceOsIntegrationV2
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_BaseIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponse'
          description: OK
      summary: Delete PlaceOs badge integration V2
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/getAmtReaders:
    post:
      description: Get list of AMT readers to assign cameras
      operationId: getAmtReaders
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_GetAmtReadersWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_GetBadgeIntegrationDoorsWSResponse'
          description: OK
      summary: Get list of AMT readers to assign cameras
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/getAvigilonAltaIntegration:
    post:
      description: Get Avigilon Alta integration
      operationId: getAvigilonAltaIntegration
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_BaseIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_GetOrgIntegrationsV2WSResponse'
          description: OK
      summary: Get Avigilon Alta integration
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/getBoulevardIntegration:
    post:
      description: Get Boulevard integration settings
      operationId: getBoulevardIntegration
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_BaseIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_GetBoulevardIntegrationWSResponse'
          description: OK
      summary: Get Boulevard integration
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/getBrivoDoors:
    post:
      description: Get list of available Brivo doors to assign cameras
      operationId: getBrivoDoors
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_GetBrivoDoorsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_GetBrivoDoorsWSResponse'
          description: OK
      summary: Get list of available Brivo doors to assign cameras
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/getBrivoDoorsV2:
    post:
      description: Get list of available Brivo doors to assign cameras
      operationId: getBrivoDoorsV2
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_GetBrivoDoorsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_GetBrivoDoorsWSResponse'
          description: OK
      summary: Get list of available Brivo doors to assign cameras V2
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/getBrivoDoorsV3:
    post:
      description: Get list of available Brivo doors to assign cameras
      operationId: getBrivoDoorsV3
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_GetBrivoDoorsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_GetBrivoDoorsWSResponse'
          description: OK
      summary: Get list of available Brivo doors to assign cameras V3
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/getBrivoIntegrationV2:
    post:
      description: Get Brivo badge integration
      operationId: getBrivoIntegrationV2
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_BaseIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_GetOrgIntegrationsV2WSResponse'
          description: OK
      summary: Get Brivo badge integration V2
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/getButterflymxIntegrationV2:
    post:
      description: Get ButterflyMX badge integration
      operationId: getButterflymxIntegrationV2
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_BaseIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_GetOrgIntegrationsV2WSResponse'
          description: OK
      summary: Get ButterflyMX badge integration V2
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/getButterflymxPanels:
    post:
      description: Get list of available ButterflyMX panels to assign cameras
      operationId: getButterflymxPanels
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_GetButterflymxPanelsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_GetButterflymxPanelsWSResponse'
          description: OK
      summary: Get list of available ButterflyMX panels to assign cameras
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/getButterflymxPanelsV2:
    post:
      description: Get list of available ButterflyMX panels to assign cameras
      operationId: getButterflymxPanelsV2
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_GetButterflymxPanelsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_GetButterflymxPanelsWSResponse'
          description: OK
      summary: Get list of available ButterflyMX panels to assign cameras V2
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/getGeneaDoors:
    post:
      description: Get list of Genea doors to assign cameras
      operationId: getGeneaDoors
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_GetGeneaDoorsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_GetGeneaDoorsWSResponse'
          description: OK
      summary: Get list of Genea doors to assign cameras
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/getGeneaIntegration:
    post:
      description: Get Genea integration
      operationId: getGeneaIntegration
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_BaseIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_GetOrgIntegrationsV2WSResponse'
          description: OK
      summary: Get Genea integration
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/getHoneywellElementsDevices:
    post:
      description: Get list of available Honeywell Elements devices to assign cameras
      operationId: getHoneywellElementsDevices
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_GetHoneywellElementsDevicesWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_GetHoneywellElementsDevicesWSResponse'
          description: OK
      summary: Get list of Honeywell Elements devices
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/getHoneywellElementsIntegration:
    post:
      description: Get Honeywell Elements integration settings
      operationId: getHoneywellElementsIntegration
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_BaseIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_GetOrgIntegrationsV2WSResponse'
          description: OK
      summary: Get Honeywell Elements integration
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/getHoneywellElementsSites:
    post:
      description: Get list of available Honeywell Elements sites
      operationId: getHoneywellElementsSites
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_ValidateHoneywellElementsCredentialsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_GetHoneywellElementsSitesWSResponse'
          description: OK
      summary: Get list of Honeywell Elements sites
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/getHoneywellElementsWebhookConfig:
    post:
      description: Returns the callback URL and suggested payload template the customer needs to paste into the Elements admin console when creating their webhook Automation. Elements does not support programmatic webhook creation, so this endpoint is the setup aid instead of a registration call.
      operationId: getHoneywellElementsWebhookConfig
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_BaseIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_GetHoneywellElementsWebhookConfigWSResponse'
          description: OK
      summary: Get Honeywell Elements webhook config
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/getHoneywellNetBoxIntegration:
    post:
      description: Get Honeywell NetBox integration settings
      operationId: getHoneywellNetBoxIntegration
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_BaseIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_GetOrgIntegrationsV2WSResponse'
          description: OK
      summary: Get Honeywell NetBox integration
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/getHoneywellNetBoxWebhookConfig:
    post:
      description: Returns the fully-formed callback URL and a suggested JSON payload template to configure in the Honeywell NetBox webhook forwarder. The integration must be activated (connectHoneywellNetBox) first so a webhook token exists; the returned URL is keyed off that token.
      operationId: getHoneywellNetBoxWebhookConfig
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_BaseIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_GetHoneywellNetBoxWebhookConfigWSResponse'
          description: OK
      summary: Get Honeywell NetBox webhook config
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/getHoneywellOnGuardIntegration:
    post:
      description: Get Honeywell OnGuard integration settings, including the webhook URL and pre-shared secret (always retrievable for support/debugging).
      operationId: getHoneywellOnGuardIntegration
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_BaseIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_GetOrgIntegrationsV2WSResponse'
          description: OK
      summary: Get Honeywell OnGuard integration
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/getInnerRangeConsoles:
    post:
      description: Get Inner Range console settings
      operationId: getInnerRangeConsoles
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_GetInnerRangeConsolesWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_GetInnerRangeConsolesWSResponse'
          description: OK
      summary: Get Inner Range console settings
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/getInnerRangeDoors:
    post:
      deprecated: true
      description: Get list of Inner Range doors
      operationId: getInnerRangeDoors
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_GetInnerRangeDoorsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_GetInnerRangeDoorsWSResponse'
          description: OK
      summary: Get list of Inner Range doors
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/getInnerRangeIntegration:
    post:
      description: Get Inner Range integration
      operationId: getInnerRangeIntegration
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_BaseIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_GetOrgIntegrationsV2WSResponse'
          description: OK
      summary: Get Inner Range integration
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/getKisiDoors:
    post:
      deprecated: true
      description: Get list of Kisi doors to assign cameras
      operationId: getKisiDoors
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_GetKisiDoorsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_GetKisiDoorsWSResponse'
          description: OK
      summary: Get list of Kisi doors to assign cameras
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/getKisiIntegration:
    post:
      deprecated: true
      description: Get Kisi badge integration
      operationId: getKisiIntegration
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_GetOrgIntegrationsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_GetKisiIntegrationWSResponse'
          description: OK
      summary: Get Kisi badge integration
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/getKisiIntegrationV2:
    post:
      description: Get Kisi badge integration V2
      operationId: getKisiIntegrationV2
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_BaseIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_GetOrgIntegrationsV2WSResponse'
          description: OK
      summary: Get Kisi badge integration V2
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/getKisiPlaces:
    post:
      deprecated: true
      description: Get list of Kisi places to assign cameras
      operationId: getKisiPlaces
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_GetKisiPlacesWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_GetBadgeIntegrationPlacesWSResponse'
          description: OK
      summary: Get list of Kisi places to assign cameras
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/getOpenpathDoors:
    post:
      description: Get list of Openpath doors to assign cameras
      operationId: getOpenpathDoors
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_GetOpenpathDoorsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_GetBadgeIntegrationDoorsWSResponse'
          description: OK
      summary: Get list of Openpath doors to assign cameras
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/getOpenpathLockdownPlans:
    post:
      description: Get list of Openpath lockdown plans to trigger
      operationId: getOpenpathLockdownPlans
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_GetOpenpathDoorsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_GetOpenpathLockdownsWSResponse'
          description: OK
      summary: Get list of Openpath lockdown plans to trigger
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/getOpentechAllianceFacilities:
    post:
      description: Get list of Opentech Alliance facilities
      operationId: getOpentechAllianceFacilities
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_GetOpentechAllianceFacilitiesWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_GetOpentechAllianceFacilitiesWSResponse'
          description: OK
      summary: Get list of Opentech Alliance facilities
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/getOpentechAllianceFacilitiesV2:
    post:
      description: Get list of Opentech Alliance facilities
      operationId: getOpentechAllianceFacilitiesV2
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_GetOpentechAllianceFacilitiesWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_GetOpentechAllianceFacilitiesWSResponse'
          description: OK
      summary: Get list of Opentech Alliance facilities V2
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/getOpentechAllianceIntegrationV2:
    post:
      description: Get Opentech Alliance integration
      operationId: getOpentechAllianceIntegrationV2
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_BaseIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_GetOrgIntegrationsV2WSResponse'
          description: OK
      summary: Get Opentech Alliance integration V2
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/getPdkDoors:
    post:
      description: Get list of ProDataKey doors to assign cameras
      operationId: getPdkDoors
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_GetPdkDoorsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_GetPdkDoorsWSResponse'
          description: OK
      summary: Get list of ProDataKey doors to assign cameras
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/getPdkIntegration:
    post:
      description: Get ProDataKey badge integration
      operationId: getPdkIntegration
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_BaseIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_GetOrgIntegrationsV2WSResponse'
          description: OK
      summary: Get ProDataKey badge integration
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/getPlaceOsDoors:
    post:
      description: Get list of PlaceOs doors to assign cameras
      operationId: getPlaceOsDoors
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_GetPlaceOsDoorsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_GetBadgeIntegrationGenericDoorsWSResponse'
          description: OK
      summary: Get list of PlaceOs doors to assign cameras
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/getPlaceOsIntegrationV2:
    post:
      description: Get PlaceOs integration
      operationId: getPlaceOsIntegrationV2
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_BaseIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_GetOrgIntegrationsV2WSResponse'
          description: OK
      summary: Get PlaceOs integration V2
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/listHoneywellOnGuardIntegrations:
    post:
      description: 'List the calling org''s OnGuard deployments: one summary per activated deployment (rhombusToken, display name, door count, assigned camera UUIDs). Lets the OnGuard setup tool show what already exists before minting a new deployment, and identifies orphans to pass to deleteHoneywellOnGuardIntegration. Pre-shared secrets are never returned.'
      operationId: listHoneywellOnGuardIntegrations
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_ListHoneywellOnGuardIntegrationsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_ListHoneywellOnGuardIntegrationsWSResponse'
          description: OK
      summary: List Honeywell OnGuard deployments
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/revertOpenpathLockdown:
    post:
      description: Revert Openpath lockdown plan
      operationId: revertOpenpathLockdown
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_UnlockOpenpathDoorWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_UnlockDoorWSResponse'
          description: OK
      summary: Revert Openpath lockdown plan
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/testBoulevardConnection:
    post:
      description: Test Boulevard API connection with provided credentials
      operationId: testBoulevardConnection
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_TestBoulevardConnectionWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_TestBoulevardConnectionWSResponse'
          description: OK
      summary: Test Boulevard API connection
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/triggerOpenpathLockdown:
    post:
      description: Trigger Openpath lockdown plan
      operationId: triggerOpenpathLockdown
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_UnlockOpenpathDoorWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_UnlockDoorWSResponse'
          description: OK
      summary: Trigger Openpath lockdown plan
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/unlockBrivoDoor:
    post:
      description: Unlock Brivo door
      operationId: unlockBrivoDoor
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_UnlockIntegrationGenericDoorWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_UnlockDoorWSResponse'
          description: OK
      summary: Unlock Brivo door
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/unlockBrivoDoorV2:
    post:
      description: Unlock Brivo door
      operationId: unlockBrivoDoorV2
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_UnlockIntegrationGenericDoorWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_UnlockDoorWSResponse'
          description: OK
      summary: Unlock Brivo door V2
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/unlockGeneaDoor:
    post:
      description: Unlock Genea door
      operationId: unlockGeneaDoor
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_UnlockGeneaDoorWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_UnlockDoorWSResponse'
          description: OK
      summary: Unlock Genea door
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/unlockHoneywellElementsDoor:
    post:
      description: Unlock Honeywell Elements door
      operationId: unlockHoneywellElementsDoor
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_UnlockIntegrationGenericDoorWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_UnlockDoorWSResponse'
          description: OK
      summary: Unlock Honeywell Elements door
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/unlockHoneywellNetBoxDoor:
    post:
      description: 'Publishes an unlock command to the per-org STOMP topic that the NetBox connector subscribes to. Fire-and-forget: returns success once the command is dispatched, the connector performs the actual relay and does not currently report back.'
      operationId: unlockHoneywellNetBoxDoor
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_UnlockIntegrationGenericDoorWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_UnlockDoorWSResponse'
          description: OK
      summary: Unlock Honeywell NetBox door
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/unlockHoneywellOnGuardDoor:
    post:
      description: 'Publishes an unlock command to the per-org STOMP topic that the OnGuard connector subscribes to. Fire-and-forget: returns success once the command is dispatched, the connector performs the actual relay and does not currently report back.'
      operationId: unlockHoneywellOnGuardDoor
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_UnlockIntegrationGenericDoorWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_UnlockDoorWSResponse'
          description: OK
      summary: Unlock Honeywell OnGuard door
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/unlockInnerRangeDoor:
    post:
      description: Unlock Inner Range door
      operationId: unlockInnerRangeDoor
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_UnlockIntegrationGenericDoorWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_UnlockDoorWSResponse'
          description: OK
      summary: Unlock Inner Range door
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/unlockKisiDoor:
    post:
      description: Unlock Kisi door
      operationId: unlockKisiDoor
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_UnlockKisiDoorWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_UnlockDoorWSResponse'
          description: OK
      summary: Unlock Kisi door
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/unlockOpenpathDoor:
    post:
      description: Unlock Openpath door
      operationId: unlockOpenpathDoor
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_UnlockOpenpathDoorWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_UnlockDoorWSResponse'
          description: OK
      summary: Unlock Openpath door
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/unlockOpentechAllianceDoor:
    post:
      description: Unlock Opentech Alliance door
      operationId: unlockOpentechAllianceDoor
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_UnlockIntegrationGenericDoorWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_UnlockDoorWSResponse'
          description: OK
      summary: Unlock Opentech Alliance door
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/unlockOpentechAllianceDoorV2:
    post:
      description: Unlock Opentech Alliance door
      operationId: unlockOpentechAllianceDoorV2
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_UnlockIntegrationGenericDoorWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_UnlockDoorWSResponse'
          description: OK
      summary: Unlock Opentech Alliance door V2
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/unlockPdkDoor:
    post:
      description: Unlock ProDataKey door
      operationId: unlockPdkDoor
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_UnlockIntegrationGenericDoorWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_UnlockDoorWSResponse'
          description: OK
      summary: Unlock ProDataKey door
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/unlockPlaceOsDoor:
    post:
      description: Unlock PlaceOs door
      operationId: unlockPlaceOsDoor
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_UnlockIntegrationGenericDoorWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_UnlockDoorWSResponse'
          description: OK
      summary: Unlock PlaceOs door
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/updateAmtIntegration:
    post:
      description: Update Amt badge integration
      operationId: updateAmtIntegration
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_UpdateAmtIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_UpdateOrgIntegrationsWSResponse'
          description: OK
      summary: Update AMT badge integration
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/updateAvigilonAltaIntegrationV2:
    post:
      description: Update Avigilon Alta badge integration V2
      operationId: updateAvigilonAltaIntegrationV2
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_UpdateAvigilonAltaV2WSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_UpdateOrgIntegrationsWSResponse'
          description: OK
      summary: Update Avigilon Alta badge integration V2
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/updateBoulevardIntegration:
    post:
      description: Update Boulevard integration settings
      operationId: updateBoulevardIntegration
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_UpdateBoulevardIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_UpdateOrgIntegrationsWSResponse'
          description: OK
      summary: Update Boulevard integration
      tags:
      - Access Control Integrations Webservice
  /api/integrations/accessControl/updateBrivoIntegration:
    post:
      description: Update Brivo badge integration
      operationId: updateBrivoIntegration
      parameters:
[...]
