openapi: 3.2.0
info:
  contact:
    email: developer@rhombussystems.com
  description: 'This API is for use by Rhombus customers and partners.


    ## Authentication


    All requests require two headers:

    - `x-auth-scheme` — The authentication scheme identifier. Use `api-token` for standard API key auth, or `partner-api-token` for partner API auth.

    - `x-auth-apikey` — Your Rhombus API key.


    Example:

    ```

    POST /api/camera/getMinimalCameraStateList

    x-auth-scheme: api-token

    x-auth-apikey: YOUR_API_KEY

    Content-Type: application/json

    ```'
  title: Rhombus Guest Management Kiosk Webservice API
  version: '1.0'
servers:
- description: Production Server
  url: https://api2.rhombussystems.com
security:
- ApiKeyAuth: []
tags:
- name: Guest Management Kiosk Webservice
paths:
  /api/kiosk/updateKiosk:
    post:
      description: Update kiosk settings
      operationId: updateKiosk
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Kiosk_UpdateKioskSelectiveRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Kiosk_UpdateKioskResponse'
          description: OK
      summary: Update kiosk
      tags:
      - Guest Management Kiosk Webservice
components:
  schemas:
    KioskSelectiveUpdate:
      type: object
      description: Selective update information for the kiosk
      properties:
        associatedCameras:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
        batteryLevel:
          type:
          - number
          - 'null'
          format: float
        connectionStatus:
          $ref: '#/components/schemas/ConnectionStatusEnum'
        deleted:
          type:
          - boolean
          - 'null'
        hostUserUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        lastUpdateTimeMs:
          type:
          - integer
          - 'null'
          format: int64
        latitude:
          type:
          - number
          - 'null'
          format: double
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        longitude:
          type:
          - number
          - 'null'
          format: double
        name:
          type:
          - string
          - 'null'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        printerIP:
          type:
          - string
          - 'null'
        updatedSetMethodMap:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - boolean
            - 'null'
        uuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    Kiosk_UpdateKioskSelectiveRequest:
      type: object
      description: Request object for selectively updating kiosk settings.
      properties:
        kioskUpdate:
          $ref: '#/components/schemas/KioskSelectiveUpdate'
    ConnectionStatusEnum:
      type: string
      enum:
      - ONLINE
      - OFFLINE
      - UNKNOWN
    Kiosk_UpdateKioskResponse:
      type: object
      description: Response object for updating kiosk settings.
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        warningMsg:
          type:
          - string
          - 'null'
  securitySchemes:
    ApiKeyAuth:
      description: Your Rhombus API key. Must be accompanied by the `x-auth-scheme` header set to `api-token` (or `partner-api-token` for partner endpoints).
      in: header
      name: x-auth-apikey
      type: apiKey
x-samples-languages:
- curl
- node
- python
- java
