openapi: 3.2.0
info:
  contact:
    email: developer@rhombussystems.com
  description: 'This API is for use by Rhombus customers and partners.


    ## Authentication


    All requests require two headers:

    - `x-auth-scheme` — The authentication scheme identifier. Use `api-token` for standard API key auth, or `partner-api-token` for partner API auth.

    - `x-auth-apikey` — Your Rhombus API key.


    Example:

    ```

    POST /api/camera/getMinimalCameraStateList

    x-auth-scheme: api-token

    x-auth-apikey: YOUR_API_KEY

    Content-Type: application/json

    ```'
  title: Rhombus Component Webservice API
  version: '1.0'
servers:
- description: Production Server
  url: https://api2.rhombussystems.com
security:
- ApiKeyAuth: []
tags:
- name: Component Webservice
paths:
  /api/component/addAccessControlledDoorLabel:
    post:
      description: Create a label that can be assigned to an access controlled door and referenced by an access grant or access revocation
      operationId: addAccessControlledDoorLabel
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_AddAccessControlledDoorLabelWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_AddAccessControlledDoorLabelWSResponse'
          description: OK
      summary: Create a label that can be assigned to an access controlled door
      tags:
      - Component Webservice
  /api/component/createAccessControlledDoor:
    post:
      operationId: createAccessControlledDoor
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_CreateAccessControlledDoorWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_CreateAccessControlledDoorWSResponse'
          description: OK
      summary: Create an access controlled door
      tags:
      - Component Webservice
  /api/component/createAccessControlledDoorSeekpoints:
    post:
      operationId: createAccessControlledDoorSeekpoints
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_CreateAccessControlledDoorSeekpointsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_CreateAccessControlledDoorSeekpointsWSResponse'
          description: OK
      summary: Create custom activity seekpoints for a specified access controlled door
      tags:
      - Component Webservice
  /api/component/createIntegratedDoorPositionIndicator:
    post:
      operationId: createIntegratedDoorPositionIndicator
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_CreateIntegratedDoorPositionIndicatorWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_CreateIntegratedDoorPositionIndicatorWSResponse'
          description: OK
      summary: Create a door position indicator component
      tags:
      - Component Webservice
  /api/component/createIntegratedDoorRelay:
    post:
      operationId: createIntegratedDoorRelay
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_CreateIntegratedDoorRelayWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_CreateIntegratedDoorRelayWSResponse'
          description: OK
      summary: Create a door relay component
      tags:
      - Component Webservice
  /api/component/createIntegratedGenericButton:
    post:
      operationId: createIntegratedGenericButton
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_CreateIntegratedGenericButtonWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_CreateIntegratedGenericButtonWSResponse'
          description: OK
      summary: Create a generic button component
      tags:
      - Component Webservice
  /api/component/createIntegratedGenericInput:
    post:
      operationId: createIntegratedGenericInput
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_CreateIntegratedGenericInputWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_CreateIntegratedGenericInputWSResponse'
          description: OK
      summary: Create a generic input component
      tags:
      - Component Webservice
  /api/component/createIntegratedGenericRelay:
    post:
      operationId: createIntegratedGenericRelay
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_CreateIntegratedGenericRelayWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_CreateIntegratedGenericRelayWSResponse'
          description: OK
      summary: Create a generic relay component
      tags:
      - Component Webservice
  /api/component/createIntegratedRequestToExit:
    post:
      operationId: createIntegratedRequestToExit
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_CreateIntegratedRequestToExitWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_CreateIntegratedRequestToExitWSResponse'
          description: OK
      summary: Create a request to exit component
      tags:
      - Component Webservice
  /api/component/createOsdpDoorReader:
    post:
      operationId: createOsdpDoorReader
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_CreateOsdpReaderWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_CreateOsdpReaderWSResponse'
          description: OK
      summary: Create a third party OSDP Reader component
      tags:
      - Component Webservice
  /api/component/createRhombusOsdpDoorReader:
    post:
      operationId: createRhombusOsdpDoorReader
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_CreateRhombusOsdpReaderWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_CreateRhombusOsdpReaderWSResponse'
          description: OK
      summary: Create a Rhombus OSDP Reader component
      tags:
      - Component Webservice
  /api/component/createWiegandReader:
    post:
      operationId: createWiegandReader
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_CreateWiegandReaderWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_CreateWiegandReaderWSResponse'
          description: OK
      summary: Create a third party Wiegand Reader component
      tags:
      - Component Webservice
  /api/component/deleteAccessControlledDoor:
    post:
      operationId: deleteAccessControlledDoor
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_DeleteAccessControlledDoorWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_DeleteAccessControlledDoorWSResponse'
          description: OK
      summary: Delete the specified access controlled door
      tags:
      - Component Webservice
  /api/component/deleteComponent:
    post:
      operationId: deleteComponent
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_DeleteComponentWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_DeleteComponentWSResponse'
          description: OK
      summary: Delete a component
      tags:
      - Component Webservice
  /api/component/deleteComponentsByOwnerDevice:
    post:
      operationId: deleteComponentsByOwnerDevice
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_DeleteComponentsByOwnerDeviceWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_DeleteComponentsByOwnerDeviceWSResponse'
          description: OK
      summary: Delete all components owned by the specified device
      tags:
      - Component Webservice
  /api/component/findAccessControlledDoorShadows:
    post:
      operationId: findAccessControlledDoorShadows
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindAccessControlledDoorShadowsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindAccessControlledDoorShadowsWSResponse'
          description: OK
      summary: Find access controlled door shadows within the org
      tags:
      - Component Webservice
  /api/component/findAccessControlledDoorShadowsByLocation:
    post:
      operationId: findAccessControlledDoorShadowsByLocation
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindAccessControlledDoorShadowsByLocationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindAccessControlledDoorShadowsByLocationWSResponse'
          description: OK
      summary: Find access controlled door shadows within the specified location
      tags:
      - Component Webservice
  /api/component/findAccessControlledDoors:
    post:
      operationId: findAccessControlledDoors
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindAccessControlledDoorsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindAccessControlledDoorsWSResponse'
          description: OK
      summary: Find access controlled doors within the org
      tags:
      - Component Webservice
  /api/component/findAccessControlledDoorsByLocation:
    post:
      operationId: findAccessControlledDoorsByLocation
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindAccessControlledDoorsByLocationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindAccessControlledDoorsByLocationWSResponse'
          description: OK
      summary: Find access controlled doors within the specified location
      tags:
      - Component Webservice
  /api/component/findAccessControlledDoorsByOwnerDevice:
    post:
      operationId: findAccessControlledDoorsByOwnerDevice
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindAccessControlledDoorsByOwnerDeviceWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindAccessControlledDoorsByOwnerDeviceWSResponse'
          description: OK
      summary: Find access controlled doors for the specified owner device
      tags:
      - Component Webservice
  /api/component/findAllComponentShadows:
    post:
      operationId: findAllComponentShadows
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindAllComponentShadowsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindAllComponentShadowsWSResponse'
          description: OK
      summary: Retrieve all component shadows for the specified component uuids
      tags:
      - Component Webservice
  /api/component/findComponentEventsByAccessControlledDoor:
    post:
      operationId: findComponentEventsByAccessControlledDoor
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindComponentEventsByAccessControlledDoorWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindComponentEventsByAccessControlledDoorWSResponse'
          description: OK
      summary: Retrieve all component events relevant to the specified AccessControlledDoor
      tags:
      - Component Webservice
  /api/component/findComponentEventsByApiToken:
    post:
      operationId: findComponentEventsByApiToken
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindComponentEventsByApiTokenWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindComponentEventsByApiTokenWSResponse'
          description: OK
      summary: Retrieve all component events relevant to the specified api token
      tags:
      - Component Webservice
  /api/component/findComponentEventsByComponent:
    post:
      operationId: findComponentEventsByComponent
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindComponentEventsByComponentWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindComponentEventsByComponentWSResponse'
          description: OK
      summary: Retrieve all component events relevant to the specified component
      tags:
      - Component Webservice
  /api/component/findComponentEventsByCorrelation:
    post:
      operationId: findComponentEventsByCorrelation
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindComponentEventsByCorrelationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindComponentEventsByCorrelationWSResponse'
          description: OK
      summary: Retrieve all component events relevant to the specified correlation id
      tags:
      - Component Webservice
  /api/component/findComponentEventsByCredentialHexValue:
    post:
      operationId: findComponentEventsByCredentialHexValue
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindComponentEventsByCredentialHexValueWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindComponentEventsByCredentialHexValueWSResponse'
          description: OK
      summary: Retrieve all component events relevant to the specified credential hex value
      tags:
      - Component Webservice
  /api/component/findComponentEventsByCredentialUuid:
    post:
      operationId: findComponentEventsByCredentialUuid
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindComponentEventsByCredentialUuidWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindComponentEventsByCredentialUuidWSResponse'
          description: OK
      summary: Retrieve all component events relevant to the specified credential uuid
      tags:
      - Component Webservice
  /api/component/findComponentEventsByCredentialValue:
    post:
      operationId: findComponentEventsByCredentialValue
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindComponentEventsByCredentialValueWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindComponentEventsByCredentialValueWSResponse'
          description: OK
      summary: Retrieve all component events relevant to the specified credential value
      tags:
      - Component Webservice
  /api/component/findComponentEventsByGuestPass:
    post:
      operationId: findComponentEventsByGuestPass
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindComponentEventsByGuestPassWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindComponentEventsByGuestPassWSResponse'
          description: OK
      summary: Retrieve all component events relevant to the specified guest pass
      tags:
      - Component Webservice
  /api/component/findComponentEventsByLocation:
    post:
      operationId: findComponentEventsByLocation
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindComponentEventsByLocationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindComponentEventsByLocationWSResponse'
          description: OK
      summary: Retrieve all component events relevant to the specified location
      tags:
      - Component Webservice
  /api/component/findComponentEventsByOwnerDevice:
    post:
      deprecated: true
      description: Retrieve all component events relevant to the specified owner device (i.e. DC20's device uuid)
      operationId: findComponentEventsByOwnerDevice
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindComponentEventsByOwnerDeviceWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindComponentEventsByOwnerDeviceWSResponse'
          description: OK
      summary: Retrieve all component events relevant to the specified owner device…
      tags:
      - Component Webservice
  /api/component/findComponentEventsBySupportAuthority:
    post:
      description: Retrieve all component events relevant to the specified api token
      operationId: findComponentEventsBySupportAuthority
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindComponentEventsBySupportAuthorityWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindComponentEventsBySupportAuthorityWSResponse'
          description: OK
      summary: Retrieve all component events relevant to the specified support authority
      tags:
      - Component Webservice
  /api/component/findComponentEventsByUser:
    post:
      operationId: findComponentEventsByUser
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindComponentEventsByUserWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindComponentEventsByUserWSResponse'
          description: OK
      summary: Retrieve all component events relevant to the specified User
      tags:
      - Component Webservice
  /api/component/findComponentEventsForVideoIntercom:
    post:
      description: Retrieve all component events relevant to the specified Video Intercom and optional AccessControlledDoor
      operationId: findComponentEventsForVideoIntercom
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindComponentEventsForVideoIntercomWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindComponentEventsForVideoIntercomWSResponse'
          description: OK
      summary: Retrieve all component events relevant to the specified Video Intercom and…
      tags:
      - Component Webservice
  /api/component/findComponentSeekPointsByAccessControlledDoor:
    post:
      operationId: findComponentSeekPointsByAccessControlledDoor
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindComponentSeekPointsByAccessControlledDoorWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindComponentSeekPointsByAccessControlledDoorWSResponse'
          description: OK
      summary: Find component seekpoints by access controlled door
      tags:
      - Component Webservice
  /api/component/findComponentSeekPointsByAccessControlledDoors:
    post:
      operationId: findComponentSeekPointsByAccessControlledDoors
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindComponentSeekPointsByAccessControlledDoorsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindComponentSeekPointsByAccessControlledDoorsWSResponse'
          description: OK
      summary: Find component seekpoints by access controlled doors
      tags:
      - Component Webservice
  /api/component/findComponentSeekPointsByComponent:
    post:
      operationId: findComponentSeekPointsByComponent
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindComponentSeekPointsByComponentWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindComponentSeekPointsByComponentWSResponse'
          description: OK
      summary: Find component seekpoints by component
      tags:
      - Component Webservice
  /api/component/findComponentSeekPointsByLocation:
    post:
      operationId: findComponentSeekPointsByLocation
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindComponentSeekPointsByLocationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindComponentSeekPointsByLocationWSResponse'
          description: OK
      summary: Find component seekpoints by location
      tags:
      - Component Webservice
  /api/component/findComponentSeekPointsByOwnerDevice:
    post:
      operationId: findComponentSeekPointsByOwnerDevice
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindComponentSeekPointsByOwnerDeviceWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindComponentSeekPointsByOwnerDeviceWSResponse'
          description: OK
      summary: Find component seekpoints by owner device
      tags:
      - Component Webservice
  /api/component/findComponentSeekPointsByUser:
    post:
      operationId: findComponentSeekPointsByUser
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindComponentSeekPointsByUserWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindComponentSeekPointsByUserWSResponse'
          description: OK
      summary: Find component seekpoints by user
      tags:
      - Component Webservice
  /api/component/findComponentShadowsByComponentComposites:
    post:
      description: Retrieve all component shadows for the components belonging to the specified component composites (doors, elevators, elevator landings). Each composite is expanded to its component references and the resulting set of component shadows is returned.
      operationId: findComponentShadowsByComponentComposites
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindComponentShadowsByComponentCompositesWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindComponentShadowsByComponentCompositesWSResponse'
          description: OK
      summary: Retrieve all component shadows for the components belonging to the specified…
      tags:
      - Component Webservice
  /api/component/findComponentShadowsByOwnerDevice:
    post:
      operationId: findComponentShadowsByOwnerDevice
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindComponentShadowsByOwnerDeviceWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindComponentShadowsByOwnerDeviceWSResponse'
          description: OK
      summary: Retrieve component shadows by the specified owner device uuid
      tags:
      - Component Webservice
  /api/component/findComponentsByOwnerDevice:
    post:
      description: Retrieve a list of components owned by a Rhombus device (i.e. DC20's device uuid)
      operationId: findComponentsByOwnerDevice
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindComponentsByOwnerDeviceWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindComponentsByOwnerDeviceWSResponse'
          description: OK
      summary: Retrieve a list of components owned by a Rhombus device
      tags:
      - Component Webservice
  /api/component/findMinimalStateAccessControlledDoors:
    post:
      operationId: findMinimalStateAccessControlledDoors
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindMinimalStateAccessControlledDoorsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindMinimalStateAccessControlledDoorsWSResponse'
          description: OK
      summary: Find minimal state access controlled doors within the org
      tags:
      - Component Webservice
  /api/component/findMinimalStateAccessControlledDoorsByLocation:
    post:
      operationId: findMinimalStateAccessControlledDoorsByLocation
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindMinimalStateAccessControlledDoorsByLocationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindMinimalStateAccessControlledDoorsByLocationWSResponse'
          description: OK
      summary: Find minimal state access controlled doors within the specified location
      tags:
      - Component Webservice
  /api/component/findPaginatedComponentEventsByAccessControlledDoor:
    post:
      operationId: findPaginatedComponentEventsByAccessControlledDoor
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindPaginatedComponentEventsByAccessControlledDoorWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindPaginatedComponentEventsByAccessControlledDoorWSResponse'
          description: OK
      summary: Retrieve all component events relevant to the specified AccessControlledDoor
      tags:
      - Component Webservice
  /api/component/findPaginatedComponentEventsByOwnerDevice:
    post:
      description: Retrieve all component events relevant to the specified owner device (i.e. DC20's device uuid)
      operationId: findPaginatedComponentEventsByOwnerDevice
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_FindPaginatedComponentEventsByOwnerDeviceWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_FindPaginatedComponentEventsByOwnerDeviceWSResponse'
          description: OK
      summary: Retrieve all component events relevant to the specified owner device
      tags:
      - Component Webservice
  /api/component/getAccessControlledDoorLabelsForOrg:
    post:
      operationId: getAccessControlledDoorLabelsForOrg
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_GetAccessControlledDoorLabelsForOrgWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_GetAccessControlledDoorLabelsForOrgWSResponse'
          description: OK
      summary: Get all access controlled door labels for the organization
      tags:
      - Component Webservice
  /api/component/getOrCreateDevicePhysicalPortConfig:
    post:
      description: Gets a physical port layout for the specified device, components owned by that device and details about the port configuration validity. Map is instantiated if it doesn't currently exist as part of the call.
      operationId: getOrCreateDevicePhysicalPortConfig
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_GetOrCreateDevicePhysicalPortConfigWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_GetOrCreateDevicePhysicalPortConfigWSResponse'
          description: OK
      summary: Get or create device physical port config
      tags:
      - Component Webservice
  /api/component/removeAccessControlledDoorLabel:
    post:
      operationId: removeAccessControlledDoorLabel
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_RemoveAccessControlledDoorLabelWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_RemoveAccessControlledDoorLabelWSResponse'
          description: OK
      summary: Remove a label to an access controlled door
      tags:
      - Component Webservice
  /api/component/updateAccessControlledDoor:
    post:
      operationId: updateAccessControlledDoor
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_UpdateAccessControlledDoorWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_UpdateAccessControlledDoorWSResponse'
          description: OK
      summary: Updates an access controlled door
      tags:
      - Component Webservice
  /api/component/updateIntegratedDoorPositionIndicator:
    post:
      operationId: updateIntegratedDoorPositionIndicator
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_UpdateIntegratedDoorPositionIndicatorWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_UpdateIntegratedDoorPositionIndicatorWSResponse'
          description: OK
      summary: Update a door position indicator component
      tags:
      - Component Webservice
  /api/component/updateIntegratedDoorRelay:
    post:
      operationId: updateIntegratedDoorRelay
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_UpdateIntegratedDoorRelayWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_UpdateIntegratedDoorRelayWSResponse'
          description: OK
      summary: Update a door relay component
      tags:
      - Component Webservice
  /api/component/updateIntegratedGenericButton:
    post:
      operationId: updateIntegratedGenericButton
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_UpdateIntegratedGenericButtonWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_UpdateIntegratedGenericButtonWSResponse'
          description: OK
      summary: Update a generic button component
      tags:
      - Component Webservice
  /api/component/updateIntegratedGenericInput:
    post:
      operationId: updateIntegratedGenericInput
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_UpdateIntegratedGenericInputWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_UpdateIntegratedGenericInputWSResponse'
          description: OK
      summary: Update a generic input component
      tags:
      - Component Webservice
  /api/component/updateIntegratedGenericRelay:
    post:
      operationId: updateIntegratedGenericRelay
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_UpdateIntegratedGenericRelayWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_UpdateIntegratedGenericRelayWSResponse'
          description: OK
      summary: Update a generic relay component
      tags:
      - Component Webservice
  /api/component/updateIntegratedGenericRelaySteadyState:
    post:
      operationId: updateIntegratedGenericRelaySteadyState
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_UpdateIntegratedGenericRelaySteadyStateWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_UpdateIntegratedGenericRelaySteadyStateWSResponse'
          description: OK
      summary: Update a generic relay component's steady state
      tags:
      - Component Webservice
  /api/component/updateIntegratedGenericRelayTransientState:
    post:
      operationId: updateIntegratedGenericRelayTransientState
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_UpdateIntegratedGenericRelayTransientStateWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_UpdateIntegratedGenericRelayTransientStateWSResponse'
          description: OK
      summary: Activate a generic relay for a brief period
      tags:
      - Component Webservice
  /api/component/updateIntegratedRequestToExit:
    post:
      operationId: updateIntegratedRequestToExit
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_UpdateIntegratedRequestToExitWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_UpdateIntegratedRequestToExitWSResponse'
          description: OK
      summary: Update a request to exit component
      tags:
      - Component Webservice
  /api/component/updateOsdpDoorReader:
    post:
      operationId: updateOsdpDoorReader
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_UpdateOsdpReaderWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_UpdateOsdpReaderWSResponse'
          description: OK
      summary: Update a third party OSDP Reader component
      tags:
      - Component Webservice
  /api/component/updateRhombusOsdpDoorReader:
    post:
      operationId: updateRhombusOsdpDoorReader
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_UpdateRhombusOsdpReaderWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_UpdateRhombusOsdpReaderWSResponse'
          description: OK
      summary: Update a Rhombus OSDP Reader component
      tags:
      - Component Webservice
  /api/component/updateWiegandDoorReader:
    post:
      operationId: updateWiegandDoorReader
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component_UpdateWiegandReaderWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component_UpdateWiegandReaderWSResponse'
          description: OK
      summary: Update a third party Wiegand Reader component
      tags:
      - Component Webservice
components:
  schemas:
    Component_UpdateIntegratedGenericRelaySteadyStateWSRequest:
      type: object
      properties:
        componentUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        steadyState:
          $ref: '#/components/schemas/GenericRelayStateEnumType'
    Component_RemoveAccessControlledDoorLabelWSRequest:
      type: object
      properties:
        accessControlledDoorUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        label:
          type:
          - string
          - 'null'
    WiegandDataPortType:
      type: object
      properties:
        boardNum:
          type:
          - integer
          - 'null'
          format: int32
        portNum:
          type:
          - integer
          - 'null'
          format: int32
        portType:
          $ref: '#/components/schemas/WiegandDataPhysicalPortEnumType'
    AuxiliaryRelayPhysicalPortEnumType:
      type: string
      enum:
      - GPIO_OUTPUT
    DoorRelayShadowType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          state:
            $ref: '#/components/schemas/DoorRelayStateEnumType'
          stateUpdateEventTimestampMs:
            type:
            - integer
            - 'null'
            format: int64
      properties:
        componentUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        createdAtMillis:
          type:
          - integer
          - 'null'
          format: int64
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        ownerDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        type:
          $ref: '#/components/schemas/ComponentShadowEnumType'
        updatedAtMillis:
          type:
          - integer
          - 'null'
          format: int64
    Component_FindComponentEventsByComponentWSRequest:
      type: object
      properties:
        componentUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        createdAfterMs:
          type:
          - integer
          - 'null'
          format: int64
        createdBeforeMs:
          type:
          - integer
          - 'null'
          format: int64
        limit:
          type:
          - integer
          - 'null'
          format: int32
        typeFilter:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ComponentEventEnumType'
    Component_FindAccessControlledDoorsByLocationWSResponse:
      type: object
      properties:
        accessControlledDoors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AccessControlledDoorType'
        lastEvaluatedKey:
          type:
          - string
          - 'null'
    Component_FindAccessControlledDoorsWSRequest:
      type: object
      properties:
        lastEvaluatedKey:
          type:
          - string
          - 'null'
        maxPageSize:
          type:
          - integer
          - 'null'
          format: int32
    Component_UpdateIntegratedGenericRelayTransientStateWSResponse:
      type: object
      properties:
        success:
          type:
          - boolean
          - 'null'
    Component_FindComponentEventsByCredentialValueWSRequest:
      type: object
      properties:
        createdAfterMs:
          type:
          - integer
          - 'null'
          format: int64
        createdBeforeMs:
          type:
          - integer
          - 'null'
          format: int64
        credentialValue:
          type:
          - string
          - 'null'
        limit:
          type:
          - integer
          - 'null'
          format: int32
        typeFilter:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ComponentEventEnumType'
    Component_CreateIntegratedGenericRelayWSRequest:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
        ownerDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        port:
          $ref: '#/components/schemas/AuxiliaryRelayPortType'
        steadyState:
          $ref: '#/components/schemas/GenericRelayStateEnumType'
    ComponentSeekPointType:
      type: object
      description: List of component seekpoints for the doorbell camera
      properties:
        activity:
          $ref: '#/components/schemas/ActivityEnum'
        componentCompositeUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        componentUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        customActivityColor:
          $ref: '#/components/schemas/FootageSeekPointColorEnum'
        customActivityDescription:
          type:
          - string
          - 'null'
        customActivityDisplayName:
          type:
          - string
          - 'null'
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        originalEvent:
          type:
          - object
          - 'null'
        ownerDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        subLocationsHierarchyKey:
          type:
          - string
          - 'null'
          format: SubLocationsHierarchyKey
          description: 'A sequence of one or more base 64 (url-safe) uuid substrings.

            These substrings are separated by dots (.).

            '
          example: AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA
          pattern: ^([A-Za-z0-9\-_]{22})([.][A-Za-z0-9\-_]{22})*$
        timestampMs:
          type:
          - integer
          - 'null'
          format: int64
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        uuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    InvalidPhysicalPortConfigType:
      type: object
      properties:
        boardNum:
          type:
          - integer
          - 'null'
          format: int32
        componentUuids:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          uniqueItems: true
        portNum:
          type:
          - integer
          - 'null'
          format: int32
        reason:
          $ref: '#/components/schemas/InvalidPhysicalPortReasonEnumType'
    Component_UpdateIntegratedGenericInputWSResponse:
      type: object
      properties:
        component:
          $ref: '#/components/schemas/IntegratedGenericInputType'
    Component_FindMinimalStateAccessControlledDoorsByLocationWSRequest:
      type: object
      properties:
        lastEvaluatedKey:
          type:
          - string
          - 'null'
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        maxPageSize:
          type:
          - integer
          - 'null'
          format: int32
    Component_CreateAccessControlledDoorSeekpointsWSResponse:
      type: object
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        successMsg:
          type:
          - string
          - 'null'
        warningMsg:
          type:
          - string
          - 'null'
    Component_UpdateIntegratedGenericRelayWSResponse:
      type: object
      properties:
        component:
          $ref: '#/components/schemas/IntegratedGenericRelayType'
    Component_UpdateIntegratedGenericRelayWSRequest:
      type: object
      properties:
        componentUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        name:
          type:
          - string
          - 'null'
        port:
          $ref: '#/components/schemas/AuxiliaryRelayPortType'
    Component_CreateRhombusOsdpReaderWSRequest:
      type: object
      properties:
        deviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        disableCardReader:
          type:
          - boolean
          - 'null'
        disableWaveToUnlock:
          type:
          - boolean
          - 'null'
        name:
          type:
          - string
          - 'null'
        otherReaderUnlockAudioFeedbackEnabled:
          type:
          - boolean
          - 'null'
        ownerDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        port:
          $ref: '#/components/schemas/OsdpReaderPortType'
        remoteUnlockAudioFeedbackEnabled:
          type:
          - boolean
          - 'null'
    IntegratedRequestToExitType:
      type: object
      properties:
        baseType:
          $ref: '#/components/schemas/ComponentBaseEnumType'
        createdAtMillis:
          type:
          - integer
          - 'null'
          format: int64
        intentOnly:
          type:
          - boolean
          - 'null'
        intentOnlyEvents:
          type:
          - boolean
          - 'null'
        name:
          type:
          - string
          - 'null'
        normalState:
          $ref: '#/components/schemas/NormalStateEnumType'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        ownerDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        ownerHardwareType:
          $ref: '#/components/schemas/HardwareVariationEnum'
        port:
          $ref: '#/components/schemas/RequestToExitPortType'
        portImmutable:
          type:
          - boolean
          - 'null'
        rexType:
          $ref: '#/components/schemas/RequestToExitEnumType'
        type:
          $ref: '#/components/schemas/ComponentEnumType'
        updatedAtMillis:
          type:
          - integer
          - 'null'
          format: int64
        uuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    LockdownPlanScopeEnumType:
      type: string
      enum:
      - ORG_LOCKDOWN
      - LOCATION_LOCKDOWN
    DoorReaderStateEnumType:
      type: string
      enum:
      - CONNECTED
      - DISCONNECTED
      - UNKNOWN
    AperioDoorRelay:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          aperioDoorId:
            type:
            - string
            - 'null'
          aperioGatewayId:
            type:
            - array
            - 'null'
            items:
              type:
              - string
              - 'null'
              format: byte
          deviceId:
            type:
            - array
            - 'null'
            items:
              type:
              - string
              - 'null'
              format: byte
          relayType:
            $ref: '#/components/schemas/DoorRelayEnumType'
      properties:
        baseType:
          $ref: '#/components/schemas/ComponentBaseEnumType'
        createdAtMillis:
          type:
          - integer
          - 'null'
          format: int64
        name:
          type:
          - string
          - 'null'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        ownerDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        ownerHardwareType:
          $ref: '#/components/schemas/HardwareVariationEnum'
        portImmutable:
          type:
          - boolean
          - 'null'
        type:
          $ref: '#/components/schemas/ComponentEnumType'
        updatedAtMillis:
          type:
          - integer
          - 'null'
          format: int64
        uuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    Component_UpdateAccessControlledDoorWSRequest:
      type: object
      properties:
        accessControlledDoorUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        ajarTimeSec:
          type:
          - integer
          - 'null'
          format: int32
        associatedCameras:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: DeviceFacetUuid
            description: RUUID with optional appended facet information
            example: AAAAAAAAAAAAAAAAAAAAAA.v0
          uniqueItems: true
        associatedFaceDetectionCameras:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: DeviceFacetUuid
            description: RUUID with optional appended facet information
            example: AAAAAAAAAAAAAAAAAAAAAA.v0
          uniqueItems: true
        defaultState:
          $ref: '#/components/schemas/AccessControlledDoorStateEnumType'
        directionRadians:
          type:
          - number
          - 'null'
          format: float
        doorStateToScheduleUuidMap:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
        dpiComponents:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ComponentReferenceType'
          uniqueItems: true
        floorNumber:
          type:
          - integer
          - 'null'
          format: int32
        forceAllReadersFirstInAuthRequiredLedFeedbackEnabled:
          type:
          - boolean
          - 'null'
        forceAllReadersFirstInUnlockPendingLedFeedbackEnabled:
          type:
          - boolean
          - 'null'
        forceAllReadersOtherReaderUnlockAudioFeedbackEnabled:
          type:
          - boolean
          - 'null'
        forceAllReadersRemoteUnlockAudioFeedbackEnabled:
          type:
          - boolean
          - 'null'
        forcedOpenEnabled:
          type:
          - boolean
          - 'null'
        forcedOpenTimeSec:
          type:
          - integer
          - 'null'
          format: int32
        geofenceEnabled:
          type:
          - boolean
          - 'null'
        geofenceRadius:
          type:
          - number
          - 'null'
          format: double
        latitude:
          type:
          - number
          - 'null'
          format: double
        longitude:
          type:
          - number
          - 'null'
          format: double
        name:
          type:
          - string
          - 'null'
        policyUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        proximityUnlockSettings:
          $ref: '#/components/schemas/ProximityUnlockSettingsType'
        readerComponents:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ComponentReferenceType'
          uniqueItems: true
        relayComponents:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ComponentReferenceType'
          uniqueItems: true
        relockAfterOpenTimeMs:
          type:
          - integer
          - 'null'
          format: int32
        remoteUnlockEnabled:
          type:
          - boolean
          - 'null'
        rexComponents:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ComponentReferenceType'
          uniqueItems: true
        subLocationsHierarchyKey:
          type:
          - string
          - 'null'
          format: SubLocationsHierarchyKey
          description: 'A sequence of one or more base 64 (url-safe) uuid substrings.

            These substrings are separated by dots (.).

            '
          example: AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA
          pattern: ^([A-Za-z0-9\-_]{22})([.][A-Za-z0-9\-_]{22})*$
        subLocationsHierarchyKeyUpdated:
          type:
          - boolean
          - 'null'
        unlockTimeSec:
          type:
          - integer
          - 'null'
          format: int32
        unlockTimeSecRex:
          type:
          - integer
          - 'null'
          format: int32
        waveToUnlockSettings:
          $ref: '#/components/schemas/WaveToUnlockSettingsType'
    Component_AddAccessControlledDoorLabelWSRequest:
      type: object
      properties:
        accessControlledDoorUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        label:
          type:
          - string
          - 'null'
    Component_FindAccessControlledDoorShadowsWSResponse:
      type: object
      properties:
        lastEvaluatedKey:
          type:
          - string
          - 'null'
        shadows:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AccessControlledDoorShadow'
    OsdpDoorReaderType:
      type: object
      properties:
        allowUnencrypted:
          type:
          - boolean
          - 'null'
        baseType:
          $ref: '#/components/schemas/ComponentBaseEnumType'
        createdAtMillis:
          type:
          - integer
          - 'null'
          format: int64
        disableCardReader:
          type:
          - boolean
          - 'null'
        disableKeypad:
          type:
          - boolean
          - 'null'
        disableWaveToUnlock:
          type:
          - boolean
          - 'null'
        disposition:
          $ref: '#/components/schemas/ReaderDispositionEnum'
        name:
          type:
          - string
          - 'null'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        osdpAddress:
          type:
          - integer
          - 'null'
          format: int32
        otherReaderUnlockAudioFeedbackEnabled:
          type:
          - boolean
          - 'null'
        ownerDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        ownerHardwareType:
          $ref: '#/components/schemas/HardwareVariationEnum'
        port:
          $ref: '#/components/schemas/OsdpReaderPortType'
        portImmutable:
          type:
          - boolean
          - 'null'
        readerType:
          $ref: '#/components/schemas/DoorReaderEnumType'
        remoteUnlockAudioFeedbackEnabled:
          type:
          - boolean
          - 'null'
        type:
          $ref: '#/components/schemas/ComponentEnumType'
        updatedAtMillis:
          type:
          - integer
          - 'null'
          format: int64
        uuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    DoorFirstInStateChangeEventReference:
      type:
      - object
      - 'null'
      properties:
        doorUuidToEventUuidMap:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
        newState:
          $ref: '#/components/schemas/FirstInFirmwareStatusEnum'
        originatingDoorUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        originatingUserUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        originator:
          $ref: '#/components/schemas/BaseEventOriginator'
        source:
          $ref: '#/components/schemas/FirstInSourceEnum'
        stateChangedAtMs:
          type:
          - integer
          - 'null'
          format: int64
    IntegratedDoorPositionIndicatorType:
      type: object
      properties:
        baseType:
          $ref: '#/components/schemas/ComponentBaseEnumType'
        createdAtMillis:
          type:
          - integer
          - 'null'
          format: int64
        dpiType:
          $ref: '#/components/schemas/DoorPositionIndicatorEnumType'
        name:
          type:
          - string
          - 'null'
        normalState:
          $ref: '#/components/schemas/NormalStateEnumType'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        ownerDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        ownerHardwareType:
          $ref: '#/components/schemas/HardwareVariationEnum'
        port:
          $ref: '#/components/schemas/DoorPositionIndicatorPortType'
        portImmutable:
          type:
          - boolean
          - 'null'
        type:
          $ref: '#/components/schemas/ComponentEnumType'
        updatedAtMillis:
          type:
          - integer
          - 'null'
          format: int64
        uuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    Component_FindComponentEventsByApiTokenWSResponse:
      type: object
      properties:
        componentEvents:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ComponentEventType'
    Component_CreateAccessControlledDoorWSRequest:
      type: object
      properties:
        accessControlledDoor:
          $ref: '#/components/schemas/AccessControlledDoorType'
        accessControlledDoorLabels:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
          uniqueItems: true
    CredentialEntryBleWave:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          finalRssi:
            type:
            - integer
            - 'null'
            format: int32
          firstRssi:
            type:
            - integer
            - 'null'
            format: int32
          firstRssiAtIntentElapsed:
            type:
            - integer
            - 'null'
            format: int32
          lostAtIntentElapsed:
            type:
            - integer
            - 'null'
            format: int32
          lostAtRssi:
            type:
            - integer
            - 'null'
            format: int32
          maxRssi:
            type:
            - integer
            - 'null'
            format: int32
          maxRssiAtIntentElapsed:
            type:
            - integer
            - 'null'
            format: int32
          sessionFirstRssi:
            type:
            - integer
            - 'null'
[...]
