openapi: 3.2.0
info:
  contact:
    email: developer@rhombussystems.com
  description: 'This API is for use by Rhombus customers and partners.


    ## Authentication


    All requests require two headers:

    - `x-auth-scheme` — The authentication scheme identifier. Use `api-token` for standard API key auth, or `partner-api-token` for partner API auth.

    - `x-auth-apikey` — Your Rhombus API key.


    Example:

    ```

    POST /api/camera/getMinimalCameraStateList

    x-auth-scheme: api-token

    x-auth-apikey: YOUR_API_KEY

    Content-Type: application/json

    ```'
  title: Rhombus Integrations Webservice API
  version: '1.0'
servers:
- description: Production Server
  url: https://api2.rhombussystems.com
security:
- ApiKeyAuth: []
tags:
- name: Integrations Webservice
paths:
  /api/integrations/deleteAmtIntegration:
    post:
      deprecated: true
      description: Delete Amt badge integration
      operationId: deleteAmtIntegrationDep
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_BaseIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponse'
          description: OK
      summary: Delete AMT Integration
      tags:
      - Integrations Webservice
  /api/integrations/deleteDeviceIntegration:
    post:
      deprecated: true
      description: Delete Device integration
      operationId: deleteDeviceIntegrationDep
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_BaseIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponse'
          description: OK
      summary: Delete Device Integration
      tags:
      - Integrations Webservice
  /api/integrations/deleteMattermostIntegration:
    post:
      deprecated: true
      description: Delete Mattermost alert integration
      operationId: deleteMattermostIntegrationDep
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_BaseIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponse'
          description: OK
      summary: Delete Mattermost Integration
      tags:
      - Integrations Webservice
  /api/integrations/deleteOpenAIIntegration:
    post:
      deprecated: true
      description: Delete OpenAI integration
      operationId: deleteOpenAIIntegrationDep
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_BaseIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponse'
          description: OK
      summary: Delete OpenAI Integration
      tags:
      - Integrations Webservice
  /api/integrations/deleteWebhookIntegration:
    post:
      deprecated: true
      description: Delete outbound webhook alert integration
      operationId: deleteWebhookIntegrationDep
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_BaseIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponse'
          description: OK
      summary: Delete Webhook Integration
      tags:
      - Integrations Webservice
  /api/integrations/deleteWebhookIntegrationV2:
    post:
      deprecated: true
      description: Delete entire webhook integration
      operationId: deleteWebhookIntegrationV2Dep
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_BaseIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponse'
          description: OK
      summary: Delete Webhook Integration V2
      tags:
      - Integrations Webservice
  /api/integrations/getAmtReaders:
    post:
      deprecated: true
      description: Get list of AMT readers to assign cameras
      operationId: getAmtReadersDep
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_GetAmtReadersWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_GetBadgeIntegrationDoorsWSResponse'
          description: OK
      summary: Get AMT Readers
      tags:
      - Integrations Webservice
  /api/integrations/getApiTokenApplications:
    post:
      deprecated: true
      description: Get details of all open api token requests for organization
      operationId: getApiTokenApplicationsDep
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_GetApiTokenApplicationsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_GetApiTokenApplicationsWSResponse'
          description: OK
      summary: Get API Token Applications
      tags:
      - Integrations Webservice
  /api/integrations/getApiTokens:
    post:
      deprecated: true
      description: Get list of all api tokens for organization
      operationId: getApiTokensDep
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_GetApiTokensWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_GetApiTokensWSResponse'
          description: OK
      summary: Get API Tokens
      tags:
      - Integrations Webservice
  /api/integrations/getCalendlyEventDetails:
    post:
      deprecated: true
      description: Get Calendly event details
      operationId: getCalendlyEventDetailsDep
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_GetCalendlyEventDetailsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_GetCalendlyEventDetailsWSResponse'
          description: OK
      summary: Get Calendly Event Details
      tags:
      - Integrations Webservice
  /api/integrations/getDeviceIntegration:
    post:
      deprecated: true
      description: Get Device integration
      operationId: getDeviceIntegrationDep
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_BaseIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_GetOrgIntegrationsV2WSResponse'
          description: OK
      summary: Get Device Integration
      tags:
      - Integrations Webservice
  /api/integrations/getOpenAIIntegration:
    post:
      deprecated: true
      description: Get OpenAI integration
      operationId: getOpenAIIntegrationDep
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_BaseIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_GetOrgIntegrationsV2WSResponse'
          description: OK
      summary: Get OpenAI Integration
      tags:
      - Integrations Webservice
  /api/integrations/getOpenAIModels:
    post:
      deprecated: true
      description: Get list of OpenAI models
      operationId: getOpenAIModelsDep
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_GetOpenAIModelsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_GetOpenAIModelsWSResponse'
          description: OK
      summary: Get OpenAI Models
      tags:
      - Integrations Webservice
  /api/integrations/getOrgIntegrations:
    post:
      deprecated: true
      description: Get details of all third-party integrations for organization
      operationId: getOrgIntegrationsDep
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_GetOrgIntegrationsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_GetOrgIntegrationsWSResponse'
          description: OK
      summary: Get Organization Integrations
      tags:
      - Integrations Webservice
  /api/integrations/getOrgIntegrationsV2:
    post:
      deprecated: true
      description: Get details of all V2 third-party integrations for an organization
      operationId: getOrgIntegrationsV2Dep
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_GetOrgIntegrationsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_GetAllOrgIntegrationsV2WSResponse'
          description: OK
      summary: Get Organization Integrations V2
      tags:
      - Integrations Webservice
  /api/integrations/getWebhookIntegration:
    post:
      deprecated: true
      description: Get webhook integration
      operationId: getWebhookIntegrationDep
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_BaseIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_GetOrgIntegrationsV2WSResponse'
          description: OK
      summary: Get Webhook Integration
      tags:
      - Integrations Webservice
  /api/integrations/revokeApiToken:
    post:
      deprecated: true
      description: 'Remove an api token from organization. Note: this is irreversible'
      operationId: revokeApiTokenDep
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_RevokeApiTokenWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_RevokeApiTokenWSResponse'
          description: OK
      summary: Revoke API Token
      tags:
      - Integrations Webservice
  /api/integrations/submitApiTokenApplication:
    post:
      deprecated: true
      description: Request an api token for organization
      operationId: submitApiTokenApplicationDep
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_SubmitApiTokenApplicationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_SubmitApiTokenApplicationWSResponse'
          description: OK
      summary: Submit API Token Application
      tags:
      - Integrations Webservice
  /api/integrations/subscribeZapierWebhook:
    post:
      deprecated: true
      description: Setup a Zapier webhook
      operationId: subscribeZapierWebhookDep
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_SubscribeZapierWebhookWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_SubscribeZapierWebhookWSResponse'
          description: OK
      summary: Subscribe Zapier Webhook
      tags:
      - Integrations Webservice
  /api/integrations/unsubscribeZapierWebhook:
    post:
      deprecated: true
      description: Delete a Zapier webhook
      operationId: unsubscribeZapierWebhookDep
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_UnsubscribeZapierWebhookWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponse'
          description: OK
      summary: Unsubscribe Zapier Webhook
      tags:
      - Integrations Webservice
  /api/integrations/updateAmtIntegration:
    post:
      deprecated: true
      description: Update Amt badge integration
      operationId: updateAmtIntegrationDep
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_UpdateAmtIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_UpdateOrgIntegrationsWSResponse'
          description: OK
      summary: Update AMT Integration
      tags:
      - Integrations Webservice
  /api/integrations/updateDeviceIntegration:
    post:
      deprecated: true
      description: Update Device integration
      operationId: updateDeviceIntegrationDep
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_UpdateDeviceIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_UpdateOrgIntegrationsWSResponse'
          description: OK
      summary: Update Device Integration
      tags:
      - Integrations Webservice
  /api/integrations/updateMattermostIntegration:
    post:
      deprecated: true
      description: Update Mattermost alert integration
      operationId: updateMattermostIntegrationDep
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_UpdateMattermostIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_UpdateOrgIntegrationsWSResponse'
          description: OK
      summary: Update Mattermost Integration
      tags:
      - Integrations Webservice
  /api/integrations/updateNoonlightSettings:
    post:
      deprecated: true
      description: Update Noonlight integration
      operationId: updateNoonlightSettings
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_UpdateNoonlightSettingsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_UpdateOrgIntegrationsWSResponse'
          description: OK
      summary: Update Noonlight Settings
      tags:
      - Integrations Webservice
  /api/integrations/updateOpenAIIntegration:
    post:
      deprecated: true
      description: Update OpenAI integration
      operationId: updateOpenAIIntegrationDep
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_UpdateOpenAIIntegrationRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_UpdateOrgIntegrationsWSResponse'
          description: OK
      summary: Update OpenAI Integration
      tags:
      - Integrations Webservice
  /api/integrations/updateWebhookIntegration:
    post:
      deprecated: true
      description: Update outbound webhook alert integration
      operationId: updateWebhookIntegrationDep
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_UpdateWebhookIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_UpdateOrgIntegrationsWSResponse'
          description: OK
      summary: Update Webhook Integration
      tags:
      - Integrations Webservice
  /api/integrations/updateWebhookIntegrationV2:
    post:
      deprecated: true
      description: Update preexisting webhooks
      operationId: updateWebhookIntegrationV2Dep
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_UpdateWebhookIntegrationV2WSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_UpdateWebhookIntegrationV2WSResponse'
          description: OK
      summary: Update Webhook Integration V2
      tags:
      - Integrations Webservice
  /api/integrations/validateToken:
    post:
      description: Verifies an API token is still active
      operationId: validateTokenDep
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponse'
          description: OK
      summary: Validate API Token
      tags:
      - Integrations Webservice
  /api/report/getEnvoyDeliveries:
    post:
      description: Get a list of deliveries from Envoy to populate reporting logs
      operationId: getEnvoyDeliveries
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_GetEnvoyDeliveriesWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_GetEnvoyDeliveriesWSResponse'
          description: OK
      summary: Get Envoy deliveries
      tags:
      - Integrations Webservice
  /api/report/getEnvoyEmployees:
    post:
      description: Get a list of employees from Envoy
      operationId: getEnvoyEmployees
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_GetEnvoyEmployeesWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_GetEnvoyEmployeesWSResponse'
          description: OK
      summary: Get Envoy employees
      tags:
      - Integrations Webservice
  /api/report/getEnvoyLocations:
    post:
      description: Get list of Envoy locations
      operationId: getEnvoyLocations
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_GetEnvoyLocationsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_GetEnvoyLocationsWSResponse'
          description: OK
      summary: Get Envoy locations
      tags:
      - Integrations Webservice
  /api/report/getEnvoyVisitors:
    post:
      description: Get a list of visitors from Envoy to populate reporting logs
      operationId: getEnvoyVisitors
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_GetEnvoyVisitorsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_GetEnvoyVisitorsWSResponse'
          description: OK
      summary: Get Envoy visitors
      tags:
      - Integrations Webservice
components:
  schemas:
    Integration_GetOrgIntegrationsWSResponse:
      type: object
      description: Response object containing organization integrations configuration.
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        orgIntegrations:
          $ref: '#/components/schemas/OrgIntegrationsType'
        warningMsg:
          type:
          - string
          - 'null'
    Integration_RevokeApiTokenWSResponse:
      type: object
      description: Response object for revoking an API token.
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        warningMsg:
          type:
          - string
          - 'null'
    EnvoyLocationInfoType:
      type:
      - object
      - 'null'
      properties:
        assignedCameraList:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
        locationName:
          type:
          - string
          - 'null'
    PlaceOsSettings:
      type: object
      properties:
        alertUnauthorizedFaces:
          type:
          - boolean
          - 'null'
        apiUrl:
          type:
          - string
          - 'null'
        createSeekPoints:
          type:
          - boolean
          - 'null'
        doorInfoMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/BadgeIntegrationDoorInfoType'
        enabled:
          type:
          - boolean
          - 'null'
        enabledTimestampMs:
          type:
          - integer
          - 'null'
          format: int64
        enablingUser:
          type:
          - string
          - 'null'
        enablingUserUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        identifyFacesFromBadge:
          type:
          - boolean
          - 'null'
        migrated:
          type:
          - boolean
          - 'null'
        rhombusToken:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        saveClips:
          type:
          - boolean
          - 'null'
        webhookSignatureSecret:
          type:
          - string
          - 'null'
    Integration_GetApiTokensWSRequest:
      type: object
      description: Request object for retrieving API tokens.
      properties:
        optionalFilter:
          type:
          - array
          - 'null'
          description: Optional filter for API client types
          items:
            $ref: '#/components/schemas/ApiClientTypeEnum'
    EnvoyExpectedGuest:
      type: object
      properties:
        expectedArrivalAt:
          type:
          - string
          - 'null'
        expectedArrivalTimestampMs:
          type:
          - integer
          - 'null'
          format: int64
        host:
          $ref: '#/components/schemas/EnvoyPersonInfo'
        invitee:
          $ref: '#/components/schemas/EnvoyPersonInfo'
        locationId:
          type:
          - string
          - 'null'
    ToastSettings:
      type: object
      description: Toast POS integration settings to update
      properties:
        currentToastRestaurantGuid:
          type:
          - string
          - 'null'
          description: The current restaurant guid you want to use
        enabled:
          type:
          - boolean
          - 'null'
        enabledTimestampMs:
          type:
          - integer
          - 'null'
          format: int64
        enablingUser:
          type:
          - string
          - 'null'
        enablingUserUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        migrated:
          type:
          - boolean
          - 'null'
        posInfoMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/PosIntegrationInfoType'
          description: A HashMap of <Service Area Guid, PosIntegrationInfoType>. This stores the Pos Information and assigned cameras.
        toastRestaurantInfoMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/ToastRestaurantInfo'
          description: A HashMap of <Restaurant Guid, ToastRestaurantInfo>. This stores the information for each restaurant.
    ToastRestaurantInfo:
      type: object
      description: A HashMap of <Restaurant Guid, ToastRestaurantInfo>. This stores the information for each restaurant.
      properties:
        locationName:
          type:
          - string
          - 'null'
          description: The location name of the restaurant from Toast
        restaurantName:
          type:
          - string
          - 'null'
          description: The name of the restaurant from Toast. e.g., COFFEE CAN
    DeviceIntegrationSettings:
      type:
      - object
      - 'null'
      properties:
        latitude:
          type:
          - number
          - 'null'
          format: double
        longitude:
          type:
          - number
          - 'null'
          format: double
        name:
          type:
          - string
          - 'null'
    IOpenAIType:
      type: object
      properties:
        apiToken:
          type:
          - string
          - 'null'
        baseUrl:
          type:
          - string
          - 'null'
          description: The base url for any OpenAI Chat Completions compliant API. For example, to use Gemini models, set this to 'https://generativelanguage.googleapis.com/v1beta/openai/'.  If left blank, we will try to use OpenAI models.
        defaultModel:
          type:
          - string
          - 'null'
          description: The model identifier to use as a default model.  This is provider specific and typically found on model card pages. For example, set to 'gemini-2.0-flash' to use the Gemini 2.0 Flash model.  Currently we require a model with vision capabilities for this integration.
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        refreshToken:
          type:
          - string
          - 'null'
        tokenValid:
          type:
          - boolean
          - 'null'
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    ApiClientTypeEnum:
      type: string
      enum:
      - PARTNER_DEVELOPER
      - DEVELOPER
      - INTERNAL_SALESFORCE
      - TVOS
      - WINDOWS
      - LINUX
      - KIOSK
      - KEYPAD
      - SQUARE
      - KISI
      - OPENPATH
      - TOAST
      - BOULEVARD
      - BRIVO
      - EXECUTABLE
      - HALO
      - SALTO
      - BUTTERFLYMX
      - GENEA
      - PRODATAKEY
      - ENVOY
      - AMT
      - PIMLOC
      - PLACEOS
      - OMNIALERT
      - FLIC
      - SHELLY_DEVICE_EVENT
      - NINEONEONECELLULAR
      - HONEYWELL_ELEMENTS
      - HONEYWELL_ONGUARD
      - HONEYWELL_NETBOX
      - TRITON
      - CHATBOT
      - SIGNATURE_API
      - INCOMING_WEBHOOK
      - UNKNOWN
    Integration_GetOrgIntegrationsV2WSResponse:
      type: object
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        orgIntegrationV2:
          $ref: '#/components/schemas/IBaseIntegrationType'
        warningMsg:
          type:
          - string
          - 'null'
    GenericPosSettings:
      type:
      - object
      - 'null'
      description: Collection of service area settings for this restaurant
      properties:
        assignedCameraList:
          type:
          - array
          - 'null'
          description: A list of camera uuids from Rhombus that are assigned to the PoS device
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
        posName:
          type:
          - string
          - 'null'
          description: The name of the point of sale device
    Integration_UpdateWebhookIntegrationV2WSRequest:
      type: object
      description: Request object for updating webhook V2 integration settings with enhanced configuration options.
      properties:
        disabled:
          type:
          - boolean
          - 'null'
          description: Whether the webhook is disabled
          example: false
        isDiagnostic:
          type:
          - boolean
          - 'null'
          description: Whether this is a diagnostic webhook
          example: false
        updatedWebhookSettings:
          $ref: '#/components/schemas/IWebhooksType'
        webhookUrl:
          type:
          - string
          - 'null'
          description: Webhook URL for receiving notifications
          example: https://api.example.com/webhook/rhombus
    ButterflyMXSettings:
      type: object
      properties:
        buildingWebhookIdMap:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
            description: 'A HashMap of <ButterflyMx Building Id, Webhook Id>. '
          description: 'A HashMap of <ButterflyMx Building Id, Webhook Id>. '
        createSeekPoints:
          type:
          - boolean
          - 'null'
        enabled:
          type:
          - boolean
          - 'null'
        enabledTimestampMs:
          type:
          - integer
          - 'null'
          format: int64
        enablingUser:
          type:
          - string
          - 'null'
        enablingUserUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        indexFaces:
          type:
          - boolean
          - 'null'
        migrated:
          type:
          - boolean
          - 'null'
        panelInfoMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/ButterflymxPanelInfoType'
          description: A HashMap of <Panel Id, ButterflymxPanelInfoType>.
        refreshToken:
          type:
          - string
          - 'null'
        rhombusToken:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        saveClips:
          type:
          - boolean
          - 'null'
    HoneywellNetBoxType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          alertUnauthorizedFaces:
            type:
            - boolean
            - 'null'
          apiToken:
            type:
            - string
            - 'null'
          badgeAuthDisablesAlarmMonitoring:
            type:
            - boolean
            - 'null'
          badgeFaceVerificationMode:
            $ref: '#/components/schemas/BadgeFaceVerificationModeEnum'
          baseUrl:
            type:
            - string
            - 'null'
          createAccessAnomalyAlerts:
            type:
            - boolean
            - 'null'
          createSeekPoints:
            type:
            - boolean
            - 'null'
          doorInfoMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/BadgeIntegrationDoorInfoType'
          doorsValidated:
            type:
            - boolean
            - 'null'
          identifyFacesFromBadge:
            type:
            - boolean
            - 'null'
          indexFaces:
            type:
            - boolean
            - 'null'
          misconfiguredDoors:
            type:
            - array
            - 'null'
            items:
              type:
              - string
              - 'null'
          refreshToken:
            type:
            - string
            - 'null'
          rhombusToken:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          saveClips:
            type:
            - boolean
            - 'null'
          tokenValid:
            type:
            - boolean
            - 'null'
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    MicrosoftTeamsChannelSettings:
      type:
      - object
      - 'null'
      properties:
        botInstallationId:
          type:
          - string
          - 'null'
        channelId:
          type:
          - string
          - 'null'
        installingUserUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        sendChannelNotifications:
          type:
          - boolean
          - 'null'
    Integration_GetEnvoyDeliveriesWSResponse:
      type: object
      properties:
        collectedDeliveries:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EnvoyDelivery'
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        pendingDeliveries:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EnvoyDelivery'
        warningMsg:
          type:
          - string
          - 'null'
    Integration_UpdateWebhookIntegrationV2WSResponse:
      type: object
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        warningMsg:
          type:
          - string
          - 'null'
        webhookSecret:
          type:
          - string
          - 'null'
    TritonSettings:
      type: object
      properties:
        alertAggression:
          type:
          - boolean
          - 'null'
        alertCO:
          type:
          - boolean
          - 'null'
        alertCO2:
          type:
          - boolean
          - 'null'
        alertGunshot:
          type:
          - boolean
          - 'null'
        alertHelp:
          type:
          - boolean
          - 'null'
        alertMasking:
          type:
          - boolean
          - 'null'
        alertTHC:
          type:
          - boolean
          - 'null'
        alertTamper:
          type:
          - boolean
          - 'null'
        alertVOC:
          type:
          - boolean
          - 'null'
        alertVape:
          type:
          - boolean
          - 'null'
        enabled:
          type:
          - boolean
          - 'null'
        enabledTimestampMs:
          type:
          - integer
          - 'null'
          format: int64
        enablingUser:
          type:
          - string
          - 'null'
        enablingUserUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        saveClips:
          type:
          - boolean
          - 'null'
        savedClipDurationMs:
          type:
          - integer
          - 'null'
          format: int32
        sensorToCamerasMap:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - array
            - 'null'
            items:
              type:
              - string
              - 'null'
              format: RUUID
              description: base 64 (url-safe) uuid string
              example: AAAAAAAAAAAAAAAAAAAAAA
        triggerNotification:
          type:
          - boolean
          - 'null'
        url:
          type:
          - string
          - 'null'
    Integration_UpdateWebhookIntegrationWSRequest:
      type: object
      description: Request object for updating webhook integration settings.
      properties:
        webhookSettings:
          $ref: '#/components/schemas/WebhookSettings'
    OpenpathSettings:
      type: object
      properties:
        alertUnauthorizedFaces:
          type:
          - boolean
          - 'null'
        createSeekPoints:
          type:
          - boolean
          - 'null'
        doorInfoMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/BadgeIntegrationDoorInfoType'
        doorToCameraMap:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - array
            - 'null'
            items:
              type:
              - string
              - 'null'
              format: RUUID
              description: base 64 (url-safe) uuid string
              example: AAAAAAAAAAAAAAAAAAAAAA
        email:
          type:
          - string
          - 'null'
        enabled:
          type:
          - boolean
          - 'null'
        enabledTimestampMs:
          type:
          - integer
          - 'null'
          format: int64
        enablingUser:
          type:
          - string
          - 'null'
        enablingUserUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        eventToWebhookIdMap:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - integer
            - 'null'
            format: int32
        eventToWebhookMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/WebhookMapEntry'
        identifyFacesFromBadge:
          type:
          - boolean
          - 'null'
        migrated:
          type:
          - boolean
          - 'null'
        password:
          type:
          - string
          - 'null'
        rhombusToken:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        saveClips:
          type:
          - boolean
          - 'null'
        webhookId:
          type:
          - integer
          - 'null'
          format: int32
    Integration_GetAllOrgIntegrationsV2WSResponse:
      type: object
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        orgIntegrationsV2:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IBaseIntegrationType'
        warningMsg:
          type:
          - string
          - 'null'
    AvigilonAltaType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          alertUnauthorizedFaces:
            type:
            - boolean
            - 'null'
          apiToken:
            type:
            - string
            - 'null'
          badgeAuthDisablesAlarmMonitoring:
            type:
            - boolean
            - 'null'
          badgeFaceVerificationMode:
            $ref: '#/components/schemas/BadgeFaceVerificationModeEnum'
          createAccessAnomalyAlerts:
            type:
            - boolean
            - 'null'
          createSeekPoints:
            type:
            - boolean
            - 'null'
          doorInfoMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/BadgeIntegrationDoorInfoType'
          doorToCameraMap:
            type:
            - object
            - 'null'
            additionalProperties:
              type:
              - array
              - 'null'
              items:
                type:
                - string
                - 'null'
                format: RUUID
                description: base 64 (url-safe) uuid string
                example: AAAAAAAAAAAAAAAAAAAAAA
          doorsValidated:
            type:
            - boolean
            - 'null'
          email:
            type:
            - string
            - 'null'
          eventToWebhookIdMap:
            type:
            - object
            - 'null'
            additionalProperties:
              type:
              - integer
              - 'null'
              format: int32
          eventToWebhookMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/WebhookMapEntry'
          identifyFacesFromBadge:
            type:
            - boolean
            - 'null'
          indexFaces:
            type:
            - boolean
            - 'null'
          misconfiguredDoors:
            type:
            - array
            - 'null'
            items:
              type:
              - string
              - 'null'
          password:
            type:
            - string
            - 'null'
          refreshToken:
            type:
            - string
            - 'null'
          rhombusToken:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          saveClips:
            type:
            - boolean
            - 'null'
          tokenValid:
            type:
            - boolean
            - 'null'
          webhookId:
            type:
            - integer
            - 'null'
            format: int32
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    OpentechAllianceDoorInfoType:
      type:
      - object
      - 'null'
      properties:
        actionGroupId:
          type:
          - string
          - 'null'
        assignedCameraList:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
        clipDuration:
          type:
          - integer
          - 'null'
          format: int32
        doorName:
          type:
          - string
          - 'null'
        leadingSeconds:
          type:
          - integer
          - 'null'
          format: int32
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        remoteUnlock:
          type:
          - boolean
          - 'null'
        subLocationsHierarchyKey:
          type:
          - string
          - 'null'
          format: SubLocationsHierarchyKey
          description: 'A sequence of one or more base 64 (url-safe) uuid substrings.

            These substrings are separated by dots (.).

            '
          example: AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA
          pattern: ^([A-Za-z0-9\-_]{22})([.][A-Za-z0-9\-_]{22})*$
    IWebhooksType:
      type: object
      description: Updated webhook V2 integration settings
      properties:
        activityWebhooks:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
        activityWebhooksV2:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/WebhookInfo'
        diagnosticWebhooks:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
        diagnosticWebhooksV2:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/WebhookInfo'
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    NoonlightSettings:
      type: object
      properties:
        acceptedTermsOfService:
          type:
          - boolean
          - 'null'
        defaultContactsByLocationMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/EmergencyContact'
        defaultDelayByLocationsMap:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - integer
            - 'null'
            format: int32
        defaultPromptByLocationsMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/NoonlightPromptThemeEnum'
        emergencyContactsByLocationsMap:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/EmergencyResponseContactsIntervalType'
        enabled:
          type:
          - boolean
          - 'null'
        escalationSettingsByLocationsMap:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/AlertMonitoringSubmissionDelayIntervalType'
        locationEntryInstructionsMap:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
        pinsByLocationMap:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/AlertMonitoringPinType'
            uniqueItems: true
        verificationPrompt:
          type:
          - string
          - 'null'
    Integration_SubmitApiTokenApplicationWSResponse:
      type: object
      properties:
        apiKey:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        cert:
          type:
          - string
          - 'null'
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        validCSR:
          type:
          - boolean
          - 'null'
        warningMsg:
          type:
          - string
          - 'null'
    Integration_GetEnvoyDeliveriesWSRequest:
      type: object
      properties:
        endTimestampMs:
          type:
          - integer
          - 'null'
          format: int64
        locationIds:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
        startTimestampMs:
          type:
          - integer
          - 'null'
          format: int64
    OpenAIModel:
      type: object
      description: List of available OpenAI models
      properties:
        created:
          type:
          - string
          - 'null'
        id:
          type:
          - string
          - 'null'
        object:
          type:
          - string
          - 'null'
        ownedBy:
          type:
          - string
          - 'null'
        owned_by:
          type:
          - string
          - 'null'
    ButterflyMXType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          alertUnauthorizedFaces:
            type:
            - boolean
            - 'null'
          apiToken:
            type:
            - string
            - 'null'
          badgeAuthDisablesAlarmMonitoring:
            type:
            - boolean
            - 'null'
          badgeFaceVerificationMode:
            $ref: '#/components/schemas/BadgeFaceVerificationModeEnum'
          buildingWebhookIdMap:
            type:
            - object
            - 'null'
            additionalProperties:
              type:
              - string
              - 'null'
              description: 'A HashMap of <ButterflyMx Building Id, Webhook Id>. '
            description: 'A HashMap of <ButterflyMx Building Id, Webhook Id>. '
          createAccessAnomalyAlerts:
            type:
            - boolean
            - 'null'
          createSeekPoints:
            type:
            - boolean
            - 'null'
          doorInfoMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/BadgeIntegrationDoorInfoType'
          doorsValidated:
            type:
            - boolean
            - 'null'
          identifyFacesFromBadge:
            type:
            - boolean
            - 'null'
          indexFaces:
            type:
            - boolean
            - 'null'
          misconfiguredDoors:
            type:
            - array
            - 'null'
            items:
              type:
              - string
              - 'null'
          panelInfoMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/ButterflymxPanelInfoType'
            description: A HashMap of <Panel Id, ButterflymxPanelInfoType>.
          refreshToken:
            type:
            - string
            - 'null'
          rhombusToken:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          saveClips:
            type:
            - boolean
            - 'null'
          tokenValid:
            type:
            - boolean
            - 'null'
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    Integration_GetOpenAIModelsWSRequest:
      type: object
      description: Request object for retrieving OpenAI models.
      properties:
        openAISettings:
          $ref: '#/components/schemas/IOpenAIType'
    DoorType:
      type: object
      properties:
        id:
          type:
          - integer
          - 'null'
          format: int32
        name:
          type:
          - string
          - 'null'
    InnerRangeType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          apiToken:
            type:
            - string
            - 'null'
          consoleToSettingsMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/InnerRangeConsoleSettings'
          createSeekPoints:
            type:
            - boolean
            - 'null'
          doorInfoMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/InnerRangeDoorInfoType'
          refreshToken:
            type:
            - string
            - 'null'
          skyTunnelSN:
            type:
            - string
            - 'null'
          tokenValid:
            type:
            - boolean
            - 'null'
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    ShellyDeviceTypeEnum:
      type: string
      enum:
      - RELAY
      - LIGHT
      - ROLLER
      - INPUT
    BackblazeSettings:
      type: object
      properties:
        applicationKey:
          type:
          - string
          - 'null'
        applicationKeyId:
          type:
          - string
          - 'null'
        bucketName:
          type:
          - string
          - 'null'
        enabled:
          type:
          - boolean
          - 'null'
    UserInfo:
      type: object
      description: 'A HashMap of <RhombusOrgUser uuid : Slack user uuid, user access token>. This stores the information for each Slack user.'
      properties:
        userAccessToken:
          type:
          - string
          - 'null'
          description: Slack user access token
        userId:
          type:
          - string
          - 'null'
          description: Slack user uuid
    ZapierEnum:
      type: string
      description: Zapier integration type
      enum:
      - BUTTON_EVENTS
      - DOOR_SENSOR_EVENTS
      - ENVIRONMENTAL_SENSOR_EVENTS
      - RULE_EVENTS
    TriggerContent:
      type: object
      properties:
        apiKey:
          type:
          - string
          - 'null'
        experienceIds:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
        experienceNames:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
        message:
          type:
          - string
          - 'null'
        parameter1:
          type:
          - string
          - 'null'
        parameter2:
          type:
          - string
          - 'null'
        parameter3:
          type:
          - string
          - 'null'
        playerDeviceNames:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
        playerIds:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
        playerTags:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
    Integration_SubscribeZapierWebhookWSRequest:
      type: object
      description: Request object for subscribing to Zapier webhook events.
      properties:
        backoffSec:
          type:
          - integer
          - 'null'
          format: int32
          description: Backoff time in seconds
          example: 30
        doorState:
          $ref: '#/components/schemas/DoorStatusEnum'
        hookUrl:
          type:
          - string
          - 'null'
          description: Zapier webhook URL
          example: https://hooks.zapier.com/hooks/catch/123456/abc123/
        humidityLowerThreshold:
          type:
          - number
          - 'null'
          format: float
          description: Lower humidity threshold for environmental sensors
          example: 30.0
        humidityUpperThreshold:
          type:
          - number
          - 'null'
          format: float
          description: Upper humidity threshold for environmental sensors
          example: 80.0
        tempLowerThreshold:
          type:
          - number
          - 'null'
          format: float
          description: Lower temperature threshold for environmental sensors
          example: 65.0
        tempUpperThreshold:
          type:
          - number
          - 'null'
          format: float
          description: Upper temperature threshold for environmental sensors
          example: 85.5
        uuids:
          type:
          - array
          - 'null'
          description: Set of device UUIDs to monitor
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          uniqueItems: true
        zapEnum:
          $ref: '#/components/schemas/ZapierEnum'
    IDeviceIntegrationType:
      type: object
      description: Device integration settings to update
      properties:
        deviceSettingsMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/DeviceIntegrationSettings'
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    WebhookInfo:
      type: object
      properties:
        webhookDisabled:
          type:
          - boolean
          - 'null'
        webhookSecret:
          type:
          - string
          - 'null'
    MicrosoftTeamsUserSettings:
      type:
      - object
      - 'null'
      properties:
        botInstallationId:
          type:
          - string
          - 'null'
        chatId:
          type:
          - string
          - 'null'
        refreshToken:
          type:
          - string
          - 'null'
        sendUserNotifications:
          type:
          - boolean
          - 'null'
        teamIds:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
        userId:
          type:
          - string
          - 'null'
    IBaseIntegrationType:
      type: object
      discriminator:
        propertyName: integration
      oneOf:
      - $ref: '#/components/schemas/AperioType'
      - $ref: '#/components/schemas/AvigilonAltaType'
      - $ref: '#/components/schemas/BoulevardType'
      - $ref: '#/components/schemas/BrivoType'
      - $ref: '#/components/schemas/ButterflyMXType'
      - $ref: '#/components/schemas/DeviceIntegrationType'
      - $ref: '#/components/schemas/DiceType'
      - $ref: '#/components/schemas/EnvoyType'
      - $ref: '#/components/schemas/FlicType'
      - $ref: '#/components/schemas/GeneaType'
      - $ref: '#/components/schemas/GoogleType'
      - $ref: '#/components/schemas/GuestManagementType'
      - $ref: '#/components/schemas/HoneywellElementsType'
      - $ref: '#/components/schemas/InformacastType'
      - $ref: '#/components/schemas/InnerRangeType'
      - $ref: '#/components/schemas/KisiType'
      - $ref: '#/components/schemas/LumeoType'
      - $ref: '#/components/schemas/MicrosoftTeamsType'
      - $ref: '#/components/schemas/NineOneOneCellularType'
      - $ref: '#/components/schemas/OmnialertType'
      - $ref: '#/components/schemas/OpenAIType'
      - $ref: '#/components/schemas/OpentechAllianceType'
      - $ref: '#/components/schemas/PimlocType'
      - $ref: '#/components/schemas/PlaceOsType'
      - $ref: '#/components/schemas/ProDataKeyType'
      - $ref: '#/components/schemas/RaptorType'
      - $ref: '#/components/schemas/ShellyType'
      - $ref: '#/components/schemas/ToastType'
      - $ref: '#/components/schemas/WebhooksType'
      - $ref: '#/components/schemas/ZapierType'
      - $ref: '#/components/schemas/ParPOSType'
      - $ref: '#/components/schemas/HoneywellOnGuardType'
      - $ref: '#/components/schemas/HoneywellNetBoxType'
      - $ref: '#/components/schemas/SignatureApiType'
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    Integration_UpdateMattermostIntegrationWSRequest:
      type: object
      description: Request object for updating Mattermost team communication integration settings.
      properties:
        mattermostSettings:
          $ref: '#/components/schemas/MattermostSettings'
    LumeoType:
      type:
      - object
      - 'null'
      allOf: []
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    HaloSettings:
      type: object
      properties:
        alertAgression:
          type:
          - boolean
          - 'null'
        alertCO:
          type:
          - boolean
          - 'null'
        alertCO2:
          type:
          - boolean
          - 'null'
        alertGunshot:
          type:
          - boolean
          - 'null'
        alertHelp:
          type:
          - boolean
          - 'null'
        alertMasking:
          type:
          - boolean
          - 'null'
        alertTHC:
          type:
          - boolean
          - 'null'
        alertTamper:
          type:
          - boolean
          - 'null'
        alertTemp:
          type:
          - boolean
          - 'null'
        alertVOC:
          type:
          - boolean
          - 'null'
        alertVape:
          type:
          - boolean
          - 'null'
        enabled:
          type:
          - boolean
          - 'null'
        enabledTimestampMs:
          type:
          - integer
          - 'null'
          format: int64
        enablingUser:
          type:
          - string
          - 'null'
        enablingUserUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        saveClips:
          type:
          - boolean
          - 'null'
        savedClipDurationMs:
          type:
          - integer
          - 'null'
          format: int32
        sensorName:
          type:
          - string
          - 'null'
        sensorToCamerasMap:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - array
            - 'null'
            items:
              type:
              - string
              - 'null'
              format: RUUID
              description: base 64 (url-safe) uuid string
              example: AAAAAAAAAAAAAAAAAAAAAA
        triggerNotification:
          type:
          - boolean
          - 'null'
        url:
          type:
          - string
          - 'null'
    Integration_GetApiTokenApplicationsWSResponse:
      type: object
      properties:
        applications:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ApiTokenApplicationType'
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        warningMsg:
          type:
          - string
          - 'null'
    Integration_GetEnvoyVisitorsWSResponse:
      type: object
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        invites:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EnvoyExpectedGuest'
        visitors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EnvoyGuest'
        warningMsg:
          type:
          - string
          - 'null'
    ButterflymxPanelInfoType:
      type:
      - object
      - 'null'
      description: A HashMap of <Panel Id, ButterflymxPanelInfoType>.
      properties:
        assignedCameraList:
          type:
          - array
          - 'null'
          description: The list of Rhombus Camera RUUIDs.
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
        buildingId:
          type:
          - integer
          - 'null'
          format: int32
          description: The ButterflyMx Building Id.
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        panelName:
          type:
          - string
          - 'null'
          description: The ButterflyMx Panel Name.
        subLocationsHierarchyKey:
          type:
          - string
          - 'null'
          format: SubLocationsHierarchyKey
          description: 'A sequence of one or more base 64 (url-safe) uuid substrings.

            These substrings are separated by dots (.).

            '
          example: AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA
          pattern: ^([A-Za-z0-9\-_]{22})([.][A-Za-z0-9\-_]{22})*$
    OpentechAllianceSettings:
      type: object
      properties:
        apiKey:
          type:
          - string
          - 'null'
        apiSecret:
          type:
          - string
          - 'null'
        enabled:
          type:
          - boolean
          - 'null'
        enabledTimestampMs:
          type:
          - integer
          - 'null'
          format: int64
        enablingUser:
          type:
          - string
          - 'null'
        enablingUserUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        facilityToSettingsMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/OpentechAllianceFacilitySettings'
        migrated:
          type:
          - boolean
          - 'null'
    GeneaType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          alertUnauthorizedFaces:
            type:
            - boolean
            - 'null'
          apiToken:
            type:
            - string
            - 'null'
          badgeAuthDisablesAlarmMonitoring:
            type:
            - boolean
            - 'null'
          badgeFaceVerificationMode:
            $ref: '#/components/schemas/BadgeFaceVerificationModeEnum'
          createAccessAnomalyAlerts:
            type:
            - boolean
            - 'null'
          createSeekPoints:
            type:
            - boolean
            - 'null'
          doorInfoMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/BadgeIntegrationDoorInfoType'
          doorsValidated:
            type:
            - boolean
            - 'null'
          identifyFacesFromBadge:
            type:
            - boolean
            - 'null'
          indexFaces:
            type:
            - boolean
            - 'null'
          misconfiguredDoors:
            type:
            - array
            - 'null'
            items:
              type:
              - string
              - 'null'
          refreshToken:
            type:
            - string
            - 'null'
          rhombusToken:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          saveClips:
            type:
            - boolean
            - 'null'
          tokenValid:
            type:
            - boolean
            - 'null'
          webhookSignatureSecret:
            type:
            - string
            - 'null'
          webhookUuid:
            type:
            - string
            - 'null'
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    DiceSettings:
      type: object
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        enabledTimestampMs:
          type:
          - integer
          - 'null'
          format: int64
        enablingUser:
          type:
          - string
          - 'null'
        enablingUserUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    Integration_UpdateDeviceIntegrationWSRequest:
      type: object
      description: Request object for updating device integration settings and device properties.
      properties:
        createNewDevice:
          type:
          - boolean
          - 'null'
          description: Whether to create a new device
          example: true
        deviceIntegrationSettings:
          $ref: '#/components/schemas/IDeviceIntegrationType'
        latitude:
          type:
          - number
          - 'null'
          format: double
          description: Latitude coordinate of the device location
          example: 37.7749
        longitude:
          type:
          - number
          - 'null'
          format: double
          description: Longitude coordinate of the device location
          example: -122.4194
        name:
          type:
          - string
          - 'null'
          description: Name of the device
          example: Main Entrance Camera
        updateDevice:
          type:
          - boolean
          - 'null'
          description: Whether to update an existing device
          example: false
        updateDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    OpenAIType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          apiToken:
            type:
            - string
            - 'null'
          baseUrl:
            type:
            - string
            - 'null'
            description: The base url for any OpenAI Chat Completions compliant API. For example, to use Gemini models, set this to 'https://generativelanguage.googleapis.com/v1beta/openai/'.  If left blank, we will try to use OpenAI models.
          defaultModel:
            type:
            - string
            - 'null'
            description: The model identifier to use as a default model.  This is provider specific and typically found on model card pages. For example, set to 'gemini-2.0-flash' to use the Gemini 2.0 Flash model.  Currently we require a model with vision capabilities for this integration.
          refreshToken:
            type:
            - string
            - 'null'
          tokenValid:
            type:
            - boolean
            - 'null'
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    IntegrationAuditEvent:
      type: object
      properties:
        enabledTimestampMs:
          type:
          - integer
          - 'null'
          format: int64
        integrationAuditEvent:
          $ref: '#/components/schemas/IntegrationAuditEventEnum'
        user:
          type:
          - string
          - 'null'
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    GuestManagementType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          locationSettingsMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/LocationSettings'
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    Integration_UpdateOrgIntegrationsWSResponse:
      type: object
      description: Response object for updating organization integrations.
      properties:
        authError:
          type:
          - boolean
          - 'null'
          description: Whether an authentication error occurred during update
          example: false
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        failedGuids:
          type:
          - array
          - 'null'
          description: List of GUIDs that failed to update
          items:
            type:
            - string
            - 'null'
            description: List of GUIDs that failed to update
        misconfiguredDoors:
          type:
          - array
          - 'null'
          description: List of door names that are assigned to multiple Rhombus locations
          items:
            type:
            - string
            - 'null'
            description: List of door names that are assigned to multiple Rhombus locations
        warningMsg:
          type:
          - string
          - 'null'
    SlackSettings:
      type: object
      properties:
        accessToken:
          type:
          - string
          - 'null'
        channel:
          type:
          - string
          - 'null'
        enabled:
          type:
          - boolean
          - 'null'
        webhookUrl:
          type:
          - string
          - 'null'
    PosIntegrationInfoType:
      type: object
      description: A HashMap of <Service Area Guid, PosIntegrationInfoType>. This stores the Pos Information and assigned cameras.
      properties:
        assignedCameraList:
          type:
          - array
          - 'null'
          description: A list of camera guids from Rhombus that are assigned to the Pos device.
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
        posName:
          type:
          - string
          - 'null'
          description: The name of the Pos device.
    WebhookMapEntry:
      type:
      - object
      - 'null'
      properties:
        orgId:
          type:
          - integer
          - 'null'
          format: int32
        webhookId:
          type:
          - integer
          - 'null'
          format: int32
    ToastRestaurantSettings:
      type:
      - object
      - 'null'
      properties:
        locationName:
          type:
          - string
          - 'null'
          description: The location name of the restaurant from Toast
        restaurantName:
          type:
          - string
          - 'null'
          description: The name of the restaurant from Toast, e.g. COFFEE CAN
        serviceAreaSettingsMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/GenericPosSettings'
          description: Collection of service area settings for this restaurant
    Integration_GetCalendlyEventDetailsWSResponse:
      type: object
      properties:
        email:
          type:
[...]
