openapi: 3.2.0
info:
  contact:
    email: developer@rhombussystems.com
  description: 'This API is for use by Rhombus customers and partners.


    ## Authentication


    All requests require two headers:

    - `x-auth-scheme` — The authentication scheme identifier. Use `api-token` for standard API key auth, or `partner-api-token` for partner API auth.

    - `x-auth-apikey` — Your Rhombus API key.


    Example:

    ```

    POST /api/camera/getMinimalCameraStateList

    x-auth-scheme: api-token

    x-auth-apikey: YOUR_API_KEY

    Content-Type: application/json

    ```'
  title: Rhombus Button Webservice API
  version: '1.0'
servers:
- description: Production Server
  url: https://api2.rhombussystems.com
security:
- ApiKeyAuth: []
tags:
- name: Button Webservice
paths:
  /api/button/createRuleForButton:
    post:
      description: Create rule for a button sensor.
      operationId: createRuleForButton
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Button_CreateRuleForButtonWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Button_CreateRuleForButtonWSResponse'
          description: OK
      summary: Create rule for button
      tags:
      - Button Webservice
  /api/button/deleteRuleForButton:
    post:
      description: Delete rule for a button sensor.
      operationId: deleteRuleForButton
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Button_DeleteRuleForButtonWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Button_DeleteRuleForButtonWSResponse'
          description: OK
      summary: Delete rule for button
      tags:
      - Button Webservice
  /api/button/getButtonPressEventsForSensor:
    post:
      description: Get list of button press events for button sensor
      operationId: getButtonPressEventsForSensor
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Button_GetButtonPressEventsForSensorWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Button_GetButtonPressEventsForSensorWSResponse'
          description: OK
      summary: Get button press events for sensor
      tags:
      - Button Webservice
  /api/button/getButtonRulesForOrg:
    post:
      description: Get rules for all buttons in an org.
      operationId: getButtonRulesForOrg
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Button_GetButtonRulesForOrgWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Button_GetButtonRulesForOrgWSResponse'
          description: OK
      summary: Get button rules for organization
      tags:
      - Button Webservice
  /api/button/getMinimalButtonStateList:
    post:
      description: Get basic state information for all button sensors
      operationId: getMinimalButtonStateList
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Button_GetMinimalButtonStatesWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Button_GetMinimalButtonStatesWSResponse'
          description: OK
      summary: Get minimal button state list
      tags:
      - Button Webservice
  /api/button/getRulesForButton:
    post:
      description: Get all rules for a button sensor.
      operationId: getRulesForButton
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Button_GetRulesForButtonWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Button_GetRulesForButtonWSResponse'
          description: OK
      summary: Get rules for button
      tags:
      - Button Webservice
  /api/button/updateConfig:
    post:
      description: Update config for a button sensor.
      operationId: updateButtonConfig
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Button_UpdateButtonConfigWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_devices_UpdateConfigWSResponse'
          description: OK
      summary: Update button config
      tags:
      - Button Webservice
  /api/button/updateDetails:
    post:
      description: Update details for a button sensor.
      operationId: updateButtonDetails
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Button_UpdateButtonDetailsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_devices_UpdateDeviceDetailsWSResponse'
          description: OK
      summary: Update button details
      tags:
      - Button Webservice
components:
  schemas:
    ThirdPartyStrobeSirenActionType:
      type: object
      properties:
        durationSec:
          type:
          - integer
          - 'null'
          format: int32
        ipAddress:
          type:
          - string
          - 'null'
        lightColors:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
        lightIntensity:
          type:
          - integer
          - 'null'
          format: int32
        lightPattern:
          type:
          - string
          - 'null'
        lightSpeed:
          type:
          - integer
          - 'null'
          format: int32
        password:
          type:
          - string
          - 'null'
        profileName:
          type:
          - string
          - 'null'
        proxyDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        sirenIntensity:
          type:
          - integer
          - 'null'
          format: int32
        sirenPattern:
          type:
          - string
          - 'null'
        username:
          type:
          - string
          - 'null'
    ConnectAudioDeviceToPhoneNumberActionType:
      type: object
      properties:
        audioDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        deviceType:
          $ref: '#/components/schemas/DeviceTypeEnum'
        doorUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        optionalGreeting:
          type:
          - string
          - 'null'
        phoneNumber:
          type:
          - string
          - 'null'
    SupervisionStateEnumType:
      type: string
      enum:
      - CUT_DETECTED
      - SHORT_DETECTED
      - NORMAL
      - INVALID
      - UNKNOWN
    WebhookActionType:
      type: object
      properties:
        headers:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
        oauthClientId:
          type:
          - string
          - 'null'
        oauthClientSecret:
          type:
          - string
          - 'null'
        oauthGrantType:
          type:
          - string
          - 'null'
        oauthScope:
          type:
          - string
          - 'null'
        oauthUrl:
          type:
          - string
          - 'null'
        webhookSecret:
          type:
          - string
          - 'null'
        webhookUrl:
          type:
          - string
          - 'null'
    RemoteDoorUnlockSystemEnum:
      type: string
      enum:
      - BRIVO
      - OPENPATH
      - KISI
      - PLACEOS
      - GENEA
      - PDK
      - INNER_RANGE
      - RHOMBUS
      - HONEYWELL_ELEMENTS
      - UNKNOWN
    ConnectAudioDeviceToMobileAppActionType:
      type: object
      properties:
        audioDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        deviceType:
          $ref: '#/components/schemas/DeviceTypeEnum'
        doorUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        targetUserUuids:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
    Common_devices_UpdateDeviceDetailsWSResponse:
      type: object
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        warningMsg:
          type:
          - string
          - 'null'
    Button_GetButtonRulesForOrgWSResponse:
      type: object
      description: Response containing rules for all buttons in an organization.
      properties:
        buttonUuidToRulesMap:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - array
            - 'null'
            description: Map of button UUIDs to their associated rules
            items:
              $ref: '#/components/schemas/Button_ExternalButtonRuleType'
          description: Map of button UUIDs to their associated rules
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        warningMsg:
          type:
          - string
          - 'null'
    Button_ButtonHealthDetailsEnum:
      type: string
      description: Detailed health status for button sensors.
      enum:
      - FIRMWARE_BEHIND
      - NO_HEARTBEAT
      - NONE
    ThirdPartyAudioPlaybackActionType:
      type: object
      properties:
        audioFileName:
          type:
          - string
          - 'null'
        ipAddress:
          type:
          - string
          - 'null'
        loopDurationSec:
          type:
          - integer
          - 'null'
          format: int32
        password:
          type:
          - string
          - 'null'
        playCount:
          type:
          - integer
          - 'null'
          format: int32
        proxyDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        username:
          type:
          - string
          - 'null'
    Button_CreateRuleForButtonWSRequest:
      type: object
      description: Request to create a rule for a button sensor.
      properties:
        rule:
          $ref: '#/components/schemas/Button_ExternalButtonRuleType'
    PointType:
      type: object
      properties:
        x:
          type:
          - integer
          - 'null'
          format: int32
        y:
          type:
          - integer
          - 'null'
          format: int32
    Button_DeleteRuleForButtonWSResponse:
      type: object
      description: Response from deleting a rule for a button sensor.
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        warningMsg:
          type:
          - string
          - 'null'
    RobotActionTypeEnum:
      type: string
      enum:
      - DEPLOY
      - UNKNOWN
    DeployRobotAction:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          mapUuid:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          navType:
            $ref: '#/components/schemas/NavigationTypeEnum'
          pose:
            $ref: '#/components/schemas/Pose'
          routeUuid:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          waypointUuid:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
      properties:
        deviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        type:
          $ref: '#/components/schemas/RobotActionTypeEnum'
    Button_UpdateButtonDetailsWSRequest:
      type: object
      description: Request to update button sensor details.
      properties:
        associatedCameras:
          type:
          - array
          - 'null'
          description: List of associated camera device UUIDs
          items:
            type:
            - string
            - 'null'
            format: DeviceFacetUuid
            description: RUUID with optional appended facet information
            example: AAAAAAAAAAAAAAAAAAAAAA.v0
        buttonMode:
          $ref: '#/components/schemas/ButtonModeEnum'
        description:
          type:
          - string
          - 'null'
          description: Optional description for the button sensor
        floorNumber:
          type:
          - integer
          - 'null'
          format: int32
          description: Optional floor number
          example: 1
        latitude:
          type:
          - number
          - 'null'
          format: double
          description: Optional latitude coordinate
          example: 37.7749
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        longitude:
          type:
          - number
          - 'null'
          format: double
          description: Optional longitude coordinate
          example: -122.4194
        name:
          type:
          - string
          - 'null'
          description: Optional name for the button sensor
        sensorUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        subLocationsHierarchyKey:
          type:
          - string
          - 'null'
          format: SubLocationsHierarchyKey
          description: 'A sequence of one or more base 64 (url-safe) uuid substrings.

            These substrings are separated by dots (.).

            '
          example: AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA
          pattern: ^([A-Za-z0-9\-_]{22})([.][A-Za-z0-9\-_]{22})*$
        subLocationsHierarchyKeyUpdated:
          type:
          - boolean
          - 'null'
          description: Whether the sub-locations hierarchy key has been updated
          example: false
    ReportLookbackUnitEnum:
      type: string
      enum:
      - HOURS
      - DAYS
      - WEEKS
    RobotAction:
      type: object
      discriminator:
        mapping:
          DEPLOY: '#/components/schemas/DeployRobotAction'
          UNKNOWN: '#/components/schemas/NoOpAction'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/DeployRobotAction'
      - $ref: '#/components/schemas/NoOpAction'
      properties:
        deviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        type:
          $ref: '#/components/schemas/RobotActionTypeEnum'
    ActivityEventData:
      type: object
      properties:
        activities:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ActivityEnum'
        boundingBoxes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ClipBoundingBoxType'
        durationSec:
          type:
          - integer
          - 'null'
          format: int32
        timestampMs:
          type:
          - integer
          - 'null'
          format: int64
    ButtonEventType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          buttonPress:
            $ref: '#/components/schemas/ButtonPressEnum'
          componentCompositeUuid:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          newSupervisionState:
            $ref: '#/components/schemas/SupervisionStateEnumType'
          pressDurationMillis:
            type:
            - integer
            - 'null'
            format: int64
      properties:
        componentUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        correlationId:
          type:
          - string
          - 'null'
        createdAtMs:
          type:
          - integer
          - 'null'
          format: int64
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        ownerDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        subLocationsHierarchyKey:
          type:
          - string
          - 'null'
          format: SubLocationsHierarchyKey
          description: 'A sequence of one or more base 64 (url-safe) uuid substrings.

            These substrings are separated by dots (.).

            '
          example: AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA
          pattern: ^([A-Za-z0-9\-_]{22})([.][A-Za-z0-9\-_]{22})*$
        timestampMs:
          type:
          - integer
          - 'null'
          format: int64
        type:
          $ref: '#/components/schemas/ComponentEventEnumType'
        uuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    IntegrationEnum:
      type: string
      enum:
      - AVIGILON_ALTA
      - BOULEVARD
      - BRIVO
      - BUTTERFLY_MX
      - DEVICE_INTEGRATION
      - DICE
      - ENVOY
      - FLIC
      - GENEA
      - GOOGLE
      - HONEYWELL_ELEMENTS
      - GUEST_MANAGEMENT
      - INFORMACAST
      - INNER_RANGE
      - KISI
      - LUMEO
      - MICROSOFT_TEAMS
      - OMNIALERT
      - OPENAI
      - OPENTECH_ALLIANCE
      - PIMLOC
      - PLACE_OS
      - PRODATAKEY
      - SHELLY
      - TOAST
      - WEBHOOKS
      - ZAPIER
      - RAPTOR
      - NINEONEONE_CELLULAR
      - SLACK
      - APERIO
      - PAR_POS
      - HONEYWELL_ONGUARD
      - HONEYWELL_NETBOX
      - SIGNATURE_API
      - UNKNOWN
    Button_GetButtonPressEventsForSensorWSResponse:
      type: object
      description: Response containing button press events for a sensor.
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        events:
          type:
          - array
          - 'null'
          description: List of button press events for the sensor
          items:
            $ref: '#/components/schemas/ButtonEventType'
        warningMsg:
          type:
          - string
          - 'null'
    Button_GetButtonRulesForOrgWSRequest:
      type: object
      description: Request to get rules for all buttons in an organization.
    RuleFilterType:
      type: object
      description: Optional filters to apply to this lockdown rule.
      properties:
        scheduleUuids:
          type:
          - array
          - 'null'
          description: List of schedules that apply to the rule. at least one schedule must be met to trigger this rule. If null, then this rule is enabled all the time.
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
        triggerBackoffSecs:
          type:
          - integer
          - 'null'
          format: int32
          description: Number of seconds to back off after rule is triggered before triggering again. I.e. this rule will only trigger once every X seconds regardless of how many triggering events occur within that window
    Button_GetRulesForButtonWSRequest:
      type: object
      description: Request to get rules for a button sensor.
      properties:
        sensorUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    AccessStateOverrideExpirationStrategyEnum:
      type: string
      enum:
      - TIME_DELAY
      - TIME_OF_DAY_LOCAL
      - NONE
    Pose:
      type: object
      properties:
        orientation:
          type:
          - array
          - 'null'
          items:
            type: number
            format: double
            description: Serialized as [x, y, z, w]
          maxItems: 4
          minItems: 4
        position:
          type:
          - array
          - 'null'
          items:
            type: number
            format: double
            description: Serialized as [x, y, z]
          maxItems: 3
          minItems: 3
    IntegrationCommandActionType:
      type: object
      properties:
        commandPayload:
          type:
          - string
          - 'null'
        delaySecs:
          type:
          - integer
          - 'null'
          format: int32
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
    ChangeComponentCompositeAccessStateActionType:
      type: object
      properties:
        accessState:
          $ref: '#/components/schemas/AccessControlledDoorStateEnumType'
        alwaysCreateOverrideIfNoFirstIn:
          type:
          - boolean
          - 'null'
        componentCompositeUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        expirationStrategy:
          $ref: '#/components/schemas/AccessStateOverrideExpirationStrategyEnum'
        expireTimeDelaySeconds:
          type:
          - integer
          - 'null'
          format: int64
        expireTimeOfDayLocalSeconds:
          type:
          - integer
          - 'null'
          format: int64
        useFirstInRulesIfPossible:
          type:
          - boolean
          - 'null'
        version:
          type:
          - integer
          - 'null'
          format: int32
          readOnly: true
    Device_config_userconfig_IExternalUpdateableButtonUserConfig:
      type: object
      description: Configuration update for the button sensor
      properties:
        button_emergency_onsite_contact:
          $ref: '#/components/schemas/EmergencyContact'
        button_test_mode_enabled:
          type:
          - boolean
          - 'null'
        deviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        lastModified:
          type:
          - integer
          - 'null'
          format: int64
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    AMSirenSettingsType:
      type: object
      properties:
        audioGateways:
          type:
          - array
          - 'null'
          description: UUIDs of audio gateways used to play this siren.
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          uniqueItems: true
        clipUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        durationSeconds:
          type:
          - integer
          - 'null'
          format: int32
          description: The duration (in seconds) to loop the clip audio for the siren.
        playCount:
          type:
          - integer
          - 'null'
          format: int32
          description: The number of times to play the clip audio for the siren.
      required:
      - audioGateways
      - clipUuid
    ReportLookbackTypeEnum:
      type: string
      enum:
      - ROLLING
      - PREVIOUS_DAY
      - PREVIOUS_WEEK
      - PREVIOUS_MONTH
    EnableDisableAudioRecordActionType:
      type: object
      properties:
        audioDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        enable:
          type:
          - boolean
          - 'null'
    TriggerComponentRelayActionType:
      type: object
      properties:
        componentUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        outputType:
          $ref: '#/components/schemas/ComponentRelayOutputTypeEnum'
        overrideRelayDurationMs:
          type:
          - integer
          - 'null'
          format: int32
        overrideRelayDurationSec:
          type:
          - integer
          - 'null'
          format: int32
        ownerDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        state:
          $ref: '#/components/schemas/GenericRelayStateEnumType'
        version:
          type:
          - integer
          - 'null'
          format: int32
          readOnly: true
    Button_GetMinimalButtonStatesWSRequest:
      type: object
      description: Request to get minimal state information for all button sensors.
    IntegrationNotificationActionType:
      type: object
      properties:
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        notificationEntity:
          type:
          - string
          - 'null'
        notificationTarget:
          type:
          - string
          - 'null'
    DeviceTypeEnum:
      type: string
      enum:
      - BLE_TRACKER
      - CAMERA
      - DOOR_SENSOR
      - ENVIRONMENTAL_SENSOR
      - OCCUPANCY_SENSOR
      - AUDIO_GATEWAY
      - EXECUTABLE
      - BADGE_READER
      - DOOR_CONTROLLER
      - BLE_BUTTON
      - IO_BOARD
      - ENVIRONMENTAL_GATEWAY
      - NVR
      - ROBOT
      - UNKNOWN
    NoOpAction:
      type:
      - object
      - 'null'
      allOf: []
      properties:
        deviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        type:
          $ref: '#/components/schemas/RobotActionTypeEnum'
    AccessControlledDoorStateEnumType:
      type: string
      enum:
      - UNLOCKED
      - ACCESS_CONTROLLED
    EmergencyContact:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          description: The name of the emergency contact.
        phoneNumber:
          type:
          - string
          - 'null'
          description: The phone number for this emergency contact.
      required:
      - name
      - phoneNumber
    Button_ExternalButtonRuleType:
      type: object
      description: External button rule configuration.
      properties:
        action:
          $ref: '#/components/schemas/RuleActionType'
        ruleFilters:
          $ref: '#/components/schemas/RuleFilterType'
        ruleName:
          type:
          - string
          - 'null'
          description: Name of the button rule
          example: Emergency Alert Rule
        ruleUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        sensorUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        triggerPress:
          $ref: '#/components/schemas/ButtonPressEnum'
    Button_GetButtonPressEventsForSensorWSRequest:
      type: object
      description: Request to get button press events for a specific sensor.
      properties:
        createdAfterMs:
          type:
          - integer
          - 'null'
          format: int64
          description: Timestamp in milliseconds to get events created after this time
          example: 1640995200000
        createdBeforeMs:
          type:
          - integer
          - 'null'
          format: int64
          description: Timestamp in milliseconds to get events created before this time
          example: 1640995200000
        limit:
          type:
          - integer
          - 'null'
          format: int32
          description: Maximum number of events to return
          example: 100
        sensorUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    CustomLLMActionType:
      type: object
      properties:
        deviceActivityEvents:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/ActivityEventData'
        deviceFacetUuids:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: DeviceFacetUuid
            description: RUUID with optional appended facet information
            example: AAAAAAAAAAAAAAAAAAAAAA.v0
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        promptUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        timestampMs:
          type:
          - integer
          - 'null'
          format: int64
    Button_GetRulesForButtonWSResponse:
      type: object
      description: Response containing rules for a button sensor.
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        rules:
          type:
          - array
          - 'null'
          description: List of rules configured for the button sensor
          items:
            $ref: '#/components/schemas/Button_ExternalButtonRuleType'
        warningMsg:
          type:
          - string
          - 'null'
    Button_DeleteRuleForButtonWSRequest:
      type: object
      description: Request to delete a rule for a button sensor.
      properties:
        ruleUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        sensorUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    SensorValType:
      type: object
      properties:
        sensorBoolean:
          type:
          - boolean
          - 'null'
        sensorDouble:
          type:
          - number
          - 'null'
          format: double
        sensorLong:
          type:
          - integer
          - 'null'
          format: int64
    CreateAlarmActionType:
      type: object
      properties:
        attachMediaToActiveAlarm:
          type:
          - boolean
          - 'null'
        entryInstructions:
          type:
          - string
          - 'null'
        exclusiveEmergencyContact:
          type:
          - boolean
          - 'null'
        exclusiveEntryInstructions:
          type:
          - boolean
          - 'null'
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        mediaDeviceUuids:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: DeviceFacetUuid
            description: RUUID with optional appended facet information
            example: AAAAAAAAAAAAAAAAAAAAAA.v0
        onsiteEmergencyContact:
          $ref: '#/components/schemas/EmergencyContact'
        reason:
          type:
          - string
          - 'null'
        sirenSettings:
          $ref: '#/components/schemas/AMSirenSettingsType'
        subLocationsHierarchyKey:
          type:
          - string
          - 'null'
          format: SubLocationsHierarchyKey
          description: 'A sequence of one or more base 64 (url-safe) uuid substrings.

            These substrings are separated by dots (.).

            '
          example: AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA
          pattern: ^([A-Za-z0-9\-_]{22})([.][A-Za-z0-9\-_]{22})*$
        triggerType:
          $ref: '#/components/schemas/CreateAlarmTriggerTypeEnum'
    Button_ButtonHealthEnum:
      type: string
      description: Health status for button sensors.
      enum:
      - GREEN
      - RED
    CreateAlarmTriggerTypeEnum:
      type: string
      enum:
      - PANIC_BUTTON
      - ALARM_INTEGRATION
    RemoteDoorUnlockActionType:
      type: object
      properties:
        doorId:
          type:
          - string
          - 'null'
        placeId:
          type:
          - string
          - 'null'
        system:
          $ref: '#/components/schemas/RemoteDoorUnlockSystemEnum'
    ClipBoundingBoxType:
      type: object
      properties:
        activity:
          $ref: '#/components/schemas/ActivityEnum'
        alert:
          type:
          - boolean
          - 'null'
        bottom:
          type:
          - integer
          - 'null'
          format: int32
        confidence:
          type:
          - number
          - 'null'
          format: float
        croppedImageLocator:
          type:
          - string
          - 'null'
        customActivityColor:
          $ref: '#/components/schemas/FootageSeekPointColorEnum'
        customActivityDescription:
          type:
          - string
          - 'null'
        customActivityDisplayName:
          type:
          - string
          - 'null'
        dwelling:
          type:
          - boolean
          - 'null'
        faceName:
          type:
          - string
          - 'null'
        inMotion:
          type:
          - boolean
          - 'null'
        keypointsV2:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/PointType'
        left:
          type:
          - integer
          - 'null'
          format: int32
        licensePlate:
          type:
          - string
          - 'null'
        loudness:
          type:
          - integer
          - 'null'
          format: int32
        objectId:
          type:
          - integer
          - 'null'
          format: int32
        pose:
          type:
          - string
          - 'null'
        relativeSecond:
          type:
          - number
          - 'null'
          format: float
        right:
          type:
          - integer
          - 'null'
          format: int32
        sensorValType:
          $ref: '#/components/schemas/SensorValType'
        stableTrackId:
          type:
          - integer
          - 'null'
          format: int32
        toastOrderIdInfo:
          $ref: '#/components/schemas/ToastOrderIdType'
        top:
          type:
          - integer
          - 'null'
          format: int32
        unidentifiedFaceId:
          type:
          - string
          - 'null'
        vehicleName:
          type:
          - string
          - 'null'
    ComponentRelayOutputTypeEnum:
      type: string
      enum:
      - TRANSIENT
      - STEADY
    ButtonModeEnum:
      type: string
      description: Optional button mode configuration
      enum:
      - PANIC
      - PROGRAMMABLE
      - DOORBELL
      - NONE
    Button_UpdateButtonConfigWSRequest:
      type: object
      description: Request to update button sensor configuration.
      properties:
        configUpdate:
          $ref: '#/components/schemas/Device_config_userconfig_IExternalUpdateableButtonUserConfig'
    HardwareVariationEnum:
      type: string
      enum:
      - RASPBERRY_PI_3
      - CAMERA_R1
      - CAMERA_R2
      - CAMERA_R2_LONG_RANGE
      - CAMERA_R2_180
      - CAMERA_R3
      - CAMERA_R4
      - CAMERA_R100
      - CAMERA_R120
      - CAMERA_R170
      - CAMERA_R200
      - CAMERA_R500
      - CAMERA_R510
      - CAMERA_R520
      - CAMERA_R600
      - SENSOR_ASSET_TAG_T1
      - SENSOR_DOOR_D1
      - SENSOR_DOOR_D20
      - SENSOR_ENVIRONMENTAL_E1
      - SENSOR_ENVIRONMENTAL_E15
      - SENSOR_ENVIRONMENTAL_E2
      - SENSOR_MOTION_M1
      - SENSOR_MOTION_M15
      - GATEWAY_A1
      - GATEWAY_A100
      - GATEWAY_ENVIRONMENTAL_E50
      - CAMERA_R220
      - CAMERA_R230
      - CAMERA_R36S
      - CAMERA_R410
      - CAMERA_R540
      - CAMERA_R545
      - BADGE_READER_DR1
      - BADGE_READER_DR40
      - BADGE_READER_DR20
      - DOOR_CONTROLLER_DC1
      - DOOR_CONTROLLER_DC20
      - DOOR_CONTROLLER_DC10
      - ETHERNET_TESTER_ET1
      - IO_BOARD_TB1
      - BLE_BUTTON_B10
      - BLE_BUTTON_B15
      - CAMERA_THIRD_PARTY_RELAY
      - CAMERA_THIRD_PARTY_NVR
      - CAMERA_THIRD_PARTY_NVR_MULTISENSOR
      - NVR_N100
      - CAMERA_R130
      - NVR_N500
      - CAMERA_R150
      - ROBOT_RC1
      - CAMERA_R210
      - CAMERA_R650
      - UNSPECIFIED
    ActivityEnum:
      type: string
      enum:
      - SOUND_LOUD
      - SOUND_GUN_SHOT
      - TAMPER
      - VISUAL_TAMPER
      - MOTION_TAMPER
      - MOTION
      - MOTION_HUMAN
      - MOTION_CAR
      - MOTION_ANIMAL
      - FACE
      - FACE_IDENTIFIED
      - FACE_UNIDENTIFIED
      - FACE_BLACKLISTED
      - FACE_ALERT
      - POSE_ANOMALOUS
      - POSE_FALL
      - LICENSEPLATE
      - LICENSEPLATE_IDENTIFIED
      - LICENSEPLATE_UNIDENTIFIED
      - LICENSEPLATE_ALERT
      - LICENSEPLATE_BLACKLISTED
      - LICENSEPLATE_TRUSTED
      - PEOPLECOUNT_HIGH
      - PEOPLECOUNT_HIGH_RESET
      - PEOPLECOUNT_LOW
      - PEOPLECOUNT_LOW_RESET
      - HUMAN_ENTER
      - HUMAN_EXIT
      - CAR_ENTER
      - CAR_EXIT
      - TEMPERATURE_EXCEEDED_HIGH
      - TEMPERATURE_EXCEEDED_LOW
      - HUMIDITY_EXCEEDED_HIGH
      - HUMIDITY_EXCEEDED_LOW
      - PM25_EXCEEDED_HIGH
      - TVOC_EXCEEDED_HIGH
      - ETOH_EXCEEDED_HIGH
      - IAQ_EXCEEDED_HIGH
      - CO2_EXCEEDED_HIGH
      - CO2_EXCEEDED_LOW
      - PROBE_TEMPERATURE_EXCEEDED_HIGH
      - PROBE_TEMPERATURE_EXCEEDED_LOW
      - PROBE_DISCONNECTED
      - PROBE_CONNECTED
      - HEAT_INDEX_EXCEEDED_HIGH
      - PRESSURE_EXCEEDED_HIGH
      - PRESSURE_EXCEEDED_LOW
      - PM10_EXCEEDED_HIGH
      - PM40_EXCEEDED_HIGH
      - PM100_EXCEEDED_HIGH
      - VOC_IDX_EXCEEDED_HIGH
      - NOX_IDX_EXCEEDED_HIGH
      - FORMALDEHYDE_EXCEEDED_HIGH
      - CARBON_MONOXIDE_EXCEEDED_HIGH
      - AQI_EXCEEDED_HIGH
      - DOOR_AJAR
      - DOOR_OPENED
      - DOOR_CLOSED
      - BUTTON_SINGLE_PRESSED
      - BUTTON_DOUBLE_PRESSED
      - BUTTON_LONG_PRESSED
      - TAG_ARRIVED
      - TAG_DEPARTED
      - TAG_MOVED
      - TAG_POSITIONING_CHANGED
      - TAG_BOUNDARY_INGRESS
      - TAG_BOUNDARY_EGRESS
      - TAG_PANIC
      - BADGE_AUTHORIZED
      - BADGE_UNAUTHORIZED
      - BADGE_UNAUTHORIZED_V2
      - BADGE_AJAR
      - BADGE_MANUAL
      - BADGE_FORCED_OPEN
      - BADGE_LOCKDOWN
      - BADGE_REQUEST_TO_EXIT
      - BADGE_DURESS
      - BADGE_SECURITY_BREACH
      - BADGE_TAMPER
      - BADGE_FACE_MISMATCH
      - POS_ORDER
      - GUN_DETECT_EVENT
      - IOT_SOUND_AGGRESSION
      - IOT_SOUND_HELP
      - IOT_AIR_CO
      - IOT_AIR_CO2
      - IOT_AIR_MASKING
      - IOT_AIR_THC
      - IOT_AIR_VAPE
      - IOT_AIR_VOC
      - IOT_AIR_TEMP
      - IOT_TAMPER
      - IOT_GUNSHOT
      - IOT_BUTTON_SINGLE_CLICK
      - IOT_BUTTON_DOUBLE_CLICK
      - IOT_BUTTON_HOLD
      - IOT_PANIC_BUTTON_TRIGGERED
      - AUDIO_SOUND_SIGNIFICANT
      - AUDIO_SOUND_LOUD
      - AUDIO_SOUND_ABUSIVE
      - AUDIO_SOUND_GREETING
      - AUDIO_SOUND_HELP
      - AUDIO_SOUND_GUN
      - AUDIO_SOUND_GLASS_BREAK
      - AUDIO_SOUND_ALARM_SMOKE_FIRE
      - AUDIO_SOUND_ALARM_CARBON_MONOXIDE
      - AUDIO_SOUND_SIREN
      - CLIMATE_VOC
      - CLIMATE_VAPE
      - CLIMATE_SMOKE
      - CLIMATE_THC
      - CLIMATE_CO2
      - CLIMATE_ETOH
      - CLIMATE_PM25
      - CLIMATE_IAQ
      - CLIMATE_LEAK
      - SOUND_AGGRESSION
      - SOUND_HELP
      - AIR_CO
      - AIR_CO2
      - AIR_MASKING
      - AIR_THC
      - AIR_VAPE
      - AIR_VOC
      - MASK_MISSING
      - HELMET_MISSING
      - GLOVES_MISSING
      - PIR_OCCUPIED
      - PIR_MOVEMENT
      - PIR_VACANT
      - CUSTOM
      - VISITOR_ARRIVED
      - VISITOR_DEPARTED
      - AC_DR_CONNECTED
      - AC_DR_DISCONNECTED
      - AC_DPI_DOOR_OPEN
      - AC_DPI_DOOR_CLOSED
      - AC_DPI_DOOR_AJAR
      - AC_DPI_DOOR_FORCED_OPEN
      - AC_DSR_UNLOCKED
      - AC_DSR_LOCKED
      - AC_DB_TRIGGERED
      - AC_PANIC_BUTTON_TRIGGERED
      - AC_REMOTE_UNLOCK
      - AC_BADGE_AUTHORIZED
      - AC_BADGE_UNAUTHORIZED
      - AC_BADGE_FACE_MISMATCH
      - AC_LOCKDOWN_ACTIVATED
      - AC_LOCKDOWN_DEACTIVATED
      - AC_TAMPER_PROX
      - AC_TAMPER_ACCEL
      - AC_TAMPER_SWITCH
      - AC_GR_ACTIVE
      - AC_GR_INACTIVE
      - AC_GI_ACTIVE
      - AC_GI_INACTIVE
      - AC_REX_ACTIVE
      - AC_REX_INACTIVE
      - AC_APERIO_DEVICE_DISCONNECTED
      - AC_APERIO_DEVICE_CONNECTED
      - AC_APERIO_DEVICE_REBOOT
      - AC_APERIO_DEVICE_TAMPER
      - AC_APERIO_LOW_BATTERY
      - AC_APERIO_FLAT_BATTERY
      - AC_APERIO_OK_BATTERY
      - POWER_SWITCH_BATTERY
      - POWER_SWITCH_PRIMARY
      - AI_SEARCH_MATCH
      - CUSTOM_LLM_BOOLEAN_TRUE
      - CUSTOM_LLM_BOOLEAN_FALSE
      - CUSTOM_LLM_THRESHOLD_EXCEEDED_LOW
      - CUSTOM_LLM_THRESHOLD_EXCEEDED_HIGH
      - ALM_AUTHORITIES_CONTACTED
      - ALM_MONITORING_ENABLED
      - ALM_MONITORING_DISABLED
      - ALM_MONITORING_SETTINGS_CHANGE
      - ALM_THREAT_CASE_CLOSED
      - ALM_THREAT_DETECTED
      - ALM_MONITORING_EVENT_DETECTED
      - ROBOT_DOG_DETECTED
      - ROBOT_ARRIVED_AT_WAYPOINT
      - ROBOT_ARRIVED_AT_POSE
      - ROBOT_WAITING_AT_POSE
      - ROBOT_MANUAL_CMD_VEL
      - ROBOT_MANUAL_ACTION
      - ROBOT_MANUAL_POSTURE
      - ROBOT_NAVIGATE_TO_POSE_START
      - ROBOT_NAVIGATE_TO_POSE_END
      - ROBOT_NAVIGATE_TO_HOME_START
      - ROBOT_NAVIGATE_TO_HOME_END
      - ROBOT_NAVIGATE_TO_WAYPOINT_START
      - ROBOT_NAVIGATE_TO_WAYPOINT_END
      - ROBOT_ROUTE_RUN_START
      - ROBOT_ROUTE_RUN_END
      - ROBOT_LOW_BATTERY_DOCKING
      - ROBOT_IDLE_DOCKING
      - ROBOT_EMERGENCY
      - LOITER_HUMAN
      - REID_HUMAN
      - INACTIVITY_HUMAN
      - INACTIVITY_CAR
      - ONGUARD_BADGE_AUTHORIZED
      - ONGUARD_BADGE_ANOMALY
      - ONGUARD_NO_ENTRY_MADE
      - ELEMENTS_BADGE_AUTHORIZED
      - ELEMENTS_BADGE_ANOMALY
      - ELEMENTS_NO_ENTRY_MADE
      - NETBOX_BADGE_AUTHORIZED
      - NETBOX_BADGE_ANOMALY
      - NETBOX_NO_ENTRY_MADE
      - THERMAL_TEMPERATURE_ALARM
      - THERMAL_TEMPERATURE_WARNING
      - THERMAL_FIRE_DETECTED
      - THERMAL_SMOKING_DETECTED
      - THERMAL_FIRE_VERIFIED
      - THERMAL_HEAT_NO_THREAT
      - THERMAL_VISUAL_HOTSPOT
      - THERMAL_VISUAL_HEAT_RISE
      - THERMAL_VISUAL_WARM_BODY
      - UNKNOWN
    CancelLoopingAudioPlaybackActionType:
      type: object
      properties:
        _audioDevices:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: DeviceFacetUuid
            description: RUUID with optional appended facet information
            example: AAAAAAAAAAAAAAAAAAAAAA.v0
        audioDevices:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: DeviceFacetUuid
            description: RUUID with optional appended facet information
            example: AAAAAAAAAAAAAAAAAAAAAA.v0
    Button_GetMinimalButtonStatesWSResponse:
      type: object
      description: Response containing minimal state information for all button sensors.
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        states:
          type:
          - array
          - 'null'
          description: List of minimal button state information
          items:
            $ref: '#/components/schemas/Button_MinimalButtonStateType'
        warningMsg:
          type:
          - string
          - 'null'
    RuleActionType:
      type: object
      description: The action to take when this lockdown rule is triggered.
      properties:
        activateLocationLockdown:
          $ref: '#/components/schemas/ActivateLocationLockdownActionType'
        alertAction:
          type:
          - boolean
          - 'null'
        audioPlaybackActions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AudioPlaybackActionType'
        cancelLoopingAudioPlaybackAction:
          $ref: '#/components/schemas/CancelLoopingAudioPlaybackActionType'
        changeComponentCompositeAccessStateActions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ChangeComponentCompositeAccessStateActionType'
        connectAudioDeviceToMobileAppAction:
          $ref: '#/components/schemas/ConnectAudioDeviceToMobileAppActionType'
        connectAudioDeviceToPhoneNumberAction:
          $ref: '#/components/schemas/ConnectAudioDeviceToPhoneNumberActionType'
        createAlarmAction:
          $ref: '#/components/schemas/CreateAlarmActionType'
        customActions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomRuleAction'
        customLLMActions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomLLMActionType'
        emailAuditLogExportActions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EmailAuditLogExportActionType'
        enableDisableAudioRecordActions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EnableDisableAudioRecordActionType'
        integrationCommandActions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/IntegrationCommandActionType'
        integrationNotificationActions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/IntegrationNotificationActionType'
        liveNotificationAction:
          type:
          - boolean
          - 'null'
        remoteDoorUnlockActions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RemoteDoorUnlockActionType'
        robotActions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RobotAction'
        thirdPartyAudioPlaybackAction:
          $ref: '#/components/schemas/ThirdPartyAudioPlaybackActionType'
        thirdPartyStrobeSirenAction:
          $ref: '#/components/schemas/ThirdPartyStrobeSirenActionType'
        triggerComponentRelayActions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TriggerComponentRelayActionType'
        webhookActions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/WebhookActionType'
    FootageSeekPointColorEnum:
      type: string
      enum:
      - BLUE
      - RED
      - PURPLE
      - TAN
      - ORANGE
      - TEAL
      - GRAY
      - BLACK
    ToastOrderIdType:
      type: object
      properties:
        employeeName:
          type:
          - string
          - 'null'
        guid:
          type:
          - string
          - 'null'
        locationName:
          type:
          - string
          - 'null'
        restaurantName:
          type:
          - string
          - 'null'
        toastCheckInfo:
          $ref: '#/components/schemas/ToastCheckInfo'
    ActivateLocationLockdownActionType:
      type: object
      properties:
        locationLockdownPlanUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    Common_devices_UpdateConfigWSResponse:
      type: object
      description: Response indicating the result of updating device configuration.
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        warningMsg:
          type:
          - string
          - 'null'
    CustomRuleAction:
      type: object
      properties:
        headers:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
        path:
          type:
          - string
          - 'null'
    ToastCheckInfo:
      type: object
      properties:
        totalAmount:
          type:
          - number
          - 'null'
          format: double
    ButtonPressEnum:
      type: string
      enum:
      - NONE
      - SINGLE
      - DOUBLE
      - LONG
      - INITIAL_PRESS
      - LONG_RELEASE
    NavigationTypeEnum:
      type: string
      enum:
      - ROUTE
      - PATROL
      - WAYPOINT
      - POSE
    Button_MinimalButtonStateType:
      type: object
      description: Minimal state information for a button sensor.
      properties:
        associatedCameras:
          type:
          - array
          - 'null'
          description: List of associated camera device UUIDs
          items:
            type:
            - string
            - 'null'
            format: DeviceFacetUuid
            description: RUUID with optional appended facet information
            example: AAAAAAAAAAAAAAAAAAAAAA.v0
        batteryPercent:
          type:
          - integer
          - 'null'
          format: int32
          description: Battery percentage of the button sensor
          example: 85
        buttonEmergencyOnsiteContact:
          $ref: '#/components/schemas/EmergencyContact'
        buttonMode:
          $ref: '#/components/schemas/ButtonModeEnum'
        closestBaseStation:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        createdAtMillis:
          type:
          - integer
          - 'null'
          format: int64
          description: Creation timestamp in milliseconds
          example: 1640995200000
        firmwareVersion:
          type:
          - string
          - 'null'
          description: Firmware version of the button sensor
          example: 2.1.0
        floorNumber:
          type:
          - integer
          - 'null'
          format: int32
          description: Floor number where the button sensor is located
          example: 1
        health:
          $ref: '#/components/schemas/Button_ButtonHealthEnum'
        healthDetails:
          $ref: '#/components/schemas/Button_ButtonHealthDetailsEnum'
        hwVariation:
          $ref: '#/components/schemas/HardwareVariationEnum'
        lastSeenSec:
          type:
          - integer
          - 'null'
          format: int64
          description: Last time the button sensor was seen in seconds
          example: 1640995200
        latitude:
          type:
          - number
          - 'null'
          format: double
          description: Latitude coordinate of the button sensor
          example: 37.7749
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        longitude:
          type:
          - number
          - 'null'
          format: double
          description: Longitude coordinate of the button sensor
          example: -122.4194
        name:
          type:
          - string
          - 'null'
          description: Name of the button sensor
          example: Main Entrance Button
        sensorUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        serialNumber:
          type:
          - string
          - 'null'
          description: Serial number of the button sensor
          example: SN123456789
        signalStrength:
          type:
          - integer
          - 'null'
          format: int32
          description: Signal strength of the button sensor
          example: -45
        subLocationsHierarchyKey:
          type:
          - string
          - 'null'
          format: SubLocationsHierarchyKey
          description: 'A sequence of one or more base 64 (url-safe) uuid substrings.

            These substrings are separated by dots (.).

            '
          example: AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA
          pattern: ^([A-Za-z0-9\-_]{22})([.][A-Za-z0-9\-_]{22})*$
        testModeEnabled:
          type:
          - boolean
          - 'null'
          description: Indicates if test mode is enabled for the button sensor
          example: false
    ComponentEventEnumType:
      type: string
      description: Limits results to only contain the specified type of events, if applicable
      enum:
      - DoorbellEvent
      - DoorReaderStateChangeEvent
      - DoorRelayStateChangeEvent
      - DoorPositionIndicatorStateChangeEvent
      - RequestToExitStateChangeEvent
      - CredentialReceivedEvent
      - ButtonEvent
      - GenericInputStateChangeEvent
      - GenericRelayStateChangeEvent
      - AccessControlUnitTamperEvent
      - AccessControlUnitLocationLockdownStateEvent
      - DoorLocationLockdownStateEvent
      - PanicButtonEvent
      - AccessControlUnitBatteryStateChangeEvent
      - WaveToUnlockIntentExpiredEvent
      - DoorStateChangeEvent
      - DoorAuthFirstInStateEvent
      - DoorScheduleFirstInStateEvent
      - AccessControlUnitDoorFirstInStateEvent
      - AperioDoorExtensionStateEvent
      - AperioActivatorStateEvent
      - AperioKeyCylinderStateEvent
      - AperioDoorModeEvent
      - AperioDoorHandleStateEvent
      - AperioGatewayStateEvent
      - AperioGatewayConnectionStateChangeEvent
      - AperioDtcEvent
      - AperioTamperStateEvent
      - IntercomTalkEvent
    GenericRelayStateEnumType:
      type: string
      enum:
      - ACTIVE
      - INACTIVE
      - UNKNOWN
    AudioPlaybackActionType:
      type: object
      properties:
        audioClipUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        audioGateways:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
        loopDurationSec:
          type:
          - integer
          - 'null'
          format: int32
        playCount:
          type:
          - integer
          - 'null'
          format: int32
    Button_CreateRuleForButtonWSResponse:
      type: object
      description: Response from creating a rule for a button sensor.
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        ruleUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        warningMsg:
          type:
          - string
          - 'null'
    EmailAuditLogExportActionType:
      type: object
      properties:
        includeActions:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
        includeApiInvocation:
          type:
          - boolean
          - 'null'
        lookbackCount:
          type:
          - integer
          - 'null'
          format: int32
        lookbackType:
          $ref: '#/components/schemas/ReportLookbackTypeEnum'
        lookbackUnit:
          $ref: '#/components/schemas/ReportLookbackUnitEnum'
        recipientEmails:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
        timezoneId:
          type:
          - string
          - 'null'
  securitySchemes:
    ApiKeyAuth:
      description: Your Rhombus API key. Must be accompanied by the `x-auth-scheme` header set to `api-token` (or `partner-api-token` for partner endpoints).
      in: header
      name: x-auth-apikey
      type: apiKey
x-samples-languages:
- curl
- node
- python
- java
