openapi: 3.2.0
info:
  contact:
    email: developer@rhombussystems.com
  description: 'This API is for use by Rhombus customers and partners.


    ## Authentication


    All requests require two headers:

    - `x-auth-scheme` — The authentication scheme identifier. Use `api-token` for standard API key auth, or `partner-api-token` for partner API auth.

    - `x-auth-apikey` — Your Rhombus API key.


    Example:

    ```

    POST /api/camera/getMinimalCameraStateList

    x-auth-scheme: api-token

    x-auth-apikey: YOUR_API_KEY

    Content-Type: application/json

    ```'
  title: Rhombus Storage Integrations Webservice API
  version: '1.0'
servers:
- description: Production Server
  url: https://api2.rhombussystems.com
security:
- ApiKeyAuth: []
tags:
- name: Storage Integrations Webservice
paths:
  /api/integrations/storage/deleteAwsIntegration:
    post:
      description: Delete AWS S3 clip storage integration
      operationId: deleteAwsIntegration
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_BaseIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponse'
          description: OK
      summary: Delete AWS integration
      tags:
      - Storage Integrations Webservice
  /api/integrations/storage/deleteBoxIntegration:
    post:
      description: Delete Box clip storage integration
      operationId: deleteBoxIntegration
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_BaseIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponse'
          description: OK
      summary: Delete Box integration
      tags:
      - Storage Integrations Webservice
  /api/integrations/storage/deleteDropboxIntegration:
    post:
      description: Delete Dropbox clip storage integration
      operationId: deleteDropboxIntegration
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_BaseIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponse'
          description: OK
      summary: Delete Dropbox integration
      tags:
      - Storage Integrations Webservice
  /api/integrations/storage/deleteGoogleIntegration:
    post:
      deprecated: true
      description: Delete Google Drive clip storage integration
      operationId: deleteGoogleIntegration
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_BaseIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponse'
          description: OK
      summary: Delete Google integration
      tags:
      - Storage Integrations Webservice
  /api/integrations/storage/deleteGoogleIntegrationV2:
    post:
      description: Delete Google Drive clip storage integration
      operationId: deleteGoogleIntegrationV2
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_BaseIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponse'
          description: OK
      summary: Delete Google integration V2
      tags:
      - Storage Integrations Webservice
  /api/integrations/storage/deleteOffice365Integration:
    post:
      description: Delete Office365 Sharepoint clip storage integration
      operationId: deleteOffice365Integration
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_BaseIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponse'
          description: OK
      summary: Delete Office365 integration
      tags:
      - Storage Integrations Webservice
  /api/integrations/storage/getGoogleIntegration:
    post:
      description: Get Google Drive clip storage integration
      operationId: getGoogleIntegration
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_BaseIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_GetOrgIntegrationsV2WSResponse'
          description: OK
      summary: Get Google integration
      tags:
      - Storage Integrations Webservice
  /api/integrations/storage/initiateDropboxOAuth:
    post:
      description: Initiate the Dropbox OAuth Process
      operationId: initiateDropboxOAuth
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_InitiateOAuthWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_InitiateOAuthWSResponse'
          description: OK
      summary: Initiate Dropbox OAuth
      tags:
      - Storage Integrations Webservice
  /api/integrations/storage/initiateGoogleOAuth:
    post:
      description: Initiate the Google OAuth Process
      operationId: initiateGoogleOAuth
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_InitiateOAuthWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_InitiateOAuthWSResponse'
          description: OK
      summary: Initiate Google OAuth
      tags:
      - Storage Integrations Webservice
  /api/integrations/storage/initiateOffice365OAuth:
    post:
      description: Initiate the Office365 OAuth Process
      operationId: initiateOffice365OAuth
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_InitiateOAuthWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_InitiateOAuthWSResponse'
          description: OK
      summary: Initiate Office365 OAuth
      tags:
      - Storage Integrations Webservice
  /api/integrations/storage/refreshGoogleAccessToken:
    post:
      description: Refresh Google access token
      operationId: refreshGoogleAccessToken
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_RefreshGoogleAccessTokenWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_RefreshGoogleAccessTokenWSResponse'
          description: OK
      summary: Refresh Google access token
      tags:
      - Storage Integrations Webservice
  /api/integrations/storage/revokeGoogleDriveAccess:
    post:
      description: Revokes access to a Google Drive account
      operationId: revokeGoogleDriveAccess
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_RevokeGoogleDriveAccessWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponse'
          description: OK
      summary: Revoke Google Drive access
      tags:
      - Storage Integrations Webservice
  /api/integrations/storage/updateAwsIntegration:
    post:
      description: Update AWS S3 clip storage integration
      operationId: updateAwsIntegration
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_UpdateAwsIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_UpdateOrgIntegrationsWSResponse'
          description: OK
      summary: Update AWS integration
      tags:
      - Storage Integrations Webservice
  /api/integrations/storage/updateBoxIntegration:
    post:
      description: Update Box clip storage integration
      operationId: updateBoxIntegration
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_UpdateBoxIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_UpdateOrgIntegrationsWSResponse'
          description: OK
      summary: Update Box integration
      tags:
      - Storage Integrations Webservice
  /api/integrations/storage/updateDropboxIntegration:
    post:
      description: Update Dropbox clip storage integration
      operationId: updateDropboxIntegration
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_UpdateDropboxIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_UpdateOrgIntegrationsWSResponse'
          description: OK
      summary: Update Dropbox integration
      tags:
      - Storage Integrations Webservice
  /api/integrations/storage/updateGoogleIntegration:
    post:
      deprecated: true
      description: Update Google Drive clip storage integration
      operationId: updateGoogleIntegration
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_UpdateGoogleIntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_UpdateOrgIntegrationsWSResponse'
          description: OK
      summary: Update Google integration
      tags:
      - Storage Integrations Webservice
  /api/integrations/storage/updateGoogleIntegrationV2:
    post:
      description: Update Google Drive clip storage integration
      operationId: updateGoogleIntegrationV2
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_UpdateGoogleIntegrationV2WSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_UpdateOrgIntegrationsWSResponse'
          description: OK
      summary: Update Google integration V2
      tags:
      - Storage Integrations Webservice
  /api/integrations/storage/updateOffice365Integration:
    post:
      description: Update Office365 Sharepoint clip storage integration
      operationId: updateOffice365Integration
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration_UpdateOffice365IntegrationWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration_UpdateOrgIntegrationsWSResponse'
          description: OK
      summary: Update Office365 integration
      tags:
      - Storage Integrations Webservice
components:
  schemas:
    EnvoyLocationInfoType:
      type:
      - object
      - 'null'
      properties:
        assignedCameraList:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
        locationName:
          type:
          - string
          - 'null'
    DeviceIntegrationSettings:
      type:
      - object
      - 'null'
      properties:
        latitude:
          type:
          - number
          - 'null'
          format: double
        longitude:
          type:
          - number
          - 'null'
          format: double
        name:
          type:
          - string
          - 'null'
    Integration_GetOrgIntegrationsV2WSResponse:
      type: object
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        orgIntegrationV2:
          $ref: '#/components/schemas/IBaseIntegrationType'
        warningMsg:
          type:
          - string
          - 'null'
    GenericPosSettings:
      type:
      - object
      - 'null'
      description: Collection of service area settings for this restaurant
      properties:
        assignedCameraList:
          type:
          - array
          - 'null'
          description: A list of camera uuids from Rhombus that are assigned to the PoS device
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
        posName:
          type:
          - string
          - 'null'
          description: The name of the point of sale device
    HoneywellNetBoxType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          alertUnauthorizedFaces:
            type:
            - boolean
            - 'null'
          apiToken:
            type:
            - string
            - 'null'
          badgeAuthDisablesAlarmMonitoring:
            type:
            - boolean
            - 'null'
          badgeFaceVerificationMode:
            $ref: '#/components/schemas/BadgeFaceVerificationModeEnum'
          baseUrl:
            type:
            - string
            - 'null'
          createAccessAnomalyAlerts:
            type:
            - boolean
            - 'null'
          createSeekPoints:
            type:
            - boolean
            - 'null'
          doorInfoMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/BadgeIntegrationDoorInfoType'
          doorsValidated:
            type:
            - boolean
            - 'null'
          identifyFacesFromBadge:
            type:
            - boolean
            - 'null'
          indexFaces:
            type:
            - boolean
            - 'null'
          misconfiguredDoors:
            type:
            - array
            - 'null'
            items:
              type:
              - string
              - 'null'
          refreshToken:
            type:
            - string
            - 'null'
          rhombusToken:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          saveClips:
            type:
            - boolean
            - 'null'
          tokenValid:
            type:
            - boolean
            - 'null'
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    MicrosoftTeamsChannelSettings:
      type:
      - object
      - 'null'
      properties:
        botInstallationId:
          type:
          - string
          - 'null'
        channelId:
          type:
          - string
          - 'null'
        installingUserUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        sendChannelNotifications:
          type:
          - boolean
          - 'null'
    AvigilonAltaType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          alertUnauthorizedFaces:
            type:
            - boolean
            - 'null'
          apiToken:
            type:
            - string
            - 'null'
          badgeAuthDisablesAlarmMonitoring:
            type:
            - boolean
            - 'null'
          badgeFaceVerificationMode:
            $ref: '#/components/schemas/BadgeFaceVerificationModeEnum'
          createAccessAnomalyAlerts:
            type:
            - boolean
            - 'null'
          createSeekPoints:
            type:
            - boolean
            - 'null'
          doorInfoMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/BadgeIntegrationDoorInfoType'
          doorToCameraMap:
            type:
            - object
            - 'null'
            additionalProperties:
              type:
              - array
              - 'null'
              items:
                type:
                - string
                - 'null'
                format: RUUID
                description: base 64 (url-safe) uuid string
                example: AAAAAAAAAAAAAAAAAAAAAA
          doorsValidated:
            type:
            - boolean
            - 'null'
          email:
            type:
            - string
            - 'null'
          eventToWebhookIdMap:
            type:
            - object
            - 'null'
            additionalProperties:
              type:
              - integer
              - 'null'
              format: int32
          eventToWebhookMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/WebhookMapEntry'
          identifyFacesFromBadge:
            type:
            - boolean
            - 'null'
          indexFaces:
            type:
            - boolean
            - 'null'
          misconfiguredDoors:
            type:
            - array
            - 'null'
            items:
              type:
              - string
              - 'null'
          password:
            type:
            - string
            - 'null'
          refreshToken:
            type:
            - string
            - 'null'
          rhombusToken:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          saveClips:
            type:
            - boolean
            - 'null'
          tokenValid:
            type:
            - boolean
            - 'null'
          webhookId:
            type:
            - integer
            - 'null'
            format: int32
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    OpentechAllianceDoorInfoType:
      type:
      - object
      - 'null'
      properties:
        actionGroupId:
          type:
          - string
          - 'null'
        assignedCameraList:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
        clipDuration:
          type:
          - integer
          - 'null'
          format: int32
        doorName:
          type:
          - string
          - 'null'
        leadingSeconds:
          type:
          - integer
          - 'null'
          format: int32
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        remoteUnlock:
          type:
          - boolean
          - 'null'
        subLocationsHierarchyKey:
          type:
          - string
          - 'null'
          format: SubLocationsHierarchyKey
          description: 'A sequence of one or more base 64 (url-safe) uuid substrings.

            These substrings are separated by dots (.).

            '
          example: AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA
          pattern: ^([A-Za-z0-9\-_]{22})([.][A-Za-z0-9\-_]{22})*$
    ButterflyMXType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          alertUnauthorizedFaces:
            type:
            - boolean
            - 'null'
          apiToken:
            type:
            - string
            - 'null'
          badgeAuthDisablesAlarmMonitoring:
            type:
            - boolean
            - 'null'
          badgeFaceVerificationMode:
            $ref: '#/components/schemas/BadgeFaceVerificationModeEnum'
          buildingWebhookIdMap:
            type:
            - object
            - 'null'
            additionalProperties:
              type:
              - string
              - 'null'
              description: 'A HashMap of <ButterflyMx Building Id, Webhook Id>. '
            description: 'A HashMap of <ButterflyMx Building Id, Webhook Id>. '
          createAccessAnomalyAlerts:
            type:
            - boolean
            - 'null'
          createSeekPoints:
            type:
            - boolean
            - 'null'
          doorInfoMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/BadgeIntegrationDoorInfoType'
          doorsValidated:
            type:
            - boolean
            - 'null'
          identifyFacesFromBadge:
            type:
            - boolean
            - 'null'
          indexFaces:
            type:
            - boolean
            - 'null'
          misconfiguredDoors:
            type:
            - array
            - 'null'
            items:
              type:
              - string
              - 'null'
          panelInfoMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/ButterflymxPanelInfoType'
            description: A HashMap of <Panel Id, ButterflymxPanelInfoType>.
          refreshToken:
            type:
            - string
            - 'null'
          rhombusToken:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          saveClips:
            type:
            - boolean
            - 'null'
          tokenValid:
            type:
            - boolean
            - 'null'
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    Integration_RefreshGoogleAccessTokenWSRequest:
      type: object
      description: Request object for refreshing Google access token.
      properties:
        refreshUserToken:
          type:
          - boolean
          - 'null'
          description: Whether to refresh the user token
          example: true
    InnerRangeType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          apiToken:
            type:
            - string
            - 'null'
          consoleToSettingsMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/InnerRangeConsoleSettings'
          createSeekPoints:
            type:
            - boolean
            - 'null'
          doorInfoMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/InnerRangeDoorInfoType'
          refreshToken:
            type:
            - string
            - 'null'
          skyTunnelSN:
            type:
            - string
            - 'null'
          tokenValid:
            type:
            - boolean
            - 'null'
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    ShellyDeviceTypeEnum:
      type: string
      enum:
      - RELAY
      - LIGHT
      - ROLLER
      - INPUT
    ZapierEnum:
      type: string
      description: Zapier integration type
      enum:
      - BUTTON_EVENTS
      - DOOR_SENSOR_EVENTS
      - ENVIRONMENTAL_SENSOR_EVENTS
      - RULE_EVENTS
    WebhookInfo:
      type: object
      properties:
        webhookDisabled:
          type:
          - boolean
          - 'null'
        webhookSecret:
          type:
          - string
          - 'null'
    MicrosoftTeamsUserSettings:
      type:
      - object
      - 'null'
      properties:
        botInstallationId:
          type:
          - string
          - 'null'
        chatId:
          type:
          - string
          - 'null'
        refreshToken:
          type:
          - string
          - 'null'
        sendUserNotifications:
          type:
          - boolean
          - 'null'
        teamIds:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
        userId:
          type:
          - string
          - 'null'
    IBaseIntegrationType:
      type: object
      discriminator:
        propertyName: integration
      oneOf:
      - $ref: '#/components/schemas/AperioType'
      - $ref: '#/components/schemas/AvigilonAltaType'
      - $ref: '#/components/schemas/BoulevardType'
      - $ref: '#/components/schemas/BrivoType'
      - $ref: '#/components/schemas/ButterflyMXType'
      - $ref: '#/components/schemas/DeviceIntegrationType'
      - $ref: '#/components/schemas/DiceType'
      - $ref: '#/components/schemas/EnvoyType'
      - $ref: '#/components/schemas/FlicType'
      - $ref: '#/components/schemas/GeneaType'
      - $ref: '#/components/schemas/GoogleType'
      - $ref: '#/components/schemas/GuestManagementType'
      - $ref: '#/components/schemas/HoneywellElementsType'
      - $ref: '#/components/schemas/InformacastType'
      - $ref: '#/components/schemas/InnerRangeType'
      - $ref: '#/components/schemas/KisiType'
      - $ref: '#/components/schemas/LumeoType'
      - $ref: '#/components/schemas/MicrosoftTeamsType'
      - $ref: '#/components/schemas/NineOneOneCellularType'
      - $ref: '#/components/schemas/OmnialertType'
      - $ref: '#/components/schemas/OpenAIType'
      - $ref: '#/components/schemas/OpentechAllianceType'
      - $ref: '#/components/schemas/PimlocType'
      - $ref: '#/components/schemas/PlaceOsType'
      - $ref: '#/components/schemas/ProDataKeyType'
      - $ref: '#/components/schemas/RaptorType'
      - $ref: '#/components/schemas/ShellyType'
      - $ref: '#/components/schemas/ToastType'
      - $ref: '#/components/schemas/WebhooksType'
      - $ref: '#/components/schemas/ZapierType'
      - $ref: '#/components/schemas/ParPOSType'
      - $ref: '#/components/schemas/HoneywellOnGuardType'
      - $ref: '#/components/schemas/HoneywellNetBoxType'
      - $ref: '#/components/schemas/SignatureApiType'
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    LumeoType:
      type:
      - object
      - 'null'
      allOf: []
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    Integration_RevokeGoogleDriveAccessWSRequest:
      type: object
      description: Request object for revoking Google Drive access permissions.
      properties:
        revokeUserAccount:
          type:
          - boolean
          - 'null'
          description: If set to true, revokes Rhombus Systems access to a user's Google Drive account, otherwise revokes Rhombus Systems access to the org's shared Google Drive account
          example: true
    ButterflymxPanelInfoType:
      type:
      - object
      - 'null'
      description: A HashMap of <Panel Id, ButterflymxPanelInfoType>.
      properties:
        assignedCameraList:
          type:
          - array
          - 'null'
          description: The list of Rhombus Camera RUUIDs.
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
        buildingId:
          type:
          - integer
          - 'null'
          format: int32
          description: The ButterflyMx Building Id.
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        panelName:
          type:
          - string
          - 'null'
          description: The ButterflyMx Panel Name.
        subLocationsHierarchyKey:
          type:
          - string
          - 'null'
          format: SubLocationsHierarchyKey
          description: 'A sequence of one or more base 64 (url-safe) uuid substrings.

            These substrings are separated by dots (.).

            '
          example: AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA
          pattern: ^([A-Za-z0-9\-_]{22})([.][A-Za-z0-9\-_]{22})*$
    GeneaType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          alertUnauthorizedFaces:
            type:
            - boolean
            - 'null'
          apiToken:
            type:
            - string
            - 'null'
          badgeAuthDisablesAlarmMonitoring:
            type:
            - boolean
            - 'null'
          badgeFaceVerificationMode:
            $ref: '#/components/schemas/BadgeFaceVerificationModeEnum'
          createAccessAnomalyAlerts:
            type:
            - boolean
            - 'null'
          createSeekPoints:
            type:
            - boolean
            - 'null'
          doorInfoMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/BadgeIntegrationDoorInfoType'
          doorsValidated:
            type:
            - boolean
            - 'null'
          identifyFacesFromBadge:
            type:
            - boolean
            - 'null'
          indexFaces:
            type:
            - boolean
            - 'null'
          misconfiguredDoors:
            type:
            - array
            - 'null'
            items:
              type:
              - string
              - 'null'
          refreshToken:
            type:
            - string
            - 'null'
          rhombusToken:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          saveClips:
            type:
            - boolean
            - 'null'
          tokenValid:
            type:
            - boolean
            - 'null'
          webhookSignatureSecret:
            type:
            - string
            - 'null'
          webhookUuid:
            type:
            - string
            - 'null'
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    Integration_UpdateDropboxIntegrationWSRequest:
      type: object
      description: Request object for updating Dropbox integration settings.
      properties:
        dropboxSettings:
          $ref: '#/components/schemas/DropboxSettingsV2'
    OpenAIType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          apiToken:
            type:
            - string
            - 'null'
          baseUrl:
            type:
            - string
            - 'null'
            description: The base url for any OpenAI Chat Completions compliant API. For example, to use Gemini models, set this to 'https://generativelanguage.googleapis.com/v1beta/openai/'.  If left blank, we will try to use OpenAI models.
          defaultModel:
            type:
            - string
            - 'null'
            description: The model identifier to use as a default model.  This is provider specific and typically found on model card pages. For example, set to 'gemini-2.0-flash' to use the Gemini 2.0 Flash model.  Currently we require a model with vision capabilities for this integration.
          refreshToken:
            type:
            - string
            - 'null'
          tokenValid:
            type:
            - boolean
            - 'null'
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    IntegrationAuditEvent:
      type: object
      properties:
        enabledTimestampMs:
          type:
          - integer
          - 'null'
          format: int64
        integrationAuditEvent:
          $ref: '#/components/schemas/IntegrationAuditEventEnum'
        user:
          type:
          - string
          - 'null'
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    GuestManagementType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          locationSettingsMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/LocationSettings'
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    Integration_UpdateOrgIntegrationsWSResponse:
      type: object
      description: Response object for updating organization integrations.
      properties:
        authError:
          type:
          - boolean
          - 'null'
          description: Whether an authentication error occurred during update
          example: false
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        failedGuids:
          type:
          - array
          - 'null'
          description: List of GUIDs that failed to update
          items:
            type:
            - string
            - 'null'
            description: List of GUIDs that failed to update
        misconfiguredDoors:
          type:
          - array
          - 'null'
          description: List of door names that are assigned to multiple Rhombus locations
          items:
            type:
            - string
            - 'null'
            description: List of door names that are assigned to multiple Rhombus locations
        warningMsg:
          type:
          - string
          - 'null'
    WebhookMapEntry:
      type:
      - object
      - 'null'
      properties:
        orgId:
          type:
          - integer
          - 'null'
          format: int32
        webhookId:
          type:
          - integer
          - 'null'
          format: int32
    ToastRestaurantSettings:
      type:
      - object
      - 'null'
      properties:
        locationName:
          type:
          - string
          - 'null'
          description: The location name of the restaurant from Toast
        restaurantName:
          type:
          - string
          - 'null'
          description: The name of the restaurant from Toast, e.g. COFFEE CAN
        serviceAreaSettingsMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/GenericPosSettings'
          description: Collection of service area settings for this restaurant
    RaptorType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          apiToken:
            type:
            - string
            - 'null'
          clientId:
            type:
            - string
            - 'null'
          clientSecret:
            type:
            - string
            - 'null'
          clientUid:
            type:
            - string
            - 'null'
          refreshToken:
            type:
            - string
            - 'null'
          tokenValid:
            type:
            - boolean
            - 'null'
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    PimlocType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          baseAPIUrl:
            $ref: '#/components/schemas/PimlocBaseAPIUrlEnum'
          clientId:
            type:
            - string
            - 'null'
          clientSecret:
            type:
            - string
            - 'null'
          rhombusToken:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          validCredentials:
            type:
            - boolean
            - 'null'
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    SecurityZoneInfoType:
      type:
      - object
      - 'null'
      properties:
        assignedCameraList:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
        isParentZone:
          type:
          - boolean
          - 'null'
        securityZoneName:
          type:
          - string
          - 'null'
        zoneAddress:
          type:
          - string
          - 'null'
        zoneId:
          type:
          - string
          - 'null'
        zoneParentId:
          type:
          - string
          - 'null'
    Integration_UpdateBoxIntegrationWSRequest:
      type: object
      description: Request object for updating Box file storage integration settings.
      properties:
        boxSettings:
          $ref: '#/components/schemas/BoxSettings'
    KisiType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          apiSecretKey:
            type:
            - string
            - 'null'
          defaultOptions:
            $ref: '#/components/schemas/BadgeIntegrationDefaultOptions'
          doorsValidated:
            type:
            - boolean
            - 'null'
          placeToSettingsMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/BadgeIntegrationSettings'
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    PimlocBaseAPIUrlEnum:
      type: string
      enum:
      - US
      - EU
    GoogleSettings:
      type: object
      description: Google integration settings to update
      properties:
        accountUser:
          type:
          - string
          - 'null'
        enabled:
          type:
          - boolean
          - 'null'
        enabledTimestampMs:
          type:
          - integer
          - 'null'
          format: int64
        enablingUser:
          type:
          - string
          - 'null'
        enablingUserUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        folderId:
          type:
          - string
          - 'null'
        teamDriveId:
          type:
          - string
          - 'null'
    EnvoyType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          alertUnauthorizedFaces:
            type:
            - boolean
            - 'null'
          apiToken:
            type:
            - string
            - 'null'
          badgeAuthDisablesAlarmMonitoring:
            type:
            - boolean
            - 'null'
          badgeFaceVerificationMode:
            $ref: '#/components/schemas/BadgeFaceVerificationModeEnum'
          createAccessAnomalyAlerts:
            type:
            - boolean
            - 'null'
          createSeekPoints:
            type:
            - boolean
            - 'null'
          doorInfoMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/BadgeIntegrationDoorInfoType'
          doorsValidated:
            type:
            - boolean
            - 'null'
          envoyIntegrationInstalled:
            type:
            - boolean
            - 'null'
          envoyUserSettingsMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/EnvoyUserSettings'
          identifyFacesFromBadge:
            type:
            - boolean
            - 'null'
          indexFaces:
            type:
            - boolean
            - 'null'
          locationInfoMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/EnvoyLocationInfoType'
          misconfiguredDoors:
            type:
            - array
            - 'null'
            items:
              type:
              - string
              - 'null'
          refreshToken:
            type:
            - string
            - 'null'
          saveClips:
            type:
            - boolean
            - 'null'
          tokenValid:
            type:
            - boolean
            - 'null'
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    OmnialertType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          associatedCameras:
            type:
            - array
            - 'null'
            items:
              type:
              - string
              - 'null'
              format: RUUID
              description: base 64 (url-safe) uuid string
              example: AAAAAAAAAAAAAAAAAAAAAA
            uniqueItems: true
          saveClips:
            type:
            - boolean
            - 'null'
          triggerNotification:
            type:
            - boolean
            - 'null'
          webhookToken:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    BoulevardType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          accessWindowAfterMinutes:
            type:
            - integer
            - 'null'
            format: int32
          accessWindowBeforeMinutes:
            type:
            - integer
            - 'null'
            format: int32
          apiToken:
            type:
            - string
            - 'null'
          boulevardBusinessId:
            type:
            - string
            - 'null'
          boulevardLocationToRhombusLocationMap:
            type:
            - object
            - 'null'
            additionalProperties:
              type:
              - string
              - 'null'
              format: RUUID
              description: base 64 (url-safe) uuid string
              example: AAAAAAAAAAAAAAAAAAAAAA
          refreshToken:
            type:
            - string
            - 'null'
          rhombusToken:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          tokenValid:
            type:
            - boolean
            - 'null'
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    Integration_BaseIntegrationWSRequest:
      type: object
      description: Base request object for integration operations.
    HoneywellElementsType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          alertUnauthorizedFaces:
            type:
            - boolean
            - 'null'
          apiKey:
            type:
            - string
            - 'null'
          apiToken:
            type:
            - string
            - 'null'
          badgeAuthDisablesAlarmMonitoring:
            type:
            - boolean
            - 'null'
          badgeFaceVerificationMode:
            $ref: '#/components/schemas/BadgeFaceVerificationModeEnum'
          baseUrl:
            type:
            - string
            - 'null'
          createAccessAnomalyAlerts:
            type:
            - boolean
            - 'null'
          createSeekPoints:
            type:
            - boolean
            - 'null'
          doorInfoMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/BadgeIntegrationDoorInfoType'
          doorsValidated:
            type:
            - boolean
            - 'null'
          identifyFacesFromBadge:
            type:
            - boolean
            - 'null'
          indexFaces:
            type:
            - boolean
            - 'null'
          misconfiguredDoors:
            type:
            - array
            - 'null'
            items:
              type:
              - string
              - 'null'
          refreshToken:
            type:
            - string
            - 'null'
          rhombusToken:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          saveClips:
            type:
            - boolean
            - 'null'
          siteId:
            type:
            - string
            - 'null'
          tokenValid:
            type:
            - boolean
            - 'null'
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    WebhooksType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          activityWebhooks:
            type:
            - object
            - 'null'
            additionalProperties:
              type:
              - string
              - 'null'
          activityWebhooksV2:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/WebhookInfo'
          diagnosticWebhooks:
            type:
            - object
            - 'null'
            additionalProperties:
              type:
              - string
              - 'null'
          diagnosticWebhooksV2:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/WebhookInfo'
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    GoogleUserSettings:
      type:
      - object
      - 'null'
      properties:
        defaultAlertFolderId:
          type:
          - string
          - 'null'
        defaultAlertFolderName:
          type:
          - string
          - 'null'
        defaultFolderId:
          type:
          - string
          - 'null'
        defaultFolderName:
          type:
          - string
          - 'null'
        refreshToken:
          type:
          - string
          - 'null'
        saveAllAlerts:
          type:
          - boolean
          - 'null'
        saveClips:
          type:
          - boolean
          - 'null'
        tokenValid:
          type:
          - boolean
          - 'null'
    PlaceOsType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          alertUnauthorizedFaces:
            type:
            - boolean
            - 'null'
          apiToken:
            type:
            - string
            - 'null'
          apiUrl:
            type:
            - string
            - 'null'
          badgeAuthDisablesAlarmMonitoring:
            type:
            - boolean
            - 'null'
          badgeFaceVerificationMode:
            $ref: '#/components/schemas/BadgeFaceVerificationModeEnum'
          createAccessAnomalyAlerts:
            type:
            - boolean
            - 'null'
          createSeekPoints:
            type:
            - boolean
            - 'null'
          doorInfoMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/BadgeIntegrationDoorInfoType'
          doorsValidated:
            type:
            - boolean
            - 'null'
          identifyFacesFromBadge:
            type:
            - boolean
            - 'null'
          indexFaces:
            type:
            - boolean
            - 'null'
          misconfiguredDoors:
            type:
            - array
            - 'null'
            items:
              type:
              - string
              - 'null'
          refreshToken:
            type:
            - string
            - 'null'
          rhombusToken:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          saveClips:
            type:
            - boolean
            - 'null'
          tokenValid:
            type:
            - boolean
            - 'null'
          triggerNotification:
            type:
            - boolean
            - 'null'
          webhookSignatureSecret:
            type:
            - string
            - 'null'
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    SignatureApiType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          apiToken:
            type:
            - string
            - 'null'
          refreshToken:
            type:
            - string
            - 'null'
          tokenValid:
            type:
            - boolean
            - 'null'
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    BadgeIntegrationDefaultOptions:
      type:
      - object
      - 'null'
      properties:
        alertUnauthorizedFaces:
          type:
          - boolean
          - 'null'
        badgeAuthDisablesAlarmMonitoring:
          type:
          - boolean
          - 'null'
        createSeekPoints:
          type:
          - boolean
          - 'null'
        defaultOptionsEnabled:
          type:
          - boolean
          - 'null'
        identifyFacesFromBadge:
          type:
          - boolean
          - 'null'
        saveClips:
          type:
          - boolean
          - 'null'
    AwsSettings:
      type: object
      properties:
        accessKey:
          type:
          - string
          - 'null'
        bucketName:
          type:
          - string
          - 'null'
        enabled:
          type:
          - boolean
          - 'null'
        enabledTimestampMs:
          type:
          - integer
          - 'null'
          format: int64
        enablingUser:
          type:
          - string
          - 'null'
        enablingUserUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        secretKey:
          type:
          - string
          - 'null'
    InformacastType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          apiToken:
            type:
            - string
            - 'null'
          refreshToken:
            type:
            - string
            - 'null'
          tokenValid:
            type:
            - boolean
            - 'null'
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    BrivoType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          accessToken:
            type:
            - string
            - 'null'
          alertUnauthorizedFaces:
            type:
            - boolean
            - 'null'
          apiKey:
            type:
            - string
            - 'null'
          apiToken:
            type:
            - string
            - 'null'
          badgeAuthDisablesAlarmMonitoring:
            type:
            - boolean
            - 'null'
          badgeFaceVerificationMode:
            $ref: '#/components/schemas/BadgeFaceVerificationModeEnum'
          clientId:
            type:
            - string
            - 'null'
          clientSecret:
            type:
            - string
            - 'null'
          createAccessAnomalyAlerts:
            type:
            - boolean
            - 'null'
          createSeekPoints:
            type:
            - boolean
            - 'null'
          doorInfoMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/BadgeIntegrationDoorInfoType'
          doorsValidated:
            type:
            - boolean
            - 'null'
          identifyFacesFromBadge:
            type:
            - boolean
            - 'null'
          indexFaces:
            type:
            - boolean
            - 'null'
          misconfiguredDoors:
            type:
            - array
            - 'null'
            items:
              type:
              - string
              - 'null'
          password:
            type:
            - string
            - 'null'
          refreshToken:
            type:
            - string
            - 'null'
          rhombusToken:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          saveClips:
            type:
            - boolean
            - 'null'
          tokenValid:
            type:
            - boolean
            - 'null'
          username:
            type:
            - string
            - 'null'
          version:
            type:
            - integer
            - 'null'
            format: int32
          webhookId:
            type:
            - integer
            - 'null'
            format: int32
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    MicrosoftTeamsType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          adminConsent:
            type:
            - boolean
            - 'null'
          allowUserNotifications:
            type:
            - boolean
            - 'null'
          microsoftTeamSettingsMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/MicrosoftTeamsChannelSettings'
          microsoftTeamsUserSettingsMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/MicrosoftTeamsUserSettings'
          tenantId:
            type:
            - string
            - 'null'
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    DiceType:
      type:
      - object
      - 'null'
      allOf: []
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    BoxSettings:
      type: object
      description: Box file storage integration settings to update
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        enabledTimestampMs:
          type:
          - integer
          - 'null'
          format: int64
        enablingUser:
          type:
          - string
          - 'null'
        enablingUserUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        enterpriseId:
          type:
          - string
          - 'null'
        folderId:
          type:
          - string
          - 'null'
    InnerRangeDoorInfoType:
      type:
      - object
      - 'null'
      properties:
        assignedCameraList:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
        clipDuration:
          type:
          - integer
          - 'null'
          format: int32
        doorName:
          type:
          - string
          - 'null'
        leadingSeconds:
          type:
          - integer
          - 'null'
          format: int32
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        readerIds:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
        remoteUnlock:
          type:
          - boolean
          - 'null'
        subLocationsHierarchyKey:
          type:
          - string
          - 'null'
          format: SubLocationsHierarchyKey
          description: 'A sequence of one or more base 64 (url-safe) uuid substrings.

            These substrings are separated by dots (.).

            '
          example: AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA
          pattern: ^([A-Za-z0-9\-_]{22})([.][A-Za-z0-9\-_]{22})*$
    BadgeFaceVerificationModeEnum:
      type: string
      enum:
      - 'OFF'
      - SHADOW
      - SUPERVISED
      - AUTO
    Integration_UpdateOffice365IntegrationWSRequest:
      type: object
      description: Request object for updating Office 365 integration settings.
      properties:
        office365Settings:
          $ref: '#/components/schemas/Office365Settings'
    NineOneOneCellularType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          bearerToken:
            type:
            - string
            - 'null'
          saveClips:
            type:
            - boolean
            - 'null'
          securityZoneMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/SecurityZoneInfoType'
          triggerNotification:
            type:
            - boolean
            - 'null'
          webhookToken:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          zonesValidated:
            type:
            - boolean
            - 'null'
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    Integration_InitiateOAuthWSRequest:
      type: object
      description: Request object for initiating OAuth authentication flow.
      properties:
        param:
          type:
          - string
          - 'null'
          description: Additional OAuth parameter
          example: state_param
        requestUrl:
          type:
          - string
          - 'null'
          description: OAuth request URL
          example: https://oauth.provider.com/auth
        rhombusOrgUserUuid:
          type:
          - string
          - 'null'
          description: Rhombus organization user UUID
    HoneywellOnGuardType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          deploymentToSettingsMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/OnGuardDeploymentSettings'
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    OpentechAllianceType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          apiKey:
            type:
            - string
            - 'null'
          apiSecret:
            type:
            - string
            - 'null'
          facilityToSettingsMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/OpentechAllianceFacilitySettings'
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    ParPOSType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          accessToken:
            type:
            - string
            - 'null'
          locationTokenMap:
            type:
            - object
            - 'null'
            additionalProperties:
              type:
              - string
              - 'null'
          serverUrl:
            type:
            - string
            - 'null'
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    ShellyDevice:
      type:
      - object
      - 'null'
      properties:
        canSendCommands:
          $ref: '#/components/schemas/ShellyDevicePermissionEnum'
        channels:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
        deviceType:
          $ref: '#/components/schemas/ShellyDeviceTypeEnum'
        hostUrl:
          type:
          - string
          - 'null'
        isOnline:
          type:
          - boolean
          - 'null'
        temperature:
          type:
          - number
          - 'null'
          format: double
        timestampMs:
          type:
          - integer
          - 'null'
          format: int64
        voltage:
          type:
          - number
          - 'null'
          format: double
    Integration_UpdateGoogleIntegrationWSRequest:
      type: object
      description: Request object for updating Google integration settings.
      properties:
        googleSettings:
          $ref: '#/components/schemas/GoogleSettings'
    ShellyType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          canSendDiagnosticNotifications:
            type:
            - boolean
            - 'null'
          diagnosticQuietPeriodSecs:
            type:
            - integer
            - 'null'
            format: int32
          shellyDeviceMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/ShellyDevice'
          thirdPartyDeviceToLocationMap:
            type:
            - object
            - 'null'
            additionalProperties:
              type:
              - string
              - 'null'
              format: RUUID
              description: base 64 (url-safe) uuid string
              example: AAAAAAAAAAAAAAAAAAAAAA
          webhookToken:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    ShellyDevicePermissionEnum:
      type: string
      enum:
      - AUTHORIZED
      - UNAUTHORIZED
      - UNKNOWN
    DropboxSettingsV2:
      type: object
      description: Dropbox integration settings to update
      properties:
        accessToken:
          type:
          - string
          - 'null'
        accountEmail:
          type:
          - string
          - 'null'
        accountName:
          type:
          - string
          - 'null'
        enabled:
          type:
          - boolean
          - 'null'
        enabledTimestampMs:
          type:
          - integer
          - 'null'
          format: int64
        enablingUser:
          type:
          - string
          - 'null'
        enablingUserUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    ZapierWebhookSettings:
      type:
      - object
      - 'null'
      properties:
        backoffSec:
          type:
          - integer
          - 'null'
          format: int32
        doorState:
          $ref: '#/components/schemas/DoorStatusEnum'
        humidityLowerThreshold:
          type:
          - number
          - 'null'
          format: float
        humidityUpperThreshold:
          type:
          - number
          - 'null'
          format: float
        tempLowerThreshold:
          type:
          - number
          - 'null'
          format: float
        tempUpperThreshold:
          type:
          - number
          - 'null'
          format: float
        url:
          type:
          - string
          - 'null'
        uuids:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          uniqueItems: true
        zapEnum:
          $ref: '#/components/schemas/ZapierEnum'
      required:
      - url
      - zapEnum
    GoogleType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          allowUserStorage:
            type:
            - boolean
            - 'null'
          apiToken:
            type:
            - string
            - 'null'
          defaultAlertFolderId:
            type:
            - string
            - 'null'
          defaultAlertFolderName:
            type:
            - string
            - 'null'
          defaultFolderId:
            type:
            - string
            - 'null'
          defaultFolderName:
            type:
            - string
            - 'null'
          refreshToken:
            type:
            - string
            - 'null'
          saveAllAlerts:
            type:
            - boolean
            - 'null'
          saveClips:
            type:
            - boolean
            - 'null'
          tokenValid:
            type:
            - boolean
            - 'null'
          userSettingsMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/GoogleUserSettings'
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        integration:
          $ref: '#/components/schemas/IntegrationEnum'
        integrationAuditMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IntegrationAuditEvent'
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        userUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    BadgeIntegrationSettings:
      type:
      - object
      - 'null'
      properties:
        alertUnauthorizedFaces:
          type:
          - boolean
          - 'null'
        badgeAuthDisablesAlarmMonitoring:
          type:
          - boolean
          - 'null'
        createSeekPoints:
          type:
          - boolean
          - 'null'
        doorInfoMap:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/BadgeIntegrationDoorInfoType'
        identifyFacesFromBadge:
          type:
          - boolean
          - 'null'
        misconfiguredDoors:
          type:
          - array
          - 'null'
          items:
            type:
            - integer
            - 'null'
            format: int32
        placeId:
          type:
          - integer
          - 'null'
          format: int32
        placeName:
          type:
          - string
          - 'null'
        rhombusToken:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        saveClips:
          type:
          - boolean
          - 'null'
        webhookId:
          type:
          - integer
          - 'null'
          format: int32
    BaseApiResponse:
      type: object
      description: Base response object denoting success, or failure with a reason, for an endpoint.
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        warningMsg:
          type:
          - string
          - 'null'
    Integration_RefreshGoogleAccessTokenWSResponse:
      type: object
      description: Response object containing refreshed Google access token.
      properties:
        accessToken:
          type:
          - string
          - 'null'
          description: Refreshed Google access token
          example: ya29.a0AfH6SMC...
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        warningMsg:
          type:
          - string
          - 'null'
    ProDataKeyType:
      type:
      - object
      - 'null'
      allOf:
      - type: object
        properties:
          alertUnauthorizedFaces:
            type:
            - boolean
            - 'null'
          apiToken:
            type:
            - string
            - 'null'
          badgeAuthDisablesAlarmMonitoring:
            type:
            - boolean
            - 'null'
          badgeFaceVerificationMode:
            $ref: '#/components/schemas/BadgeFaceVerificationModeEnum'
          createAccessAnomalyAlerts:
            type:
            - boolean
            - 'null'
          createSeekPoints:
            type:
            - boolean
            - 'null'
          doorInfoMap:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/BadgeIntegrationDoorInfoType'
          doorsValidated:
            type:
            - boolean
            - 'null'
          identifyFacesFromBadge:
            type:
            - boolean
            - 'null'
          indexFaces:
            type:
            - boolean
            - 'null'
          misconfiguredDoors:
            type:
            - array
            - 'null'
            items:
              type:
              - string
              - 'null'
          organizationId:
            type:
            - string
            - 'null'
          refreshToken:
            type:
            - string
            - 'null'
          rhombusToken:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
          saveClips:
            type:
            - boolean
            - 'null'
          systemId:
            type:
            - string
            - 'null'
          tokenValid:
            type:
[...]
