openapi: 3.2.0
info:
  contact:
    email: developer@rhombussystems.com
  description: 'This API is for use by Rhombus customers and partners.


    ## Authentication


    All requests require two headers:

    - `x-auth-scheme` — The authentication scheme identifier. Use `api-token` for standard API key auth, or `partner-api-token` for partner API auth.

    - `x-auth-apikey` — Your Rhombus API key.


    Example:

    ```

    POST /api/camera/getMinimalCameraStateList

    x-auth-scheme: api-token

    x-auth-apikey: YOUR_API_KEY

    Content-Type: application/json

    ```'
  title: Rhombus Door Webservice API
  version: '1.0'
servers:
- description: Production Server
  url: https://api2.rhombussystems.com
security:
- ApiKeyAuth: []
tags:
- name: Door Webservice
paths:
  /api/door/getDoorEventsForSensor:
    post:
      description: Get list of door open/close events for door sensor
      operationId: getDoorEventsForSensor
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Door_GetDoorEventsForSensorWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Door_GetDoorEventsForSensorWSResponse'
          description: OK
      summary: Get list of door open/close events for door sensor
      tags:
      - Door Webservice
  /api/door/getDoorPresenceWindows:
    post:
      description: Get stored video information for sensor
      operationId: getDoorPresenceWindows
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Sensor_GetSensorPresenceWindowsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sensor_GetSensorPresenceWindowsWSResponse'
          description: OK
      summary: Get stored video information for sensor
      tags:
      - Door Webservice
  /api/door/getMinimalDoorStateList:
    post:
      description: Get basic state information for all door sensors
      operationId: getMinimalDoorStateList
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Door_GetMinimalDoorStatesWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Door_GetMinimalDoorStatesWSResponse'
          description: OK
      summary: Get basic state information for all door sensors
      tags:
      - Door Webservice
  /api/door/updateDetails:
    post:
      description: 'Update details for door sensor. Note: uuid is a required field'
      operationId: updateDoorSensorDetails
      parameters:
      - description: Authentication scheme identifier. Use `api-token` for standard API key authentication, `partner-api-token` for partner API key authentication. Must be paired with the `x-auth-apikey` header containing your API key.
        example: api-token
        in: header
        name: x-auth-scheme
        required: true
        schema:
          type: string
          default: api-token
          enum:
          - api-token
          - api
          - partner-api-token
          - partner-api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Door_UpdateDoorSensorDetailsWSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Door_UpdateDoorSensorDetailsWSResponse'
          description: OK
      summary: Update details for door sensor
      tags:
      - Door Webservice
components:
  schemas:
    Sensor_GetSensorPresenceWindowsWSResponse:
      type: object
      description: Response object containing stored video information for a sensor.
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        presenceWindows:
          type:
          - array
          - 'null'
          description: List of presence windows for the sensor
          items:
            $ref: '#/components/schemas/TimeWindowSeconds'
        warningMsg:
          type:
          - string
          - 'null'
    Door_UpdateDoorSensorDetailsWSRequest:
      type: object
      description: Request object for updating details for a door sensor.
      properties:
        associatedCameras:
          type:
          - array
          - 'null'
          description: List of associated camera device facet UUIDs
          items:
            type:
            - string
            - 'null'
            format: DeviceFacetUuid
            description: RUUID with optional appended facet information
            example: AAAAAAAAAAAAAAAAAAAAAA.v0
        associatedCamerasUpdated:
          type:
          - boolean
          - 'null'
          description: Whether the associated cameras have been updated
          example: true
        deleted:
          type:
          - boolean
          - 'null'
          description: Whether the door sensor is deleted
          example: false
        deletedUpdated:
          type:
          - boolean
          - 'null'
          description: Whether the deleted status has been updated
          example: false
        description:
          type:
          - string
          - 'null'
          description: Description of the door sensor
          example: Main entrance door sensor on the first floor
        descriptionUpdated:
          type:
          - boolean
          - 'null'
          description: Whether the description has been updated
          example: false
        floorNumber:
          type:
          - integer
          - 'null'
          format: int32
          description: Floor number where the door sensor is located
          example: 1
        floorNumberUpdated:
          type:
          - boolean
          - 'null'
          description: Whether the floor number has been updated
          example: true
        latitude:
          type:
          - number
          - 'null'
          format: double
          description: Latitude coordinate of the door sensor
          example: 37.7749
        latitudeUpdated:
          type:
          - boolean
          - 'null'
          description: Whether the latitude has been updated
          example: false
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        locationUuidUpdated:
          type:
          - boolean
          - 'null'
          description: Whether the location UUID has been updated
          example: true
        longitude:
          type:
          - number
          - 'null'
          format: double
          description: Longitude coordinate of the door sensor
          example: -122.4194
        longitudeUpdated:
          type:
          - boolean
          - 'null'
          description: Whether the longitude has been updated
          example: false
        name:
          type:
          - string
          - 'null'
          description: Name of the door sensor
          example: Main Entrance Door
        nameUpdated:
          type:
          - boolean
          - 'null'
          description: Whether the name has been updated
          example: true
        policyUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        policyUuidUpdated:
          type:
          - boolean
          - 'null'
          description: Whether the policy UUID has been updated
          example: false
        subLocationsHierarchyKey:
          type:
          - string
          - 'null'
          format: SubLocationsHierarchyKey
          description: 'A sequence of one or more base 64 (url-safe) uuid substrings.

            These substrings are separated by dots (.).

            '
          example: AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA
          pattern: ^([A-Za-z0-9\-_]{22})([.][A-Za-z0-9\-_]{22})*$
        subLocationsHierarchyKeyUpdated:
          type:
          - boolean
          - 'null'
          description: Whether the sub-locations hierarchy key has been updated
          example: false
        uuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
    Door_DoorHealthDetailsEnum:
      type: string
      description: Enumeration of specific health details for door sensors.
      enum:
      - FIRMWARE_BEHIND
      - NO_HEARTBEAT
      - NONE
    Door_MinimalDoorStateType:
      type: object
      description: Minimal state information for a door sensor.
      properties:
        associatedCameras:
          type:
          - array
          - 'null'
          description: List of associated camera device facet UUIDs
          items:
            type:
            - string
            - 'null'
            format: DeviceFacetUuid
            description: RUUID with optional appended facet information
            example: AAAAAAAAAAAAAAAAAAAAAA.v0
        batteryPercent:
          type:
          - integer
          - 'null'
          format: int32
          description: Battery percentage of the door sensor
          example: 75
        closestBaseStation:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        createdAtMillis:
          type:
          - integer
          - 'null'
          format: int64
          description: Timestamp in milliseconds when the door sensor was created
          example: 1640995200000
        firmwareVersion:
          type:
          - string
          - 'null'
          description: Firmware version of the door sensor
          example: 1.2.3
        floorNumber:
          type:
          - integer
          - 'null'
          format: int32
          description: Floor number where the door sensor is located
          example: 1
        health:
          $ref: '#/components/schemas/Door_DoorHealthEnum'
        healthDetails:
          $ref: '#/components/schemas/Door_DoorHealthDetailsEnum'
        hwVariation:
          $ref: '#/components/schemas/HardwareVariationEnum'
        lastSeenSec:
          type:
          - integer
          - 'null'
          format: int64
          description: Timestamp in seconds when the door sensor was last seen
          example: 1640995200
        latitude:
          type:
          - number
          - 'null'
          format: double
          description: Latitude coordinate of the door sensor
          example: 37.7749
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        longitude:
          type:
          - number
          - 'null'
          format: double
          description: Longitude coordinate of the door sensor
          example: -122.4194
        name:
          type:
          - string
          - 'null'
          description: Name of the door sensor
          example: Main Entrance Door
        policyUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        sensorUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        serialNumber:
          type:
          - string
          - 'null'
          description: Serial number of the door sensor
          example: DS123456789
        signalStrength:
          type:
          - integer
          - 'null'
          format: int32
          description: Signal strength of the door sensor
          example: 85
        status:
          $ref: '#/components/schemas/DoorStatusEnum'
        subLocationsHierarchyKey:
          type:
          - string
          - 'null'
          format: SubLocationsHierarchyKey
          description: 'A sequence of one or more base 64 (url-safe) uuid substrings.

            These substrings are separated by dots (.).

            '
          example: AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA
          pattern: ^([A-Za-z0-9\-_]{22})([.][A-Za-z0-9\-_]{22})*$
    Door_UpdateDoorSensorDetailsWSResponse:
      type: object
      description: Response object for updating details for a door sensor.
      properties:
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        warningMsg:
          type:
          - string
          - 'null'
    DoorStatusEnum:
      type: string
      description: Door state for door sensor webhooks
      enum:
      - OPEN
      - CLOSED
      - AJAR
    Door_GetMinimalDoorStatesWSResponse:
      type: object
      description: Response object containing basic state information for all door sensors.
      properties:
        doorStates:
          type:
          - array
          - 'null'
          description: List of minimal door state information for all door sensors
          items:
            $ref: '#/components/schemas/Door_MinimalDoorStateType'
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        warningMsg:
          type:
          - string
          - 'null'
    HardwareVariationEnum:
      type: string
      enum:
      - RASPBERRY_PI_3
      - CAMERA_R1
      - CAMERA_R2
      - CAMERA_R2_LONG_RANGE
      - CAMERA_R2_180
      - CAMERA_R3
      - CAMERA_R4
      - CAMERA_R100
      - CAMERA_R120
      - CAMERA_R170
      - CAMERA_R200
      - CAMERA_R500
      - CAMERA_R510
      - CAMERA_R520
      - CAMERA_R600
      - SENSOR_ASSET_TAG_T1
      - SENSOR_DOOR_D1
      - SENSOR_DOOR_D20
      - SENSOR_ENVIRONMENTAL_E1
      - SENSOR_ENVIRONMENTAL_E15
      - SENSOR_ENVIRONMENTAL_E2
      - SENSOR_MOTION_M1
      - SENSOR_MOTION_M15
      - GATEWAY_A1
      - GATEWAY_A100
      - GATEWAY_ENVIRONMENTAL_E50
      - CAMERA_R220
      - CAMERA_R230
      - CAMERA_R36S
      - CAMERA_R410
      - CAMERA_R540
      - CAMERA_R545
      - BADGE_READER_DR1
      - BADGE_READER_DR40
      - BADGE_READER_DR20
      - DOOR_CONTROLLER_DC1
      - DOOR_CONTROLLER_DC20
      - DOOR_CONTROLLER_DC10
      - ETHERNET_TESTER_ET1
      - IO_BOARD_TB1
      - BLE_BUTTON_B10
      - BLE_BUTTON_B15
      - CAMERA_THIRD_PARTY_RELAY
      - CAMERA_THIRD_PARTY_NVR
      - CAMERA_THIRD_PARTY_NVR_MULTISENSOR
      - NVR_N100
      - CAMERA_R130
      - NVR_N500
      - CAMERA_R150
      - ROBOT_RC1
      - CAMERA_R210
      - CAMERA_R650
      - UNSPECIFIED
    Door_GetMinimalDoorStatesWSRequest:
      type: object
      description: Request object for retrieving basic state information for all door sensors.
    TimeWindowSeconds:
      type: object
      description: List of uptime windows for the device
      properties:
        durationSeconds:
          type:
          - integer
          - 'null'
          format: int64
        startSeconds:
          type:
          - integer
          - 'null'
          format: int64
    Sensor_GetSensorPresenceWindowsWSRequest:
      type: object
      description: Request object for retrieving stored video information for a sensor.
      properties:
        deviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        durationSec:
          type:
          - integer
          - 'null'
          format: int64
          description: Duration in seconds for the presence window query
          example: 3600
        startTimeSec:
          type:
          - integer
          - 'null'
          format: int64
          description: Start time in seconds for the presence window query
          example: 1640995200
    Door_GetDoorEventsForSensorWSRequest:
      type: object
      description: Request object for retrieving door open/close events for a door sensor.
      properties:
        createdAfterMs:
          type:
          - integer
          - 'null'
          format: int64
          description: Timestamp in milliseconds to get events created after this time
          example: 1640995200000
        createdBeforeMs:
          type:
          - integer
          - 'null'
          format: int64
          description: Timestamp in milliseconds to get events created before this time
          example: 1640995200000
        limit:
          type:
          - integer
          - 'null'
          format: int32
          description: Maximum number of events to return
          example: 100
        sensorUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        stateFilter:
          $ref: '#/components/schemas/DoorStateEnum'
    Door_GetDoorEventsForSensorWSResponse:
      type: object
      description: Response object containing door open/close events for a door sensor.
      properties:
        doorEvents:
          type:
          - array
          - 'null'
          description: List of door open/close events for the sensor
          items:
            $ref: '#/components/schemas/DoorEventType'
        error:
          type:
          - boolean
          - 'null'
        errorMsg:
          type:
          - string
          - 'null'
        warningMsg:
          type:
          - string
          - 'null'
    DoorEventType:
      type: object
      description: List of door open/close events for the sensor
      properties:
        baseStationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        batteryPercentage:
          type:
          - integer
          - 'null'
          format: int32
        bleDeviceUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        bleRssi:
          type:
          - integer
          - 'null'
          format: int32
        closeBaseStations:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            format: RUUID
            description: base 64 (url-safe) uuid string
            example: AAAAAAAAAAAAAAAAAAAAAA
        locationUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        orgUuid:
          type:
          - string
          - 'null'
          format: RUUID
          description: base 64 (url-safe) uuid string
          example: AAAAAAAAAAAAAAAAAAAAAA
        state:
          $ref: '#/components/schemas/DoorStateEnum'
        stateChanged:
          type:
          - boolean
          - 'null'
        subLocationsHierarchyKey:
          type:
          - string
          - 'null'
          format: SubLocationsHierarchyKey
          description: 'A sequence of one or more base 64 (url-safe) uuid substrings.

            These substrings are separated by dots (.).

            '
          example: AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAA
          pattern: ^([A-Za-z0-9\-_]{22})([.][A-Za-z0-9\-_]{22})*$
        timestampMs:
          type:
          - integer
          - 'null'
          format: int64
    Door_DoorHealthEnum:
      type: string
      description: Enumeration of health status for door sensors.
      enum:
      - GREEN
      - RED
    DoorStateEnum:
      type: string
      description: Filter events by door state
      enum:
      - OPEN
      - CLOSED
      - AJAR
  securitySchemes:
    ApiKeyAuth:
      description: Your Rhombus API key. Must be accompanied by the `x-auth-scheme` header set to `api-token` (or `partner-api-token` for partner endpoints).
      in: header
      name: x-auth-apikey
      type: apiKey
x-samples-languages:
- curl
- node
- python
- java
